<%- include('../templates/header.ejs') %>
<style>
    .label-view{
        border: 1px solid rgb(0, 0, 0);
        padding: 8px;
    }
    .op-key {
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
    }
    .op-btn-p {
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
    }
    .op-btn-m {
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
    }
    .btn-card-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }
    .media {
        align-items: center !important;
    }
    .vl {
        border-left: 2px solid green;
        height: 20px;
        margin: 0px 10px 0 10px;
    }
    .is-parent{
        display: flex;
        justify-content: center;
        flex-direction: row;    
        align-items: center;
    }
    .delete-btn-form{
        font-size: 20px;
    }
    .btn-pill {
        background: #fff;
    }
    .hover-centainer {
        position: absolute;
        display: none;
        right: -61px;
        height: auto;
        top: 20%;
        background: #ffffff;
        border: #dfdfdfb0 1px solid;
        box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.2), 0px 0px 4px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        padding: 10px;
        width: 60px;
    }
    .entry-card {
        position: relative;
    }
    hr{
        width: 100%;
    }
    .entry-card:hover .hover-centainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hover-centainer i{
        font-size: 25px;
        cursor: pointer;
    }
</style>

<!-- Container-fluid starts-->
<div class="container-fluid">
    <form action="/form_builder_post" method="post">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header b-t-success border-3">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Form Builder</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-pill btn-outline-light btn-air-light txt-dark m-r-10" type="button" title="Build your logic"> <span class="m-r-5">&#402;</span> Build Logic</button>
                                <!-- <button type="button" class="btn btn-success float-end" onclick="addNewCard()">Add New</button> -->
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-pill btn-outline-light btn-air-light txt-dark m-r-10" type="submit" title="Build your logic"> <span class="m-r-5"><i class="icofont icofont-save"></i></span>Save</button>
                                <!-- <button type="button" class="btn btn-success float-end">Save</button> -->
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center flex-column" id="add-card">
                <div class="card w-75">
                    <div class="card-body b-l-success border-3">
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-select" id="scope_id" name="scope_id" required>
                                    <option>Select Scope</option>
                                    <% scope.forEach(dt => {
                                        var _selected = ''
                                        if(dt.id == scope_id) _selected = 'selected'
                                        %>
                                        <option value="<%= dt.id %>" <%= _selected %>><%= dt.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-select" id="sec_id" name="sec_id" required>
                                    <option>Select Calculator Section Type</option>
                                    <% sec_list.forEach(dt => {
                                        var _selected = ''
                                        if(dt.id == sec_id) _selected = 'selected'
                                        %>
                                        <option value="<%= dt.id %>" <%= _selected %>><%= dt.sec_name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                      <div class="row mt-4">
                          <div class="col-md-12">
                            <div class="form-group mb-0">
                                <h5 class="label-view" onclick="editLabel(this)"><%= q_header != '' ? q_header : 'Entry Sub-Heading' %></h5>
                                <input type="text" value="<%= q_header != '' ? q_header : '' %>" name="header" class="edit form-control" id="header" style="display: none;">
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
                <% if(qr_dt.length > 0){
                    var i = 1
                    qr_dt.forEach(dt => { %>
                        <div class="card w-75 entry-card" id="card-<%= i %>">
                            <div class="card-body b-l-success border-3">
                              <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-0">
                                        <h6 class="label-view" onclick="editLabel(this)"><%= dt.input_label != '' ? dt.input_label : 'Entry Test' %></h6>
                                        <input type="text" value="<%= dt.input_label != '' ? dt.input_label : '' %>" name="hed_<%= i %>" class="edit form-control" id="hed_<%= i %>" style="display: none;">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                <div class="form-group mb-0">
                                    <h6 class="label-view" onclick="editLabel(this)"><%= dt.input_label != '' ? dt.input_label : 'Entry Question' %></h6>
                                    <input type="text" value="<%= dt.input_label != '' ? dt.input_label : '' %>" name="q_<%= i %>" class="edit form-control" id="q_<%= i %>" style="display: none;">
                                </div>
                                <div class="dynamic-form-value-entry">
                                    <% var option_symbol = {'R': '&#9673;', 'C': '&#9635;', 'S': '&#9661;', 'A': '&#128270;', 'E': '&#127787;', 'U': '&#128207;', 'Y': '&#128207;'}
                                    if(['R', 'C', 'S'].includes(dt.input_type)){
                                    if(dt.options.length > 0){
                                        var j = 1
                                        dt.options.forEach(odt => { %>
                                        <div class="form-group row">
                                            <div class="col-md-1 op-key"><span><%- option_symbol[dt.input_type] %></span></div>
                                            <div class="col-md-9">
                                                <h6 class="label-view" class="input-label" onclick="editLabel(this)"><%= odt.option_name != '' ? odt.option_name : 'Entry Option' %></h6>
                                                <input type="text" value="<%= odt.option_name != '' ? odt.option_name : '' %>" name="q_s_<%= i %>" class="edit form-control" id="q_s_<%= j %>" style="display: none;">
                                            </div>
                                            <div class="col-md-1 op-btn-p" onclick="addOption(this, '<%= option_symbol[dt.input_type] %>')"><i class="icofont icofont-plus text-success"></i></div>
                                        </div>
                                        <% j++ })
                                    }else{ %>
                                        <div class="form-group row">
                                            <div class="col-md-1 op-key"><span>&#9673;</span></div>
                                            <div class="col-md-9">
                                                <h6 class="label-view" class="input-label" onclick="editLabel(this)">Entry Option</h6>
                                                <input type="text" value="" name="q_s_<%= i %>" class="edit form-control" id="q_s_1" style="display: none;">
                                            </div>
                                            <div class="col-md-1 op-btn-p" onclick="addOption(this, '&#9673;')"><i class="icofont icofont-plus text-success"></i></div>
                                        </div>
                                    <% }}else if(['A', 'E', 'U', 'Y'].includes(dt.input_type)){ %>
                                        <div class="form-group">
                                            <select class="form-select" disabled><option selected>User Select</option></select>
                                        </div>
                                    <% }else{ %>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="User Input" type="text" disabled="true">
                                        </div>
                                    <% } %>
                                </div>
                                </div>
                                <div class="col-md-4">
                                <div class="form-group">
                                    <select class="form-select dynamic-option" name="option_<%= i %>" onchange="dynamicOptionChange(this)" card-id="card-1">
                                        <option value="radio" <%= dt.input_type == 'R' ? 'selected' : '' %>>&#9673; | Radio</option>
                                        <option value="check" <%= dt.input_type == 'C' ? 'selected' : '' %>>&#9635; | Checkbox</option>
                                        <option value="drop" <%= dt.input_type == 'S' ? 'selected' : '' %>>&#9661; | Select Dropdown</option>
                                        <option value="short_text" <%= dt.input_type == 'I' ? 'selected' : '' %>>&#9776; | Short Answer</option>
                                        <option value="act" <%= dt.input_type == 'A' ? 'selected' : '' %>>&#128270; | Activity</option>
                                        <option value="emi_type" <%= dt.input_type == 'E' ? 'selected' : '' %>>&#127787; | Emission Type</option>
                                        <option value="emi_unit" <%= dt.input_type == 'U' ? 'selected' : '' %>>&#128207; | Unit</option>
                                        <option value="mode" <%= dt.input_type == 'Y' ? 'selected' : '' %>>&#128197; | Mode</option>
                                    </select>
                                    <input type="hidden" name="cards" value="<%= i %>">
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="card-footer p-2">
                                <div class="btn-card-footer">
                                    <!-- <div class="vl"></div>
                                    <div class="m-r-10">
                                        <span onclick="editLabel(this)"><%= dt.sequence > 0 ? dt.sequence : 'Sequence' %></span>
                                        <input type="text" value="<%= dt.sequence > 0 ? dt.sequence : '' %>" name="s_<%= i %>" class="edit form-control" id="s_<%= i %>" style="display: none;">
                                    </div>
                                    <div class="vl"></div>
                                    <div class="media m-r-10">
                                        <label class="col-form-label mb-0 mt-0 m-r-10">Is Parent</label>
                                        <div class="media-body text-end icon-state switch-outline">
                                            <label class="switch">
                                                <input type="checkbox" id="gri_flag" <%= dt.is_parent != 'Y' ? '' : 'checked' %> onchange="checkChange(this)">
                                                <span class="switch-state bg-primary"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="is-parent" style="display: <%= dt.is_parent != 'Y' ? 'flex' : 'none' %>;">
                                        <div class="vl"></div>
                                        <div class="m-r-10">
                                            <span onclick="editLabel(this)"><%= dt.parent_id > 0 ? dt.parent_id : 'Parent Sequence' %></span>
                                            <input type="text" value="<%= dt.parent_id > 0 ? dt.parent_id : '' %>" name="p_c_<%= i %>" class="edit form-control" id="p_c_<%= i %>" style="display: none;">
                                        </div>
                                    </div> -->
                                    <div class="vl"></div>
                                    <div class="m-r-10">
                                        <span onclick="editLabel(this)"><%= dt.sequence > 0 ? dt.sequence : 'Sequence' %></span>
                                        <input type="text" value="<%= dt.sequence > 0 ? dt.sequence : '' %>" name="s_<%= i %>" class="edit form-control" id="s_<%= i %>" style="display: none;">
                                    </div>
                                    <div class="vl"></div>
                                    <div class="media m-r-10">
                                        <label class="col-form-label mb-0 mt-0 m-r-10">Is Parent</label>
                                        <div class="media-body text-end icon-state switch-outline">
                                            <label class="switch">
                                                <input type="checkbox" id="gri_flag_<%= i %>" <%= dt.is_parent != 'Y' ? '' : 'checked' %> onchange="checkChange(this)">
                                                <span class="switch-state bg-primary"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="is-parent" style="display: <%= dt.is_parent != 'Y' ? 'flex' : 'none' %>;">
                                        <div class="vl"></div>
                                        <div class="m-r-10">
                                            <span onclick="editLabel(this)"><%= dt.parent_id > 0 ? dt.parent_id : 'Parent Sequence' %></span>
                                            <input type="text" value="<%= dt.parent_id > 0 ? dt.parent_id : '' %>" name="p_c_<%= i %>" class="edit form-control" id="p_c_<%= i %>" style="display: none;">
                                        </div>
                                        <div class="vl"></div>
                                        <div class="media m-r-10">
                                            <label class="col-form-label mb-0 mt-0 m-r-10">Is Sub-Parent</label>
                                            <div class="media-body text-end icon-state switch-outline">
                                                <label class="switch">
                                                    <input type="checkbox" id="gr_sub_flag_<%= i %>" <%= dt.sub_parent_id != 'Y' ? '' : 'checked' %> onchange="checkSubChange(this)">
                                                    <span class="switch-state bg-primary"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="is-parent" style="display: <%= dt.is_sub_parent != 'Y' ? 'flex' : 'none' %>;">
                                            <div class="vl"></div>
                                            <div class="m-r-10">
                                                <span onclick="editLabel(this)"><%= dt.sub_parent_id > 0 ? dt.sub_parent_id : 'Sub-Parent Sequence' %></span>
                                                <input type="text" value="<%= dt.sub_parent_id > 0 ? dt.sub_parent_id : '' %>" name="p_s_c_<%= i %>" class="edit form-control" id="p_s_c_<%= i %>" style="display: none;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-centainer">
                                <a onclick="addNewCard()" title="Add new row"><i class="fa fa-plus-square-o text-success"></i></a>
                                <hr>
                                <a onclick="delFrmCard(this)" title="Delete row"><i class="fa fa-minus-square-o text-danger"></i></a>
                            </div>
                        </div>
                    <% i++ })
                }else{ %>
                <div class="card w-75 entry-card" id="card-1">
                    <div class="card-body b-l-success border-3">
                      <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-0">
                                <h6 class="label-view" onclick="editLabel(this)">Entry Heading/Sub-heading</h6>
                                <input type="text" value="" name="hed_1" class="edit mb-2 form-control" id="hed_1" style="display: none;">
                            </div>
                        </div>
                          <div class="col-md-8">
                            <div class="form-group mb-0">
                                <h6 class="label-view" onclick="editLabel(this)">Entry Question</h6>
                                <input type="text" value="" name="q_1" class="edit form-control" id="q_1" style="display: none;">
                            </div>
                            <div class="dynamic-form-value-entry">
                                <div class="form-group row">
                                    <div class="col-md-1 op-key"><span>&#9673;</span></div>
                                    <div class="col-md-9">
                                        <h6 class="label-view" class="input-label" onclick="editLabel(this)">Entry Option</h6>
                                        <input type="text" value="" name="q_s_1" class="edit form-control" id="q_s_1" style="display: none;">
                                    </div>
                                    <div class="col-md-1 op-btn-p" onclick="addOption(this, '&#9673;')"><i class="icofont icofont-plus text-success"></i></div>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-select dynamic-option" name="option_1" onchange="dynamicOptionChange(this)" card-id="card-1">
                                    <option value="radio">&#9673; | Radio</option>
                                    <option value="check">&#9635; | Checkbox</option>
                                    <option value="drop">&#9661; | Select Dropdown</option>
                                    <option value="short_text">&#9776; | Short Answer</option>
                                    <option value="act">&#128270; | Activity</option>
                                    <option value="emi_type">&#127787; | Emission Type</option>
                                    <option value="emi_unit">&#128207; | Unit</option>
                                    <option value="mode">&#128197; | Mode</option>
                                </select>
                                <input type="hidden" name="cards" value="1">
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="card-footer p-2">
                        <div class="btn-card-footer">
                            <!-- <button class=""></button> -->
                            <!-- <div class="vl"></div> -->
                            
                            <!-- <div class="vl"></div>
                            <a class="m-r-10" onclick="delFrmCard(this)"><i class="icofont icofont-trash text-danger delete-btn-form"></i></a> -->
                            <div class="vl"></div>
                            <div class="m-r-10">
                                <span onclick="editLabel(this)">Sequence</span>
                                <input type="text" value="" name="s_1" class="edit form-control" id="s_1" style="display: none;">
                            </div>
                            <div class="vl"></div>
                            <div class="media m-r-10">
                                <label class="col-form-label mb-0 mt-0 m-r-10">Is Parent</label>
                                <div class="media-body text-end icon-state switch-outline">
                                    <label class="switch">
                                        <input type="checkbox" id="gri_flag_1" checked onchange="checkChange(this)">
                                        <span class="switch-state bg-primary"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="is-parent" style="display: none;">
                                <div class="vl"></div>
                                <div class="m-r-10">
                                    <span onclick="editLabel(this)">Parent Sequence</span>
                                    <input type="text" value="" name="p_c_1" class="edit form-control" id="p_c_1" style="display: none;">
                                </div>
                                <div class="vl"></div>
                                <div class="media m-r-10">
                                    <label class="col-form-label mb-0 mt-0 m-r-10">Is Sub-Parent</label>
                                    <div class="media-body text-end icon-state switch-outline">
                                        <label class="switch">
                                            <input type="checkbox" id="gr_sub_flag_1" checked onchange="checkSubChange(this)">
                                            <span class="switch-state bg-primary"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="is-parent" style="display: none;">
                                    <div class="vl"></div>
                                    <div class="m-r-10">
                                        <span onclick="editLabel(this)">Sub-Parent Sequence</span>
                                        <input type="text" value="" name="p_s_c_1" class="edit form-control" id="p_s_c_1" style="display: none;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hover-centainer">
                        <a onclick="addNewCard()" title="Add new row"><i class="fa fa-plus-square-o text-success"></i></a>
                        <hr>
                        <a onclick="delFrmCard(this)" title="Delete row"><i class="fa fa-minus-square-o text-danger"></i></a>
                    </div>
                </div>
                <% } %>
            </div>
          </div>
        </div>
    </form>
</div>
  <!-- Container-fluid Ends-->

<script>
    var optionList = [{key: '&#9673;', label:'radio'},{key: '&#9635;', label:'check'},{key: '&#9661;', label:'drop'},{key: '&#127898;', label:'slider'},{key: '&#9776;', label: 'short_text'},{key: '&#128270;', label:'act'},{key: '&#127787;', label:'emi_type'},{key: '&#128207;', label:'emi_unit'},{key: '&#128197;', label:'mode'}]
    function editLabel(elm) {
        var jelm = $(elm);
        var htmlElm = jelm[0];
        $(htmlElm).hide();
        $(htmlElm).siblings('.edit').show();
        $(htmlElm).siblings('.edit').focus()
        var initial_text = $(htmlElm).text();
        $(htmlElm).siblings('.edit').focusout(function () {
            var editedInput = $(htmlElm).siblings('.edit').val();
            $(htmlElm).siblings('.edit').hide();
            if (editedInput != '') {
                $(htmlElm).show().text(editedInput);
            }
            else {
                $(htmlElm).show().text(initial_text);
            }
        });
    }
    function addOption(elm, key){
        var jelm = $(elm);
        var cardId = $(jelm[0]).parent().closest('.card').attr('id')
        
        createOptions(cardId, key, true)
        // $(jelm[0]).parent().closest('.dynamic-form-value-entry')
    }

    function removeOption(elm){
        var jelm = $(elm);
        $(jelm[0]).parent().detach();
    }

    function delFrmCard(e){
        var elm = $(e);
        $(elm[0]).parent().closest('.card').detach();
    }

    function checkChange(e){
        var elm = $(e);
        console.log($(elm[0]).attr('checked'));
        if($(elm[0]).attr('checked')){
            $(elm[0]).removeAttr('checked')
            $(elm[0]).parent().closest('.btn-card-footer').children().closest('.is-parent').show()
        }else{
            $(elm[0]).attr('checked', true)
            $(elm[0]).parent().closest('.btn-card-footer').children().closest('.is-parent').hide()
        }
        
    }

    function checkSubChange(e){
        var elm = $(e);
        console.log($(elm[0]).closest('.is-sub-parent').children());
        if($(elm[0]).attr('checked')){
            $(elm[0]).removeAttr('checked')
            $(elm[0]).parent().closest('.media').next().show()
        }else{
            $(elm[0]).attr('checked', true)
            $(elm[0]).parent().closest('.media').next().hide()
        }
    }
    
    function dynamicOptionChange(e){
        console.log(e);
        
        var card_id = $(e).attr('card-id')
        // console.log($(this));
        var symbol = optionList.filter(dt => dt.label == $(e).val())
        $(`#${card_id} .dynamic-form-value-entry`).empty()
        // var selected_text = 
        // var opCount = $(`#${card_id} .dynamic-form-value-entry`).length
        if(['radio', 'check', 'drop'].includes($(e).val())){
            createOptions(card_id, symbol[0].key)
        }
        if(['act', 'emi_type', 'emi_unit', 'mode'].includes($(e).val())){
            $(`#${card_id} .dynamic-form-value-entry`).append(`
            <div class="form-group">
                <select class="form-select" disabled><option selected>User Select</option></select>
            </div>
            `)
        }
        if(['short_text'].includes($(e).val())){
           $(`#${card_id} .dynamic-form-value-entry`).append(`
            <div class="form-group">
                <input class="form-control" placeholder="User Input" type="text" disabled="true">
            </div>
            `)
        }
    }

    function createOptions(card_id, key, minus = false){
        var opCount = $(`#${card_id} .dynamic-form-value-entry`).length,
        cardId = card_id.split('-')[1];
        $(`#${card_id} .dynamic-form-value-entry`).append(`
        <div class="form-group row">
            <div class="col-md-1 op-key"><span>${key}</span></div>
            <div class="col-md-9">
                <h6 class="label-view" class="input-label" onclick="editLabel(this)">Entry Option</h6>
                <input type="text" value="" name="q_s_${cardId}" class="edit form-control" id="q_s_${opCount + 1}" style="display: none;">
            </div>
            <div class="col-md-1 op-btn-p" onclick="addOption(this, '${key}')"><i class="icofont icofont-plus text-success"></i></div>
            ${minus ? `<div class="col-md-1 op-btn-m" onclick="removeOption(this)"><i class="icofont icofont-minus text-danger"></i></div>` : ''}
        </div>
        `)
    }

    function addNewCard(){
        var tot_card = $('.entry-card').length
        $('#add-card').append(`
            <div class="card w-75 entry-card" id="card-${tot_card + 1}">
                <div class="card-body b-l-success border-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-0">
                                <h6 class="label-view" onclick="editLabel(this)">Entry Heading/Sub-heading</h6>
                                <input type="text" value="" name="hed_${tot_card + 1}" class="edit mb-2 form-control" id="hed_${tot_card + 1}" style="display: none;">
                            </div>
                        </div>
                        <div class="col-md-8">
                        <div class="form-group mb-0">
                            <h6 class="label-view" onclick="editLabel(this)">Entry Question</h6>
                            <input type="text" value="" name="q_${tot_card + 1}" class="edit form-control" id="q_${tot_card + 1}" style="display: none;">
                        </div>
                        <div class="dynamic-form-value-entry">
                            <div class="form-group row">
                                <div class="col-md-1 op-key"><span>&#9673;</span></div>
                                <div class="col-md-9">
                                    <h6 class="label-view" class="input-label" onclick="editLabel(this)">Entry Option</h6>
                                    <input type="text" value="" name="q_s_${tot_card + 1}" class="edit form-control" id="q_s_${tot_card + 1}" style="display: none;">
                                </div>
                                <div class="col-md-1 op-btn-p" onclick="addOption(this, '&#9673;')"><i class="icofont icofont-plus text-success"></i></div>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-select dynamic-option" name="option_${tot_card + 1}" onchange="dynamicOptionChange(this)" card-id="card-${tot_card + 1}">
                                <option value="radio">&#9673; | Radio</option>
                                <option value="check">&#9635; | Checkbox</option>
                                <option value="drop">&#9661; | Select Dropdown</option>
                                <option value="short_text">&#9776; | Short Answer</option>
                                <option value="act">&#128270; | Activity</option>
                                <option value="emi_type">&#127787; | Emission Type</option>
                                <option value="emi_unit">&#128207; | Unit</option>
                                <option value="mode">&#128197; | Mode</option>
                            </select>
                            <input type="hidden" name="cards" value="${tot_card + 1}">
                        </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-2">
                    <div class="btn-card-footer">
                        <!-- <div class="vl"></div> -->
                        <!-- <div class="vl"></div>
                        <a class="m-r-10" onclick="delFrmCard(this)"><i class="icofont icofont-trash text-danger delete-btn-form"></i></a> -->
                        <div class="vl"></div>
                        <div class="m-r-10">
                            <span onclick="editLabel(this)">Sequence</span>
                            <input type="text" value="" name="s_${tot_card + 1}" class="edit form-control" id="s_${tot_card + 1}" style="display: none;">
                        </div>
                        <div class="vl"></div>
                        <div class="media m-r-10">
                            <label class="col-form-label mb-0 mt-0 m-r-10">Is Parent</label>
                            <div class="media-body text-end icon-state switch-outline">
                                <label class="switch">
                                    <input type="checkbox" id="gri_flag_${tot_card + 1}" checked onchange="checkChange(this)">
                                    <span class="switch-state bg-primary"></span>
                                </label>
                            </div>
                        </div>
                        <div class="is-parent" style="display: none;">
                            <div class="vl"></div>
                            <div class="m-r-10">
                                <span onclick="editLabel(this)">Parent Sequence</span>
                                <input type="text" value="" name="p_c_${tot_card + 1}" class="edit form-control" id="p_c_${tot_card + 1}" style="display: none;">
                            </div>
                            <div class="vl"></div>
                            <div class="media m-r-10">
                                <label class="col-form-label mb-0 mt-0 m-r-10">Is Sub-Parent</label>
                                <div class="media-body text-end icon-state switch-outline">
                                    <label class="switch">
                                        <input type="checkbox" id="gr_sub_flag_${tot_card + 1}" checked onchange="checkSubChange(this)">
                                        <span class="switch-state bg-primary"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="is-parent" style="display: none;">
                                <div class="vl"></div>
                                <div class="m-r-10">
                                    <span onclick="editLabel(this)">Sub-Parent Sequence</span>
                                    <input type="text" value="" name="p_s_c_${tot_card + 1}" class="edit form-control" id="p_s_c_${tot_card + 1}" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hover-centainer">
                    <a onclick="addNewCard()" title="Add new row"><i class="fa fa-plus-square-o text-success"></i></a>
                    <hr>
                    <a onclick="delFrmCard(this)" title="Delete row"><i class="fa fa-minus-square-o text-danger"></i></a>
                </div>
            </div>
        `)
    }

    $('#scope_id').on('change', function(){
        $.ajax({
            method:'POST',
            url: '/get_calc_sec_type_list_ajax',
            data: {scope: $(this).val()},
            dataType: 'html',
            beforeSend: function(){
                $('.loader-wrapper').show()
            },
            success: function(result){
                var res = JSON.parse(result);
                // console.log(res);
                $('#sec_id').empty();
                $('#sec_id').append($('<option>', {value: '', text: 'Select Type'}));
                if(res.suc > 0 && res.msg.length > 0){
                    $.each(res.msg, function (i, item) {
                        $('#sec_id').append($('<option>', {value: item.id, text: item.sec_name}));
                    });
                }
            },
            complete: function(){
                $('.loader-wrapper').hide()
            }
        })
    })
</script>

<%- include('../templates/footer.ejs') %>