<%- include('../templates/header.ejs') %>
<style>
    .quest-list ol {
        counter-reset: item;
        padding:2px;
    }
    .quest-list ol li {
        display: table;
        counter-increment: item;
        margin-top:2px;
    }
    .quest-list ol li:before {
        content: counters(item, ".") ". ";
        display: table-cell;
        padding-right: 10px;
    }
    .quest-list ol li li:before {
        content: counters(item, ".") " ";
    }
    .cust-q-opt{
        border: 1px solid rgb(150 150 150 / 30%);
    }
    .cust-q-opt:hover{
        background: #b8b8b8;
        color: #262b36;
    }
    input[name=option_action]:checked+label.cust-q-opt {
        background: #e3e3e3;
        color: #262b36;
    }
    input[name=option_action]:checked+label.cust-q-opt:hover {
        background: #b8b8b8;
        color: #262b36;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header b-t-success border-3">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Form Logic Builder</h5>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-pill btn-outline-light btn-air-light txt-dark m-r-10"
                                        type="button" title="Build your logic"> <span class="m-r-5">&#402;</span>
                                        Build Logic</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-pill btn-outline-light btn-air-light txt-dark m-r-10"
                                        type="submit" title="Build your logic"> <span class="m-r-5"><i
                                                class="icofont icofont-save"></i></span>Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header b-b-success border-3">
                            <h6>Build Logic</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <label for="">Scope: </label> <span><%= q_data ? q_data.q_scope : '' %></span>
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <p>
                                        <label for="">Section: </label> <span><%= q_data ? q_data.q_sec_name : '' %></span>
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <p>
                                        <h6><u><%= q_data ? q_data.q_header : '' %></u></h6>
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select class="form-select dynamic-option" name="option_1" onchange="dynamicOptionChange(this)" card-id="card-1">
                                            <option value="radio">Select Question</option>
                                            <% if(q_data){
                                                q_data.q_data.forEach(dt => { %>
                                                    <option value="<%= dt.id %>"><%= `${dt.is_parent=='Y' ? `${dt.sequence}.` : (dt.parent_id > 0 && dt.is_sub_parent == 'Y' ? `${dt.parent_id}.${dt.sequence}` : (dt.sub_parent_id > 0 && dt.is_parent == 'N' && dt.is_sub_parent == 'N' ? `${dt.parent_id}.${dt.sub_parent_id}.${dt.sequence}` : `${dt.sequence}.`))}` %> &nbsp;<%= dt.input_label %></option>
                                                <% })
                                            } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="form-select dynamic-option" name="option_1" onchange="dynamicOptionChange(this)" card-id="card-1">
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <input type="radio" class="btn-check" name="option_action" id="nxt_1" autocomplete="off" value="N">
                                    <label class="btn cust-q-opt" for="nxt_1">Next</label>

                                    <input type="radio" class="btn-check" name="option_action" id="die_1" autocomplete="off" value="D">
                                    <label class="btn cust-q-opt" for="die_1">Die</label>
                                </div>
                                <div class="col-md-12">
                                    <input type="radio" class="btn-check" name="option_action" id="nxt_1" autocomplete="off" value="N">
                                    <label class="btn cust-q-opt" for="nxt_1">Next</label>

                                    <input type="radio" class="btn-check" name="option_action" id="die_1" autocomplete="off" value="D">
                                    <label class="btn cust-q-opt" for="die_1">Die</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header b-b-success border-3">
                            <h6>Preview</h6>
                        </div>
                        <%- include('preview_question', {q_data}) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../templates/footer.ejs') %>