<%- include('../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3><%= sub_header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %></a></li>
                    <li class="breadcrumb-item"><%= sub_header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-body">
                <form method="POST" action="/client_save" class="needs-validation">
                <div class="row g-3 py-3">
                    <div class="col-md-6">
                        <label class="form-label" for="client_name">Client Name</label>
                        <input class="form-control" id="client_name" name="client_name" type="text" value="<%= id > 0 ? client_data.msg[0].client_name : '' %>" required="">
                        <div class="valid-feedback">No Error</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="user_name">User Name</label>
                        <input class="form-control" id="user_name" name="user_name" type="text" value="<%= id > 0 ? client_data.msg[0].user_name : '' %>" required="">
                        <div class="valid-feedback">No Error</div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label class="form-label" for="user_id">User Email</label>
                        <input class="form-control" id="user_id" name="user_id" type="text" value="<%= id > 0 ? client_data.msg[0].user_id : '' %>" required="" <%= id > 0 ? 'readonly' : '' %>>
                        <div class="valid-feedback">No Error</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="password">Password</label>
                        <select class="form-select" id="password" name="password" required="">
                            <option selected="" value="Esg@2023">Default</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label class="form-label" for="cal_lang_flag">Calculator Type</label>
                        <select class="form-select" id="cal_lang_flag" name="cal_lang_flag" required="">
                            <option value="">Select Calculator Type</option>
                            <% Object.keys(cal_lang).forEach(dt => {
                              var _selected = ''
                              if(id > 0)
                                if(client_data.msg[0].cal_lang_flag == dt)
                                  _selected = 'selected' %>
                              <option value="<%= dt %>" <%= _selected %>><%= cal_lang[dt] %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <div class="media">
                        <label class="col-form-label m-r-10">AI Word Tag</label>
                        <div class="media-body text-end icon-state switch-outline">
                          <label class="switch">
                            <input type="checkbox" id="ai_tag_tool_flag" <%= id > 0 ? (client_data.msg[0].ai_tag_tool_flag == 'Y' ? 'checked' : '') : '' %>>
                            <span class="switch-state bg-primary"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="media">
                        <label class="col-form-label m-r-10">GHG Emissions</label>
                        <div class="media-body text-end icon-state switch-outline">
                          <label class="switch">
                            <input type="checkbox" id="ghg_emi_flag" <%= id > 0 ? (client_data.msg[0].ghg_emi_flag == 'Y' ? 'checked' : '') : '' %>>
                            <span class="switch-state bg-primary"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="media">
                        <label class="col-form-label m-r-10">IFRS</label>
                        <div class="media-body text-end icon-state switch-outline">
                          <label class="switch">
                            <input type="checkbox" id="ifrs_flag" <%= id > 0 ? (client_data.msg[0].ifrs_flag == 'Y' ? 'checked' : '') : '' %>>
                            <span class="switch-state bg-primary"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="media">
                        <label class="col-form-label m-r-10">IFRS - French</label>
                        <div class="media-body text-end icon-state switch-outline">
                          <label class="switch">
                            <input type="checkbox" id="ifrs_fr_flag" <%= id > 0 ? (client_data.msg[0].ifrs_fr_flag == 'Y' ? 'checked' : '') : '' %>>
                            <span class="switch-state bg-primary"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="media">
                        <label class="col-form-label m-r-10">ESRS</label>
                        <div class="media-body text-end icon-state switch-outline">
                          <label class="switch">
                            <input type="checkbox" id="esrs_flag" <%= id > 0 ? (client_data.msg[0].esrs_flag == 'Y' ? 'checked' : '') : '' %>>
                            <span class="switch-state bg-primary"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="media">
                        <label class="col-form-label m-r-10">ESRS - French</label>
                        <div class="media-body text-end icon-state switch-outline">
                          <label class="switch">
                            <input type="checkbox" id="esrs_fr_flag" <%= id > 0 ? (client_data.msg[0].esrs_fr_flag == 'Y' ? 'checked' : '') : '' %>>
                            <span class="switch-state bg-primary"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="media">
                        <label class="col-form-label m-r-10">ESRS VSME</label>
                        <div class="media-body text-end icon-state switch-outline">
                          <label class="switch">
                            <input type="checkbox" id="esrs_vsme_flag" <%= id > 0 ? (client_data.msg[0].esrs_vsme_flag == 'Y' ? 'checked' : '') : '' %>>
                            <span class="switch-state bg-primary"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="media">
                        <label class="col-form-label m-r-10">ESRS VSME - French</label>
                        <div class="media-body text-end icon-state switch-outline">
                          <label class="switch">
                            <input type="checkbox" id="esrs_vsme_fr_flag" <%= id > 0 ? (client_data.msg[0].esrs_vsme_fr_flag == 'Y' ? 'checked' : '') : '' %>>
                            <span class="switch-state bg-primary"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="media">
                        <label class="col-form-label m-r-10">GRI</label>
                        <div class="media-body text-end icon-state switch-outline">
                          <label class="switch">
                            <input type="checkbox" id="gri_flag" <%= id > 0 ? (client_data.msg[0].gri_flag == 'Y' ? 'checked' : '') : '' %>>
                            <span class="switch-state bg-primary"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="media">
                        <label class="col-form-label m-r-10">GRI-French</label>
                        <div class="media-body text-end icon-state switch-outline">
                          <label class="switch">
                            <input type="checkbox" id="gri_fr_flag" <%= id > 0 ? (client_data.msg[0].gri_fr_flag == 'Y' ? 'checked' : '') : '' %>>
                            <span class="switch-state bg-primary"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                </div>
                <input type="hidden" name="ai_tag_tool_flag" id="ai_flag" value="<%= id > 0 ? client_data.msg[0].ai_tag_tool_flag : '' %>">
                <input type="hidden" name="ghg_emi_flag" id="ghg_emi_flag_val" value="<%= id > 0 ? client_data.msg[0].ghg_emi_flag : '' %>">
                <input type="hidden" name="ifrs_flag" id="ifrs_flag_val" value="<%= id > 0 ? client_data.msg[0].ifrs_flag : '' %>">
                <input type="hidden" name="ifrs_fr_flag" id="ifrs_fr_flag_val" value="<%= id > 0 ? client_data.msg[0].ifrs_fr_flag : '' %>">
                <input type="hidden" name="esrs_flag" id="esrs_flag_val" value="<%= id > 0 ? client_data.msg[0].esrs_flag : '' %>">
                <input type="hidden" name="esrs_fr_flag" id="esrs_fr_flag_val" value="<%= id > 0 ? client_data.msg[0].esrs_fr_flag : '' %>">
                <input type="hidden" name="esrs_vsme_flag" id="esrs_vsme_flag_val" value="<%= id > 0 ? client_data.msg[0].esrs_vsme_flag : '' %>">
                <input type="hidden" name="esrs_vsme_fr_flag" id="esrs_vsme_fr_flag_val" value="<%= id > 0 ? client_data.msg[0].esrs_vsme_fr_flag : '' %>">
                <input type="hidden" name="gri_flag" id="gri_flag_val" value="<%= id > 0 ? client_data.msg[0].gri_flag : '' %>">
                <input type="hidden" name="gri_fr_flag" id="gri_fr_flag_val" value="<%= id > 0 ? client_data.msg[0].gri_fr_flag : '' %>">
                <input type="hidden" name="id" value="<%= id > 0 ? id : 0 %>">
                <button class="btn btn-pill btn-outline-primary btn-air-primary" type="submit">Submit</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#ai_tag_tool_flag').on('change', function(){
        if($('#ai_tag_tool_flag').attr('checked')){
            $('#ai_flag').val('N')
            $('#ai_tag_tool_flag').removeAttr('checked')
        }else{
            $('#ai_flag').val('Y')
            $('#ai_tag_tool_flag').attr('checked', 'checked')
        }
    })
    $('#ghg_emi_flag').on('change', function(){
        if($('#ghg_emi_flag').attr('checked')){
            $('#ghg_emi_flag_val').val('N')
            $('#ghg_emi_flag').removeAttr('checked')
        }else{
            $('#ghg_emi_flag_val').val('Y')
            $('#ghg_emi_flag').attr('checked', 'checked')
        }
    })
    $('#ifrs_flag').on('change', function(){
        if($('#ifrs_flag').attr('checked')){
            $('#ifrs_flag_val').val('N')
            $('#ifrs_flag').removeAttr('checked')
        }else{
            $('#ifrs_flag_val').val('Y')
            $('#ifrs_flag').attr('checked', 'checked')
        }
    })
    $('#ifrs_fr_flag').on('change', function(){
        if($('#ifrs_fr_flag').attr('checked')){
            $('#ifrs_fr_flag_val').val('N')
            $('#ifrs_fr_flag').removeAttr('checked')
        }else{
            $('#ifrs_fr_flag_val').val('Y')
            $('#ifrs_fr_flag').attr('checked', 'checked')
        }
    })
    $('#esrs_flag').on('change', function(){
        if($('#esrs_flag').attr('checked')){
            $('#esrs_flag_val').val('N')
            $('#esrs_flag').removeAttr('checked')
        }else{
            $('#esrs_flag_val').val('Y')
            $('#esrs_flag').attr('checked', 'checked')
        }
    })
    $('#esrs_fr_flag').on('change', function(){
        if($('#esrs_fr_flag').attr('checked')){
            $('#esrs_fr_flag_val').val('N')
            $('#esrs_fr_flag').removeAttr('checked')
        }else{
            $('#esrs_fr_flag_val').val('Y')
            $('#esrs_fr_flag').attr('checked', 'checked')
        }
    })
    $('#esrs_vsme_flag').on('change', function(){
        if($('#esrs_vsme_flag').attr('checked')){
            $('#esrs_vsme_flag_val').val('N')
            $('#esrs_vsme_flag').removeAttr('checked')
        }else{
            $('#esrs_vsme_flag_val').val('Y')
            $('#esrs_vsme_flag').attr('checked', 'checked')
        }
    })
    $('#esrs_vsme_fr_flag').on('change', function(){
        if($('#esrs_vsme_fr_flag').attr('checked')){
            $('#esrs_vsme_fr_flag_val').val('N')
            $('#esrs_vsme_fr_flag').removeAttr('checked')
        }else{
            $('#esrs_vsme_fr_flag_val').val('Y')
            $('#esrs_vsme_fr_flag').attr('checked', 'checked')
        }
    })
    $('#gri_flag').on('change', function(){
        if($('#gri_flag').attr('checked')){
            $('#gri_flag_val').val('N')
            $('#gri_flag').removeAttr('checked')
        }else{
            $('#gri_flag_val').val('Y')
            $('#gri_flag').attr('checked', 'checked')
        }
    })
    $('#gri_fr_flag').on('change', function(){
        if($('#gri_fr_flag').attr('checked')){
            $('#gri_fr_flag_val').val('N')
            $('#gri_fr_flag').removeAttr('checked')
        }else{
            $('#gri_fr_flag_val').val('Y')
            $('#gri_fr_flag').attr('checked', 'checked')
        }
    })
</script>

<%- include('../templates/footer.ejs') %>