<%- include('../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3><%= sub_header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %></a></li>
                    <li class="breadcrumb-item"><%= sub_header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-body">
                <form method="POST" action="/client_save" class="needs-validation">
                <div class="row g-3 py-3">
                    <div class="col-md-6">
                        <label class="form-label" for="client_name">Client Name</label>
                        <input class="form-control" id="client_name" name="client_name" type="text" value="<%= id > 0 ? client_data.msg[0].client_name : '' %>" required="">
                        <div class="valid-feedback">No Error</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="user_name">User Name</label>
                        <input class="form-control" id="user_name" name="user_name" type="text" value="<%= id > 0 ? client_data.msg[0].user_name : '' %>" required="">
                        <div class="valid-feedback">No Error</div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label class="form-label" for="user_id">User Email</label>
                        <input class="form-control" id="user_id" name="user_id" type="text" value="<%= id > 0 ? client_data.msg[0].user_id : '' %>" required="" <%= id > 0 ? 'readonly' : '' %>>
                        <div class="valid-feedback">No Error</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="password">Password</label>
                        <select class="form-select" id="password" name="password" required="">
                            <option selected="" value="Esg@2023">Default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-md-4">
                        <div class="media">
                        <label class="col-form-label m-r-10">AI Word Tag</label>
                        <div class="media-body text-end icon-state switch-outline">
                          <label class="switch">
                            <input type="checkbox" id="ai_tag_tool_flag" <%= id > 0 ? (client_data.msg[0].ai_tag_tool_flag == 'Y' ? 'checked' : '') : '' %>>
                            <span class="switch-state bg-primary"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                </div>
                <input type="hidden" name="ai_tag_tool_flag" id="ai_flag" value="<%= id > 0 ? client_data.msg[0].ai_tag_tool_flag : '' %>">
                <input type="hidden" name="id" value="<%= id > 0 ? id : 0 %>">
                <button class="btn btn-pill btn-outline-primary btn-air-primary" type="submit">Submit</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#ai_tag_tool_flag').on('change', function(){
        if($('#ai_tag_tool_flag').attr('checked')){
            $('#ai_flag').val('N')
            $('#ai_tag_tool_flag').removeAttr('checked')
        }else{
            $('#ai_flag').val('Y')
            $('#ai_tag_tool_flag').attr('checked', 'checked')
        }
    })
</script>

<%- include('../templates/footer.ejs') %>