<%- include('../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3><%= sub_header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %></a></li>
                    <li class="breadcrumb-item"><%= sub_header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-body">
                <form method="POST" action="/manage_user_save" class="needs-validation" novalidate="">
                <div class="row g-3 py-3">
                    <div class="col-md-6">
                        <label class="form-label" for="client_name">Client Name</label>
                        <input class="form-control" id="client_name" name="client_name" type="text" value="<%= id > 0 ? client_data.msg[0].client_name : '' %>" required="">
                        <div class="valid-feedback">No Error</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="user_name">User Name</label>
                        <input class="form-control" id="user_name" name="user_name" type="text" value="<%= id > 0 ? client_data.msg[0].user_name : '' %>" required="">
                        <div class="valid-feedback">No Error</div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label class="form-label" for="user_id">User Email</label>
                        <input class="form-control" id="user_id" name="user_id" type="text" value="<%= id > 0 ? client_data.msg[0].user_id : '' %>" required="">
                        <div class="valid-feedback">No Error</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="password">Password</label>
                        <select class="form-select" id="password" name="password" required="">
                            <option selected="" value="Esg@2023">Default</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="id" value="<%= id > 0 ? id : 0 %>">
                <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<%- include('../templates/footer.ejs') %>