<%- include('../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3><%= header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %></a></li>
                    <li class="breadcrumb-item"><%= sub_header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Zero Configuration  Starts-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row py-3">
                    </div>
                    <div class="table-responsive">
                        <table class="display" id="basic-1">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>User Type</th>
                                    <th>Status</th>
                                    <th>Fast Login</th>
                                    <th>Last Login</th>
                                    <th>Last LogOut</th>
                                    <th>View Log</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(user_dt.msg.length > 0){
                                    let i = 1;
                                user_dt.msg.forEach(dt => { %>
                                <tr>
                                    <td><%= i %></td>
                                    <td><%= dt.user_name %></td>
                                    <td><%= user_type_list[dt.user_type] %></td>
                                    <td><span class="<%= dt.active_flag == 'Y' ? 'text-success' : 'text-danger' %>"><%= dt.active_flag == 'Y' ? 'Active' : 'In-Active' %></span></td>
                                    <td><span class="<%= dt.fast_login == 'Y' ? 'text-success' : 'text-danger' %>"><%= dt.fast_login == 'Y' ? 'Yes' : 'No' %></span></td>
                                    <th><%= dt.login_dt ? dateFormat(new Date(dt.login_dt), "dd/mm/yyyy HH:MM:ss") : '' %></th>
                                    <th><%= dt.logout_dt ? dateFormat(new Date(dt.logout_dt), "dd/mm/yyyy HH:MM:ss") : '' %></th>
                                    <td>
                                        <button type="button" id="<%= dt.id %>" class="btn btn-pill btn-outline-primary btn-air-primary viewBtn" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="View Log">
                                            <i class="icofont icofont-eye-alt"></i> View
                                        </button>
                                    </td>
                                </tr>
                                <% i++; })}else{ %>
                                <tr>
                                    <td class="text-center text-danger" colspan="6">No Data Found</td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Zero Configuration  Ends-->
    </div>
</div>

<div class="modal fade" id="user_info_modal" tabindex="-1" role="dialog" aria-labelledby="user_info_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body" style="color: black;">
                <div class="card card-absolute">
                    <div class="card-header bg-secondary">
                        <h5 class="text-white">User Activity Log</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-stripes">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="user_info_modal_body"></tbody>
                        </table>
                    </div>
                </div>
                <button class="btn btn-custom m-l-10" type="button" style="float: inline-end;" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var user_data = <%- user_dt.msg.length > 0 ? JSON.stringify(user_dt.msg) : [] %>;
    var login_status = {'I': 'LogIn', 'O': 'LogOut'}
    console.log(user_data)
    $('.viewBtn').on('click', function(){
        var btn_id = $(this).attr('id')
        $('#user_info_modal').modal('show')
        $('#user_info_modal_body').empty()
        var user_log_dt = user_data.filter(dt => dt.id == btn_id)
        if(user_log_dt.length > 0){
            if(user_log_dt[0].user_log.length > 0){
                $.each(user_log_dt[0].user_log, function (i, dt) {
                    $('#user_info_modal_body').append(`
                        <tr>
                            <td>${formatDate(dt.log_dt)}</td>
                            <td>${login_status[dt.flag]}</td>
                        </tr>
                    `)
                })
            }else{
                $('#user_info_modal_body').append(`
                    <tr>
                        <td colspan="2" class="text-danger text-center">No data found</td>
                    </tr>
                `)
            }
        }else{
            $('#user_info_modal_body').append(`
                <tr>
                    <td colspan="2" class="text-danger text-center">No data found</td>
                </tr>
            `)
        }
    })

    function formatDate(inputDate) {
        const date = new Date(inputDate);
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');

        var seconds = date.getSeconds();
        var minutes = date.getMinutes();
        var hour = date.getHours();

        return `${day}/${month}/${year} ${hour}:${minutes}:${seconds}`;
    }
</script>
<%- include('../templates/footer.ejs') %>