<%- include('../templates/header.ejs', {header: "Home", header_url: "/dashboard", sub_header: header, show_br: true}) %>
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <!-- <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6 row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                            <li class="breadcrumb-item">
                                <%- header %>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div> -->
    <div class="container-fluid">
        <div class="row">
            <div class="card card-form">
                <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
                <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
                <stripe-pricing-table 
                   pricing-table-id="prctbl_1S19J82LsczgMB2Pmr1qLxiC"
                   publishable-key="pk_test_51RtWjc2LsczgMB2PX9xAH6pWM2GhceR2WWUol6FlZjIVYX4i4WDrvZOnP0ncdrc9HB4gUTZdJzKElMBSnffpiTgG00vDajHX9E"
                   customer-email="<%= email %>"
                   customer-id="<%= typeof customer_id !== 'undefined' ? customer_id : '' %>"
                   >
                </stripe-pricing-table>
            </div>
        </div>
    </div>

    <%- include('../templates/footer.ejs') %>