<%- include('../templates/header.ejs', {header: "Home", header_url:
"/dashboard", sub_header: header, show_br: true}) %>
<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<div class="container-fluid">
  <div class="row">
    <% if(user.user_type != 'C'){ %>
      <div class="col-md-12">
        <div class="not-avail-page"></div>
      </div>
      <div class="col-md-12 not-avail-text mx-5 mt-0">
        <span class="text-muted text-center">
          This account has been added to ESG Risk Viewer by a paid subscriber (Our Client). As a result, it is not possible for you to subscribe to any services. You can only use services for which you were granted access to by Our Client.
        </span>
        <span class="text-muted text-center">
          If you want to remove your records from our database because you are no longer linked to Our Client or for any other reason, you should speak to Our Client directly or contact us at support@esgriskviewer.com
        </span>
      </div>
      
    <% }else{ %>
      <div class="card card-form">
        <stripe-pricing-table
          pricing-table-id="<%= stripe_table_id %>"
          publishable-key="<%= publishable_key %>"
          customer-email="<%= email %>"
          customer-id="<%= typeof customer_id !== 'undefined' ? customer_id : '' %>"
        >
        </stripe-pricing-table>
      </div>
    <% } %>
  </div>
</div>

<%- include('../templates/footer.ejs') %>
