<%- include('../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>
                    <%= header %>
                </h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item">
                        <%= header %>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Zero Configuration  Starts-->
        <div class="col-sm-12">
            <% if(message){ %>
                <div class="alert alert-<%= message.type %> dark alert-dismissible fade show" role="alert">
                    <i data-feather="clock"></i>
                    <p>
                        <%= message.message %>
                    </p>
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Pricing</h5>
                </div>
                <div class="card-body row pricing-content">
                    <div class="col-md-12">
                        <label><%= subs == 'N' ? 'You have no active plans' : 'Your ' + subs == 'B' ? 'Basic' : (subs == 'S' ? 'Standard' : 'Premium') +' plan is activte.' %></label>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-block card text-center">
                            <div class="pricing-header">
                                <h2>Basic</h2>
                                <div class="price-box">
                                    <div>
                                        <h3>$5</h3>
                                        <p>per month</p>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-list">
                                <ul class="pricing-inner">
                                    <li>
                                        <h6><span>Full Access</span></h6>
                                    </li>
                                    <li>
                                        <h6><span>Documentation</span></h6>
                                    </li>
                                    <li>
                                        <h6><span>Customes Support</span></h6>
                                    </li>
                                    <li>
                                        <h6><span>Free Updates</span></h6>
                                    </li>
                                    <li>
                                        <h6><span>Unlimited Domains</span></h6>
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-lg" type="button"
                                    data-original-title="btn btn-primary btn-lg"
                                    title="" onclick="updatePackage('B')">Subscribe</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-block card text-center">
                            <div class="pricing-header">
                                <h2>Standard</h2>
                                <div class="price-box">
                                    <div>
                                        <h3>$10</h3>
                                        <p>per month</p>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-list">
                                <ul class="pricing-inner">
                                    <li>
                                        <h6><span>Full Access</span></h6>
                                    </li>
                                    <li>
                                        <h6><span>Documentation</span></h6>
                                    </li>
                                    <li>
                                        <h6><span>Customes Support</span></h6>
                                    </li>
                                    <li>
                                        <h6><span>Free Updates</span></h6>
                                    </li>
                                    <li>
                                        <h6><span>Unlimited Domains</span></h6>
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-lg" type="button"
                                    data-original-title="btn btn-primary btn-lg"
                                    title="" onclick="updatePackage('S')">Subscribe</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-block card text-center">
                            <div class="pricing-header">
                                <h2>Premium</h2>
                                <div class="price-box">
                                    <div>
                                        <h3>$20</h3>
                                        <p>per month</p>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-list">
                                <ul class="pricing-inner">
                                    <li>
                                        <h6><span>Full Access</span></h6>
                                    </li>
                                    <li>
                                        <h6><span>Documentation</span></h6>
                                    </li>
                                    <li>
                                        <h6><span>Customes Support</span></h6>
                                    </li>
                                    <li>
                                        <h6><span>Free Updates</span></h6>
                                    </li>
                                    <li>
                                        <h6><span>Unlimited Domains</span></h6>
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-lg" type="button"
                                    data-original-title="btn btn-primary btn-lg"
                                    title="" onclick="updatePackage('P')">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function updatePackage(plan_id){
        if(confirm(`Do you want to subscribe our ${plan_id == 'P' ? 'Premium' : (plan_id == 'S' ? 'Standard' : 'Basic')} package?`)){
            window.location.href = `/`
        }
    }
</script>
    
<%- include('../templates/footer.ejs') %>