<%- include('../templates/header.ejs', {header: "Home", header_url: "/dashboard", sub_header: header, show_br: true}) %>
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>
                        <%= header %>
                    </h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Billing</a></li>
                        <li class="breadcrumb-item">
                            <%= header %>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- Zero Configuration  Starts-->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>Your Subscription</h5>
                    </div>
                    <div class="card-body row pricing-content">

                        <div class="col-md-12">
                            <div class="pricing-content-box">
                                <% if(subs?.status=='active' ){ %>
                                    <a href="/subscription/cancel/<%= subs?.id	%>/<%= subs?.stripe_subscription_id %>"
                                        class="btn btn-danger">Cancel Subscription</a>
                                    <% } %>

                                        <h3>
                                            <%= subs?.product_name ?? 0 %>
                                        </h3>
                                        <div class="pricing-plan-price">
                                            <h4 style="text-transform: uppercase;">
                                                <%= subs?.amount ?? 0 %>
                                                    <%= subs?.currency %>
                                            </h4>
                                            <h5>Per <%= subs?.month_yearly ?? 0 %>
                                            </h5>
                                        </div>
                                        <button type="button" class="btn btn-link">Selected</button>
                            </div>
                            <div class="update-button-row">
                                <h2>Subtotal <span style="text-transform: uppercase;">
                                        <%= subs?.amount ?? 0 %>
                                            <%= subs?.currency %>
                                    </span></h2>
                                <% if(subs){ %>
                                    <a href="/subscription/main" class="btn btn-success">Change Subscription</a>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('../templates/footer.ejs') %>