<%- include('../templates/header.ejs') %>

<style>
    .label-view{
        border: 1px solid rgb(0, 0, 0);
        padding: 8px;
    }
    .op-key {
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
    }
    .op-btn-p {
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
    }
    .op-btn-m {
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
    }
    .btn-card-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }
    .media {
        align-items: center !important;
    }
    .vl {
        border-left: 2px solid green;
        height: 20px;
        margin: 0px 10px 0 10px;
    }
    .is-parent{
        display: flex;
        justify-content: center;
        flex-direction: row;    
        align-items: center;
    }
    .delete-btn-form{
        font-size: 20px;
    }
    .btn-pill {
        background: #fff;
    }
    .hover-centainer {
        position: absolute;
        display: none;
        right: -61px;
        height: auto;
        top: 20%;
        background: #ffffff;
        border: #dfdfdfb0 1px solid;
        box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.2), 0px 0px 4px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        padding: 10px;
        width: 60px;
    }
    .entry-card {
        position: relative;
    }
    hr{
        width: 100%;
    }
    .entry-card:hover .hover-centainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hover-centainer i{
        font-size: 25px;
        cursor: pointer;
    }
</style>

<!-- Container-fluid starts-->
<div class="container-fluid">
    <form action="/form_builder_post" method="post">
        <div class="row">
          <div class="col-sm-12">
            <div class="d-flex justify-content-center flex-column" id="add-card">
                <div class="card w-75">
                    <div class="card-body b-l-success border-3">
                         <h4 class="mb-3">Parent</h4> 
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-select" id="scope_id" name="scope_id" required>
                                    <option>Select Scope</option>
                                    <% scope.forEach(dt => {
                                        var _selected = ''
                                        if(dt.id == scope_id) _selected = 'selected'
                                        %>
                                        <option value="<%= dt.id %>" <%= _selected %>><%= dt.name %></option>
                                    <% }) %>
                                </select>
                                <input type="hidden" name="lang_flag" id="lang_flag" value="<%= flag %>">
                            </div>
                           <div class="col-md-6">
                                <select class="form-select" id="sec_id" name="sec_id" required>
                                    <option>Select Calculator Section Type</option>
                                    <% sec_list.forEach(dt => {
                                        var _selected = ''
                                        if(dt.id == sec_id) _selected = 'selected'
                                        %>
                                        <option value="<%= dt.id %>" <%= _selected %>><%= dt.sec_name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                         <div class="row">
                             <div class="col-md-12 mt-2 dyn-opt-div">
                               <div class="form-group">
                                 <select class="form-select dynamic-option" name="quest_list" onchange="dynamicQuestSelect(this)">
                                   <option value="">Select Question</option>   
                                 </select>
                                </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
         </div>
        </div>

         <div class="row">
          <div class="col-sm-12">
            <div class="d-flex justify-content-center flex-column" id="add-card">
                <div class="card w-75">
                    <div class="card-body b-l-success border-3">
                        <h4 class="mb-3">Child</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <select class="form-select" id="scopes_id" name="scopes_id" required>
                                    <option>Select Scope</option>
                                    <% scope.forEach(dt => {
                                        var _selected = ''
                                        if(dt.id == scope_id) _selected = 'selected'
                                        %>
                                        <option value="<%= dt.id %>" <%= _selected %>><%= dt.name %></option>
                                    <% }) %>
                                </select>
                                <input type="hidden" name="lang_flag" id="lang_flag" value="<%= flag %>">
                            </div>
                           <div class="col-md-4">
                                <select class="form-select" id="secs_id" name="secs_id" required>
                                    <option>Select Calculator Section Type</option>
                                    <% console.log(sec_list); sec_list.forEach(dt => {
                                        var _selected = ''
                                        if(dt.id == sec_id) _selected = 'selected'
                                        %>
                                        <option value="<%= dt.id %>" <%= _selected %>><%= dt.sec_name %></option>
                                    <% }) %>
                                </select>
                            </div>
                             <div class="col-md-4">
                                  <select class="form-select dynamic-option" name="quest_list" onchange="dynamicQuestSelect(this)">
                                    <option value="">Select Question</option>
                                  </select>
                             </div>
                        </div> 
                 
                    </div>
                       <div class="hover-centainer">
                        <a onclick="addNewCard()" title="Add new row"><i class="fa fa-plus-square-o text-success"></i></a>
                        <hr>
                        <a onclick="delFrmCard(this)" title="Delete row"><i class="fa fa-minus-square-o text-danger"></i></a>
                    </div>
                </div>
            </div>
         </div>
        </div>
        <input type="hidden" name="scope_id" value="<%= scope_id %>">
        <input type="hidden" name="type_id" value="<%= sec_id %>">
    </form>
</div>
  <!-- Container-fluid Ends-->

<script>
    $('#scope_id').on('change', function(){
        $.ajax({
            method:'POST',
            url: '/get_calc_sec_type_list_ajax',
            data: {scope: $(this).val(), sec_id:  $(this).val(), lang_flag: $('#lang_flag').val()},
            dataType: 'html',
            beforeSend: function(){
                $('.loader-wrapper').show()
            },
            success: function(result){
                var res = JSON.parse(result);
                // console.log(res);
                $('#sec_id').empty();
                $('#sec_id').append($('<option>', {value: '', text: 'Select Type'}));
                if(res.suc > 0 && res.msg.length > 0){
                    $.each(res.msg, function (i, item) {
                        $('#sec_id').append($('<option>', {value: item.id, text: item.sec_name}));
                    });
                }
            },
            complete: function(){
                $('.loader-wrapper').hide()
            }
        })
    })

    function dynamicQuestSelect(e){        
        var filterData = quest_master_data.filter(dt => dt.id == $(e).val())
        var seqCardId = $(e).attr('card-id')
        seqCardId = seqCardId.split('-')[seqCardId.split('-').length - 1]
        console.log(filterData, '--------');
        var chkSeqQuestData = cal_logic_data.filter(dt => dt.id == seqCardId).length > 0
        
        if($(e).parent().parent().next().closest('.q-opt-dyn').length > 0){
            $(e).parent().parent().next().closest('.q-opt-dyn').detach()
            $(e).parent().parent().next().closest('.action-div').detach()
            $(e).parent().parent().next().closest('.quest_action').detach()
        }
        var op_act_next = '', op_act_end = '', op_act_sel_quest = '', op_act_sel_emi = '', op_chk_val_sel = '', has_logic_dt = false;
        if(filterData.length > 0){            
            if(cal_logic_data.length > 0 && chkSeqQuestData){
                has_logic_dt = true;
                var logic_filter_dt = cal_logic_data.filter(dt => dt.id == $(e).val())
                if(logic_filter_dt.length > 0){
                   op_act_next = logic_filter_dt[0].action_val == 'N' ? 'checked' : ''
                   op_act_end = logic_filter_dt[0].action_val == 'E' ? 'checked' : ''
                   op_act_sel_quest = logic_filter_dt[0].next_qst_action_val == 'Q' ? 'checked' : ''
                   op_act_sel_emi = logic_filter_dt[0].next_qst_action_val == 'E' ? 'checked' : ''
                   op_chk_val_sel = logic_filter_dt[0].option_val ? logic_filter_dt[0].option_val : ''
                //    console.log(logic_filter_dt, '=======');
                }
            }
            
            // var tot_row = $('.dynamic-option').length;
            var tot_row = $(e).val();
            var action_btn =
                `<div class="col-md-12 action-div" style="display: none;">
                    <input type="radio" class="btn-check option_action" name="option_action_${tot_row}" id="nxt_${tot_row}_${seqCardId}" autocomplete="off" value="N" ${op_act_next} onchange="optActChange(this)">
                    <label class="btn cust-q-opt" for="nxt_${tot_row}_${seqCardId}">Next</label>

                    <input type="radio" class="btn-check option_action" name="option_action_${tot_row}" id="die_${tot_row}_${seqCardId}" autocomplete="off" value="D" ${op_act_end} onchange="optActChange(this)">
                    <label class="btn cust-q-opt" for="die_${tot_row}_${seqCardId}">End</label>
                </div>`
            var quest_btn = 
                `<div class="col-md-12 quest_action" style="display: none;">
                    <input type="radio" class="btn-check next_quest_act" name="next_quest_act_${tot_row}" id="quest_${tot_row}_${seqCardId}" autocomplete="off" value="Q" ${op_act_sel_quest} onchange="nxtQstActChange(this)">
                    <label class="btn cust-q-opt" for="quest_${tot_row}_${seqCardId}">Select Question</label>

                    <input type="radio" class="btn-check next_quest_act" name="next_quest_act_${tot_row}" id="inp_${tot_row}_${seqCardId}" autocomplete="off" value="E" ${op_act_sel_emi} onchange="nxtQstActChange(this)">
                    <label class="btn cust-q-opt" for="inp_${tot_row}_${seqCardId}">Emission User Input</label>
                </div>`
            // console.log(filterData[0].input_type, '--------------');
            
            switch (filterData[0].input_type) {
                case "R":
                    var optionEle = ''
                    
                    if(filterData[0].options){
                        for(let opdt of filterData[0].options){
                            var _sel = ''
                            if(has_logic_dt){
                                if(op_chk_val_sel == opdt.option_name){
                                    _sel = 'selected'
                                }
                            }
                            optionEle = optionEle + `<option value="${opdt.option_name}" ${_sel}>${opdt.option_name}</option>`
                        }
                    }

                    var optEleData = createDynOption(optionEle, tot_row)
                    
                    var questOption = $(`
                        ${optEleData}
                        ${action_btn}
                        ${quest_btn}
                    `)
                    
                    if(has_logic_dt){
                        setTimeout(() => {
                            $(e).parent().parent().after(questOption)
                            $(questOption[0]).children().children('.dynamic-sel-opt').change()
                            // console.log($(questOption[2]), $(questOption[2]).children(`[name="option_action_${tot_row}"]`));
                            
                            $(questOption[2]).children(`[name="option_action_${tot_row}"]:checked`).change()
                            $(questOption[4]).children(`[name="next_quest_act_${tot_row}"]:checked`).change()
                        }, 100);
                    }else{
                        $(e).parent().parent().after(questOption)
                    }
                    
                    break;
                case "S":
                    var optionEle = ''
                    
                    if(filterData[0].options){
                        for(let opdt of filterData[0].options){
                            optionEle = optionEle + `<option value="${opdt.option_name}">${opdt.option_name}</option>`
                        }
                    }

                    var optEleData = createDynOption(filterData[0].options, tot_row, true)
                    
                    var questOption = $(`
                        ${optEleData}
                        ${action_btn}
                        ${quest_btn}
                    `)
                    questOption.insertAfter($(e).parent().parent())
                    $($(questOption)[0])
                    $($(questOption)[2]).show()
                    
                    break;
                case "C":
                    var optionEle = ''
                    
                    if(filterData[0].options){
                        for(let opdt of filterData[0].options){
                            optionEle = optionEle + `<option value="${opdt.option_name}">${opdt.option_name}</option>`
                        }
                    }

                    var optEleData = createDynOption(filterData[0].options, tot_row, true)
                    
                    var questOption = $(`
                        ${optEleData}
                        ${action_btn}
                        ${quest_btn}
                    `)
                    questOption.insertAfter($(e).parent().parent())
                    $($(questOption)[2]).show()
                    
                    break;
                case "I":
                    var optEleData = createDynInput()
                    
                    var questOption = $(`
                        ${optEleData}
                        ${action_btn}
                        ${quest_btn}
                    `)
                    // questOption.insertAfter($(e).parent().parent())
                    // $($(questOption)[2]).show()
                    // console.log();
                    if(has_logic_dt){
                        setTimeout(() => {
                            $(e).parent().parent().after(questOption)
                            $($(questOption)[2]).show()
                            $(questOption[0]).children().children('.dynamic-sel-opt').change()
                            // console.log($(questOption[2]), $(questOption[2]).children(`[name="option_action_${tot_row}"]`));
                            
                            $(questOption[2]).children(`[name="option_action_${tot_row}"]:checked`).change()
                            $(questOption[4]).children(`[name="next_quest_act_${tot_row}"]:checked`).change()
                        }, 100);
                    }else{
                        $(e).parent().parent().after(questOption)
                        $($(questOption)[2]).show()
                    }
                    break;
                case "A":
                    var optEleData = createDynEmiDt(cal_type, tot_row, 'A', has_logic_dt, op_chk_val_sel)
                    
                    var questOption = $(`
                        ${optEleData}
                        ${action_btn}
                        ${quest_btn}
                    `)
                    if(has_logic_dt){
                        setTimeout(() => {
                            $(e).parent().parent().after(questOption)
                            $(questOption[0]).children().children('.dynamic-sel-opt').change()
                            // console.log($(questOption[2]), $(questOption[2]).children(`[name="option_action_${tot_row}"]`));
                            
                            $(questOption[2]).children(`[name="option_action_${tot_row}"]:checked`).change()
                            $(questOption[4]).children(`[name="next_quest_act_${tot_row}"]:checked`).change()
                        }, 100);
                    }else{
                        questOption.insertAfter($(e).parent().parent())
                    }
                    
                    break;
                case "E":
                    var optEleData = createDynEmiDt(cal_emi_type, tot_row, 'E')
                    
                    var questOption = $(`
                        ${optEleData}
                        ${action_btn}
                        ${quest_btn}
                    `)

                    if(has_logic_dt){
                        setTimeout(() => {
                            $(e).parent().parent().after(questOption)
                            $($(questOption)[2]).show()
                            $(questOption[0]).children().children('.dynamic-sel-opt').change()
                            // console.log($(questOption[2]), $(questOption[2]).children(`[name="option_action_${tot_row}"]`));
                            
                            $(questOption[2]).children(`[name="option_action_${tot_row}"]:checked`).change()
                            $(questOption[4]).children(`[name="next_quest_act_${tot_row}"]:checked`).change()
                        }, 100);
                    }else{
                        questOption.insertAfter($(e).parent().parent())
                        $($(questOption)[2]).show()
                    }
                    break;
                case "U":
                    var optEleData = createDynEmiDt(cal_unit, tot_row, 'U')
                    
                    var questOption = $(`
                        ${optEleData}
                        ${action_btn}
                        ${quest_btn}
                    `)

                    if(has_logic_dt){
                        setTimeout(() => {
                            $(e).parent().parent().after(questOption)
                            $($(questOption)[2]).show()
                            $(questOption[0]).children().children('.dynamic-sel-opt').change()
                            // console.log($(questOption[2]), $(questOption[2]).children(`[name="option_action_${tot_row}"]`));
                            
                            $(questOption[2]).children(`[name="option_action_${tot_row}"]:checked`).change()
                            $(questOption[4]).children(`[name="next_quest_act_${tot_row}"]:checked`).change()
                        }, 100);
                    }else{
                        questOption.insertAfter($(e).parent().parent())
                        $($(questOption)[2]).show()
                    }
                    
                    break;
                case "Y":
                    var year_opt = [{id: 'Y', name: 'Yearly'}, {id: 'Q', name: 'Queterly'}, {id: 'M', name: 'Monthly'}]
                    var optEleData = createDynEmiDt(year_opt, tot_row, 'Y')
                    
                    var questOption = $(`
                        ${optEleData}
                        ${action_btn}
                        ${quest_btn}
                    `)

                    if(has_logic_dt){
                        setTimeout(() => {
                            $(e).parent().parent().after(questOption)
                            $($(questOption)[2]).show()
                            $(questOption[0]).children().children('.dynamic-sel-opt').change()
                            // console.log($(questOption[2]), $(questOption[2]).children(`[name="option_action_${tot_row}"]`));
                            
                            $(questOption[2]).children(`[name="option_action_${tot_row}"]:checked`).change()
                            $(questOption[4]).children(`[name="next_quest_act_${tot_row}"]:checked`).change()
                        }, 100);
                    }else{
                        questOption.insertAfter($(e).parent().parent())
                        $($(questOption)[2]).show()
                    }
                    
                    break;
            
                default:
                    break;
            }
        }
        // console.log(filterData);
    }

     function addNewCard(){
        var tot_card = $('.entry-card').length
        $('#add-card').append(`
            <div class="card w-75 entry-card" id="card-${tot_card + 1}">
                <div class="card-body b-l-success border-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-0">
                                <h6 class="label-view" onclick="editLabel(this)">Entry Heading/Sub-heading</h6>
                                <input type="text" value="" name="hed_${tot_card + 1}" class="edit mb-2 form-control" id="hed_${tot_card + 1}" style="display: none;">
                            </div>
                        </div>
                        <div class="col-md-8">
                        <div class="form-group mb-0">
                            <h6 class="label-view" onclick="editLabel(this)">Entry Question</h6>
                            <input type="text" value="" name="q_${tot_card + 1}" class="edit form-control" id="q_${tot_card + 1}" style="display: none;">
                        </div>
                        <div class="dynamic-form-value-entry">
                            <div class="form-group row">
                                <div class="col-md-1 op-key"><span>&#9673;</span></div>
                                <div class="col-md-9">
                                    <h6 class="label-view" class="input-label" onclick="editLabel(this)">Entry Option</h6>
                                    <input type="text" value="" name="q_s_${tot_card + 1}" class="edit form-control" id="q_s_${tot_card + 1}" style="display: none;">
                                </div>
                                <div class="col-md-1 op-btn-p" onclick="addOption(this, '&#9673;')"><i class="icofont icofont-plus text-success"></i></div>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-select dynamic-option" name="option_${tot_card + 1}" onchange="dynamicOptionChange(this)" card-id="card-${tot_card + 1}">
                                <option value="radio">&#9673; | Radio</option>
                                <option value="check">&#9635; | Checkbox</option>
                                <option value="drop">&#9661; | Select Dropdown</option>
                                <option value="short_text">&#9776; | Short Answer</option>
                                <option value="act">&#128270; | Activity</option>
                                <option value="emi_type">&#127787; | Emission Type</option>
                                <option value="emi_unit">&#128207; | Unit</option>
                                <option value="mode">&#128197; | Mode</option>
                            </select>
                            <input type="hidden" name="cards" value="${tot_card + 1}">
                        </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-2">
                    <div class="btn-card-footer">
                        <!-- <div class="vl"></div> -->
                        <!-- <div class="vl"></div>
                        <a class="m-r-10" onclick="delFrmCard(this)"><i class="icofont icofont-trash text-danger delete-btn-form"></i></a> -->
                        <div class="vl"></div>
                        <div class="m-r-10">
                            <span onclick="editLabel(this)">Sequence</span>
                            <input type="text" value="" name="s_${tot_card + 1}" class="edit form-control" id="s_${tot_card + 1}" style="display: none;">
                        </div>
                        <div class="vl"></div>
                        <div class="media m-r-10">
                            <label class="col-form-label mb-0 mt-0 m-r-10">Is Parent</label>
                            <div class="media-body text-end icon-state switch-outline">
                                <label class="switch">
                                    <input type="checkbox" id="gri_flag_${tot_card + 1}" checked onchange="checkChange(this)">
                                    <span class="switch-state bg-primary"></span>
                                </label>
                            </div>
                        </div>
                        <div class="is-parent" style="display: none;">
                            <div class="vl"></div>
                            <div class="m-r-10">
                                <span onclick="editLabel(this)">Parent Sequence</span>
                                <input type="text" value="" name="p_c_${tot_card + 1}" class="edit form-control" id="p_c_${tot_card + 1}" style="display: none;">
                            </div>
                            <div class="vl"></div>
                            <div class="media m-r-10">
                                <label class="col-form-label mb-0 mt-0 m-r-10">Is Sub-Parent</label>
                                <div class="media-body text-end icon-state switch-outline">
                                    <label class="switch">
                                        <input type="checkbox" id="gr_sub_flag_${tot_card + 1}" checked onchange="checkSubChange(this)">
                                        <span class="switch-state bg-primary"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="is-parent" style="display: none;">
                                <div class="vl"></div>
                                <div class="m-r-10">
                                    <span onclick="editLabel(this)">Sub-Parent Sequence</span>
                                    <input type="text" value="" name="p_s_c_${tot_card + 1}" class="edit form-control" id="p_s_c_${tot_card + 1}" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hover-centainer">
                    <a onclick="addNewCard()" title="Add new row"><i class="fa fa-plus-square-o text-success"></i></a>
                    <hr>
                    <a onclick="delFrmCard(this)" title="Delete row"><i class="fa fa-minus-square-o text-danger"></i></a>
                </div>
            </div>
        `)
    }


</script>  

<%- include('../templates/footer.ejs') %>