<%- include('../templates/header.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    .text-truncate-cell {
    max-width: 200px; /* Adjust as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3><%= header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><%= header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Zero Configuration  Starts-->
        <div class="col-sm-12">
            <% if(message){ %>
                <script>
                    setTimeout(() => {
                        initiate_sweet_alert('<%= header %>', '<%= message.message %>', "<%= message.type != 'danger' ? message.type : 'error' %>")
                    }, 1000);
                </script>
            <% } %>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 my-2">
                            <a href="/map_ques_edit?scope=0&flag=<%= enc_flag %>" class="btn btn-pill btn-outline-primary btn-air-primary float-end" data-bs-toggle="tooltip" data-bs-placement="left" title="Add new topic" data-bs-original-title="Edit">Add Map Question</a>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="display" id="basic-1">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">#</th>
                                            <th rowspan="2">Language</th>
                                            <th colspan="3" class="text-center">Parent</th>
                                            <th colspan="3" class="text-center">Child</th>
                                            <th rowspan="2">Action</th>
                                        </tr>
                                        <tr>
                                            <th>Scope</th>
                                            <th>Type</th>
                                            <th>Question</th>
                                            <th>Scope</th>
                                            <th>Type</th>
                                            <th>Question</th>
                                        </tr>
                                    </thead>
                                   <tbody>
                                        <% if(scope_dt.length > 0){
                                            let i = 1;
                                        scope_dt.forEach(dt => { %>
                                        <tr>
                                            <td><%= i %></td>
                                            <td><%= dt.lang_flag == 'E' ? 'English' : dt.lang_flag == 'F' ? 'French' : '' %></td>
                                            <td>Scope <%= dt.p_scope_id %></td>
                                            <td>
                                                <div class="text-truncate-cell"><%= dt.p_sec %></div>
                                            </td>
                                            <td>
                                              <div class="text-truncate-cell"><%= dt.p_f_builder %></div>
                                            </td>
                                            <td>Scope <%= dt.c_scope_id %></td>
                                            <td>
                                                <div class="text-truncate-cell"><%= dt.c_sec %></div>
                                            </td>
                                            <td>
                                              <div class="text-truncate-cell"><%= dt.c_f_builder %></div>
                                            </td>
                                            <td>
                                                <a href="/map_ques_del?id=<%= dt.id %>" class="btn btn-pill btn-danger btn-outline-danger btn-air-danger" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Delete" onclick="return checkDelete(this)">
                                                    <i class="icofont icofont-ui-delete"></i> Delete
                                                </a>
                                            </td>
                                        </tr>
                                        <% i++; })}else{ %>
                                        <tr>
                                            <td class="text-danger text-center" colspan="8">No Data Found</td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Zero Configuration  Ends-->
    </div>
</div>

<script>
    async function checkDelete(e) {
        event.preventDefault(); 

        const result = await Swal.fire({
            title: 'Are you sure?',
            text: 'Do you want to delete?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        });

        if (result.isConfirmed) {
            // Proceed to the href if user confirms
            window.location.href = e.href;
        }
    }
</script>

<%- include('../templates/footer.ejs') %>