<body>
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="theme-loader">    
        <div class="loader-p"></div>
      </div>
      <!-- <div class="loader-box">
        <div class="loader-17"></div>
      </div> -->
    </div>
    

    <!-- Loader ends-->
    <!-- page-wrapper Start       -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
    <div class="page-main-header">
        <div class="main-header-right row m-0">
          <div class="main-header-left">
            <div class="logo-wrapper"><a href="/"><img class="img-fluid" src="/images/logo_col.png"
                  alt=""></a></div>
            <div class="dark-logo-wrapper"><a href="/"><img class="img-fluid"
                  src="/images/logo_col.png" alt=""></a></div>
                  
            <!-- <div class="toggle-sidebar"><i class="status_toggle middle" data-feather="align-center"
                id="sidebar-toggle"></i></div> -->

                <div class="toggle-sidebar toggleSidebarTogle"><i class="status_toggle middle" data-feather="align-center"
                  id="sidebar-toggle"></i></div>

          </div>
        
          <div class="left-menu-header col p-b-0 p-t-0">
            <ul>
              <li>
                <h5 style="color: var(--theme-primary);">Welcome <%= user.user_name %></h5>
              </li>
            </ul>
            <!-- <ul>
              <li>
                <form class="form-inline search-form">
                  <div class="search-bg"><i class="fa fa-search"></i>
                    <input class="form-control-plaintext" placeholder="Search here.....">
                  </div>
                </form><span class="d-sm-none mobile-search search-bg"><i class="fa fa-search"></i></span>
              </li>
            </ul> -->
          </div>
       
          <div class="nav-right col pull-right right-menu p-0">
            <ul class="nav-menus p-b-0 p-t-0">
              <!-- <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i
                    data-feather="maximize"></i></a></li>
              <li class="onhover-dropdown">
                <div class="bookmark-box"><i data-feather="star"></i></div>
                <div class="bookmark-dropdown onhover-show-div">
                  <div class="form-group mb-0">
                    <div class="input-group">
                      <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span>
                      </div>
                      <input class="form-control" type="text" placeholder="Search for bookmark...">
                    </div>
                  </div>
                  <ul class="m-t-5">
                    <li class="add-to-bookmark"><i class="bookmark-icon" data-feather="inbox"></i>Email<span
                        class="pull-right"><i data-feather="star"></i></span></li>
                    <li class="add-to-bookmark"><i class="bookmark-icon" data-feather="message-square"></i>Chat<span
                        class="pull-right"><i data-feather="star"></i></span></li>
                    <li class="add-to-bookmark"><i class="bookmark-icon" data-feather="command"></i>Feather Icon<span
                        class="pull-right"><i data-feather="star"></i></span></li>
                    <li class="add-to-bookmark"><i class="bookmark-icon" data-feather="airplay"></i>Widgets<span
                        class="pull-right"><i data-feather="star"> </i></span></li>
                  </ul>
                </div>
              </li>
              <li class="onhover-dropdown">
                <div class="notification-box"><i data-feather="bell"></i><span class="dot-animated"></span></div>
                <ul class="notification-dropdown onhover-show-div">
                  <li>
                    <p class="f-w-700 mb-0">You have 3 Notifications<span
                        class="pull-right badge badge-primary badge-pill">4</span></p>
                  </li>
                  <li class="noti-primary">
                    <div class="media"><span class="notification-bg bg-light-primary"><i data-feather="activity">
                        </i></span>
                      <div class="media-body">
                        <p>Delivery processing </p><span>10 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li class="noti-secondary">
                    <div class="media"><span class="notification-bg bg-light-secondary"><i data-feather="check-circle">
                        </i></span>
                      <div class="media-body">
                        <p>Order Complete</p><span>1 hour ago</span>
                      </div>
                    </div>
                  </li>
                  <li class="noti-success">
                    <div class="media"><span class="notification-bg bg-light-success"><i data-feather="file-text">
                        </i></span>
                      <div class="media-body">
                        <p>Tickets Generated</p><span>3 hour ago</span>
                      </div>
                    </div>
                  </li>
                  <li class="noti-danger">
                    <div class="media"><span class="notification-bg bg-light-danger"><i data-feather="user-check">
                        </i></span>
                      <div class="media-body">
                        <p>Delivery Complete</p><span>6 hour ago</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="mode"><i class="fa fa-moon-o"></i></div>
              </li> -->
              <li class="onhover-dropdown">
                <div class="circle">
                  <span class="initials">
                    <% var userNameArr = user.user_name ? user.user_name.split(' ') : [];
                      var userNameAvt = userNameArr.length > 0 ? `${Array.from(userNameArr[0])[0]}${userNameArr.length > 1 ? Array.from(userNameArr[1])[0] : ''}` : 'U' %>
                    <%= userNameAvt.toUpperCase() %>
                  </span>
                </div>
                <ul class="chat-dropdown onhover-show-div proDropDown">
                  <li>
                    <div class="ProfCard">
                      <div class="card-profile mb-2">
                        <div class="circle">
                          <span class="initials">
                            <% var userNameArr = user.user_name ? user.user_name.split(' ') : [];
                              var userNameAvt = userNameArr.length > 0 ? `${Array.from(userNameArr[0])[0]}${userNameArr.length > 1 ? Array.from(userNameArr[1])[0] : ''}` : 'U' %>
                            <%= userNameAvt.toUpperCase() %>
                          </span>
                        </div>
                      </div>
                      <div class="text-center profile-details">
                        <h4><p class="proNameFld" data-bs-original-title="" title="<%= user.user_name %>"><%= user.user_name %></p></h4>
                      </div>
                    </div>
                  </li>
                  <li class="text-center"> <a class="f-w-700" href="/log_out"><i data-feather="log-out"></i><label class="m-l-5">Log out</label></a></li>
                </ul>
              </li>
              <!-- <li class="onhover-dropdown p-0">
                <button class="btn btn-primary-light" type="button"><a href="/log_out">
                  <i data-feather="log-out"></i>Log out</a></button>
              </li> -->
            </ul>
          </div>
          <div class="d-lg-none mobile-toggle pull-right w-auto"><i data-feather="more-horizontal"></i></div>
        </div>
      </div>
      <!-- Page Header Ends -->
      <!-- Page Body Start-->
    <div class="page-body-wrapper sidebar-icon">