<%- include('../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3><%= sub_header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %></a></li>
                    <li class="breadcrumb-item"><%= sub_header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <p class="pro-card-head text-center">You are working on the project <b><%= proj_name %></b> using the <b><%= flag == "I" ? "International Sustainability Standards Board (ISSB)" : (flag == "E" ? "European Sustainability Reporting Standards (ESRS)" : (flag == "G" ? "Global Reporting Initiative (GRI)" : "Global Reporting Initiative (GRI)")) %> Framework</b></p> -->
                            <p class="pro-card-head text-center">
                                <span class="fw-normal">You are working on the project <b><%= proj_name %></b> using the</span> 
                                <br>
                                <span class="pro-card-cont fw-normal"><b><%= flag == "I" ? "International Sustainability Standards Board (ISSB)" : (flag == "E" ? "European Sustainability Reporting Standards (ESRS)" : (flag == "G" ? "Global Reporting Initiative (GRI)" : "Global Reporting Initiative (GRI)")) %></b> Framework</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST" action="/save_proj_work" class="needs-validation">
                        <div class="row g-3 py-3">
                            <div class="col-md-6">
                                <label for="sec_id">Sector</label>
                                <select class="form-select" id="sec_id" name="sec_id" required="">
                                    <option selected="" value="">Select Sector</option>
                                    <% if(sec_data.msg.length > 0){
                                        sec_data.msg.forEach(dt => { 
                                            var selected = '';
                                            if(project_data) 
                                                if(project_data.sec_id == dt.id) selected = 'selected'; %>
                                            <option value="<%= dt.id %>" <%= selected %>><%= dt.sec_name %></option>
                                        <% })
                                    } %>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="ind_id">Industry</label>
                                <select class="form-select" id="ind_id" name="ind_id" required="">
                                    <option selected="" value="">Select Industry</option>
                                </select>
                            </div>
                            <div class="col-md-12 select2-drpdwn mb-2">
                                <label for="bus_id">Business Activities</label>
                                <select id="bus_id" name="bus_id" class="js-example-basic-multiple col-sm-12" multiple="multiple">
                                    <option value="">Select Business Activities</option>
                                </select>
                            </div>
                            <div class="col-md-12 select2-drpdwn mb-2">
                                <label for="location_id">Locations of Business Activities</label>
                                <select id="location_id" name="location_id" class="js-example-basic-multiple col-sm-12" multiple="multiple">
                                    <option value="">Select Location</option>
                                    <% if(loc_list.msg.length > 0){
                                            var location_list = project_data ? (project_data.location_busi_act != '' ? project_data.location_busi_act : '') : '';
                                            location_list = location_list ? location_list.split(',') : [];
                                            loc_list.msg.forEach(dt => { 
                                                var selected = '';
                                                if(location_list.length > 0) 
                                                    if(location_list.includes(dt.location_name)) selected = 'selected'; %>
                                                <option value="<%= dt.id %>" <%= selected %>><%= dt.location_name %></option>
                                            <% })
                                        } %>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="<%= id > 0 ? id : 0 %>">
                        <input type="hidden" name="proj_id" value="<%= proj_id > 0 ? proj_id : 0 %>">
                        <input type="hidden" id="flag" name="flag" value="<%= flag ? flag : '' %>">
                        <input type="hidden" id="bus_id" name="bus_id" value="0">
                        <input type="hidden" name="proj_name" value="<%= proj_name %>">
                        <button class="btn btn-pill btn-outline-primary btn-air-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        if($('#sec_id').val() > 0){
            $('#sec_id').change()
        }
    })
</script>

<script>
    $('#sec_id').on('change', function (){
        $.ajax({
            method:'GET',
            url: '/get_ind_list_ajax',
            data: {sec_id: $(this).val(), flag: $('#flag').val()},
            dataType: 'html',
            beforeSend: function(){
                $('.loader-wrapper').show()
            },
            success: function(result){
                var res = JSON.parse(result);
                // console.log(res);
                $('#ind_id').empty();
                $('#ind_id').append($('<option>', {value: '', text: 'Select Industries'}));
                if(res.suc > 0 && res.msg.length > 0){
                    var ind_id = '<%= project_data ? project_data.ind_id : 0 %>';
                    if(ind_id > 0){
                        $.each(res.msg, function (i, item) {
                            var selected = false
                            if(item.id == ind_id)
                                selected = true
                            $('#ind_id').append($('<option>', {value: item.id, text: item.ind_name, selected: selected}));
                        });
                        $('#ind_id').change()
                    }
                    else
                    $.each(res.msg, function (i, item) {
                        $('#ind_id').append($('<option>', {value: item.id, text: item.ind_name}));
                    });
                }
            },
            complete: function(){
                $('.loader-wrapper').hide()
            }
        })
    })
</script>
    <script>
        $("#ind_id").on("change", function () {
            $.ajax({
                method: "GET",
                url: "/get_busi_act_ajax",
                data: { ind_id: $(this).val(), sec_id: $("#sec_id").val(), flag: $('#flag').val() },
                dataType: "html",
                beforeSend: function () {
                    $(".loader-wrapper").show();
                },
                success: function (result) {
                    var res = JSON.parse(result);
                    // console.log(res);
                    $('#bus_id').empty();
                    $('#bus_id').append($('<option>', {value: '', text: 'Select Business'}));
                    if (res.suc > 0 && res.msg.length > 0){
                        var bus_act = '<%= project_data ? (project_data.business_act != "" ? project_data.business_act : "") : "" %>'
                        bus_act = bus_act != "" ? bus_act.split(',') : []
                        if(bus_act.length > 0){
                            $.each(res.msg, function (i, item) {
                                var selected = false
                                if(bus_act.includes(item.busi_act_name)) selected = true
                                $("#bus_id").append(
                                    $("<option>", { value: item.id, text: item.busi_act_name, selected: selected })
                                );
                            });
                        }else{
                            $.each(res.msg, function (i, item) {
                                $("#bus_id").append(
                                    $("<option>", { value: item.id, text: item.busi_act_name })
                                );
                            });
                        }
                    }
                },
                complete: function () {
                    $(".loader-wrapper").hide();
                },
            });
        });
    </script>

<%- include('../templates/footer.ejs') %>