<%- include('../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3><%= sub_header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %></a></li>
                    <li class="breadcrumb-item"><%= sub_header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6 text-center mb-4">
                            <p class="pro-card-head">You are working on the project <b><%= proj_name %></b></p>
                        </div>
                        <% if(user_type != 'V'){ %>
                            <div class="col-md-6">
                                <a href="/proj_work?id=<%= proj_id %>" class="btn btn-pill btn-outline-primary btn-air-primary float-end">Modify</a>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST" action="/proj_work_view" class="needs-validation">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <p>
                                    <label class="form-label" for="sec_id">Section: </label>
                                    <%= sec_name.sec_name %>
                                </p>
                            </div>
                            <div class="col-md-12">
                                <p>
                                    <label class="form-label" for="ind_id">Industrie: </label>
                                    <%= ind_name.ind_name %>
                                </p>
                            </div>
                            <div class="col-md-12">
                                <p>
                                    <label class="form-label" for="bus_id">Business Activities</label>
                                    <%= busi_name %>
                                </p>
                            </div>
                            <div class="col-md-12">
                                <p>
                                    <label class="form-label" for="location_id">Locations of Business Activities</label>
                                    <%= location_name %>
                                </p>
                            </div>
                            <div class="col-md-12 row m-b-15">
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mt-2">
                                    <div class="u-step done" dt-for="IFRS">
                                        <div class="u-step-desc text-center"><span class="u-step-title">IFRS</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mt-2">
                                    <div class="u-step" dt-for="ESRS">
                                        <div class="u-step-desc text-center"><span class="u-step-title">ESRS</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mt-2">
                                    <div class="u-step" dt-for="GRI">
                                        <div class="u-step-desc text-center"><span class="u-step-title">GRI</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mt-2">
                                    <div class="u-step" dt-for="SFDR">
                                        <div class="u-step-desc text-center"><span class="u-step-title">SFDR</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mt-2">
                                    <div class="u-step" dt-for="TCFD">
                                        <div class="u-step-desc text-center"><span class="u-step-title">TCFD</span>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mt-2">
                                    <div class="u-step" dt-for="IFRS">
                                        <div class="u-step-desc text-center"><span class="u-step-title">Voluntary Reporting</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="showHideTab" id="ifrs">
                                <div class="col-md-8">
                                    <ul class="list-group list-group-flush">
                                        <% if(ind_name.topic_dt){
                                            ind_name.topic_dt.forEach(dt => { %>
                                                <li class="list-group-item">
                                                    <%= dt.topic_name %>
                                                    <button type="button" class="btn btn-pill btn-outline-primary btn-air-primary float-end" onclick="viewTopicData(<%= dt.id %>, <%= ind_name.id %>, <%= sec_name.id %>)">View</button>
                                                </li>
                                            <% })
                                        } %>
                                    </ul>
                                </div>
                                <div class="col-md-8 mt-2">
                                    <button type="button" class="btn btn-pill btn-outline-primary btn-air-primary float-end" onclick="viewTopicData(0, <%= ind_name.id %>, <%= sec_name.id %>)">View All</button>
                                </div>
                            </div>
                            <div class="showHideTab" id="esrs" style="display: none;">
                                <div class="col-md-8">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            Disclosure Requirements
                                            <button type="button" class="btn btn-pill btn-outline-primary btn-air-primary float-end" onclick="otherReportView()">Step 1</button>
                                        </li>
                                        <li class="list-group-item">
                                            Materiality Assessment
                                            <button type="button" class="btn btn-pill btn-outline-primary btn-air-primary float-end" onclick="otherReportView()">Step 2</button>
                                        </li>
                                        <li class="list-group-item">
                                            Report on Identified Material Matters
                                            <button type="button" class="btn btn-pill btn-outline-primary btn-air-primary float-end" onclick="otherReportView()">Step 3</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="showHideTab" id="gri" style="display: none;">
                                <div class="col-md-8">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            Disclosure Requirements
                                            <button type="button" class="btn btn-pill btn-outline-primary btn-air-primary float-end" onclick="otherReportView()">Step 1</button>
                                        </li>
                                        <li class="list-group-item">
                                            Materiality Assessment
                                            <button type="button" class="btn btn-pill btn-outline-primary btn-air-primary float-end" onclick="otherReportView()">Step 2</button>
                                        </li>
                                        <li class="list-group-item">
                                            Report on Identified Material Matters
                                            <button type="button" class="btn btn-pill btn-outline-primary btn-air-primary float-end" onclick="otherReportView()">Step 3</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="showHideTab" id="sfdr" style="display: none;">
                                <div class="col-md-8">
                                    <p class="text-left text-danger h5">Coming Soon!</p>
                                </div>
                            </div>
                            <div class="showHideTab" id="tcfd" style="display: none;">
                                <div class="col-md-8">
                                    <p class="text-left text-danger h5">Coming Soon!</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var selectBtn='ifrs',
        repoType = 'ifrs';
    function viewTopicData(top_id, ind_id, sec_id){
        // window.open(`/project_report_view?enc_data=${window.btoa(JSON.stringify({sec_id:sec_id,ind_id:ind_id,top_id:top_id,proj_id: <%= proj_id %>}))}`, '_blank')
        window.location.href = `/project_report_view?enc_data=${window.btoa(JSON.stringify({sec_id:sec_id,ind_id:ind_id,top_id:top_id,proj_id:'<%= proj_id %>',proj_name:'<%= proj_name %>',repo_type: repoType}))}`
    }
</script>
<script>
    $('.u-step').on('click', function(){
        $('.u-step').each(function(){
            $(this).removeClass('done')
        })
        $(this).addClass('done')
        selectBtn = $(this).attr('dt-for').trim().split(' ').join('').toLowerCase()
        repoType = $(this).text().trim().split(' ').join('').toLowerCase()
        // console.log(selectBtn, selectBtn == 'voluntaryreporting');
        $('.showHideTab').each(function() {
            if(selectBtn != $(this).attr('id'))
                $(this).hide()
            else
                $(this).show()
        })
    })
</script>
<script>
    function otherReportView(){
        window.location.href = `/other_report_view?enc_data=${window.btoa(JSON.stringify({proj_id:'<%= proj_id %>',proj_name:'<%= proj_name %>',repo_type: repoType}))}`
    }
</script>

<%- include('../templates/footer.ejs') %>