<div class="default-according style-2" id="inExpoAccordionoc">
    <% if(allDynamicData.length > 0){
        var rowSpan = 1
        var prevRes = ''
        var dynDataLen = Object.keys(data_set).length
        allDynamicData.forEach(dt => {
        %>
        <div class="card">
            <div class="card-header caruBackCol1">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#dynData_<%= dt.top_id %>" aria-expanded="true" aria-controls="collapse11"><%= dt.topic_name %></button>
                </h5>
            </div>
            <div class="collapse" id="dynData_<%= dt.top_id %>" aria-labelledby="dynData_<%= dt.top_id %>" data-bs-parent="#accordionoc">
                <% if(top_id == dt.top_id){ %>
                    <% if(resDt.length > 0){
                        var i = 1;
                        var j = 1;
                        resDt.forEach(dt => { %>
                            <div class="row m-3" id="dynamic_data_<%= j %>">
                                <% if(dt.heading){ %> <h4><%= dt.heading %></h4> <% } %>
                                <% if(dt.sub_heading){ %> <h5><%= dt.sub_heading %></h5> <% } %>
                                <% if(dt.icon){ %>
                                    <div class="col-md-2">
                                        <img src="images/icons/<%= dt.icon %>.png" id="<%= dt.icon %>" width="100" height="100" alt="" srcset="" style="border: black 1px solid;">
                                    </div>
                                    <% if(dt.textarea){ %>
                                        <div class="col-md-10">
                                            <%= dt.textarea %>
                                        </div> 
                                <% }}else{ %> 
                                    <% if(dt.textarea){ %>
                                        <div class="col-md-12">
                                            <%= dt.textarea %>
                                        </div>
                                <% }} %>
                                <% if(dt.table){ %>
                                    <div class="col-md-12 m-t-5">
                                        <table class="table m-t-5">
                                            <tr>
                                                <% dt.table.head.forEach(tdt => { %>
                                                    <th><%= tdt %></th>
                                                <% }) %>
                                            </tr>
                                            <tbody>
                                                <% var table_data = [];
                                                    table_data.push(dt.table.head)
                                                    dt.table.body.forEach(trdt => {
                                                        table_data.push([...Object.values(trdt).map(dt => parseFloat(dt) ? Number(dt) : dt)])
                                                    %>
                                                    <tr>
                                                        <% Object.values(trdt).forEach(vdt => { %>
                                                            <td><%= vdt %></td>
                                                        <% }) %>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                <% i++; } %>
                            </div>
                            <!-- <div class="row mt-3">
                                <div class="col-md-12">
                                    <button class="btn btn-pill btn-outline-primary btn-air-primary float-end" data-bs-original-title title="Download Topics & Metrics" onclick="downloadPrf('dynamic_data_<%= j %>', 'Activity_Metrics')"><i class="icofont icofont-download"></i> Download</button>
                                </div>
                            </div> -->
                    <% j++; })
                    } %>
                <% }else if(dynDataLen > 0){
                    if(data_set[dt.top_id]){
                        var i = 1;
                        var j = 1;
                        data_set[dt.top_id].forEach(dt => { %>
                            <div class="row m-3" id="dynamic_data_<%= j %>">
                                <% if(dt.heading){ %> <h4><%= dt.heading %></h4> <% } %>
                                <% if(dt.sub_heading){ %> <h5><%= dt.sub_heading %></h5> <% } %>
                                <% if(dt.icon){ %>
                                    <div class="col-md-2">
                                        <img src="images/icons/<%= dt.icon %>.png" id="<%= dt.icon %>" width="100" height="100" alt="" srcset="" style="border: black 1px solid;">
                                    </div>
                                    <% if(dt.textarea){ %>
                                        <div class="col-md-10">
                                            <%= dt.textarea %>
                                        </div> 
                                <% }}else{ %> 
                                    <% if(dt.textarea){ %>
                                        <div class="col-md-12">
                                            <%= dt.textarea %>
                                        </div>
                                <% }} %>
                                <% if(dt.table){ %>
                                    <div class="col-md-12 m-t-5">
                                        <table class="table m-t-5">
                                            <tr>
                                                <% dt.table.head.forEach(tdt => { %>
                                                    <th><%= tdt %></th>
                                                <% }) %>
                                            </tr>
                                            <tbody>
                                                <% var table_data = [];
                                                    table_data.push(dt.table.head)
                                                    dt.table.body.forEach(trdt => {
                                                        table_data.push([...Object.values(trdt).map(dt => parseFloat(dt) ? Number(dt) : dt)])
                                                    %>
                                                    <tr>
                                                        <% Object.values(trdt).forEach(vdt => { %>
                                                            <td><%= vdt %></td>
                                                        <% }) %>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                <% i++; } %>
                            </div>
                    <% })}else{ %>
                        <div class="row">
                            <div class="col-md-12 text-center p-3">
                                <p class="h6 text-danger">No Data Available</p>
                            </div>
                        </div>
                   <% } %>
                <% }else { %>
                    <div class="row">
                        <div class="col-md-12 text-center p-3">
                            <p class="h6 text-danger">No Data Available</p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <% })
    } %>
</div>