<style>
    .rte-modern.rte-desktop.rte-toolbar-default {
        min-width: 100% !important;
    }
    .rte-toolbar-desktop{
        display: inline !important;
    }
</style>
<div class="row">
    <% if(user_type != 'V'){ %>
        <div class="col-md-12 row mt-3" id="editorPrevDiv">
            <div class="col-md-10">&nbsp;</div>
            <div class="col-md-2">
                <button class="btn btn-pill btn-sm btn-custom float-end text-center" data-bs-original-title title="Add New Editor" onclick="AddEditor()"><i class="icofont icofont-ui-add"></i><span>&nbsp;&nbsp;Add</span></button>
            </div>
        </div>
    <% } %>
    <div id="editorDiv" class="row">
        <% var filetrTopic = susDistList.msg.length > 0 ? susDistList.msg : []
            if(filetrTopic.length > 0){
                var prevRes = ''
                var ediR = 1
                filetrTopic.forEach(dt => {
                    var getRes = editorData.filter(edt => edt.article_code == dt.code && edt.top_id==dt.top_id)
                    var nowRes = dt.top_id
                    %>
                    <div id="editorNewDiv_<%= ediR %>" data-code="<%= dt.code %>" data-id="<%= dt.id %>" class="row m-t-10 editorDiv" style="display: none;">
                        
                        <div class="<%= ai_tag_tool_flag != 'N' ? 'col-md-8' : 'col-md-12' %> m-l-8 p-r-15 row">
                            <% if(prevRes != nowRes){
                                prevRes = dt.top_id %>
                                <p class="dyn-col-head dyn_col_head_Cus_UR_2"><%= dt.topic_name %></p>
                            <% } %>
                        </div>
                        <div class="<%= ai_tag_tool_flag != 'N' ? 'col-md-8' : 'col-md-12' %> m-l-10 row">
                            <!-- <div class="col-md-1 ediDiv">
                                <div for="editor_topic_<%# ediR %>" class="editLabelBull"></div>
                            </div> -->
                            <div class="<%= dt.info_desc && dt.info_title ? 'col-md-11' : 'col-md-12' %>">
                                <input class="form-control" type="text" name="editor_topic_<%= dt.top_id %>" id="editor_topic_<%= ediR %>" value="<%= dt.code %>" <%= user.user_type == 'V' ? 'disabled' : '' %>>
                            </div>
                            <% if(dt.info_desc && dt.info_title){ %>
                            <div class="col-md-1" style="display: flex; align-items: center; flex-direction: column; justify-content: center;">
                                <i class="icon-info-alt" data-bs-toggle="modal" data-bs-target="#man_dis_top_info_<%= ediR %>" style="font-size: 22px; cursor: pointer;"></i>
                            </div>
                            <% } %>
                        </div>
                        <% if(ai_tag_tool_flag != 'N'){ %>
                            <div class="col-md-4 align">
                                <div class="ai-sugg-grp">
                                    <img class="ai-btn-img" src="\images\favicon_new.ico">
                                    <button class="btn btn-pill btn-custom text-center" style="width: 13vw;" onclick="showHideAi('<%= ediR %>')">ESGReportAssist</button>
                                </div>
                                <!-- <div class="col-md-2">
                                    <div class="m-b-10">
                                        
                                    </div>  
                                </div>
                                <div class="col-md-4">
                                    
                                </div> -->
                            </div>
                        <% } %>
                        <div class="col-md-12 m-l-8 row" id="ai_tool_main_div_<%= ediR %>">
                            <% if(dt.info_desc && dt.info_title){ %>
                                <!-- <div class="col-md-12">
                                    <div class="editorHelpDiv readmore">
                                        <div class="editorHelpHeader">
                                            <%= dt.info_title %>
                                        </div>
                                        <div class="editorHelpContent">
                                            <%- dt.info_desc %>
                                        </div>
                                        <span class="readmore-link"></span>
                                    </div>
                                </div> -->
                                <div class="col-md-12">
                                    <div class="modal fade" id="man_dis_top_info_<%= ediR %>" tabindex="-1" role="dialog" aria-labelledby="man_dis_top_info_<%= ediR %>" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body" style="color: black;">
                                                    <div class="card card-absolute">
                                                        <div class="card-header bg-secondary">
                                                            <h5 class="text-white">"<%= dt.info_title %>"</h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <%- dt.info_desc %>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-custom" type="button" style="width: 6vw;float: inline-end;" data-bs-dismiss="modal">OK</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                            <div class="col-md-12 colEditor m-t-15" style="bottom: 2vw;">
                                <div id="div_editor_<%= ediR %>"><%- getRes.length > 0 ? getRes[0].article : "" %></div>
                                <!-- <textarea id="editor<%# ediR %>" name="editor" cols="30" rows="10"><%# getRes.length > 0 ? getRes[0].article : "" %></textarea> -->
                            </div>
                        </div>
                        <% if(ai_tag_tool_flag != 'N'){
                            if(dt.words != '' && dt.words && dt.words != 'null'){
                            var word_list = dt.words.trim().split(',');
                            if(word_list.length > 0){ %>
                                <script>
                                    wordList[<%= ediR %>] = '<%= dt.words %>';
                                    // console.log(wordList)
                                </script>
                                <div class="col-md-4 m-t-10">
                                    <div class="row">
                                        <!-- <div class="col-md-4">
                                            <div class="m-b-10">
                                                <img class="img" src="\images\favicon.ico" style="margin-left: 3vw;">
                                            </div>  
                                        </div>
                                        <div class="col-md-8">
                                            <button class="btn btn-pill btn-outline-primary text-center" style="width: 13vw;margin-top: 8px;" onclick="showHideAi('<%= ediR %>')">ESGReportAssist</button>
                                        </div>           -->
                                        <div class="col-md-12">
                                            <div class="wordContainer" id="ai_check_<%= ediR %>" style="display: none;">
                                                <div class="wordHeader">
                                                    <div class="u-step done">
                                                        <div class="u-step-desc text-center">
                                                            <span class="u-step-title">Check Alignment/Misalignment</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wordSubHeader">
                                                    <p>Click on a word to see how your peers manage this disclosure topic</p>
                                                </div>
                                                <div class="wordCount">
                                                    <span id="countMatchNum_<%= ediR %>" class="centered word-count-num">0</span>
                                                </div>
                                                <div class="wordButton col-md-12 row" id="countMatch_<%= ediR %>">
                                                <% word_list.forEach(dt => { %>
                                                    <div class="col-md-4 mt-2">
                                                        <div class="u-step ai-btn">
                                                            <div class="u-step-desc text-center" onclick="stepClick('<%= dt %>')"><span class="u-step-title"><%= dt %></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% }) %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div> 
                            <% } %>
                        <% }} %>
                        
                        <script>
                            editorList['div_editor_<%= ediR %>'] = new RichTextEditor("#div_editor_<%= ediR %>");
                            <% if(user.user_type == 'V'){ %>
                                editorList['div_editor_<%= ediR %>'].setReadOnly(true);
                            <% } %>
                            editorList['div_editor_<%= ediR %>'].attachEvent("change", function () {
                                var textCount = editorList['div_editor_<%= ediR %>'].getPlainText();
                                // console.log(textCount);
                                var ai_flag = '<%= ai_tag_tool_flag %>';
                                if(ai_flag != 'N'){
                                    totCount[<%= ediR %>] = 0
                                    // var editorVal = e.editor.getData()
                                    // var plainText = $("<div>").html(editorVal).text();
                                    var plainText = editorList['div_editor_<%= ediR %>'].getPlainText();
                                    var txtArr = plainText.trim().split('\n').join(' ').split(' ')
                                    // txtArr.map(dt => dt.trim().split('\n').join('').toLowerCase())
                                    // console.log('len', txtArr);
                                    if(txtArr.length > 0){
                                        txtArr = [...new Set(txtArr)]
                                        // console.log(txtArr, 'TOt array');
                                        var matchTxt = txtArr.filter(dt => increseCount(dt, '<%= ediR %>'))
                                        if(matchTxt.length > 0){
                                            // console.log(matchTxt, 'Match array');
                                            $('#countMatch_<%= ediR %> .u-step').each(function(){
                                                $(this).removeClass('done')
                                            })
                                            for(let dt of matchTxt){
                                                $('#countMatch_<%= ediR %> .u-step').each(function(){
                                                    // console.log($(this).text());
                                                    // if(matchTxt.includes($(this).text().trim().toLowerCase()))
                                                    if($(this).text().trim().split(' ').join('').toLowerCase() == dt.trim().split(' ').join('').toLowerCase())
                                                        $(this).addClass('done')
                                                })
                                            }
                                        }else{
                                            $('#countMatch_<%= ediR %> .u-step').each(function(){
                                                $(this).removeClass('done')
                                            })
                                        }
                                        // txtArr.filter(dt => console.log(dt.trim().split('\n').join('').toLowerCase()))
                                        // console.log(totCount);
                                    }
                                }
                            });
                        </script>
                        <% if(user_type != 'V'){ %>
                            <div class="col-md-10">&nbsp;</div>
                            <div class="col-md-2 m-t-10 btn_align">
                                <button class="btn btn-pill btn-custom float-end text-center" data-bs-original-title title="Save <%= dt.code %>" onclick="saveEditorValue('<%= ediR %>', '<%= top_id > 0 ? top_id : dt.top_id %>')"><i class="icofont icofont-save m-r-10"></i> Save</button>
                            </div>
                        <% } %>
                    </div>
                <% ediR++; })
                var topList = [...filetrTopic.map(dt => dt.code)]
                if(editorData.length > 0){
                    var i = ediR > 0 ? ediR + 1 : 1
                    editorData.forEach(dt => {
                        if(!topList.includes(dt.article_code)){ %>
                            <div id="editorNewDiv_<%= i %>" class="row mt-3">
                                <div class="col-md-12 m-3 row">
                                    <!-- <div class="col-md-1 ediDiv">
                                        <div for="editor_topic_<%# i %>" class="editLabelBull"></div>
                                    </div> -->
                                    <div class="col-md-8 m-l-10">
                                        <input type="text" class="form-control" name="editor_topic" id="editor_topic_<%= i %>" value="<%= dt.article_code %>" <%= user.user_type == 'V' ? 'disabled' : '' %>>
                                    </div>
                                    <div class="col-md-12 colEditor m-t-15">
                                        <div id="div_editor_<%= i %>"><%- dt.article %></div>
                                        <!-- <textarea id="editor<%= i %>" name="editor" cols="30" rows="10"><%= dt.article %></textarea> -->
                                    </div>
                                </div>
                                <script>
                                    editorList['div_editor_<%= i %>'] = new RichTextEditor("#div_editor_<%= i %>");
                                    <% if(user.user_type == 'V'){ %>
                                        editorList['div_editor_<%= i %>'].setReadOnly(true);
                                    <% } %>
                                </script>
                                <% if(user_type != 'V'){ %>
                                    <div class="col-md-10">&nbsp;</div>
                                    <div class="col-md-2 m-t-10 btn_align">
                                        <button class="btn btn-pill btn-custom float-end text-center" data-bs-original-title title="Save <%= dt.code %>" onclick="saveEditorValue('<%= i %>', '<%= top_id > 0 ? top_id : dt.top_id %>')"><i class="icofont icofont-save m-r-10"> &nbsp;&nbsp; Save</i></button>
                                    </div>
                                <% } %>
                            </div>
                        <% }
                    i++;})
                }
            }
        %>
    </div>
</div>

<script>
    // $(function(){
    //     var numOfItems = $('.card-content .card').length,
    //         limitPerPage = 1,
    //         totalPages = numOfItems,
    //         peginationSize = 3,
    //         currentPage;
    // })
    var numOfItems = 0,
        limitPerPage = 1,
        totalPages = numOfItems,
        peginationSize = 3,
        currentPage;

    function showPage(whichPage, modal = undefined){
        console.log(totalPages, 'TOT PAGE', $('.card-content .card').length);
        if(whichPage < 1 || whichPage > totalPages) return false;
        currentPage = whichPage
        if (modal){
            modal.find('.card-content .card').hide().slice((currentPage - 1) * limitPerPage, currentPage * limitPerPage).show()
            modal.find('.pagination li').slice(1, -1).remove()
            // console.log(totalPages, currentPage, peginationSize, 'lalala');
            getPageList(totalPages, currentPage, peginationSize).forEach(item => {
                // $('<li>').addClass('page-item').toggleClass('active', item === currentPage)
                // .append($('<a>').addClass('page-link').attr({href: 'javascript:void(0)'}).text(item || '...').insertBefore(modal.find('.next-page')))
                var liItem = $('<li>').addClass('page-item').addClass(item ? 'current-page' : 'dots').toggleClass('active', item === currentPage)
                .append($('<a>').addClass('page-link').attr({href: 'javascript:void(0)'}).text(item || '...'))
                console.log(liItem, 'Li Item');
                liItem.insertBefore(modal.find('.next-page'))
            })
            modal.find('.previous-page').toggleClass('disabled', currentPage === 1)
            modal.find('.next-page').toggleClass('disabled', currentPage === totalPages)
        }else{
            $('.card-content .card').hide().slice((currentPage - 1) * limitPerPage, currentPage * limitPerPage).show()
            $('.pagination li').slice(1, -1).remove()
            getPageList(totalPages, currentPage, peginationSize).forEach(item => {
                var liItem = $('<li>').addClass('page-item').addClass(item ? 'current-page' : 'dots').toggleClass('active', item === currentPage)
                .append($('<a>').addClass('page-link').attr({href: 'javascript:void(0)'}).text(item || '...'))
                liItem.insertBefore('.next-page')
            })
            $('.previous-page').toggleClass('disabled', currentPage === 1)
            $('.next-page').toggleClass('disabled', currentPage === totalPages)
        }
        return true;
    }
    $(document).on('click', '.pagination li.current-page:not(.active)', function(){
        console.log('Not Here');
        return showPage(+$(this).text())
    })
    function modalGoNext(){
        console.log(currentPage, 'Next click');
        return showPage(currentPage + 1)
    }
    function modalGoPrev(){
        return showPage(currentPage - 1)
    }
</script>

<script>
    function makeModal(header, info){
        var card = ''
        info.forEach(dt=>{
            card = card + `<div class="card card-absolute">
                <div class="card-header bg-secondary">
                <h5 class="text-white">"${dt.word}" <small>(${dt.busi_act_name})</small></h5>
                </div>
                <div class="card-body">
                    <div class="typed-out">
                        ${dt.info}
                    </div>
                </div>
            </div>`
        })

        var modalContent = `
        <div class="modal fade" id="wordInfoModal" tabindex="-1" role="dialog" aria-labelledby="wordInfoModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="color: black;">
                        <div class="editorHelpContent">
                            <div class="card-content" style="display:none;">${card}</div>
                            <nav aria-label="...">
                                <ul class="pagination justify-content-end pagination-primary">
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-custom" type="button" style="width: 6vw;float: inline-end;" data-bs-dismiss="modal" onclick="closeWordModal()">Close</button> 
                    </div>
                </div>
            </div>
        </div>`;

        return new Promise((resolve, reject) => {
            resolve(modalContent)
        });
    }

    function getPageList(totalPage, page, maxLength){
        function range(start, end){
            return Array.from(Array(end - start + 1), (_, i) => i + start)
        }

        var sideWidth = maxLength < 9 ? 1 : 2,
            leftWidth = (maxLength - sideWidth * 2 - 3) >> 1,
            rightWidth = (maxLength - sideWidth * 2 - 3) >> 1;

        console.log(totalPage, maxLength, sideWidth, leftWidth, rightWidth, 'Create List');
        
        if(totalPage <= maxLength){
            console.log(range(1, totalPage), 'Range');
            return range(1, totalPage)
        }

        if(page <= maxLength - sideWidth - 1 - rightWidth){
            return range(1, maxLength-sideWidth).concat(0, range(totalPage-sideWidth+1, totalPage))
        }

        if(page >= maxLength - sideWidth - 1 - rightWidth){
            return range(1, sideWidth).concat(0, range(totalPage-sideWidth-1-rightWidth-leftWidth, totalPage))
        }

        return range(1, sideWidth).concat(0, range(page-leftWidth, page+rightWidth), 0, range(totalPage-sideWidth+1, totalPage))
    }

    function closeWordModal(){
        $('#wordInfoModal').remove()
    }
</script>

<script>
    function showHideAi(id){
        if(!$(`#ai_check_${id}`).is(':visible')){
            $('#ai_tool_main_div_'+id).removeClass('col-md-12')
            $('#ai_tool_main_div_'+id).addClass('col-md-8')
            $(`#ai_check_${id}`).show()
        }else{
            $('#ai_tool_main_div_'+id).removeClass('col-md-8')
            $('#ai_tool_main_div_'+id).addClass('col-md-12')
            $(`#ai_check_${id}`).hide()
        }
        // $(`#ai_check_${id}`).toggle();
       }
</script>

<script>
    function stepClick(word){
        var bas_id_list = '<%= project_data.length > 0 ? project_data[0].bus_act_id : 0 %>';
        $.ajax({
            method: "GET",
            url: "/get_sus_disc_word_info_ajax",
            data: { word: word.toString().trim(), bus_id: bas_id_list },
            dataType: "html",
            beforeSend: function () {
                $(".loader-wrapper").show();
            },
            success: async function(result) {
                var res = JSON.parse(result)
                console.log(res);
                if(res.suc > 0){
                    if(res.msg.length > 0){
                        var m1 = $(await makeModal(word.toString().trim(), res.msg));
                        m1.modal('show');
                        numOfItems = m1.find('.card-content .card').length;
                        limitPerPage = 1;
                        totalPages = numOfItems;
                        peginationSize = numOfItems > 5 ? 5 : numOfItems;

                        console.log($('.card-content .card').length, numOfItems, currentPage);
                        m1.find('.pagination').append(
                            $('<li>').addClass('page-item').addClass('previous-page').append($('<a>').addClass('page-link').attr({href: 'javascript:void(0)', onclick: 'modalGoPrev()'}).text('Prev')),
                            $('<li>').addClass('page-item').addClass('next-page').append($('<a>').addClass('page-link').attr({href: 'javascript:void(0)', onclick: 'modalGoNext()'}).text('Next'))
                        )
                        m1.find('.card-content').show()
                        showPage(1, m1)
                    }
                }
            },
            complete: function () {
                $(".loader-wrapper").hide();
            },
        })
        // alert(word)
    }
</script>