<div class="row">
    <% if(user_type != 'V'){ %>
        <div class="col-md-12 row mt-3" id="editorPrevDiv">
            <div class="col-md-10">&nbsp;</div>
            <div class="col-md-2">
                <button class="btn btn-pill btn-sm btn-outline-primary btn-air-primary float-end text-center" data-bs-original-title title="Add New Editor" onclick="AddEditor()"><i class="icofont icofont-ui-add"></i><span>&nbsp;&nbsp;Add</span></button>
            </div>
        </div>
    <% } %>
    <div id="editorDiv" class="row">
        <% var filetrTopic = susDistList.msg.length > 0 ? susDistList.msg : []
            if(filetrTopic.length > 0){
                var prevRes = ''
                var ediR = 1
                filetrTopic.forEach(dt => {
                    var getRes = editorData.filter(edt => edt.article_code == dt.code && edt.top_id==dt.top_id)
                    var nowRes = dt.top_id
                    %>
                    <div id="editorNewDiv_<%= ediR %>" data-code="<%= dt.code %>" class="row m-t-10 editorDiv" style="display: none;">
                        <% if(prevRes != nowRes){
                            prevRes = dt.top_id %>
                            <p class="dyn-col-head"><%= dt.topic_name %></p>
                        <% } %>
                        <div class="<%= ai_tag_tool_flag != 'N' ? 'col-md-8' : 'col-md-12' %> m-l-10 row">
                            <div class="col-md-1 ediDiv">
                                <div for="editor_topic_<%= ediR %>" class="editLabelBull"></div>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="editor_topic_<%= dt.top_id %>" id="editor_topic_<%= ediR %>" value="<%= dt.code %>">
                            </div>
                        </div>
                        <div class="<%= ai_tag_tool_flag != 'N' ? 'col-md-8' : 'col-md-12' %> m-l-10 row">
                            <% if(dt.info_desc && dt.info_title){ %>
                                <div class="col-md-12">
                                    <div class="editorHelpDiv readmore">
                                        <div class="editorHelpHeader">
                                            <%= dt.info_title %>
                                        </div>
                                        <div class="editorHelpContent">
                                            <%- dt.info_desc %>
                                        </div>
                                        <span class="readmore-link"></span>
                                    </div>
                                </div>
                            <% } %>
                            <div class="col-md-12 colEditor <%= dt.info_desc && dt.info_title ? '' : 'm-t-15' %>">
                                <textarea id="editor<%= ediR %>" name="editor" cols="30" rows="10"><%= getRes.length > 0 ? getRes[0].article : "" %></textarea>
                            </div>
                        </div>
                        <% if(ai_tag_tool_flag != 'N'){
                            if(dt.words != '' && dt.words && dt.words != 'null'){
                            var word_list = dt.words.trim().split(',');
                            if(word_list.length > 0){ %>
                                <script>
                                    wordList[<%= ediR %>] = '<%= dt.words %>';
                                    // console.log(wordList)
                                </script>
                                <div class="col-md-4 row">
                                    <div class="wordContainer">
                                        <div class="wordHeader">
                                            <div class="u-step done">
                                                <div class="u-step-desc text-center">
                                                    <span class="u-step-title">Check Alignment/Misalignment</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wordSubHeader">
                                            <p>ESG-related words included by your peers and not included in your text:</p>
                                        </div>
                                        <div class="wordCount">
                                            <span id="countMatchNum_<%= ediR %>">0</span> <span>words</span>
                                        </div>
                                        <div class="wordButton col-md-12 row" id="countMatch_<%= ediR %>">
                                        <% word_list.forEach(dt => { %>
                                            <div class="col-md-6 mt-2">
                                                <div class="u-step">
                                                    <div class="u-step-desc text-center"><span class="u-step-title"><%= dt %></span>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }) %>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% }} %>
                        
                        <script>
                            CKEDITOR
                            .replace('editor<%= ediR %>', {
                                on: {
                                    contentDom: function( evt ) {
                                        // Allow custom context menu only with table elemnts.
                                        evt.editor.editable().on('contextmenu', function( contextEvent ) {
                                            var path = evt.editor.elementPath();

                                            if ( !path.contains( 'table' ) ) {
                                                contextEvent.cancel();
                                            }
                                        }, null, null, 5 );
                                    },
                                    change: function(e){
                                        // console.log(e.editor.getData());
                                        var ai_flag = '<%= ai_tag_tool_flag %>';
                                        if(ai_flag != 'N'){
                                            totCount[<%= ediR %>] = 0
                                            var editorVal = e.editor.getData()
                                            var plainText = $("<div>").html(editorVal).text();
                                            var txtArr = plainText.trim().split('\n').join(' ').split(' ')
                                            // txtArr.map(dt => dt.trim().split('\n').join('').toLowerCase())
                                            // console.log('len', txtArr);
                                            if(txtArr.length > 0){
                                                txtArr = [...new Set(txtArr)]
                                                // console.log(txtArr, 'TOt array');
                                                var matchTxt = txtArr.filter(dt => increseCount(dt, '<%= ediR %>'))
                                                if(matchTxt.length > 0){
                                                    // console.log(matchTxt, 'Match array');
                                                    $('#countMatch_<%= ediR %> .u-step').each(function(){
                                                        $(this).removeClass('done')
                                                    })
                                                    for(let dt of matchTxt){
                                                        $('#countMatch_<%= ediR %> .u-step').each(function(){
                                                            // console.log($(this).text());
                                                            // if(matchTxt.includes($(this).text().trim().toLowerCase()))
                                                            if($(this).text().trim().split(' ').join('').toLowerCase() == dt.trim().split(' ').join('').toLowerCase())
                                                                $(this).addClass('done')
                                                        })
                                                    }
                                                }else{
                                                    $('#countMatch_<%= ediR %> .u-step').each(function(){
                                                        $(this).removeClass('done')
                                                    })
                                                }
                                                // txtArr.filter(dt => console.log(dt.trim().split('\n').join('').toLowerCase()))
                                                // console.log(totCount);
                                            }
                                        }
                                    }
                                }
                            } );
                        </script>
                        <% if(user_type != 'V'){ %>
                            <div class="col-md-10">&nbsp;</div>
                            <div class="col-md-2 m-t-10">
                                <button class="btn btn-pill btn-outline-primary btn-air-primary float-end text-center" data-bs-original-title title="Save <%= dt.code %>" onclick="saveEditorValue('<%= ediR %>', '<%= top_id > 0 ? top_id : dt.top_id %>')"><i class="icofont icofont-save"></i> Save</button>
                            </div>
                        <% } %>
                    </div>
                <% ediR++; })
                var topList = [...filetrTopic.map(dt => dt.code)]
                if(editorData.length > 0){
                    var i = ediR > 0 ? ediR + 1 : 1
                    editorData.forEach(dt => {
                        if(!topList.includes(dt.article_code)){ %>
                            <div id="editorNewDiv_<%= i %>" class="row mt-3">
                                <div class="<%= ai_tag_tool_flag != 'N' ? 'col-md-8' : 'col-md-12' %> m-3 row">
                                    <div class="col-md-1 ediDiv">
                                        <div for="editor_topic_<%= i %>" class="editLabelBull"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="editor_topic" id="editor_topic_<%= i %>" value="<%= dt.article_code %>">
                                    </div>
                                    <div class="col-md-12 colEditor">
                                        <textarea id="editor<%= i %>" name="editor" cols="30" rows="10"><%= dt.article %></textarea>
                                    </div>
                                </div>
                                <script>
                                    CKEDITOR
                                    .replace( 'editor<%= i %>', {
                                        on: {
                                            contentDom: function( evt ) {
                                                // Allow custom context menu only with table elemnts.
                                                evt.editor.editable().on( 'contextmenu', function( contextEvent ) {
                                                    var path = evt.editor.elementPath();

                                                    if ( !path.contains( 'table' ) ) {
                                                        contextEvent.cancel();
                                                    }
                                                }, null, null, 5 );
                                            }
                                        }
                                    } );
                                </script>
                                <% if(user_type != 'V'){ %>
                                    <div class="col-md-10">&nbsp;</div>
                                    <div class="col-md-2 m-t-10">
                                        <button class="btn btn-pill btn-outline-primary btn-air-primary float-end text-center" data-bs-original-title title="Save <%= dt.code %>" onclick="saveEditorValue('<%= i %>', '<%= top_id > 0 ? top_id : dt.top_id %>')"><i class="icofont icofont-save"> Save</i></button>
                                    </div>
                                <% } %>
                            </div>
                        <% }
                    i++;})
                }
            }
        %>
    </div>
</div>