<%- include('../templates/header.ejs') %>
<% if(flag == "E"){ %>
    <script>document.write("<script src='/editor/richtexteditor/lang/rte-lang-fr.js'></scr" + "ipt>");</script>
<% } %>
<style>
    .logo-report{
        height: 30%;
        width: 30%;
    }
    .logo-report img{
        height: 100%;
        width: 100%;
    }
    .report-head{
        font-weight: 600;
        font-size: 29px;
        color: #7030a0;
    }
    .report-head_1{
        font-weight: 600;
        font-size: 29px;
        color: #03244e;
    }
    .report-sub-head{
        font-weight: 600;
        font-size: 25px;
        /* color: #319795; */
        color: black;
    }
    .report-sub-head_1{
        font-weight: 600;
        font-size: 22px;
        /* color: #319795; */
        color: black;
    }
    .report-sub-head_2{
        font-weight: 600;
        font-size: 18px;
        /* color: #319795; */
        color: black;
    }
    .sub_head {
        font-weight: 600;
        font-size: 15px;
        color: black;
    }
    .topic-sub-head{
        font-weight: 500;
        font-size: 20px;
        color: #4472c4;
    }
    .info_head{
        font-weight: 600;
        font-size: 15px;
    }
    .text-muted {
        color: #C9C9C9 !important;
    }
    .text-spacing {
        letter-spacing: 0px;
    }
</style>

<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <!-- <h3><%= header %></h3> -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %> (<%= flag_name %>)</a></li>
                    <li class="breadcrumb-item"><%= projName %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<% var fullMonths = {'Jan': 'January', 'Feb': 'February', 'Mar': 'March', 'Apr': 'April', 'May': 'May', 'Jun': 'June', 'Jul': 'July', 'Aug': 'August', 'Sep': 'September', 'Oct': 'October', 'Nov': 'November', 'Dec': 'December'}; %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card_body_Cus">
                <div class="card-body">
                    <div class="row" id="printDiv">
                        <!-- <div class="logo-report">
                            <img class="img-fluid" src="/images/logo_col.png" alt="">
                        </div> -->
                        <div>
                            <div class="row">
                                <p class="report-head">Sustainability Report</p>
                            </div>
                            <div class="row">
                                <p class="report-head_1">Details</p>
                                <div class="col-md-6">
                                    <table width="100%" class="text-spacing">
                                        <tr>
                                            <th>Framework</th>
                                            <th>:</th>
                                            <td><%= flag == "I" || flag == "IF" ? "International Sustainability Standards Board (ISSB)" : (flag == "E" || flag == "EF" || flag == "EV" || flag == "EVF" ? "European Sustainability Reporting Standards (ESRS)" : (flag == "G" ? "Global Reporting Initiative (GRI)" : "Global Reporting Initiative (GRI)")) %></b> Framework</td>
                                        </tr>
                                        <tr>
                                            <th>Project Name</th>
                                            <th>:</th>
                                            <td><%= projName %></td>
                                        </tr>
                                        <tr>
                                            <th>Sector</th>
                                            <th>:</th>
                                            <td><%= project_data.length > 0 ? project_data[0].sec_name : '' %></td>
                                        </tr>
                                        <tr>
                                            <th>Industry</th>
                                            <th>:</th>
                                            <td><%= project_data.length > 0 ? project_data[0].ind_name : '' %></td>
                                        </tr>
                                        <tr>
                                            <th>Business Activities</th>
                                            <th>:</th>
                                            <td><%= project_data.length > 0 ? project_data[0].business_act : '' %></td>
                                        </tr>
                                        <tr>
                                            <th>Locations of Business Activities</th>
                                            <th>:</th>
                                            <td><%= project_data.length > 0 ? project_data[0].location_busi_act : '' %></td>
                                        </tr>
                                        <tr>
                                            <th>Project Team</th>
                                            <th>:</th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <table width="100%" class="table-bordered">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>User Type</th>
                                                    </tr>
                                                    <% if(project_data.length > 0){
                                                        if(project_data[0].user_list && project_data[0].user_list.length > 0){
                                                        project_data[0].user_list.forEach(dt => { %>
                                                            <tr>
                                                                <td><%= dt.user_name %></td>
                                                                <td><%= user_type_master[dt.user_type] %></td>
                                                            </tr>
                                                        <% })}else{ %>
                                                            <tr>
                                                                <td>Self</td>
                                                                <td><%= user_type_master[user.user_type] %></td>
                                                            </tr>
                                                    <% }
                                                    } %>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <p class="report-head">Exposure</p>
                            </div> -->
                            <div class="row">
                                <% if(allDynamicData.length > 0){
                                    var rowSpan = 1
                                    var prevRes = ''
                                    var dynDataLen = Object.keys(data_set).length
                                    allDynamicData.forEach(dt => {
                                    %>
                                    <div class="col-md-12"><p class="topic-sub-head"><%= dt.topic_name %></p></div>
                                    <% if(top_id == dt.top_id){ %>
                                        <% if(resDt.length > 0){
                                            var i = 1;
                                            var j = 1;
                                            resDt.forEach(dt => { %>
                                                <div class="row m-3" id="dynamic_data_<%= j %>">
                                                    <% if(dt.heading){ %> <h4><%= dt.heading %></h4> <% } %>
                                                    <% if(dt.sub_heading){ %> <h5><%= dt.sub_heading %></h5> <% } %>
                                                    <% if(dt.icon){ %>
                                                        <div class="col-md-2">
                                                            <img src="images/icons/<%= dt.icon %>.png" id="<%= dt.icon %>" width="100" height="100" alt="" srcset="" style="border: black 1px solid;">
                                                        </div>
                                                        <% if(dt.textarea){ %>
                                                            <div class="col-md-10">
                                                                <%= dt.textarea %>
                                                            </div> 
                                                    <% }}else{ %> 
                                                        <% if(dt.textarea){ %>
                                                            <div class="col-md-12">
                                                                <%= dt.textarea %>
                                                            </div>
                                                    <% }} %>
                                                    <% if(dt.table){ %>
                                                        <div class="col-md-12 m-t-5">
                                                            <table class="table m-t-5">
                                                                <tr>
                                                                    <% dt.table.head.forEach(tdt => { %>
                                                                        <th><%= tdt %></th>
                                                                    <% }) %>
                                                                </tr>
                                                                <tbody>
                                                                    <% var table_data = [];
                                                                        table_data.push(dt.table.head)
                                                                        dt.table.body.forEach(trdt => {
                                                                            table_data.push([...Object.values(trdt).map(dt => parseFloat(dt) ? Number(dt) : dt)])
                                                                        %>
                                                                        <tr>
                                                                            <% Object.values(trdt).forEach(vdt => { %>
                                                                                <td><%= vdt %></td>
                                                                            <% }) %>
                                                                        </tr>
                                                                    <% }) %>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    <% i++; } %>
                                                </div>
                                        <% j++; })
                                        } %>
                                    <% }else if(dynDataLen > 0){
                                        if(data_set[dt.top_id]){
                                            var i = 1;
                                            var j = 1;
                                            data_set[dt.top_id].forEach(dt => { %>
                                                <div class="row m-3" id="dynamic_data_<%= j %>">
                                                    <% if(dt.heading){ %> <h4><%= dt.heading %></h4> <% } %>
                                                    <% if(dt.sub_heading){ %> <h5><%= dt.sub_heading %></h5> <% } %>
                                                    <% if(dt.icon){ %>
                                                        <div class="col-md-2">
                                                            <img src="images/icons/<%= dt.icon %>.png" id="<%= dt.icon %>" width="100" height="100" alt="" srcset="" style="border: black 1px solid;">
                                                        </div>
                                                        <% if(dt.textarea){ %>
                                                            <div class="col-md-10">
                                                                <%= dt.textarea %>
                                                            </div> 
                                                    <% }}else{ %> 
                                                        <% if(dt.textarea){ %>
                                                            <div class="col-md-12">
                                                                <%= dt.textarea %>
                                                            </div>
                                                    <% }} %>
                                                    <% if(dt.table){ %>
                                                        <div class="col-md-12 m-t-5">
                                                            <table class="table m-t-5">
                                                                <tr>
                                                                    <% dt.table.head.forEach(tdt => { %>
                                                                        <th><%= tdt %></th>
                                                                    <% }) %>
                                                                </tr>
                                                                <tbody>
                                                                    <% var table_data = [];
                                                                        table_data.push(dt.table.head)
                                                                        dt.table.body.forEach(trdt => {
                                                                            table_data.push([...Object.values(trdt).map(dt => parseFloat(dt) ? Number(dt) : dt)])
                                                                        %>
                                                                        <tr>
                                                                            <% Object.values(trdt).forEach(vdt => { %>
                                                                                <td><%= vdt %></td>
                                                                            <% }) %>
                                                                        </tr>
                                                                    <% }) %>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    <% i++; } %>
                                                </div>
                                        <% })}else{ %>
                                            <div class="row">
                                                <div class="col-md-12 text-center p-3">
                                                    <p class="h6 text-danger">No Data Available</p>
                                                </div>
                                            </div>
                                       <% } %>
                                    <% }else { %>
                                        <div class="row">
                                            <div class="col-md-12 text-center p-3">
                                                <p class="h6 text-danger">No Data Available</p>
                                            </div>
                                        </div>
                                    <% } %>
                                <% })
                            } %>
                            </div>
                            <!-- <div class="row">
                                <p class="report-head">Disclosure Topics</p>
                            </div> -->
                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <% var prevCatg = '', chk_list = [], un_chk_list = [], catg_name_list = [];
                                        if(act_top_catg_list.length > 0){
                                        var susModifyDt = susDistList.msg.map(dt => dt.code != '' && dt.code != 'null' && dt.code ? dt : null)
                                        susModifyDt = susModifyDt.filter(dt => dt != undefined)
                                        act_top_catg_list.forEach(dt => {
                                            var nowCatg = dt.catg_id
                                            if(prevCatg != nowCatg){
                                                prevCatg = dt.catg_id
                                                catg_name_list.push(dt.catg_name)
                                            }
                                            if(get_checked_top_list.filter(gdt => gdt.topic_id == dt.topic_id && gdt.check_flag == 'Y').length > 0){
                                                chk_list.push({catg_name: dt.catg_name, data: dt})
                                            }else{
                                                un_chk_list.push({catg_name: dt.catg_name, data: dt})
                                            }
                                        })
                    
                                        catg_name_list.forEach(dt => { %>
                                            <div class="col-md-12">
                                                <p class="report-sub-head"><%= dt %></p>
                                            </div>
                                        <% var new_chk_list = chk_list.filter(fdt => fdt.catg_name == dt),
                                                new_un_chk_list = un_chk_list.filter(fdt => fdt.catg_name == dt); %>
                                                <div class="row">
                                                    <div class="col-md-12"><p class="topic-sub-head">Material topics</p></div>
                                                    <% if(new_chk_list.length > 0){
                                                        new_chk_list.forEach(chkDt => { %>
                                                            <p><%= chkDt.data.topic_name %></p>
                                                        <% })
                                                    } %>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12"><p class="topic-sub-head">Non-material topics</p></div>
                                                    <% if(new_un_chk_list.length > 0){
                                                        new_un_chk_list.forEach(nChkDt => { %>
                                                            <p class="text-muted"><%= nChkDt.data.topic_name %></p>
                                                        <% })
                                                    } %>
                                                </div>
                                        <% }) %>
                                    <% } %>
                                </div>
                            </div> -->
                            <div class="row mt-3">
                                <p class="report-head_1">Disclosure Topics Report</p>
                            </div>
                            <div class="row mt-2">
                                <% var prevRes = '';
                                catg_name_list.forEach(dt => { %>
                                    <div class="col-md-12">
                                        <p class="report-sub-head"><%= dt %></p>
                                    </div>
                                    <% var new_chk_list = chk_list.filter(fdt => fdt.catg_name == dt); %>
                                        <div class="row">
                                            <% if(new_chk_list.length > 0){
                                                new_chk_list.forEach(chkDt => { %>
                                                    <div class="col-md-12"><p class="report-sub-head_1"><%= chkDt.data.topic_name %></p></div>
                                                <% var sPrevRes = '',
                                                    newManDisList = susModifyDt.filter(fdt => fdt.topic_name == chkDt.data.topic_name);
                                                    newManDisList.forEach(sdt => {
                                                        var sNowRes = sdt.top_id 
                                                        var getRes = editorData.filter(edt => edt.article_code == sdt.code && edt.top_id==sdt.top_id)
                                                        if(getRes.length > 0){ %>
                                                            <div class="col-md-12"><p class="m-l-8 report-sub-head_2"><%= sdt.code %></p></div>
                                                            <div class="col-md-12 m-l-20">
                                                                <!-- <p class="m-l-2 info_head">Requirements, Guidance and Link to Sustainable Development Goals</p> -->
                                                                <!-- <p class="m-l-2 sub_head"><%# sdt.info_title %></p>
                                                                <p class="m-l-2 sub_head"><%# sdt.info_desc %></p> -->
                                                            </div>
                                                            <div class="col-md-12 m-l-20">
                                                                <!-- <p class="m-l-2 info_head">Disclosure Topics Report</p> -->
                                                                <p class="m-l-2"><%- getRes.length > 0 ? getRes[0].article : "" %></p>
                                                            </div>
                                                        <% } %>
                                                    <% }) %>
                                                <% })
                                            } %>
                                        </div>
                                <% }) %>
                            </div>
                            <div class="row">
                                <p class="report-head_1">GHG Emissions</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="report-sub-head">Scope 1</p>
                                </div>
                                <p>Start Month: <%= 's1' in ghg_emi_data ? (ghg_emi_data['s1'].length > 0 ? fullMonths[ghg_emi_data['s1'][0].repo_month] : '') : '' %></p>
                                <table class="table-bordered m-3">
                                    <tr>
                                        <th>Emission source</th>
                                        <th>Activity</th>
                                        <th>Emission Type</th>
                                        <th>Total Kg CO2e</th>
                                    </tr>
                                <% if('s1' in ghg_emi_data){
                                    var sc_len = ghg_emi_data['s1'].length / 12;
                                    for(let sc = 1; sc <= sc_len; sc++){
                                        var newGhgDt = ghg_emi_data['s1'].filter(dt => dt.sl_no == sc && dt.scope == 's1')
                                        if(newGhgDt.length > 0){
                                            var tot_co_val_label = 0;
                                            newGhgDt.forEach(dt => tot_co_val_label += dt.co_val)
                                            %>
                                        <tr>
                                            <td><%= newGhgDt[0].type_name %></td>
                                            <td><%= newGhgDt[0].act_name %></td>
                                            <td><%= newGhgDt[0].emi_name %></td>
                                            <td><%= tot_co_val_label.toFixed(2) %></td>
                                        </tr>
                                        <% }
                                    }
                                }else{ %>
                                    <tr>
                                        <td colspan="4" class="text-center">No data found</td>
                                    </tr>
                                <% } %>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="report-sub-head">Scope 2</p>
                                </div>
                                <p>Start Month: <%= 's2' in ghg_emi_data ? (ghg_emi_data['s2'].length > 0 ? fullMonths[ghg_emi_data['s2'][0].repo_month] : '') : '' %></p>
                                <table class="table-bordered m-3">
                                    <tr>
                                        <th>Emission source</th>
                                        <th>Activity</th>
                                        <th>Emission Type</th>
                                        <th>Total Kg CO2e</th>
                                    </tr>
                                <% if('s2' in ghg_emi_data){
                                    var sc_len = ghg_emi_data['s2'].length / 12;
                                    for(let sc = 1; sc <= sc_len; sc++){
                                        var newGhgDt = ghg_emi_data['s2'].filter(dt => dt.sl_no == sc && dt.scope == 's2')
                                        if(newGhgDt.length > 0){
                                            var tot_co_val_label = 0;
                                            newGhgDt.forEach(dt => tot_co_val_label += dt.co_val)
                                            %>
                                        <tr>
                                            <td><%= newGhgDt[0].type_name %></td>
                                            <td><%= newGhgDt[0].act_name %></td>
                                            <td><%= newGhgDt[0].emi_name %></td>
                                            <td><%= tot_co_val_label.toFixed(2) %></td>
                                        </tr>
                                        <% }
                                    }
                                }else{ %>
                                    <tr>
                                        <td colspan="4" class="text-center">No data found</td>
                                    </tr>
                                <% } %>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="report-sub-head">Scope 3</p>
                                </div>
                                <p>Start Month: <%= 's3' in ghg_emi_data ? (ghg_emi_data['s3'].length > 0 ? fullMonths[ghg_emi_data['s3'][0].repo_month] : '') : '' %></p>
                                <table class="table-bordered m-3">
                                    <tr>
                                        <th>Emission source</th>
                                        <th>Activity</th>
                                        <th>Emission Type</th>
                                        <th>Total Kg CO2e</th>
                                    </tr>
                                <% if('s3' in ghg_emi_data){
                                    var sc_len = ghg_emi_data['s3'].length / 12;
                                    for(let sc = 1; sc <= sc_len; sc++){
                                        var newGhgDt = ghg_emi_data['s3'].filter(dt => dt.sl_no == sc && dt.scope == 's3')
                                        if(newGhgDt.length > 0){
                                            var tot_co_val_label = 0;
                                            newGhgDt.forEach(dt => tot_co_val_label += dt.co_val)
                                            %>
                                        <tr>
                                            <td><%= newGhgDt[0].type_name %></td>
                                            <td><%= newGhgDt[0].act_name %></td>
                                            <td><%= newGhgDt[0].emi_name %></td>
                                            <td><%= tot_co_val_label.toFixed(2) %></td>
                                        </tr>
                                        <% }
                                    }
                                }else{ %>
                                    <tr>
                                        <td colspan="4" class="text-center">No data found</td>
                                    </tr>
                                <% } %>
                                </table>
                            </div>
                            <div class="row">
                                <!-- <p class="report-head">Methodology Notes</p> -->
                                <p class="report-head_1">Notes</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p><%- met_note.length > 0 ? met_note[0].met_note : '' %></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-pill btn-sm btn-custom text-center" onclick="print()">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function print(){
        var divToPrint = document.getElementById('printDiv');
        var WindowObject = window.open('', 'Print-Window');
        WindowObject.document.open();
        WindowObject.document.writeln('<!DOCTYPE html>');
        WindowObject.document.writeln('<html><head>');
        WindowObject.document.write('<link rel="preconnect" href="https://fonts.googleapis.com">')
        WindowObject.document.write('<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>')
        WindowObject.document.write('<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">')
        WindowObject.document.write('<link rel="stylesheet" type="text/css" href="/css/fontawesome.css">')
        WindowObject.document.write('<link rel="stylesheet" type="text/css" href="/css/icofont.css">')
        WindowObject.document.write('<link rel="stylesheet" type="text/css" href="/css/themify.css">')
        WindowObject.document.write('<link rel="stylesheet" type="text/css" href="/css/flag-icon.css">')
        WindowObject.document.write('<link rel="stylesheet" type="text/css" href="/css/feather-icon.css">')
        WindowObject.document.write('<link rel="stylesheet" type="text/css" href="/css/animate.css">')
        WindowObject.document.write('<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">')
        WindowObject.document.write('<link rel="stylesheet" type="text/css" href="/css/style.css">')
        WindowObject.document.write('<link id="color" rel="stylesheet" href="/css/color-1.css" media="screen">')
        WindowObject.document.write('<link rel="stylesheet" type="text/css" href="/css/responsive.css">')
        WindowObject.document.write('<link rel="stylesheet" type="text/css" href="/css/datatables.css">')
        WindowObject.document.write('<link rel="stylesheet" type="text/css" href="/css/custom-style.css">')
        WindowObject.document.writeln('<style type="text/css">')
        WindowObject.document.writeln('@media print { footer{ margin-left: 0px !important; position: fixed; bottom: 10px; height: 20px; width: 100%; } footer small{ display: flex; justify-content: space-between; } .logo-report{ height: 30%; width: 30%; } .logo-report img{ height: 100%; width: 100%; } .report-head{ font-weight: 500; font-size: 29px; color: #7030a0; } .report-sub-head{ font-weight: 500; font-size: 27px; color: #319795; } .topic-sub-head{ font-weight: 500; font-size: 22px; color: #4472c4; } .info_head{ font-weight: 600; font-size: 17px; }}')
        WindowObject.document.writeln('</style>')
        WindowObject.document.write('<script src="/js/jquery-3.5.1.min.js"></scr' + 'ipt>')
        // WindowObject.document.write('<script src="/js/downloadPdf.js"></scr' + 'ipt>')
        WindowObject.document.writeln('<title>ESG Risk Viewer</title>');
        WindowObject.document.writeln('</head><body onload="window.print()">');
        // WindowObject.document.writeln('<header>ESG Risk Viewer</header>')
        WindowObject.document.writeln(divToPrint.innerHTML);
        // WindowObject.document.writeln('<footer><small><span>'+ new Date().toLocaleString("en-GB", { dateStyle: "short", timeStyle: "medium"}) +'</span><span>ESG Riskviewer</span></small></footer>');
        WindowObject.document.writeln('</body></html>');

        // console.log(WindowObject.document.documentElement.innerHTML, 'WindowObject');
        // console.log(WindowObject.document.documentElement, 'WindowObject');
        // downloadPrf(WindowObject.document)
        
        
        WindowObject.document.close();
        setTimeout(function() {
            WindowObject.close();
        }, 1000);
    }
</script>
<%- include('../templates/footer.ejs') %>