<%- include('../templates/header.ejs') %>
<script src="js/chart/google/google-chart-loader.js"></script>

<!-- morris-chart -->
    <script src="js/chart/morris-chart/raphael.js"></script>
    <script src="js/chart/morris-chart/morris.js"> </script>
    <script src="js/chart/morris-chart/prettify.min.js"></script>
    <script src="js/chart/morris-chart/morris.min.js"></script>
    <script src="js/chart/morris-chart/morris-script.js"></script>
<!-- END -->

<style>
    .topic_text {
      text-align: center;
      vertical-align: middle;
    }
  </style>
<script>
    google.charts.load('current', {packages: ['corechart', 'bar', 'line']});
    var fun = {}, i = 1, wordList = {}, totCount ={};
</script>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3><%= header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %></a></li>
                    <li class="breadcrumb-item"><%= sub_header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <p class="pro-card-head">You are working on the project <b><%= projName %></b></p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 row m-b-15">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mt-2">
                                <div class="u-step" dt-for="IFRS">
                                    <div class="u-step-desc text-center"><span class="u-step-title">IFRS</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mt-2">
                                <div class="u-step" dt-for="ESRS">
                                    <div class="u-step-desc text-center"><span class="u-step-title">ESRS</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mt-2">
                                <div class="u-step" dt-for="GRI">
                                    <div class="u-step-desc text-center"><span class="u-step-title">GRI</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mt-2">
                                <div class="u-step" dt-for="SFDR">
                                    <div class="u-step-desc text-center"><span class="u-step-title">SFDR</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mt-2">
                                <div class="u-step" dt-for="TCFD">
                                    <div class="u-step-desc text-center"><span class="u-step-title">TCFD</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mt-2">
                                <div class="u-step" dt-for="voluntaryreporting">
                                    <div class="u-step-desc text-center"><span class="u-step-title">Voluntary Reporting</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="downloadFull">
                        <div class="row" id="topic_metrics_data">
                            <div class="col-md-12">
                                <div class="default-according style-1" id="accordionoc">
                                    <div class="card">
                                        <div class="card-header bg-primary caruBackCol">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#disTop" aria-expanded="true" aria-controls="collapse11">Disclosure topics</button>
                                            </h5>
                                        </div>
                                        <div class="collapse m-3 show" id="disTop" aria-labelledby="disTop" data-bs-parent="#accordionoc">
                                            <div class="row">
                                                <div class="col-md-12 m-b-10">
                                                    <p class="dyn-col-head">Sustainability Disclosure Topics & Metrics</p>
                                                </div>
                                                <div class="col-md-12">
                                                    <table class="table" width="100%">
                                                        <thead>
                                                            <tr class="tbDynDt">
                                                                <th>General issue category (Industry agnostic)</th>
                                                                <th>Disclosure topics (Industry specific)</th>
                                                                <th>Metric</th>
                                                                <th>Category</th>
                                                                <th>Unit of measure</th>
                                                                <th>Code</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if(susDistList.msg.length > 0){
                                                                var rowSpan = 1
                                                                var prevRes = ''
                                                                susDistList.msg.forEach(dt => {
                                                                    var nowRes = dt.top_id
                                                                    %>
                                                                    <tr class="hoverDynDtaTbl">
                                                                        <% if(prevRes != nowRes){
                                                                            prevRes = dt.top_id %>
                                                                            <td class="topic_text" rowspan="<%= susDistList.msg.filter(sdt => sdt.top_id == dt.top_id).length %>">
                                                                                <%= dt.topic_name %>
                                                                            </td>
                                                                        <% } %>
                                                                        <td><%= dt.ind_agn %></td>
                                                                        <td><%= dt.metric %></td>
                                                                        <td><%= dt.catg %></td>
                                                                        <td><%= dt.unit %></td>
                                                                        <td><%= dt.code %></td>
                                                                    </tr>
                                                                <% })
                                                            } %>
                                                            <tr></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-12 m-b-10">
                                                    <p class="dyn-col-head">Activity Metrics</p>
                                                </div>
                                                <div class="col-md-12 my-3">
                                                    <table class="table" width="100%">
                                                        <thead>
                                                            <tr class="tbDynDt">
                                                                <th>Activity metric</th>
                                                                <th>Category</th>
                                                                <th>Unit of measure</th>
                                                                <th>Code</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if(metric.msg.length > 0){
                                                                metric.msg.forEach(dt => { console.log(dt) %>
                                                                    <tr class="hoverDynDtaTbl">
                                                                        <td><%= dt.act_metric %></td>
                                                                        <td><%= dt.catg %></td>
                                                                        <td><%= dt.unit %></td>
                                                                        <td><%= dt.code %></td>
                                                                    </tr>
                                                                <% })
                                                            } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="card">
                                        <div class="card-header bg-primary">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#dynData" aria-expanded="true" aria-controls="collapse11"><%= topName %></button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="dynData" aria-labelledby="dynData" data-bs-parent="#accordionoc">
                                            <div class="row p-3">
                                                <div class="col-md-12"> -->
                                                    
                                                <!-- </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-md-12">
                                <div class="default-according style-1" id="expoAccordionoc">
                                    <div class="card">
                                        <div class="card-header bg-primary caruBackCol">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#exposi" aria-expanded="true" aria-controls="collapse11">Exposure</button>
                                            </h5>
                                        </div>
                                        <div class="collapse show" id="exposi" aria-labelledby="exposi" data-bs-parent="#expoAccordionoc">
                                            <div class="row m-3">
                                                <div class="col-md-12">
                                                    <div class="default-according style-2" id="inExpoAccordionoc">
                                                        <% if(allDynamicData.length > 0){
                                                            var rowSpan = 1
                                                            var prevRes = ''
                                                            var dynDataLen = Object.keys(data_set).length
                                                            allDynamicData.forEach(dt => {
                                                            %>
                                                            <div class="card">
                                                                <div class="card-header bg-primary caruBackCol1">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#dynData_<%= dt.top_id %>" aria-expanded="true" aria-controls="collapse11"><%= dt.topic_name %></button>
                                                                    </h5>
                                                                </div>
                                                                <div class="collapse" id="dynData_<%= dt.top_id %>" aria-labelledby="dynData_<%= dt.top_id %>" data-bs-parent="#accordionoc">
                                                                    <% if(top_id == dt.top_id){ %>
                                                                        <% if(resDt.length > 0){
                                                                            var i = 1;
                                                                            var j = 1;
                                                                            resDt.forEach(dt => { %>
                                                                                <div class="row m-3" id="dynamic_data_<%= j %>">
                                                                                    <% if(dt.heading){ %> <h4><%= dt.heading %></h4> <% } %>
                                                                                    <% if(dt.sub_heading){ %> <h5><%= dt.sub_heading %></h5> <% } %>
                                                                                    <% if(dt.icon){ %>
                                                                                        <div class="col-md-2">
                                                                                            <img src="images/icons/<%= dt.icon %>.png" id="<%= dt.icon %>" width="100" height="100" alt="" srcset="" style="border: black 1px solid;">
                                                                                        </div>
                                                                                        <% if(dt.textarea){ %>
                                                                                            <div class="col-md-10">
                                                                                                <%= dt.textarea %>
                                                                                            </div> 
                                                                                    <% }}else{ %> 
                                                                                        <% if(dt.textarea){ %>
                                                                                            <div class="col-md-12">
                                                                                                <%= dt.textarea %>
                                                                                            </div>
                                                                                    <% }} %>
                                                                                    <% if(dt.table){ %>
                                                                                        <div class="col-md-12 m-t-5">
                                                                                            <table class="table m-t-5">
                                                                                                <tr>
                                                                                                    <% dt.table.head.forEach(tdt => { %>
                                                                                                        <th><%= tdt %></th>
                                                                                                    <% }) %>
                                                                                                </tr>
                                                                                                <tbody>
                                                                                                    <% var table_data = [];
                                                                                                        table_data.push(dt.table.head)
                                                                                                        dt.table.body.forEach(trdt => {
                                                                                                            table_data.push([...Object.values(trdt).map(dt => parseFloat(dt) ? Number(dt) : dt)])
                                                                                                        %>
                                                                                                        <tr>
                                                                                                            <% Object.values(trdt).forEach(vdt => { %>
                                                                                                                <td><%= vdt %></td>
                                                                                                            <% }) %>
                                                                                                        </tr>
                                                                                                    <% }) %>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    <% i++; } %>
                                                                                </div>
                                                                                <!-- <div class="row mt-3">
                                                                                    <div class="col-md-12">
                                                                                        <button class="btn btn-pill btn-outline-primary btn-air-primary float-end" data-bs-original-title title="Download Topics & Metrics" onclick="downloadPrf('dynamic_data_<%= j %>', 'Activity_Metrics')"><i class="icofont icofont-download"></i> Download</button>
                                                                                    </div>
                                                                                </div> -->
                                                                        <% j++; })
                                                                        } %>
                                                                    <% }else if(dynDataLen > 0){
                                                                        if(data_set[dt.top_id]){
                                                                            var i = 1;
                                                                            var j = 1;
                                                                            data_set[dt.top_id].forEach(dt => { %>
                                                                                <div class="row m-3" id="dynamic_data_<%= j %>">
                                                                                    <% if(dt.heading){ %> <h4><%= dt.heading %></h4> <% } %>
                                                                                    <% if(dt.sub_heading){ %> <h5><%= dt.sub_heading %></h5> <% } %>
                                                                                    <% if(dt.icon){ %>
                                                                                        <div class="col-md-2">
                                                                                            <img src="images/icons/<%= dt.icon %>.png" id="<%= dt.icon %>" width="100" height="100" alt="" srcset="" style="border: black 1px solid;">
                                                                                        </div>
                                                                                        <% if(dt.textarea){ %>
                                                                                            <div class="col-md-10">
                                                                                                <%= dt.textarea %>
                                                                                            </div> 
                                                                                    <% }}else{ %> 
                                                                                        <% if(dt.textarea){ %>
                                                                                            <div class="col-md-12">
                                                                                                <%= dt.textarea %>
                                                                                            </div>
                                                                                    <% }} %>
                                                                                    <% if(dt.table){ %>
                                                                                        <div class="col-md-12 m-t-5">
                                                                                            <table class="table m-t-5">
                                                                                                <tr>
                                                                                                    <% dt.table.head.forEach(tdt => { %>
                                                                                                        <th><%= tdt %></th>
                                                                                                    <% }) %>
                                                                                                </tr>
                                                                                                <tbody>
                                                                                                    <% var table_data = [];
                                                                                                        table_data.push(dt.table.head)
                                                                                                        dt.table.body.forEach(trdt => {
                                                                                                            table_data.push([...Object.values(trdt).map(dt => parseFloat(dt) ? Number(dt) : dt)])
                                                                                                        %>
                                                                                                        <tr>
                                                                                                            <% Object.values(trdt).forEach(vdt => { %>
                                                                                                                <td><%= vdt %></td>
                                                                                                            <% }) %>
                                                                                                        </tr>
                                                                                                    <% }) %>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    <% i++; } %>
                                                                                </div>
                                                                        <% })}else{ %>
                                                                            <div class="row">
                                                                                <div class="col-md-12 text-center p-3">
                                                                                    <p class="h6 text-danger">No Data Available</p>
                                                                                </div>
                                                                            </div>
                                                                       <% } %>
                                                                    <% }else { %>
                                                                        <div class="row">
                                                                            <div class="col-md-12 text-center p-3">
                                                                                <p class="h6 text-danger">No Data Available</p>
                                                                            </div>
                                                                        </div>
                                                                    <% } %>
                                                                </div>
                                                            </div>
                                                            <% })
                                                        } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <button class="btn btn-pill btn-outline-primary btn-air-primary float-end" data-bs-original-title title="Download Full Download Section" onclick="downloadPrf('downloadFull', 'FullDownload')"><i class="icofont icofont-download-alt"></i> Download</button>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <!-- <script src="https://cdn.ckeditor.com/ckeditor5/38.1.0/classic/ckeditor.js"></script> -->
                        <div class="col-md-12">
                            <div class="default-according style-1" id="editorAcord">
                                <div class="card">
                                    <div class="card-header bg-primary caruBackCol">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#ifrs" aria-expanded="true" aria-controls="collapse11">Manage Disclosure Topics (IFRS)</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="ifrs" aria-labelledby="ifrs" data-bs-parent="#editorAcord">
                                        <div class="row">
                                            <% if(user_type != 'V'){ %>
                                                <div class="col-md-12 row mt-3" id="editorPrevDiv">
                                                    <div class="col-md-10">&nbsp;</div>
                                                    <div class="col-md-2">
                                                        <button class="btn btn-pill btn-sm btn-outline-primary btn-air-primary float-end text-center" data-bs-original-title title="Add New Editor" onclick="AddEditor()"><i class="icofont icofont-ui-add"></i><span>&nbsp;&nbsp;Add</span></button>
                                                    </div>
                                                </div>
                                            <% } %>
                                            <div id="editorDiv" class="row">
                                                <% var filetrTopic = susDistList.msg.length > 0 ? susDistList.msg : []
                                                    if(filetrTopic.length > 0){
                                                        var prevRes = ''
                                                        var ediR = 1
                                                        filetrTopic.forEach(dt => {
                                                            var getRes = editorData.filter(edt => edt.article_code == dt.code && edt.top_id==dt.top_id)
                                                            var nowRes = dt.top_id
                                                            %>
                                                            <div id="editorNewDiv_<%= ediR %>" class="row m-t-10">
                                                                <% if(prevRes != nowRes){
                                                                    prevRes = dt.top_id %>
                                                                    <p class="dyn-col-head"><%= dt.topic_name %></p>
                                                                <% } %>
                                                                <div class="col-md-8 m-l-10 row">
                                                                    <div class="col-md-1 ediDiv">
                                                                        <div for="editor_topic_<%= ediR %>" class="editLabelBull"></div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input class="form-control" type="text" name="editor_topic_<%= dt.top_id %>" id="editor_topic_<%= ediR %>" value="<%= dt.code %>">
                                                                    </div>
                                                                    <div class="col-md-12 colEditor">
                                                                        <textarea id="editor<%= ediR %>" name="editor" cols="30" rows="10"><%= getRes.length > 0 ? getRes[0].article : "" %></textarea>
                                                                    </div>
                                                                </div>
                                                                <% if(dt.words != '' && dt.words && dt.words != 'null'){
                                                                    var word_list = dt.words.trim().split(',');
                                                                    if(word_list.length > 0){ %>
                                                                        <script>
                                                                            wordList[<%= ediR %>] = '<%= dt.words %>';
                                                                            // console.log(wordList)
                                                                        </script>
                                                                        <div class="col-md-4 row">
                                                                            <div class="wordContainer">
                                                                                <div class="wordHeader">
                                                                                    <div class="u-step done">
                                                                                        <div class="u-step-desc text-center">
                                                                                            <span class="u-step-title">Check Alignment/Misalignment</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="wordSubHeader">
                                                                                    <p>ESG-related words included by your peers and not included in your text:</p>
                                                                                </div>
                                                                                <div class="wordCount">
                                                                                    <span id="countMatchNum_<%= ediR %>">0</span> <span>words</span>
                                                                                </div>
                                                                                <div class="wordButton col-md-12 row" id="countMatch_<%= ediR %>">
                                                                                <% word_list.forEach(dt => { %>
                                                                                    <div class="col-md-6 mt-2">
                                                                                        <div class="u-step">
                                                                                            <div class="u-step-desc text-center"><span class="u-step-title"><%= dt %></span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                <% }) %>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    <% } %>
                                                                <% } %>
                                                                
                                                                <script>
                                                                    CKEDITOR
                                                                    .replace('editor<%= ediR %>', {
                                                                        on: {
                                                                            contentDom: function( evt ) {
                                                                                // Allow custom context menu only with table elemnts.
                                                                                evt.editor.editable().on('contextmenu', function( contextEvent ) {
                                                                                    var path = evt.editor.elementPath();
                        
                                                                                    if ( !path.contains( 'table' ) ) {
                                                                                        contextEvent.cancel();
                                                                                    }
                                                                                }, null, null, 5 );
                                                                            },
                                                                            change: function(e){
                                                                                // console.log(e.editor.getData());
                                                                                totCount[<%= ediR %>] = 0
                                                                                var editorVal = e.editor.getData()
                                                                                var plainText = $("<div>").html(editorVal).text();
                                                                                var txtArr = plainText.trim().split('\n').join(' ').split(' ')
                                                                                // txtArr.map(dt => dt.trim().split('\n').join('').toLowerCase())
                                                                                // console.log('len', txtArr);
                                                                                if(txtArr.length > 0){
                                                                                    txtArr = [...new Set(txtArr)]
                                                                                    // console.log(txtArr, 'TOt array');
                                                                                    var matchTxt = txtArr.filter(dt => increseCount(dt, '<%= ediR %>'))
                                                                                    if(matchTxt.length > 0){
                                                                                        // console.log(matchTxt, 'Match array');
                                                                                        $('#countMatch_<%= ediR %> .u-step').each(function(){
                                                                                            $(this).removeClass('done')
                                                                                        })
                                                                                        for(let dt of matchTxt){
                                                                                            $('#countMatch_<%= ediR %> .u-step').each(function(){
                                                                                                // console.log($(this).text());
                                                                                                // if(matchTxt.includes($(this).text().trim().toLowerCase()))
                                                                                                if($(this).text().trim().split(' ').join('').toLowerCase() == dt.trim().split(' ').join('').toLowerCase())
                                                                                                    $(this).addClass('done')
                                                                                            })
                                                                                        }
                                                                                    }else{
                                                                                        $('#countMatch_<%= ediR %> .u-step').each(function(){
                                                                                            $(this).removeClass('done')
                                                                                        })
                                                                                    }
                                                                                    // txtArr.filter(dt => console.log(dt.trim().split('\n').join('').toLowerCase()))
                                                                                    // console.log(totCount);
                                                                                }
                                                                                // console.log(dataSet.includes('php'))
                                                                            }
                                                                        }
                                                                    } );
                                                                </script>
                                                                <% if(user_type != 'V'){ %>
                                                                    <div class="col-md-10">&nbsp;</div>
                                                                    <div class="col-md-2">
                                                                        <button class="btn btn-pill btn-outline-primary btn-air-primary float-end text-center" data-bs-original-title title="Save <%= dt.code %>" onclick="saveEditorValue('<%= ediR %>', '<%= top_id > 0 ? top_id : dt.top_id %>')"><i class="icofont icofont-save"></i> Save</button>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                        <% ediR++; })
                                                        var topList = [...filetrTopic.map(dt => dt.code)]
                                                        if(editorData.length > 0){
                                                            var i = ediR > 0 ? ediR + 1 : 1
                                                            editorData.forEach(dt => {
                                                                if(!topList.includes(dt.article_code)){ %>
                                                                    <div id="editorNewDiv_<%= i %>" class="row mt-3">
                                                                        <div class="col-md-8 m-3 row">
                                                                            <div class="col-md-1 ediDiv">
                                                                                <div for="editor_topic_<%= i %>" class="editLabelBull"></div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <input type="text" class="form-control" name="editor_topic" id="editor_topic_<%= i %>" value="<%= dt.article_code %>">
                                                                            </div>
                                                                            <div class="col-md-12 colEditor">
                                                                                <textarea id="editor<%= i %>" name="editor" cols="30" rows="10"><%= dt.article %></textarea>
                                                                            </div>
                                                                        </div>
                                                                        <script>
                                                                            console.log('else EDitor', '<%= i %>');
                                                                            CKEDITOR
                                                                            .replace( 'editor<%= i %>', {
                                                                                on: {
                                                                                    contentDom: function( evt ) {
                                                                                        // Allow custom context menu only with table elemnts.
                                                                                        evt.editor.editable().on( 'contextmenu', function( contextEvent ) {
                                                                                            var path = evt.editor.elementPath();
                                    
                                                                                            if ( !path.contains( 'table' ) ) {
                                                                                                contextEvent.cancel();
                                                                                            }
                                                                                        }, null, null, 5 );
                                                                                    }
                                                                                }
                                                                            } );
                                                                        </script>
                                                                        <% if(user_type != 'V'){ %>
                                                                            <div class="col-md-10">&nbsp;</div>
                                                                            <div class="col-md-2">
                                                                                <button class="btn btn-pill btn-outline-primary btn-air-primary float-end text-center" data-bs-original-title title="Save <%= dt.code %>" onclick="saveEditorValue('<%= i %>', '<%= top_id > 0 ? top_id : dt.top_id %>')"><i class="icofont icofont-save"> Save</i></button>
                                                                            </div>
                                                                        <% } %>
                                                                    </div>
                                                                <% }
                                                            i++;})
                                                        }
                                                    }
                                                %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary caruBackCol">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#gri" aria-expanded="true" aria-controls="collapse11">Manage Disclosure Topics (GRI)</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="gri" aria-labelledby="gri" data-bs-parent="#editorAcord">
                                        <div class="row">
                                            <div class="col-md-12 text-center p-3">
                                                <p class="h6 text-danger">No Data Available</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary caruBackCol">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#tcfd" aria-expanded="true" aria-controls="collapse11">Manage Disclosure Topics (TCFD)</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="tcfd" aria-labelledby="tcfd" data-bs-parent="#editorAcord">
                                        <div class="row">
                                            <div class="col-md-12 text-center p-3">
                                                <p class="h6 text-danger">No Data Available</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary caruBackCol">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#esrs" aria-expanded="true" aria-controls="collapse11">Manage Disclosure Topics (ESRS)</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="esrs" aria-labelledby="esrs" data-bs-parent="#editorAcord">
                                        <div class="row">
                                            <div class="col-md-12 text-center p-3">
                                                <p class="h6 text-danger">No Data Available</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary caruBackCol">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#serc" aria-expanded="true" aria-controls="collapse11">Manage Disclosure Topics (SECR)</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="serc" aria-labelledby="serc" data-bs-parent="#editorAcord">
                                        <div class="row">
                                            <div class="col-md-12 text-center p-3">
                                                <p class="h6 text-danger">No Data Available</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="sec_id" id="sec_id" value="<%= sec_id %>">
<input type="hidden" name="ind_id" id="ind_id" value="<%= ind_id %>">
<input type="hidden" name="top_id" id="top_id" value="<%= top_id %>">
<input type="hidden" name="project_id" id="project_id" value="<%= project_id %>">

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha512-a9NgEEK7tsCvABL7KqtUTQjl69z7091EVPpw5KxPlZ93T141ffe1woLtbXTX+r2/8TtTvRX/v4zTL2UlMUPgwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script>
    function downloadPrf(divId){
        var divToPrint = document.getElementById(divId);
        var doc = new jsPDF();
        doc.fromHTML(`<html><head><title>Test</title></head><body style="width:100%;">` + divToPrint.innerHTML + `</body></html>`);
        doc.save('div.pdf');
        // html2canvas(divToPrint, {
        //   scale: 2 // Adjust the scale as needed for better quality
        // }).then(function(canvas) {
        //   const pdf = new jsPDF("p", "mm", "a4");
        //   pdf.addImage(canvas.toDataURL("image/png"), "PNG", 0, 0, pdf.internal.pageSize.getWidth(), pdf.internal.pageSize.getHeight());
        //   pdf.save("output.pdf");
        // });
    }
</script> -->

<script>
    $(document).ready(function(){
        var reportType = '<%= repo_type %>';
        console.log(reportType);
        $('.u-step').each(function(){
            if($(this).attr('dt-for').trim().split(' ').join('').toLowerCase() != reportType){
                $(this).removeClass('done')
                $(this).addClass('disabled')
            }
            else
                $(this).addClass('done')
        })
    })
</script>

<script>
    function downloadPrf(divId, title){
        var divToPrint = document.getElementById(divId);
        $.ajax({
            method: "POST",
            url: "/download_pdf",
            data: { pdfDiv: divToPrint.innerHTML },
            xhrFields: {
                responseType: 'blob' // Receive response as a binary blob
            },
            beforeSend: function () {
                $(".loader-wrapper").show();
            },
            success: function (data) {
            // Create a Blob URL for the PDF
                const pdfUrl = URL.createObjectURL(data);

                // Create an anchor element for downloading the PDF
                const a = document.createElement('a');
                a.href = pdfUrl;
                a.download = `${title}_${new Date().getTime()}.pdf`; // Set the desired filename
                a.style.display = 'none';

                // Append the anchor to the document body and trigger a click event
                document.body.appendChild(a);
                a.click();

                // Cleanup: Remove the anchor and revoke the Blob URL
                document.body.removeChild(a);
                URL.revokeObjectURL(pdfUrl);
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            },
            complete: function () {
                $(".loader-wrapper").hide();
            }
        })
    }
</script>

<script>
    function AddEditor(){
        var editorLength = $('textarea[name="editor"]').length
        $('#editorDiv').append(`
        <div id="editorNewDiv_${editorLength+1}" class="row">
            <div class="col-md-8 m-3 row">
                <div class="col-md-1">
                    <label for="" class="mb-3"> Title</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" name="editor_topic" id="editor_topic_${editorLength+1}" placeholder="Enter Title">
                </div>
                <div class="col-md-12"> 
                <textarea id="editor${editorLength+1}" name="editor" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="col-md-8">&nbsp;</div>
            <div class="col-md-2">
                <button class="btn btn-pill btn-outline-primary btn-air-primary float-end text-center" data-bs-original-title title="Save" onclick="saveEditorValue(${editorLength+1}, 0)"><i class="icofont icofont-save"> Save</i></button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-pill btn-outline-danger btn-air-danger float-end ml-2 text-center" data-bs-original-title title="Save" onclick="deleteEdotor(${editorLength+1})"><i class="icofont icofont-trash"> Delete</i></button>
            </div>
        </div>
        `)
        CKEDITOR
        .replace( `editor${editorLength+1}`, {
            on: {
                contentDom: function( evt ) {
                    // Allow custom context menu only with table elemnts.
                    evt.editor.editable().on( 'contextmenu', function( contextEvent ) {
                        var path = evt.editor.elementPath();

                        if ( !path.contains( 'table' ) ) {
                            contextEvent.cancel();
                        }
                    }, null, null, 5 );
                }
            }
        } );
    }
</script>

<script>
    function deleteEdotor(id){
        $('#editorNewDiv_'+id).remove()
    }
</script>

<script>
    function saveEditorValue(id, top_id){
        var topicTitle = $('#editor_topic_'+id).val()
        var txtEditorVal = CKEDITOR.instances['editor'+id].getData()
        console.log(topicTitle, txtEditorVal);
        $.ajax({
            method:'POST',
            url: '/save_editor_data',
            data: {
                topicTilte: topicTitle, 
                txtEditorVal: txtEditorVal, 
                sec_id: $('#sec_id').val(), 
                ind_id: $('#ind_id').val(), 
                top_id: top_id,
                project_id: $('#project_id').val()
            },
            dataType: 'html',
            beforeSend: function(){
                $('.loader-wrapper').show()
            },
            success: function(result){
                var res = JSON.parse(result);
                
            },
            complete: function(){
                $('.loader-wrapper').hide()
            }
        })
    }
</script>
<script>
    const increseCount = (dt, id) => {
        // console.log(dt, 'dt');
        var totCountVal = totCount[id]
        var dataSet = wordList[id].trim().split(',')
        dataSet = dataSet.map(dt => dt.trim().toLowerCase());
        console.log(totCountVal, 'totCountVal');
        // console.log(dataSet.includes(dt.trim().split('\n').join('').toLowerCase()), 'sadasd', dt);
        if(dataSet.includes(dt.trim().split('\n').join('').toLowerCase())){
            totCountVal += 1
            totCount[id] = totCountVal
            $(`#countMatchNum_${id}`).text(`${totCountVal}`)
            return dt.trim().split('\n').join('').toLowerCase().split(' ').join('');
        }
    }
</script>
<%- include('../templates/footer.ejs') %>