<%- include('../../templates/header.ejs') %>
<script src="js/chart/google/google-chart-loader.js"></script>
<script>
    google.charts.load('current', {packages: ['bar']});
    var fun = {}, i = 1;
</script>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3><%= header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><%= header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <% if(resDt.length > 0){
                        var i = 1;
                        resDt.forEach(dt => { %>
                            <div class="row my-3">
                                <% if(dt.heading){ %> <h4><%= dt.heading %></h4> <% } %>
                                <% if(dt.sub_heading){ %> <h5><%= dt.sub_heading %></h5> <% } %>
                                <% if(dt.textarea){ %> 
                                    <div class="col-md-12">
                                        <%= dt.textarea %>
                                    </div> 
                                <% } %>
                                <% if(dt.table){ %>
                                    <div class="col-md-6">
                                        <table class="table">
                                            <tr>
                                                <% dt.table.head.forEach(tdt => { %>
                                                    <th><%= tdt %></th>
                                                <% }) %>
                                            </tr>
                                            <tbody>
                                                <% var table_data = [];
                                                    table_data.push(dt.table.head)
                                                    dt.table.body.forEach(trdt => {
                                                        table_data.push([...Object.values(trdt).map(dt => parseFloat(dt) ? Number(dt) : dt)])
                                                     %>
                                                    <tr>
                                                        <% Object.values(trdt).forEach(vdt => { %>
                                                            <td><%= vdt %></td>
                                                        <% }) %>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="chart-block">
                                            <div class="chart-overflow" id="column_chart_<%= i %>"></div>
                                        </div>
                                    </div>
                                    
                                    <script>
                                        i = <%= i %>;
                                        console.log('view', i);
                                        var table_data = <%- JSON.stringify(table_data) %>;
                                        // console.log(table_data);
                                        fun[`crate_bar_graph_${<%= i %>}`] = {
                                                a: table_data,
                                                b: {
                                                    chart: {
                                                        title: "<%- dt.sub_heading ? dt.sub_heading : '' %>",
                                                        subtitle: '',
                                                    },
                                                    seriesType: 'bars',
                                                    // vAxis: {
                                                    //   format: "decimal"
                                                    // },
                                                    vAxis: { title: 'Marks' },
                                                    hAxis: { title: 'Country' },
                                                    height: 400,
                                                    width: '100%',
                                                    colors: ["#e2c636", "#AED6F1", "#E8DAEF", "#EDBB99"]
                                                },                                                
                                            }
                                    </script>
                                <% i++; } %>
                            </div>
                    <% })
                    } %>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        // console.log('FunLen', fun);
        google.charts.setOnLoadCallback(CreateBar);
        function CreateBar(){
            let j = 1
            for(let key in fun){
                var a = google.visualization.arrayToDataTable(fun[key].a),
                    b = fun[key].b,
                    c = new google.charts.Bar(document.getElementById(`column_chart_${j}`));
                c.draw(a, google.charts.Bar.convertOptions(b))
                // console.log('funName', fun[key]);
                j++
            }
        }
    })
</script>
<%- include('../../templates/footer.ejs') %>