<%- include('../templates/header.ejs') %>
<script src="js/chart/google/google-chart-loader.js"></script>

<!-- morris-chart -->
    <script src="js/chart/morris-chart/raphael.js"></script>
    <script src="js/chart/morris-chart/morris.js"> </script>
    <script src="js/chart/morris-chart/prettify.min.js"></script>
    <script src="js/chart/morris-chart/morris.min.js"></script>
    <script src="js/chart/morris-chart/morris-script.js"></script>
<!-- END -->

<style>
    .topic_text {
      text-align: center;
      vertical-align: middle;
    }
  </style>
<script>
    google.charts.load('current', {packages: ['corechart', 'bar', 'line']});
    var fun = {}, i = 1;
</script>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3><%= header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><%= header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div id="downloadFull">
                        <div class="row" id="topic_metrics_data">
                            <div class="col-md-12">
                                <h4>Disclosure Topics</h4>
                                <h6>Sustainability Disclosure Topics & Metrics</h6>
                            </div>
                            <div class="col-md-12">
                                <table class="table" width="100%">
                                    <thead>
                                        <tr>
                                            <th>General Issue Category (Industry agnostic)</th>
                                            <th>Disclosure Topics (Industry specific)</th>
                                            <th>METRIC</th>
                                            <th>CATEGORY</th>
                                            <th>UNIT OF MEASURE</th>
                                            <th>CODE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(susDistList.msg.length > 0){
                                            var rowSpan = 1
                                            var prevRes = ''
                                            susDistList.msg.forEach(dt => {
                                                var nowRes = dt.top_id
                                                %>
                                                <tr>
                                                    <% if(prevRes != nowRes){
                                                        prevRes = dt.top_id %>
                                                        <td class="topic_text" rowspan="<%= susDistList.msg.filter(sdt => sdt.top_id == dt.top_id).length %>">
                                                            <%= dt.topic_name %>
                                                        </td>
                                                    <% } %>
                                                    <td><%= dt.ind_agn %></td>
                                                    <td><%= dt.metric %></td>
                                                    <td><%= dt.catg %></td>
                                                    <td><%= dt.unit %></td>
                                                    <td><%= dt.code %></td>
                                                </tr>
                                            <% })
                                        } %>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- <div class="row mt-3">
                            <div class="col-md-12">
                                <button class="btn btn-pill btn-outline-primary btn-air-primary float-end" data-bs-original-title title="Download Topics & Metrics" onclick="downloadPrf('topic_metrics_data', 'Topics_Metrics')"><i class="icofont icofont-download"></i> Download</button>
                            </div>
                        </div> -->
                        <div class="row" id="act_metrics">
                            <div class="col-md-12 my-3">
                                <hr>
                                <h6 class="my-3">Activity Metrics</h6>
                                <table class="table" width="100%" border="1">
                                    <thead>
                                        <tr>
                                            <th>ACTIVITY METRIC</th>
                                            <th>CATEGORY</th>
                                            <th>UNIT OF MEASURE</th>
                                            <th>CODE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(metric.msg.length > 0){
                                            metric.msg.forEach(dt => { console.log(dt) %>
                                                <tr>
                                                    <td><%= dt.act_metric %></td>
                                                    <td><%= dt.catg %></td>
                                                    <td><%= dt.unit %></td>
                                                    <td><%= dt.code %></td>
                                                </tr>
                                            <% })
                                        } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- <div class="row mt-3">
                            <div class="col-md-12">
                                <button class="btn btn-pill btn-outline-primary btn-air-primary float-end" data-bs-original-title title="Download Topics & Metrics" onclick="downloadPrf('act_metrics', 'Activity_Metrics')"><i class="icofont icofont-download"></i> Download</button>
                            </div>
                        </div> -->
                        <% if(resDt.length > 0){
                            var i = 1;
                            var j = 1;
                            resDt.forEach(dt => { %>
                                <div class="row my-3" id="dynamic_data_<%= j %>">
                                    <% if(dt.heading){ %> <h4><%= dt.heading %></h4> <% } %>
                                    <% if(dt.sub_heading){ %> <h5><%= dt.sub_heading %></h5> <% } %>
                                    <% if(dt.textarea){ %> 
                                        <div class="col-md-12">
                                            <%= dt.textarea %>
                                        </div> 
                                    <% } %>
                                    <% if(dt.table){ %>
                                        <div class="col-md-12">
                                            <table class="table">
                                                <tr>
                                                    <% dt.table.head.forEach(tdt => { %>
                                                        <th><%= tdt %></th>
                                                    <% }) %>
                                                </tr>
                                                <tbody>
                                                    <% var table_data = [];
                                                        table_data.push(dt.table.head)
                                                        dt.table.body.forEach(trdt => {
                                                            table_data.push([...Object.values(trdt).map(dt => parseFloat(dt) ? Number(dt) : dt)])
                                                        %>
                                                        <tr>
                                                            <% Object.values(trdt).forEach(vdt => { %>
                                                                <td><%= vdt %></td>
                                                            <% }) %>
                                                        </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-12 mt-4">
                                            <div class="chart-block">
                                                <div class="chart-overflow" id="column_chart_<%= i %>"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="flot-chart-container">
                                                <div class="flot-chart-placeholder" id="stacked-bar-chart_<%= i %>"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="chart-block">
                                                <canvas id="myBarGraph_<%= i %>"></canvas>
                                            </div>
                                        </div>
                                        
                                        <script>
                                            i = <%= i %>;
                                            console.log('view', i);
                                            var table_data = <%- JSON.stringify(table_data) %>;
                                            // console.log(table_data);
                                            fun[`crate_bar_graph_${<%= i %>}`] = {
                                                    a: table_data,
                                                    b: {
                                                        chart: {
                                                            title: "<%- dt.sub_heading ? dt.sub_heading : '' %>",
                                                            subtitle: '',
                                                        },
                                                        // seriesType: 'bars',
                                                        // vAxis: {
                                                        //   format: "decimal"
                                                        // },
                                                        vAxis: { title: 'Marks' },
                                                        hAxis: { title: 'Country' },
                                                        height: 400,
                                                        width: '100%',
                                                        colors: ["#e2c636", "#AED6F1", "#E8DAEF", "#EDBB99"]
                                                    },
                                                    c: "<%= dt.table.graph_type %>"                                               
                                                }
                                        </script>
                                    <% i++; } %>
                                </div>
                                <!-- <div class="row mt-3">
                                    <div class="col-md-12">
                                        <button class="btn btn-pill btn-outline-primary btn-air-primary float-end" data-bs-original-title title="Download Topics & Metrics" onclick="downloadPrf('dynamic_data_<%= j %>', 'Activity_Metrics')"><i class="icofont icofont-download"></i> Download</button>
                                    </div>
                                </div> -->
                        <% j++; })
                        } %>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <button class="btn btn-pill btn-outline-primary btn-air-primary float-end" data-bs-original-title title="Download Full Download Section" onclick="downloadPrf('downloadFull', 'FullDownload')"><i class="icofont icofont-download-alt"></i> Download</button>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <script src="https://cdn.ckeditor.com/ckeditor5/38.1.0/classic/ckeditor.js"></script> -->
                        <div class="col-md-12">
                            <h6>Manage Disclosure Topics</h6>
                        </div>
                        <% if(user_type != 'V'){ %>
                        <div class="col-md-12" id="editorPrevDiv">
                            <div class="col-md-12 mb-3">
                                <button class="btn btn-pill btn-outline-primary btn-air-primary float-end" data-bs-original-title title="Add New Editor" onclick="AddEditor()"><i class="icofont icofont-ui-add"></i></button>
                            </div>
                        </div>
                        <% } %>
                        <div id="editorDiv">
                            <% var filetrTopic = susDistList.msg.filter(dt => dt.top_id == top_id)
                            var i = 1
                            filetrTopic.forEach(dt => {
                                var getRes = editorData.filter(edt => edt.article_code == dt.code)
                                %>
                                <div id="editorNewDiv_<%= i %>">
                                    <div class="col-md-12 my-4 row">
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="editor_topic" id="editor_topic_<%= i %>" value="<%= dt.code %>">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea id="editor<%= i %>" name="editor" cols="30" rows="10"><%= getRes.length > 0 ? getRes[0].article : "" %></textarea>
                                        </div>
                                    </div>
                                    <script>
                                        CKEDITOR
                                        .replace('editor<%= i %>', {
                                            on: {
                                                contentDom: function( evt ) {
                                                    // Allow custom context menu only with table elemnts.
                                                    evt.editor.editable().on('contextmenu', function( contextEvent ) {
                                                        var path = evt.editor.elementPath();

                                                        if ( !path.contains( 'table' ) ) {
                                                            contextEvent.cancel();
                                                        }
                                                    }, null, null, 5 );
                                                }
                                            }
                                        } );
                                    </script>
                                    <% if(user_type != 'V'){ %>
                                    <div class="col-md-12 mb-3">
                                        <button class="btn btn-pill btn-outline-primary btn-air-primary float-end" data-bs-original-title title="Save <%= dt.code %>" onclick="saveEditorValue(<%= i %>)"><i class="icofont icofont-save"></i> Save</button>
                                    </div>
                                    <% } %>
                                    <hr>
                                </div>
                            <% i++; });
                            var topList = [...filetrTopic.map(dt => dt.code)]
                            if(editorData.length > 0){
                                var i = topList.length + 1
                                editorData.forEach(dt => {
                                    if(!topList.includes(dt.article_code)){ %>
                                        <div id="editorNewDiv_<%= i %>" class="mt-3">
                                            <div class="col-md-12 my-4 row">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" name="editor_topic" id="editor_topic_<%= i %>" value="<%= dt.article_code %>">
                                                </div>
                                                <div class="col-md-12">
                                                    <textarea id="editor<%= i %>" name="editor" cols="30" rows="10"><%= dt.article %></textarea>
                                                </div>
                                            </div>
                                            <script>
                                                CKEDITOR
                                                .replace( 'editor<%= i %>', {
                                                    on: {
                                                        contentDom: function( evt ) {
                                                            // Allow custom context menu only with table elemnts.
                                                            evt.editor.editable().on( 'contextmenu', function( contextEvent ) {
                                                                var path = evt.editor.elementPath();
        
                                                                if ( !path.contains( 'table' ) ) {
                                                                    contextEvent.cancel();
                                                                }
                                                            }, null, null, 5 );
                                                        }
                                                    }
                                                } );
                                            </script>
                                            <% if(user_type != 'V'){ %>
                                            <div class="col-md-12 mb-3">
                                                <button class="btn btn-pill btn-outline-primary btn-air-primary float-end" data-bs-original-title title="Save <%= dt.code %>" onclick="saveEditorValue(<%= i %>)"><i class="icofont icofont-save"> Save</i></button>
                                            </div>
                                            <% } %>
                                            <hr>
                                        </div>
                                    <% }
                                })
                            }
                            %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="sec_id" id="sec_id" value="<%= sec_id %>">
<input type="hidden" name="ind_id" id="ind_id" value="<%= ind_id %>">
<input type="hidden" name="top_id" id="top_id" value="<%= top_id %>">
<input type="hidden" name="project_id" id="project_id" value="<%= project_id %>">
<script>
    $(document).ready(function(){
        // console.log('FunLen', fun);
        google.charts.setOnLoadCallback(CreateBar);
        function CreateBar(){
            let j = 1
            // for(let key in fun){
            //     var a = google.visualization.arrayToDataTable(fun[key].a),
            //         b = fun[key].b,
            //         c = new google.charts.Bar(document.getElementById(`column_chart_${j}`));
            //     c.draw(a, google.charts.Bar.convertOptions(b))
            //     // console.log('funName', fun[key]);
            //     j++
            // }
            for(let key in fun){
                console.log(fun[key]);
                switch (fun[key].c) {
                    case 'b1':
                        $(`#stacked-bar-chart_${j}`).parent().hide()
                        $(`#myBarGraph_${j}`).parent().hide()
                        var a = google.visualization.arrayToDataTable(fun[key].a),
                            b = fun[key].b;
                        var c = new google.charts.Bar(document.getElementById(`column_chart_${j}`));
                        c.draw(a, google.charts.Bar.convertOptions(b))
                        break;
                    case 'b2':
                        $(`#stacked-bar-chart_${j}`).parent().hide()
                        $(`#myBarGraph_${j}`).parent().hide()
                        var a = google.visualization.arrayToDataTable(fun[key].a),
                            b = fun[key].b;
                        b['bars'] = 'horizontal'
                        var c = new google.charts.Bar(document.getElementById(`column_chart_${j}`));
                        c.draw(a, google.charts.Bar.convertOptions(b))
                        break;
                    case 'l3':
                        $(`#stacked-bar-chart_${j}`).parent().hide()
                        $(`#myBarGraph_${j}`).parent().hide()
                        var a = google.visualization.arrayToDataTable(fun[key].a),
                            b = fun[key].b;
                        var c = new google.charts.Line(document.getElementById(`column_chart_${j}`));
                        c.draw(a, google.charts.Line.convertOptions(b))
                        break;
                    case 'bm1':
                        $(`#stacked-bar-chart_${j}`).parent().hide()
                        $(`#myBarGraph_${j}`).parent().hide()
                        var a = google.visualization.arrayToDataTable(fun[key].a),
                            b = fun[key].b;
                        b['seriesType'] = 'bars'
                        var series = {}
                        series[fun[key].a.length - 1] = {type: 'line'}
                        b['series'] = series
                        var chart = new google.visualization.ComboChart(document.getElementById(`column_chart_${j}`));
                        chart.draw(a, b);
                        break;
                    case 'a1':
                        $(`#stacked-bar-chart_${j}`).parent().hide()
                        $(`#myBarGraph_${j}`).parent().hide()
                        var a = google.visualization.arrayToDataTable(fun[key].a),
                            b = fun[key].b;
                        var chart = new google.visualization.AreaChart(document.getElementById(`column_chart_${j}`));
                        chart.draw(a, b);
                        break;
                    case 'b5':
                        $(`#column_chart_${j}`).parent().hide()
                        $(`#myBarGraph_${j}`).parent().hide()
                        var header = fun[key].a[0],
                            index = 0;
                        var dataSet = []
                        for(let tab of fun[key].a){
                            if(index > 0){
                                var bodyIndex = 0, tabDataSet = []
                                var currTbIndex = 0
                                var tabData = {}
                                for(let tabBody of tab){
                                    // for(let tabHead of header){
                                        if(header[currTbIndex] != ''){
                                            if(tabBody > 0){
                                                tabData[header[currTbIndex].toString()] = tabBody
                                                tabData['x'] = tab[0]
                                                // tabData.push(tabBody)
                                                tabDataSet.push(tabData)
                                            }
                                        }
                                        currTbIndex++;
                                    // }
                                }
                                dataSet.push(tabData)
                            }
                            index++;
                        }
                        var tbKeys = [...Object.keys(dataSet[0]).map(key => key != 'x' ? key : '')].filter(x => x).join(',')
                        tbKeys = tbKeys.split(',')
                        console.log(dataSet, tbKeys);
                        Morris.Bar({
                            element: `stacked-bar-chart_${j}`,
                            data: dataSet,
                            xkey: "x",
                            ykeys: tbKeys,
                            barColors: ["#e2c636", "#AED6F1", "#E8DAEF", "#EDBB99"],
                            labels: tbKeys,
                        })
                        break;
                    default:
                        $(`#stacked-bar-chart_${j}`).parent().hide()
                        $(`#myBarGraph_${j}`).parent().hide()
                        $(`#column_chart_${j}`).parent().hide()
                        // var a = google.visualization.arrayToDataTable(fun[key].a),
                        //     b = fun[key].b;
                        // var c = new google.charts.Bar(document.getElementById(`column_chart_${j}`));
                        // c.draw(a, google.charts.Bar.convertOptions(b))
                        break;
                }
                // console.log('funName', fun[key]);
                j++
            }
        }
    })
</script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha512-a9NgEEK7tsCvABL7KqtUTQjl69z7091EVPpw5KxPlZ93T141ffe1woLtbXTX+r2/8TtTvRX/v4zTL2UlMUPgwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script>
    function downloadPrf(divId){
        var divToPrint = document.getElementById(divId);
        var doc = new jsPDF();
        doc.fromHTML(`<html><head><title>Test</title></head><body style="width:100%;">` + divToPrint.innerHTML + `</body></html>`);
        doc.save('div.pdf');
        // html2canvas(divToPrint, {
        //   scale: 2 // Adjust the scale as needed for better quality
        // }).then(function(canvas) {
        //   const pdf = new jsPDF("p", "mm", "a4");
        //   pdf.addImage(canvas.toDataURL("image/png"), "PNG", 0, 0, pdf.internal.pageSize.getWidth(), pdf.internal.pageSize.getHeight());
        //   pdf.save("output.pdf");
        // });
    }
</script> -->

<script>
    function downloadPrf(divId, title){
        var divToPrint = document.getElementById(divId);
        $.ajax({
            method: "POST",
            url: "/download_pdf",
            data: { pdfDiv: divToPrint.innerHTML },
            xhrFields: {
                responseType: 'blob' // Receive response as a binary blob
            },
            beforeSend: function () {
                $(".loader-wrapper").show();
            },
            success: function (data) {
            // Create a Blob URL for the PDF
                const pdfUrl = URL.createObjectURL(data);

                // Create an anchor element for downloading the PDF
                const a = document.createElement('a');
                a.href = pdfUrl;
                a.download = `${title}_${new Date().getTime()}.pdf`; // Set the desired filename
                a.style.display = 'none';

                // Append the anchor to the document body and trigger a click event
                document.body.appendChild(a);
                a.click();

                // Cleanup: Remove the anchor and revoke the Blob URL
                document.body.removeChild(a);
                URL.revokeObjectURL(pdfUrl);
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            },
            complete: function () {
                $(".loader-wrapper").hide();
            }
        })
    }
</script>

<script>
    function AddEditor(){
        var editorLength = $('textarea[name="editor"]').length
        $('#editorDiv').append(`
        <div id="editorNewDiv_${editorLength+1}">
            <div class="col-md-12 my-4 row">
                <div class="col-md-1">
                    <label for="" class="mb-3"> Title</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" name="editor_topic" id="editor_topic_${editorLength+1}" placeholder="Enter Title">
                </div>
                <div class="col-md-12"> 
                <textarea id="editor${editorLength+1}" name="editor" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <button class="btn btn-pill btn-outline-primary btn-air-primary float-end" data-bs-original-title title="Save" onclick="saveEditorValue(${editorLength+1})"><i class="icofont icofont-save"></i></button>
                <button class="btn btn-pill btn-outline-danger btn-air-danger float-end ml-2" data-bs-original-title title="Save" onclick="deleteEdotor(${editorLength+1})"><i class="icofont icofont-trash"></i></button>
            </div>
            <hr>
        </div>
        `)
        CKEDITOR
        .replace( `editor${editorLength+1}`, {
            on: {
                contentDom: function( evt ) {
                    // Allow custom context menu only with table elemnts.
                    evt.editor.editable().on( 'contextmenu', function( contextEvent ) {
                        var path = evt.editor.elementPath();

                        if ( !path.contains( 'table' ) ) {
                            contextEvent.cancel();
                        }
                    }, null, null, 5 );
                }
            }
        } );
    }
</script>

<script>
    function deleteEdotor(id){
        $('#editorNewDiv_'+id).remove()
    }
</script>

<script>
    function saveEditorValue(id){
        var topicTitle = $('#editor_topic_'+id).val()
        var txtEditorVal = CKEDITOR.instances['editor'+id].getData()
        console.log(topicTitle, txtEditorVal);
        $.ajax({
            method:'POST',
            url: '/save_editor_data',
            data: {
                topicTilte: topicTitle, 
                txtEditorVal: txtEditorVal, 
                sec_id: $('#sec_id').val(), 
                ind_id: $('#ind_id').val(), 
                top_id: $('#top_id').val(),
                project_id: $('#project_id').val()
            },
            dataType: 'html',
            beforeSend: function(){
                $('.loader-wrapper').show()
            },
            success: function(result){
                var res = JSON.parse(result);
                
            },
            complete: function(){
                $('.loader-wrapper').hide()
            }
        })
    }
</script>
<%- include('../templates/footer.ejs') %>