<%- include('../templates/header.ejs') %>
<script src="js/chart/google/google-chart-loader.js"></script>
<style>
    .topic_text {
      text-align: center;
      vertical-align: middle;
    }
  </style>
<script>
    google.charts.load('current', {packages: ['bar']});
    var fun = {}, i = 1;
</script>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3><%= header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><%= header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row" id="topic_metrics_data">
                        <div class="col-md-12">
                            <h4>Disclosure of Sustainability-related Financial Information</h4>
                            <h6>Sustainability Disclosure Topics & Metrics</h6>
                        </div>
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>TOPIC</th>
                                        <th>METRIC</th>
                                        <th>CATEGORY</th>
                                        <th>UNIT OF MEASURE</th>
                                        <th>CODE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(susDistList.msg.length > 0){
                                        var rowSpan = 1
                                        var prevRes = ''
                                        susDistList.msg.forEach(dt => {
                                            var nowRes = dt.top_id
                                            %>
                                            <tr>
                                                <% if(prevRes != nowRes){
                                                    prevRes = dt.top_id %>
                                                    <td class="topic_text" rowspan="<%= susDistList.msg.filter(sdt => sdt.top_id == dt.top_id).length %>">
                                                        <%= dt.topic_name %>
                                                    </td>
                                                <% } %>
                                                <td><%= dt.metric %></td>
                                                <td><%= dt.catg %></td>
                                                <td><%= dt.unit %></td>
                                                <td><%= dt.code %></td>
                                            </tr>
                                        <% })
                                    } %>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <button onclick="downloadPrf('topic_metrics_data')">Print</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 my-3">
                            <hr>
                            <h6 class="my-3">Activity Metrics</h6>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ACTIVITY METRIC</th>
                                        <th>CATEGORY</th>
                                        <th>UNIT OF MEASURE</th>
                                        <th>CODE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(metric.msg.length > 0){
                                        metric.msg.forEach(dt => { console.log(dt) %>
                                            <tr>
                                                <td><%= dt.act_metric %></td>
                                                <td><%= dt.catg %></td>
                                                <td><%= dt.unit %></td>
                                                <td><%= dt.code %></td>
                                            </tr>
                                        <% })
                                    } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <% if(resDt.length > 0){
                        var i = 1;
                        resDt.forEach(dt => { %>
                            <div class="row my-3">
                                <% if(dt.heading){ %> <h4><%= dt.heading %></h4> <% } %>
                                <% if(dt.sub_heading){ %> <h5><%= dt.sub_heading %></h5> <% } %>
                                <% if(dt.textarea){ %> 
                                    <div class="col-md-12">
                                        <%= dt.textarea %>
                                    </div> 
                                <% } %>
                                <% if(dt.table){ %>
                                    <div class="col-md-6">
                                        <table class="table">
                                            <tr>
                                                <% dt.table.head.forEach(tdt => { %>
                                                    <th><%= tdt %></th>
                                                <% }) %>
                                            </tr>
                                            <tbody>
                                                <% var table_data = [];
                                                    table_data.push(dt.table.head)
                                                    dt.table.body.forEach(trdt => {
                                                        table_data.push([...Object.values(trdt).map(dt => parseFloat(dt) ? Number(dt) : dt)])
                                                     %>
                                                    <tr>
                                                        <% Object.values(trdt).forEach(vdt => { %>
                                                            <td><%= vdt %></td>
                                                        <% }) %>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="chart-block">
                                            <div class="chart-overflow" id="column_chart_<%= i %>"></div>
                                        </div>
                                    </div>
                                    
                                    <script>
                                        i = <%= i %>;
                                        console.log('view', i);
                                        var table_data = <%- JSON.stringify(table_data) %>;
                                        // console.log(table_data);
                                        fun[`crate_bar_graph_${<%= i %>}`] = {
                                                a: table_data,
                                                b: {
                                                    chart: {
                                                        title: "<%- dt.sub_heading ? dt.sub_heading : '' %>",
                                                        subtitle: '',
                                                    },
                                                    seriesType: 'bars',
                                                    // vAxis: {
                                                    //   format: "decimal"
                                                    // },
                                                    vAxis: { title: 'Marks' },
                                                    hAxis: { title: 'Country' },
                                                    height: 400,
                                                    width: '100%',
                                                    colors: ["#e2c636", "#AED6F1", "#E8DAEF", "#EDBB99"]
                                                },                                                
                                            }
                                    </script>
                                <% i++; } %>
                            </div>
                    <% })
                    } %>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Access your ESG Information System, Manage and Report Disclosure Topic (Account Upgrade Required)</h6>
                        </div>
                        <% var filetrTopic = susDistList.msg.filter(dt => dt.top_id == top_id)
                        var i = 1
                        filetrTopic.forEach(dt => { %>
                            <div class="col-md-12">
                                <label for="" class="mb-3"><%= dt.code %></label>
                                <textarea id="editor<%= i %>" name="editor<%= i %>" cols="30" rows="10"></textarea>
                            </div>
                            <script>
                                CKEDITOR.replace( 'editor<%= i %>', {
                                    on: {
                                        contentDom: function( evt ) {
                                            // Allow custom context menu only with table elemnts.
                                            evt.editor.editable().on( 'contextmenu', function( contextEvent ) {
                                                var path = evt.editor.elementPath();

                                                if ( !path.contains( 'table' ) ) {
                                                    contextEvent.cancel();
                                                }
                                            }, null, null, 5 );
                                        }
                                    }
                                } );
                            </script>
                        <% i++; }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        // console.log('FunLen', fun);
        google.charts.setOnLoadCallback(CreateBar);
        function CreateBar(){
            let j = 1
            for(let key in fun){
                var a = google.visualization.arrayToDataTable(fun[key].a),
                    b = fun[key].b,
                    c = new google.charts.Bar(document.getElementById(`column_chart_${j}`));
                c.draw(a, google.charts.Bar.convertOptions(b))
                // console.log('funName', fun[key]);
                j++
            }
        }
    })
</script>
<script>
    function downloadPrf(divId){
        var divToPrint = document.getElementById(divId);
        html2canvas(divToPrint, {
          scale: 2 // Adjust the scale as needed for better quality
        }).then(function(canvas) {
          const pdf = new jsPDF("p", "mm", "a4");
          pdf.addImage(canvas.toDataURL("image/png"), "PNG", 0, 0, pdf.internal.pageSize.getWidth(), pdf.internal.pageSize.getHeight());
          pdf.save("output.pdf");
        });
    }
</script>
<%- include('../templates/footer.ejs') %>