<table class="table" width="100%">
    <thead>
        <tr class="tbDynDt">
            <th>General issue category (Industry agnostic)</th>
            <%# if(flag != 'I'){ %>
                <!-- <th></th> -->
            <%# } %>
            <th>Disclosure topics (Industry specific)</th>
            <th>Metric</th>
            <th>Category</th>
            <th>Unit of measure</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        <% if(susDistList.msg.length > 0){
            var rowSpan = 1, susI = 1;
            var prevRes = ''
            var susModifyDt = susDistList.msg.map(dt => dt.code != '' && dt.code != 'null' && dt.code ? dt : null)
            susModifyDt = susModifyDt.filter(dt => dt != undefined)
            susModifyDt.forEach(dt => {
                if(typeof(dt) === 'object'){
                var nowRes = dt.top_id
                %>
                <tr class="hoverDynDtaTbl">
                    <% if(prevRes != nowRes){
                        prevRes = dt.top_id %>
                        <td class="topic_text" rowspan="<%= susModifyDt.filter(sdt => sdt.top_id == dt.top_id).length %>">
                            <%= dt.topic_name %>
                        </td>
                    <% } %>
                    <%# if(flag != 'I'){ %>
                        <!-- <td><input id="selSusDt_<%= susI %>" name="selSusDt" value="<%= dt.code %>" type="checkbox"></td> -->
                    <%# } %>
                    <td><%= dt.ind_agn %></td>
                    <td><%= dt.metric %></td>
                    <td><%= dt.catg %></td>
                    <td><%= dt.unit %></td>
                    <td><%= dt.code %></td>
                </tr>
            <% } susI++; })
        } %>
        <tr></tr>
    </tbody>
</table>

<div class="row m-t-15">
    <div class="col-md-12">
        <p>General Disclosures</p>
    </div>
<% if(susDistList.msg.length > 0){
    var rowSpan = 1, susI = 1;
    var prevRes = ''
    var susModifyDt = susDistList.msg.map(dt => dt.code != '' && dt.code != 'null' && dt.code ? dt : null)
    susModifyDt = susModifyDt.filter(dt => dt != undefined)
    susModifyDt.forEach(dt => {
        if(typeof(dt) === 'object'){
        var nowRes = dt.top_id %>
    <% if(prevRes != nowRes){
        prevRes = dt.top_id %>
            <div class="col-md-3 m-t-10">
                <div class="custom_checkbox checkbox">
                    <input type="checkbox" name="top_chk" id="top_chk_<%= dt.top_id %>" value="<%= dt.top_id %>">
                    <label for="top_chk_<%= dt.top_id %>">
                        <%= dt.topic_name %>
                    </label>
                </div>
            </div>
    <% } %>
    <% }
})} %>
</div>
<div class="row m-t-15">
    <div class="col-md-12">
        <p>Topics List</p>
    </div>
    <div class="col-md-12">
        <div id="topicGenDis" class="row"></div>
    </div>
</div>

<script>
    $('input[name="top_chk"]').on('change', function(){
        var allList = <%- JSON.stringify(susModifyDt) %>;
        var chkList = 1
        // console.log(allList);
        // console.log($('input[name="top_chk"]:checked'));
        $('#topicGenDis').empty();
        $('input[name="top_chk"]:checked').each(function(){
            var newFilterTopic = allList.filter(dt => dt.top_id == $(this).val())
            // console.log(newFilterTopic);
            newFilterTopic.forEach(dt => {
                $('#topicGenDis').append(`
                <div class="col-md-3 m-t-10">
                    <div class="custom_checkbox checkbox">
                        <input type="checkbox" name="selSusDt" id="selSusDt_${chkList}" value="${dt.code}">
                        <label for="selSusDt_${chkList}">
                            ${dt.code}
                        </label>
                    </div>
                </div>
                `)
                chkList++;
            })
        })
        $('input[name="selSusDt"]').on('change', function(){
            // console.log($('input[name="selSusDt"]:checked'))
            $('.editorDiv').each(function(){
                $(this).hide()
            })
            $('input[name="selSusDt"]:checked').each(function(){
                var selVal = $(this).val()
                $('.editorDiv').each(function(){
                    if($(this).attr('data-code') == selVal)
                        $(this).show()
                })
                console.log($(this).val());
            })
        })
    })
</script>