<div class="row m-t-15">
<% if(act_top_catg_list.length > 0){
    var susModifyDt = susDistList.msg.map(dt => dt.code != '' && dt.code != 'null' && dt.code ? dt : null)
    susModifyDt = susModifyDt.filter(dt => dt != undefined)
    var prevCatg = ''
    act_top_catg_list.forEach(dt => {
        _checked = get_checked_top_list.filter(gdt => gdt.topic_id == dt.topic_id).length > 0 ? 'checked' : '';
        var nowCatg = dt.catg_id %>
        <% if(prevCatg != nowCatg){
            prevCatg = dt.catg_id %>
            <div class="col-md-12">
                <p class="dyn-col-head"><%= dt.catg_name %></p>
            </div>
        <% } %>
        <div class="col-md-3 m-t-10">
            <div class="custom_checkbox checkbox">
                <input type="checkbox" name="top_chk" id="top_chk_<%= dt.topic_id %>" dt-set-id="<%= dt.topic_id %>" value="<%= dt.topic_name %>" <%= _checked %>>
                <label for="top_chk_<%= dt.topic_id %>">
                    <%= dt.topic_name %>
                </label>
            </div>
        </div>
        <% if(_checked == 'checked'){ %>
            <script>
                $(document).ready(function(){
                    $('#top_chk_<%= dt.topic_id %>').change()
                })
            </script>
        <% } %>
    <% })
} %>
</div>

<script>
    $('input[name="top_chk"]').on('change', function(){
        var allList = <%- JSON.stringify(susModifyDt) %>;
        var chkList = 1
        console.log($(this).is(':checked'));
        $('#topicGenDis').empty();
        $('.editorDiv').each(function(){
            $(this).hide()
        })
        if($(this).is(':checked')){
            $('input[name="top_chk"]:checked').each(function(index, element){
                var newFilterTopic = allList.filter(dt => dt.topic_name == $(this).val())
                
                var topicId = $(element).attr('dt-set-id')
                $.ajax({
                    method:'POST',
                    url: '/change_dis_top_status',
                    data: {
                        top_id: topicId,
                        project_id: $('#project_id').val(),
                        flag: '<%= flag %>',
                        status: 'Y'
                    },
                    dataType: 'html',
                    // beforeSend: function () {
                    //     $(".loader-wrapper").show();
                    // },
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    },
                    // complete: function () {
                    //     $(".loader-wrapper").hide();
                    // }
                })
                newFilterTopic.forEach(dt => {
                    var selVal = dt.code
                    $('.editorDiv').each(function(){
                        if($(this).attr('data-code') == selVal)
                            $(this).show()
                    })
                })
            })
        }else{
            $.ajax({
                method:'POST',
                url: '/change_dis_top_status',
                data: {
                    top_id: topicId,
                    project_id: $('#project_id').val(),
                    flag: '<%= flag %>',
                    status: 'Y'
                },
                dataType: 'html',
                // beforeSend: function () {
                //     $(".loader-wrapper").show();
                // },
                success: function (data) {
                    console.log(data);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                },
                // complete: function () {
                //     $(".loader-wrapper").hide();
                // }
            })
        }
    })
</script>