<div class="row m-t-15">
<% if(act_top_catg_list.length > 0){
    var susModifyDt = susDistList.msg.map(dt => dt.code != '' && dt.code != 'null' && dt.code ? dt : null)
    susModifyDt = susModifyDt.filter(dt => dt != undefined)
    var prevCatg = ''
    act_top_catg_list.forEach(dt => {
        var nowCatg = dt.catg_id %>
        <% if(prevCatg != nowCatg){
            prevCatg = dt.catg_id %>
            <div class="col-md-12">
                <p class="dyn-col-head"><%= dt.catg_name %></p>
            </div>
        <% } %>
        <div class="col-md-3 m-t-10">
            <div class="custom_checkbox checkbox">
                <input type="checkbox" name="top_chk" id="top_chk_<%= dt.topic_id %>" value="<%= dt.topic_name %>">
                <label for="top_chk_<%= dt.topic_id %>">
                    <%= dt.topic_name %>
                </label>
            </div>
        </div>
    <% })
} %>
</div>

<script>
    $('input[name="top_chk"]').on('change', function(){
        var allList = <%- JSON.stringify(susModifyDt) %>;
        var chkList = 1
        // console.log(allList);
        // console.log($('input[name="top_chk"]:checked'));
        $('#topicGenDis').empty();
        $('.editorDiv').each(function(){
            $(this).hide()
        })
        $('input[name="top_chk"]:checked').each(function(){
            var newFilterTopic = allList.filter(dt => dt.topic_name == $(this).val())
            // console.log(newFilterTopic);
            newFilterTopic.forEach(dt => {
                // $('#topicGenDis').append(`
                // <div class="col-md-3 m-t-10">
                //     <div class="custom_checkbox checkbox">
                //         <input type="checkbox" name="selSusDt" id="selSusDt_${chkList}" value="${dt.code}">
                //         <label for="selSusDt_${chkList}">
                //             ${dt.code}
                //         </label>
                //     </div>
                // </div>
                // `)
                // chkList++;
                var selVal = dt.code
                $('.editorDiv').each(function(){
                    if($(this).attr('data-code') == selVal)
                        $(this).show()
                })
            })
        })
        // $('input[name="selSusDt"]').on('change', function(){
        //     // console.log($('input[name="selSusDt"]:checked'))
        //     $('.editorDiv').each(function(){
        //         $(this).hide()
        //     })
        //     $('input[name="selSusDt"]:checked').each(function(){
        //         var selVal = $(this).val()
        //         $('.editorDiv').each(function(){
        //             if($(this).attr('data-code') == selVal)
        //                 $(this).show()
        //         })
        //         console.log($(this).val());
        //     })
        // })
    })
</script>