<ul class="nav nav-tabs border-tab" id="sope-tab" role="tablist">
    <% var i=0;
    scope_list.forEach(dt=> { %>
        <li class="nav-item" scope-id="<%= dt.id %>">
            <a class="nav-link <%= i == 0 ? 'active' : '' %>" id="<%= dt.name.split(' ').join('_') %>_tab"
                data-bs-toggle="tab" href="#<%= dt.name.split(' ').join('_') %>" role="tab"
                aria-controls="<%= dt.name.split(' ').join('_') %>" aria-selected="true"
                onclick="QuestHandler.loadScopeQuestions(this, '<%= flag %>')">
                <img class="tab-img-icon" src="/images/other-images/<%= dt.img %>" alt="<%= dt.name %>">
                <%= dt.name %>
            </a>
        </li>
        <% i++; }) %>
</ul>
<div class="tab-content" id="sope-tabContent">
    <% var j=0;
    scope_list.forEach(dt=> {
        var tab_id = dt.name.split(' ').join('_').split("'").join("") %>
        <div class="tab-pane fade <%= j == 0 ? 'show active' : '' %>" id="<%= tab_id %>" role="tabpanel"
            aria-labelledby="<%= tab_id %>_tab">
            <div class="row quest-tab-context cust-quest-scroll">
                <div class="col-md-12 text-center">
                    <strong class="text-danger">No Data Found</strong>
                </div>
            </div>
        </div>
        <% j++; }) %>
</div>

<script src="/js/calculator_project/quest_entry.js"></script>
