
<ul class="nav nav-tabs border-tab" id="sope-tab" role="tablist">
    <% var i = 0
    scope_list.forEach(dt => { %>
        <li class="nav-item" scope-id="<%= dt.id %>">
            <a class="nav-link <%= i == 0 ? 'active' : '' %>" id="<%= dt.name.split(' ').join('_') %>_tab" data-bs-toggle="tab" href="#<%= dt.name.split(' ').join('_') %>" role="tab" aria-controls="<%= dt.name.split(' ').join('_') %>" aria-selected="true" onclick="getQuestDtlsChangeUser(this)">
                <img class="tab-img-icon" src="/images/other-images/<%= dt.img %>" alt="<%= dt.name %>">
                <%= dt.name %>
            </a>
        </li>
    <% i++; }) %>
</ul>
<div class="tab-content" id="sope-tabContent">
    <% var j = 0
    scope_list.forEach(dt => {
        var tab_id = dt.name.split(' ').join('_').split("'").join("") %>
        <div class="tab-pane fade <%= j == 0 ? 'show active' : '' %>" id="<%= tab_id %>" role="tabpanel" aria-labelledby="<%= tab_id %>_tab">
            <div class="row quest-tab-context cust-quest-scroll">
                <div class="col-md-12 text-center">
                    <strong class="text-danger">No Data Found</strong>
                </div>
            </div>
        </div>
    <% j++; }) %>
</div>

<script>
    function clickAct(e){
        var isBtn = $(e).attr('type') ? true : false

        // console.log($(e), '-------------------------');
        

        if($(e).parent().parent().hasClass('parent-quest')){
            if(['Yes', 'Oui'].includes($(e).text()) && isBtn){
                $(e).parent().parent().parent().find('.sub-parent-container').show()
                $(e).parent().parent().parent().find('.sub-parent-quest').show()
            }
            else{
                $(e).parent().parent().parent().find('.sub-parent-container').hide()
                $(e).parent().parent().parent().find('.sub-parent-quest').hide()
            }
        }

        if($(e).parent().parent().hasClass('sub-parent-quest')){
            if(['Yes', 'Oui'].includes($(e).text()) && isBtn){
                $(e).parent().parent().next('.sub-sub-section').children().each(function (i, dt){
                    if($(dt).children().closest('.quest-opt-btn').children('input').length > 0 || $(dt).children().closest('.quest-opt-btn').children().children('select').length > 0){
                        $(dt).show()
                        // console.log($(dt).children().closest('.quest-opt-btn').children('input'))
                    }else{
                        return false;
                    }
                })
            }
        }
        

        if($(e).parent().hasClass('last-emi-tab')){
            if(isBtn){
                $(e).parent().next().show()
            }else{
                $(e).parent().next().hide()
            }
            var divId = $(e).parent().attr('id')
            divId = divId.split('-')[divId.split('-').length - 1]
            changeProvTable(divId, ['Yes', 'Oui'].includes($(e).text()) ? true : false)
        }

        if(isBtn){
            var txt = $(e).text()
            $(e).parent().prev().children().children().closest('span.cust-badge-quest-txt').text('')
            $(e).parent().prev().children().children().closest('span.cust-badge-quest-txt').text(txt)
            $(e).parent().addClass('bounceOutLeft animated')
            $(e).parent().prev().children('.badge').addClass('bounceInRight animated')
            $(e).parent().prev().children('.badge').show()
            try{
                saveData($(e).attr('quest-dt'), $(e).text())
            }catch(err){
                console.log(err);                
            }

            setTimeout(() => {
                $(e).parent().hide()
                $(e).parent().removeClass('bounceOutLeft animated')
                $(e).parent().prev().children('.badge').removeClass('bounceInRight animated')
            }, 1000);
            
        }else{
            $(e).parent().next().show()
            $(e).parent().next().addClass('bounceInLeft animated')
            $(e).addClass('bounceOutRight animated')
            setTimeout(() => {
                $(e).hide()
                $(e).parent().next().removeClass('bounceInLeft animated')
                $(e).removeClass('bounceOutRight animated')
            }, 1000);
        }
    }
</script>
<script>
    $(document).ready(function(){
        if($('#sope-tab li').length > 0){
            $($('#sope-tab li')[0]).children('a.nav-link').click()
            // var scope_id = $($('#sope-tab li')[0]).attr('scope-id')
            // if(scope_id > 0)
            // getQuestDtlsChangeUser(scope_id)
        }
    })

    function saveData(quest_enc_dt, quest_ans){
        $.ajax({
            method:'POST',
            url: '/cal_quest_save',
            data: {enc_dt: quest_enc_dt, quest_ans, sel_year: $('#sel_year_quest').val()},
            // beforeSend: function(){
            //     $('.loader-wrapper').show()
            // },
            success: function(result){
                // console.log(result);
                
            },
            // complete: function(){
            //     $('.loader-wrapper').hide()
            // }
        })
    }

    function getQuestDtlsChangeUser(e){
        var tabId = $(e).attr('href')
        var scope_id = $(e).parent('.nav-item').attr('scope-id'),
        proj_id = $('#proj_id').val(),
        sel_year = $('#sel_year_quest').val();
        $.ajax({
            method:'POST',
            url: '/get_question_list_by_scope_user_ajax',
            data: {scope_id: scope_id, proj_id, sel_year, flag: '<%= flag %>'},
            dataType: 'html',
            beforeSend: function(){
                $('.loader-wrapper').show()
            },
            success: function(result){
                var res = JSON.parse(result);
                // console.log(res);
                if(res.suc > 0){
                    if(Object.keys(res.msg).length > 0){
                        $(`${tabId}`).children('.quest-tab-context').empty()
                        var divElement = '', divContentElemt = '';
                        divElement = divElement + '<div class="col-sm-3 tabs-responsive-side">'
                        divElement = divElement + '<div class="nav flex-column nav-pills border-tab nav-left bounceInLeft animated" id="v-pills-tab" role="tablist" aria-orientation="vertical">'

                        divContentElemt = divContentElemt + '<div class="col-sm-9"><div class="tab-content" id="v-pills-tabContent">'
                        $.each(Object.keys(res.msg), function (i, dt) {
                            var tab_id = dt.split(' ').join('_').split("'").join("").split(',').join('')
                            divElement = divElement + `<a class="nav-link ${i == 0 ? 'active' : ''}" id="${tab_id}_tab" data-bs-toggle="pill" href="#${tab_id}" role="tab" aria-controls="${tab_id}" aria-selected="false">${dt}</a>`
                            divContentElemt = divContentElemt + `<div class="tab-pane fade bounceInRight animated ${i == 0 ? 'active show' : ''}" id="${tab_id}" role="tabpanel" aria-labelledby="${tab_id}_tab">`
                            if(res.msg[dt].length > 0){
                                var parentQuest = res.msg[dt].filter(Subdt => Subdt.is_parent == 'Y' && Subdt.parent_id == 0),
                                emiTypeQuestIdArr = [], unitQuestIdArr = [];

                                // console.log(parentQuest, '==================================');
                                
                                parentQuest.forEach(parentQuestSeqDt => {
                                    var qAnsDt = res.proj_q_ans_dt.filter(asDt => asDt.quest_id == parentQuestSeqDt.id && asDt.end_flag != 'Y'),
                                    subParentData = res.msg[dt].filter(Subdt => Subdt.is_parent == 'N' && Subdt.is_sub_parent == 'Y' && Subdt.sub_parent_id == 0 && Subdt.parent_id == parentQuestSeqDt.sequence);
                                    
                                    var isParentHasAns = qAnsDt.length > 0 ? true : false                                
    
                                    var qSeq = `${parentQuestSeqDt.is_parent=='Y' ? `${parentQuestSeqDt.sequence}.` : (parentQuestSeqDt.parent_id > 0 && parentQuestSeqDt.is_sub_parent == 'Y' ? `${parentQuestSeqDt.parent_id}.${parentQuestSeqDt.sequence}` : (parentQuestSeqDt.sub_parent_id > 0 && parentQuestSeqDt.is_parent == 'N' && parentQuestSeqDt.is_sub_parent == 'N' ? `${parentQuestSeqDt.parent_id}.${parentQuestSeqDt.sub_parent_id}.${parentQuestSeqDt.sequence}` : `${parentQuestSeqDt.sequence}.`))}`
                                    // console.log(parentQuest, 'subParentData');
    
                                    divContentElemt = divContentElemt + `<div class="question-box parent-quest">
                                        ${parentQuestSeqDt.input_heading != '' && parentQuestSeqDt.input_heading ? `<h4 class="fadeIn animated">${parentQuestSeqDt.input_heading}</h4>` : ''}
                                        <div class="quest-text">
                                            <p class="fadeIn animated">
                                                ${qSeq} &nbsp; ${parentQuestSeqDt.input_label}
                                            </p>
                                            ${['R','C', 'S'].includes(parentQuestSeqDt.input_type) ? `<span class="badge rounded-pill badge-primary cust-badge-quest" onclick="clickAct(this)" style="display:${isParentHasAns ? 'block' : 'none'};"><span class="cust-badge-quest-txt m-r-10">${isParentHasAns ? qAnsDt[0].quest_ans : ''}</span><i class="icofont icofont-ui-edit"></i></span>` : ''}
                                        </div>
                                        <div class="quest-opt-btn mt-2" id="inputActionDiv-${parentQuestSeqDt.id}" style="display:${!isParentHasAns ? 'block' : 'none'};">
                                            ${createActionQuest(parentQuestSeqDt.qu_option, parentQuestSeqDt.input_type, `user_input_${parentQuestSeqDt.id}`, parentQuestSeqDt.id, parentQuestSeqDt.option_val, 0, 0, 0, scope_id, qSeq, isParentHasAns, isParentHasAns ? qAnsDt[0].quest_ans : '', 0, 0, false, false, 0, parentQuestSeqDt.pro_sec_id)}
                                        </div>
                                    </div>`
                                    
                                    $.each(subParentData, function (j, qdt){
                                        var subSubParentData = res.msg[dt].filter(Subdt => Subdt.is_parent == 'N' && Subdt.is_sub_parent == 'N' && Subdt.sub_parent_id == qdt.sequence && Subdt.parent_id == parentQuestSeqDt.sequence)
    
                                        var qSeq = `${qdt.is_parent=='Y' ? `${qdt.sequence}.` : (qdt.parent_id > 0 && qdt.is_sub_parent == 'Y' ? `${qdt.parent_id}.${qdt.sequence}` : (qdt.sub_parent_id > 0 && qdt.is_parent == 'N' && qdt.is_sub_parent == 'N' ? `${qdt.parent_id}.${qdt.sub_parent_id}.${qdt.sequence}` : `${qdt.sequence}.`))}`
                                        var subParentSeq = qSeq
    
                                        var qAnsDt = res.proj_q_ans_dt.filter(asDt => asDt.quest_id == qdt.id && asDt.end_flag != 'Y')
                                        var isSubParentHasAns = qAnsDt.length > 0 ? true : false
                                        
    
                                        var actTypeQuestId = subSubParentData.filter(fdt => fdt.input_type == 'A' && fdt.sub_parent_id == qdt.sequence),
                                            emiTypeQuestId = subSubParentData.filter(fdt => fdt.input_type == 'E' && fdt.sub_parent_id == qdt.sequence),
                                            unitQuestId = subSubParentData.filter(fdt => fdt.input_type == 'U' && fdt.sub_parent_id == qdt.sequence),
                                            lastTabId = subSubParentData.filter(fdt => fdt.next_qst_action_val == 'E' && fdt.sub_parent_id == qdt.sequence);
    
                                        var lastQuestData = subSubParentData.filter(fdt => fdt.next_qst_action_val == 'E' && fdt.sub_parent_id == qdt.sequence)
    
                                        // console.log(emiTypeQuestId, unitQuestId, dt, '-----/////////////')
                                        actTypeQuestId = actTypeQuestId.length > 0 ? actTypeQuestId[0].id : 0
                                        emiTypeQuestId = emiTypeQuestId.length > 0 ? emiTypeQuestId[0].id : 0
                                        unitQuestId = unitQuestId.length > 0 ? unitQuestId[0].id : 0
                                        lastTabId = lastTabId.length > 0 ? lastTabId[0].id : 0
    
                                        var filterCalDt = res.cal_val[dt].length > 0 ? res.cal_val[dt].filter(cdt => cdt.quest_id == lastTabId) : [], accordionEle = '';
    
                                        if(filterCalDt.length > 0){
                                            var totCalRow = filterCalDt.map((tdt) => tdt.sl_no)
                                            totCalRow = totCalRow.length > 0 ? [...new Set(totCalRow)] : [];
                                            var prevCalSlNo = 1
                                            $.each(totCalRow, function(ci, csl){
                                                var filterCalDtNew = filterCalDt.filter(ncdt => ncdt.sl_no == csl), totalCoVal = 0, questPrevData = '', isCopied = false;
    
                                                var qAnsDtCal = res.quest_ans_sec[dt].filter(asDt => asDt.end_flag != 'N' && asDt.pro_sl_no == csl && asDt.quest_seq.charAt(2) == subParentSeq.charAt(2));
                                                console.log(qAnsDtCal, 'qAnsDtCal=========');

                                                var totEmiCalVal = 0
                                                // console.log(qAnsDtCal, 'qAnsDtCal', csl, dt, subParentSeq);
                                                
                                                filterCalDtNew.forEach(tfDt => totEmiCalVal += tfDt.co_val);
    
                                                var last_quest_ans = qAnsDtCal.filter(ldt => ldt.quest_type == 'Y')
                                                
                                                questPrevData = questPrevData + `<div class="col-md-12">`
                                                if(qAnsDtCal.length > 0){
                                                    $.each(qAnsDtCal, function(qai, qaDt){  
                                                        if(qaDt.is_copy == 'Y'){
                                                            isCopied = true;
                                                            return false;
                                                        }
                                                        if(qaDt.input_type == 'A'){
                                                            return false;
                                                        }
                                                        if(qaDt.input_heading != ''){
                                                            questPrevData = questPrevData + `<p class="sub-title">${qaDt.input_heading}</p>`
                                                        }
                                                        questPrevData = questPrevData + `
                                                        <div class="figure d-block">
                                                            <blockquote class="blockquote">
                                                                <p class="mb-0">${qaDt.quest_seq} ${qaDt.input_label}</p>
                                                            </blockquote>
                                                            <div class="blockquote-footer">${qaDt.quest_ans}</div>
                                                        </div>
                                                        `
                                                    })
                                                }
                                                questPrevData = questPrevData + `</div>`
                                                
                                                accordionEle = accordionEle + `
                                                <div class="accordion custom-span-card" id="accordionForIndCal${csl}-${lastTabId}">
                                                    <div class="accordion-item my-3 caruBackCol1">
                                                        <h2 class="accordion-header" id="clCalHeading${csl}-${lastTabId}">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseColVal${csl}-${lastTabId}" aria-expanded="false" aria-controls="collapseColVal${csl}-${lastTabId}">
                                                                <p>${qAnsDtCal.length > 0 ? qAnsDtCal[1].quest_ans : ''}</p>
                                                                <div>
                                                                    <span class="infoCalLeb">${filterCalDtNew.length > 0 ? filterCalDtNew[0].act_name : ''} - ${filterCalDtNew.length > 0 ? filterCalDtNew[0].emi_name : ''} - </span>&nbsp;<span class="infoCalVal">${totEmiCalVal.toFixed(2)} tCO2e</span>                                                                
                                                                </div>
                                                            </button>
                                                        </h2>
                                                        <div id="collapseColVal${csl}-${lastTabId}" class="accordion-collapse collapse" aria-labelledby="clCalHeading${csl}-${lastTabId}" data-bs-parent="#accordionForIndCal${csl}-${lastTabId}">
                                                            <div class="accordion-body row">
                                                                ${questPrevData}
                                                                <div class="col-md-12">
                                                                    <div class="table-responsive mt-3">
                                                                        <table class="table table-bordered text-center">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th></th>    
                                                                                    <th>${lastQuestData.length > 0 ? lastQuestData[0].emi_head_opt1 : ''}</th>    
                                                                                    <th>${lastQuestData.length > 0 ? lastQuestData[0].emi_head_opt2 : ''}</th>    
                                                                                    <th>${lastQuestData.length > 0 ? lastQuestData[0].emi_head_opt3 : ''}</th>    
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            
                                                `
                                                $.each(filterCalDtNew, function(ni, calDt){
                                                    totalCoVal += calDt.co_val
                                                    accordionEle = accordionEle + `
                                                    <tr>
                                                        <td>${calDt.repo_mode_label}</td>
                                                        <td>${calDt.cal_val}</td>
                                                        <td>${calDt.emi_fact_val}</td>
                                                        <td>${calDt.co_val}</td>
                                                    </tr>
                                                    `
                                                })
                                                accordionEle = accordionEle + `</tbody><tfoot><tr><td colspan="3">Total:</td><td>${totalCoVal.toFixed(2)}</td></tr></tfoot></table></div></div>`
                                                if(!isCopied){
                                                    accordionEle = accordionEle + `<div class="col-md-12 mt-3">
                                                        <div class="float-end">
                                                            <button type="button" class="btn btn-pill btn-custom" onclick="delCalExt('${window.btoa(JSON.stringify(filterCalDtNew[0]))}')"><i class="icofont icofont-trash text-danger"></i></button>
                                                            <button type="button" class="btn btn-pill btn-custom" onclick="editCalExt('${window.btoa(JSON.stringify({cal_dt: filterCalDtNew, repo_mode: last_quest_ans.length > 0 ? last_quest_ans[0].quest_ans : 'Y', hd1: lastQuestData.length > 0 ? lastQuestData[0].emi_head_opt1.split("'").join("\\'") : '', hd2: lastQuestData.length > 0 ? lastQuestData[0].emi_head_opt2.split("'").join("\\'") : '', hd3: lastQuestData.length > 0 ? lastQuestData[0].emi_head_opt3.split("'").join("\\'") : '', title: `<span class="infoCalLeb">${filterCalDtNew.length > 0 ? filterCalDtNew[0].act_name : ''} - ${filterCalDtNew.length > 0 ? filterCalDtNew[0].emi_name : ''} - </span>&nbsp;<span class="infoCalVal">${totEmiCalVal.toFixed(2)} kg CO2e </span>&nbsp;<span class="infoCalLeb">since ${filterCalDtNew.length > 0 ? filterCalDtNew[0].repo_period : ''} ${filterCalDtNew.length > 0 ? (filterCalDtNew[0].repo_month != '' ? ', ' + filterCalDtNew[0].repo_month : '') : ''}</span>`}))}')"><i class="icofont icofont-pencil-alt-5 text-success"></i></button>
                                                        </div>
                                                    </div>`
                                                }
                                                accordionEle = accordionEle + `</div></div></div></div>`
                                            })
                                        }
    
                                        divContentElemt = divContentElemt + `<div class="sub-parent-container" style="display:${isParentHasAns ? 'block' : 'none'};"><div class="question-box sub-parent-quest" style="display:${isParentHasAns ? 'block' : 'none'};">
                                            ${qdt.input_heading != '' && qdt.input_heading ? `<h5 class="fadeIn animated">${qdt.input_heading}</h5>` : ''}
                                            ${accordionEle}
                                            <div class="quest-text">
                                                <p class="fadeIn animated">
                                                    ${qSeq} &nbsp; ${qdt.input_label}
                                                </p>
                                                ${['R','C', 'S'].includes(qdt.input_type) ? `<span class="badge rounded-pill badge-primary cust-badge-quest" onclick="clickAct(this)" style="display:${isSubParentHasAns ? 'block' : 'none'};">${isSubParentHasAns ? qAnsDt[0].quest_ans : ''}<span class="cust-badge-quest-txt m-r-10"></span><i class="icofont icofont-ui-edit"></i></span>` : ''}
                                            </div>
                                            <div class="quest-opt-btn mt-2" id="inputActionDiv-${qdt.id}" style="display:${!isSubParentHasAns ? 'block' : 'none'};">
                                                ${createActionQuest(qdt.qu_option, qdt.input_type, `user_input_${qdt.id}`, qdt.id, qdt.option_val, 0, 0, 0, scope_id, qSeq, isSubParentHasAns, isSubParentHasAns ? qAnsDt[0].quest_ans : '', 0, 0, false, false, 0, qdt.pro_sec_id)}
                                            </div>
                                        </div>
                                        <div class="sub-sub-section">`
                                        if(subSubParentData.length > 0){
                                            $.each(subSubParentData, function (j, sqdt){
                                                var qAnsDt = res.proj_q_ans_dt.filter(asDt => asDt.quest_id == sqdt.id && asDt.end_flag != 'Y')
                                                var isSubSubParentHasAns = qAnsDt.length > 0 ? true : false
    
                                                var subSubQuestPos = actTypeQuestId >= sqdt.id ? true : (isSubSubParentHasAns ? true : false)
    
                                                var lastTable = sqdt.next_qst_action_val == 'E' ? createTable(sqdt.id, sqdt.emi_head_opt1, sqdt.emi_head_opt2, sqdt.emi_head_opt3, subParentSeq) : '';
                                                
                                                var emiVal = 0, unitVal = 0, hasEmiVal = false, hasUnitVal = false;
    
                                                if(emiTypeQuestId > 0){
                                                    var filAnsVal = res.proj_q_ans_dt.filter(asDt => asDt.quest_id == emiTypeQuestId)
                                                    emiVal = filAnsVal.length > 0 ? filAnsVal[0].quest_ans : 0
                                                    hasEmiVal = emiVal > 0
                                                }
    
                                                if(unitQuestId > 0){
                                                    var filAnsVal = res.proj_q_ans_dt.filter(asDt => asDt.quest_id == unitQuestId)
                                                    unitVal = filAnsVal.length > 0 ? filAnsVal[0].quest_ans : 0
                                                    hasUnitVal = unitVal > 0
                                                }
                                                // console.log(emiTypeQuestId, unitQuestId, lastTabId, '/./././././././.');
    
                                                var qSeq = `${sqdt.is_parent=='Y' ? `${sqdt.sequence}.` : (sqdt.parent_id > 0 && sqdt.is_sub_parent == 'Y' ? `${sqdt.parent_id}.${sqdt.sequence}` : (sqdt.sub_parent_id > 0 && sqdt.is_parent == 'N' && sqdt.is_sub_parent == 'N' ? `${sqdt.parent_id}.${sqdt.sub_parent_id}.${sqdt.sequence}` : `${sqdt.sequence}.`))}`
                                                
    
                                                divContentElemt = divContentElemt + `<div class="question-box sub-sub-parent-quest" style="display:${isSubParentHasAns && ['R','C','S','I','A'].includes(sqdt.input_type) && subSubQuestPos ? 'block' : 'none'};">
                                                    ${sqdt.input_heading != '' && sqdt.input_heading ? `<h5 class="fadeIn animated">${sqdt.input_heading}</h5>` : ''}
                                                    <div class="quest-text">
                                                        <p class="fadeIn animated">
                                                            ${qSeq} &nbsp; ${sqdt.input_label}
                                                        </p>
                                                        ${['R','C', 'S'].includes(sqdt.input_type) ? `<span class="badge rounded-pill badge-primary cust-badge-quest" onclick="clickAct(this)" style="display:${isSubSubParentHasAns ? 'block' : 'none'};">${isSubSubParentHasAns ? qAnsDt[0].quest_ans : ''}<span class="cust-badge-quest-txt m-r-10"></span><i class="icofont icofont-ui-edit"></i></span>` : ''}
                                                    </div>
                                                    <div class="quest-opt-btn mt-2 ${sqdt.next_qst_action_val == 'E' ? 'last-emi-tab' : ''}" id="inputActionDiv-${sqdt.id}">
                                                        ${createActionQuest(sqdt.qu_option, sqdt.input_type, `user_input_${sqdt.id}`, sqdt.id, sqdt.option_val, emiTypeQuestId, unitQuestId, lastTabId, scope_id, qSeq, isSubSubParentHasAns, isSubSubParentHasAns ? qAnsDt[0].quest_ans : '', emiVal, unitVal, hasEmiVal, hasUnitVal, actTypeQuestId, sqdt.pro_sec_id)}
                                                    </div>
                                                    ${lastTable}
                                                </div>`
                                            })
                                        }
                                        divContentElemt = divContentElemt + '</div></div>'
                                    })
                                })

                            }else{
                                divContentElemt = divContentElemt + '<div class="text-center"><strong class="text-danger">No Data Found</strong></div>'
                            }
                            divContentElemt = divContentElemt + '</div>'
                        })
                        divElement = divElement + '</div></div>'
                        divContentElemt = divContentElemt + '</div></div>'
                        $(`${tabId}`).children('.quest-tab-context').append(divElement + divContentElemt)
                        setTimeout(function () {
                            $('.custSelect2').select2({
                                placeholder: "-- Select an option --",
                                allowClear: false,
                                theme: "bootstrap-5"
                            });
                        }, 100)
                    }
                }
            },
            complete: function(){
                $('.loader-wrapper').hide()
            }
        })
        // console.log($(e).attr('href'));
        
    }
    function createActionQuest(option, flag, label = '', id = 0, option_val= '', emi_id = 0, unit_id = 0, lat_table_id = 0, scope_id = 0, quest_seq = 0, hasAns = false, ansVal = '', emiVal = 0, unitVal = 0, hasEmiVal = false, hasUnitVal = false, act_id = 0, quest_sec_id = 0){
        var optEle = '',
        btnData = window.btoa(JSON.stringify({scope_id, quest_seq, quest_id: id, quest_type: flag, proj_id: $('#proj_id').val(), top_id: $('#top_id').val(), sec_id: $('#sec_id').val(), ind_id: $('#ind_id').val(), quest_sec_id}));
        switch (flag) {
            case 'R':
                $.each(option, function(i, dt){
                    var optEleSep = `<button class="btn btn-pill btn-custom m-r-40" type="button" quest-dt="${btnData}" onclick="clickAct(this)">${dt.option_name}</button>`
                    optEle = optEle + optEleSep
                    // console.log(hasAns && dt.option_name == ansVal && ansVal == 'Yes')
                    // if(hasAns && dt.option_name == ansVal && ansVal == 'Yes') {
                    //     clickAct($(optEleSep))
                    // }
                })
                break;
            case 'C':
                $.each(option, function(i, dt){
                    optEle = optEle + `<button class="btn btn-pill btn-custom m-r-40" type="button" quest-dt="${btnData}" onclick="clickAct(this)">${dt.option_name}</button>`
                })
                break;
            case 'S':
                $.each(option, function(i, dt){
                    optEle = optEle + `<button class="btn btn-pill btn-custom m-r-40" type="button" quest-dt="${btnData}" onclick="clickAct(this)">${dt.option_name}</button>`
                })
                break;
            case 'I':
                optEle = optEle + `<input class="form-control" id="${label}" name="${label}" type="text" value="${hasAns ? ansVal : ''}" onchange="saveData('${btnData}', $(this).val())" required="">`
                break;
            case 'A':
                // setTimeout(() => {
                    getCalActDtls(option_val, '<%= flag %>').then(function (actData) {
                        // console.log(actData, 'here');
                        var optEle = `<div class="form-group"><select class="form-select dynamic-sel-opt custSelect2" name="act_id" id="act_id_${id}" data-type-id="${option_val}" next-id="${emi_id}" unit-id="${unit_id}" quest-dt="${btnData}" onchange="getCalEmiTypeDtls(this, ${hasAns ? ansVal : 0}, ${emiVal > 0 ? emiVal : 0}, ${unitVal > 0 ? unitVal : 0}, ${hasEmiVal}, ${hasUnitVal}, ${scope_id}, '${quest_seq}', ${quest_sec_id})"><option value="">Select Activity</option>`
                        if(actData.length > 0){
                            $.each(actData, function(i, dt){
                                var _selected = ''
                                if(hasAns && dt.id == ansVal) _selected = 'selected'
                                optEle = optEle + `<option value="${dt.id}" ${_selected}>${dt.act_name}</option>`
                            })
                        }
                        optEle = optEle + '</select></div>'
                        $(`#inputActionDiv-${id}`).append(optEle)
                        setTimeout(function(){
                            $('.custSelect2').select2({
                                placeholder: "-- Select an option --",
                                allowClear: false,
                                theme: "bootstrap-5"
                            });
                        }, 100)
                        if(hasAns){
                            // console.log('123123123123123');
                            $(`#inputActionDiv-${id}`).children().children('select').change()
                            // getCalEmiTypeDtls(optEle, hasAns ? ansVal : 0)
                        }
                    }).catch((err) => {
                        console.log(err);
                    }) 
                // optEle = optEle + `<input class="form-control" id="${label}" name="${label}" type="text" value="" required="">`
                break;
            case 'Y':
                var year_opt = [{id: 'Y', name: 'Yearly'}, {id: 'Q', name: 'Quarterly'}, {id: 'M', name: 'Monthly'}]
                optEle = `<div class="form-group"><select class="form-select dynamic-sel-opt custSelect2" name="mode_type" id="mode_type_${id}" quest-dt="${btnData}" onchange="createModeTableTr(this, ${id}, ${lat_table_id}, ${emi_id}, ${unit_id}, '${ansVal}', ${act_id}, ${quest_sec_id})"><option value="">Select Mode</option>`
                $.each(year_opt, function(i, dt){
                    var _selected = ''
                    if(hasAns && ansVal == dt.id) _selected = 'selected'
                    optEle = optEle + `<option value="${dt.id}" ${_selected}>${dt.name}</option>`
                })
                optEle = optEle + '</select></div>'
                // console.log($(optEle), '123')
                break;
        
            default:
                break;
        }
        return optEle;
    }
    const getCalActDtls = (type_id, flag) => {
        return new Promise((resolve, reject) => {
            $.ajax({
                method:'POST',
                url: '/get_cal_act_ajax',
                data: {type_id: type_id, flag: flag},
                beforeSend: function(){
                    // $('.loader-wrapper').show()
                }
            }).done(function(result){
                $('.loader-wrapper').hide()
                resolve(result.suc > 0 ? result.msg : []);
            }).fail(function(err){
                // $('.loader-wrapper').hide()
                reject(err)
            })
        })
    }

    const getCalEmiTypeDtls = (e, selVal, emiVal = 0, unitVal = 0, hasEmiVal = false, hasUnitVal=false, scope_id, quest_seq, quest_sec_id, flag='E') => {  
        // console.log(e, '---------');
              
        var type_id = $(e).attr('data-type-id'),
        act_id = $(e).val(),
        unit_id = $(e).attr('unit-id'),
        id = $(e).attr('id').split('_')[$(e).attr('id').split('_').length - 1],
        next_id = $(e).attr('next-id'),
        unit_q_id = $(e).attr('unit-id'),
        quest_dt = $(e).attr('quest-dt');

        var btnData = window.btoa(JSON.stringify({scope_id, quest_seq, quest_id: next_id, quest_type: 'E', proj_id: $('#proj_id').val(), top_id: $('#top_id').val(), sec_id: $('#sec_id').val(), ind_id: $('#ind_id').val(), quest_sec_id}));

        if(selVal != act_id) saveData(quest_dt, act_id)
        // console.log('ajhskdahlksdjahlksdhalkds', type_id, act_id);

        $.ajax({
            method:'POST',
            url: '/get_cal_emi_type_ajax',
            data: {type_id, act_id, flag: '<%= flag %>'},
            beforeSend: function(){
                // $('.loader-wrapper').show()
            },
            success: function(result){
                var res = result
                if(res.suc > 0){
                    $(`#inputActionDiv-${next_id}`).parent().show()
                    $(`#inputActionDiv-${next_id}`).empty()
                    var optEle = `<div class="form-group"><select class="form-select dynamic-sel-opt custSelect2" name="emi_type" id="emi_type_${next_id}" data-type-id="${type_id}" next-id="${unit_q_id}" quest-dt="${btnData}" onchange = "getCalUnitDtls(this, ${emiVal}, ${unitVal}, ${hasUnitVal}, ${scope_id}, '${quest_seq}', ${quest_sec_id})"><option value="">Select Emission Source</option>`
                    if(res.msg.length > 0){
                        $.each(res.msg, function(i, dt){
                            var _selected = ''
                            if(emiVal > 0 && emiVal == dt.id) _selected = 'selected'
                            optEle = optEle + `<option value="${dt.id}" ${_selected}>${dt.emi_name}</option>`
                        })
                    }
                    optEle = optEle + '</select></div>'
                    $(`#inputActionDiv-${next_id}`).append(optEle)
                    setTimeout(function () {
                        $('.custSelect2').select2({
                            placeholder: "-- Select an option --",
                            allowClear: false,
                            theme: "bootstrap-5"
                        });
                    }, 100)
                    if(selVal == act_id && act_id > 0){                        
                        $(`#inputActionDiv-${next_id}`).children().children('select').change()
                    }
                }
            },
            complete: function(){
                // $('.loader-wrapper').hide()
            }
        })
    }

    const getCalUnitDtls = (e, emiVal, unitVal, hasUnitVal, scope_id, quest_seq, quest_sec_id, flag='E') => {
        var type_id = $(e).attr('data-type-id'),
        emi_type_id = $(e).val(),
        id = $(e).attr('id').split('_')[$(e).attr('id').split('_').length - 1],
        next_id = $(e).attr('next-id'),
        quest_dt = $(e).attr('quest-dt');

        var act_id = $(`act_id_${id}`).val()

        var btnData = window.btoa(JSON.stringify({scope_id, quest_seq, quest_id: next_id, quest_type: 'U', proj_id: $('#proj_id').val(), top_id: $('#top_id').val(), sec_id: $('#sec_id').val(), ind_id: $('#ind_id').val(), quest_sec_id}));

        if(emi_type_id != emiVal) saveData(quest_dt, emi_type_id)

        $.ajax({
            method:'POST',
            url: '/get_cal_unit_list_ajax',
            data: {type_id, act_id, emi_type_id, year: 0, flag: '<%= flag %>'},
            beforeSend: function(){
                // $('.loader-wrapper').show()
            },
            success: function(result){
                var res = result
                if(res.suc > 0){
                    $(`#inputActionDiv-${next_id}`).parent().show()
                    $(`#inputActionDiv-${next_id}`).empty()
                    var optEle = `<div class="form-group"><select class="form-select dynamic-sel-opt custSelect2" name="unit_id" id="unit_id_${next_id}" quest-dt="${btnData}" onchange="unitEmiChange(this, ${unitVal}, ${scope_id}, '${quest_seq}', ${quest_sec_id})"><option value="">Select Unit</option>`
                    if(res.msg.length > 0){
                        $.each(res.msg, function(i, dt){
                            var _selected = ''
                            if(unitVal > 0 && unitVal == dt.unit_id) _selected = 'selected'

                            optEle = optEle + `<option value="${dt.unit_id}" co-val="${dt.co_val}" ${_selected}>${dt.unit_name}</option>`
                        })
                    }
                    optEle = optEle + '</select></div>'
                    $(`#inputActionDiv-${next_id}`).append(optEle)
                    setTimeout(function () {
                        $('.custSelect2').select2({
                            placeholder: "-- Select an option --",
                            allowClear: false,
                            theme: "bootstrap-5"
                        });
                    }, 100)
                    if(emi_type_id == emiVal && emiVal > 0){
                        $(`#inputActionDiv-${next_id}`).children().children('select').change()
                    }
                }
            },
            complete: function(){
                // $('.loader-wrapper').hide()
            }
        })
    }

    function unitEmiChange(e, unitVal, scope_id, quest_seq, quest_sec_id){
        // console.log($(e));
        var quest_dt = $(e).attr('quest-dt'),
        unit_val = $(e).val();

        // var decData = window.atob(quest_dt)
        // decData = JSON.parse(decData)

        if(unit_val != unitVal) saveData(quest_dt, unit_val)

        $(e).parent().parent().parent().nextAll().each(function (i, dt){
            if($(dt).children().closest('.quest-opt-btn').children('input').length > 0 || $(dt).children().closest('.quest-opt-btn').children().children('select').length > 0){
                $(dt).show()
            }else{
                return false;
            }
        })
        // $(e).parent().parent().parent().next().show()
    }

    function createTable(id, th1, th2, th3, subSeq){
        var year_list = <%- JSON.stringify(year_list) %>,
        month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var reportingOpt = '', monthOpt = '';
        year_list.forEach(dt => {
            reportingOpt += `<option value="${dt}">${dt}</option>`
        });
        month_list.forEach(dt => {
            monthOpt += `<option value="${dt}">${dt}</option>`
        });
        var reportingSelect = `
        <input type="hidden" id="repo_period_${id}" name="repo_period" value="${$('#sel_year_quest').val()}">
        <!-- <div class="col-md-6 m-t-10">
            <label class="form-label float-start" for="repo_period_${id}">Reporting Period</label>
            <select class="form-select custSelect2" id="repo_period_${id}" name="repo_period" required="" onchange="changeRepoPer(this, ${id})">
                <option selected="" value="">Select Reporting Period</option>
                ${reportingOpt}
            </select>
        </div> -->
        `
        var monthSelect = `
        <div class="col-md-6 m-t-10">
            <label class="form-label float-start" for="strt_month_${id}">Start Month</label>
            <select class="form-select custSelect2" id="strt_month_${id}" name="strt_month" required="" onchange="changeStMon(this, ${id})">
                <option selected="" value="">Select Start Month</option>
                ${monthOpt}
            </select>
        </div>
        `
        var tableEleData = `
        <div class="row" id="emiEntryTab-${id}">
            ${reportingSelect}
            ${monthSelect}
            <div class="col-md-12 mt-4 emi-table">
                <table class="table table-bordered" id="userTable${id}">
                    <thead>
                        <tr>
                            <th>Mode</th>
                            <th>
                                ${th1}
                            </th>
                            <th>
                                ${th2}
                            </th>
                            <th>
                                ${th3}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="h5">Total</td>
                            <td id="tot_emi_cal_${id}"></td>
                        </tr>    
                    </tfoot>
                </table>
            </div>
            <div class="col-md-12">
                <button class="btn btn-pill btn-custom float-end" type="button" data-bs-original-title title="Save" onclick="saveCalValue(this, ${id}, '${subSeq}')">
                    <i class="icofont icofont-save">Save</i>
                </button>
            </div>
        </div>
        `
        return tableEleData;
    }

    function createModeTableTr(e, id, lat_table_id, emi_id, unit_id, ansVal, act_id, quest_sec_id){
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        quaterMon = ['Q 1', 'Q 2', 'Q 3', 'Q 4'],
        quest_dt = $(e).attr('quest-dt');
        var flag = $(e).val()
        var eleTr = ''

        if(ansVal != flag) saveData(quest_dt, flag)

        $(e).parent().parent().parent().next().show()
        // console.log(flag, id, lat_table_id, 'asasas');
        var col_val = $(`#unit_id_${unit_id}`).find('option:selected').attr('co-val')
        switch (flag) {
            case 'Y':
                $(`#strt_month_${lat_table_id}`).parent().hide()
                $(`#strt_month_${lat_table_id}`).removeAttr('required')
                // $(`#userTable${lat_table_id}`).attr('mode-emi', flag)
                $(`#userTable${lat_table_id} tbody`).empty()
                $(`#tot_emi_cal_${lat_table_id}`).text('')
                $(`#userTable${lat_table_id} tbody`).append(`
                <tr>
                    <td>
                        <span id="input-mode-span-${lat_table_id}">${$('#sel_year_quest').val()}</span>
                        <input type="hidden" name="mode_quest_id" id="mode_quest_id_${lat_table_id}" value="${id}">
                        <input type="hidden" name="mode_quest_val" id="mode_quest_val_${lat_table_id}" value="${flag}">
                        <input type="hidden" id="act_id_tab_${lat_table_id}" value="${act_id}">
                        <input type="hidden" id="emi_id_tab_${lat_table_id}" value="${emi_id}">
                        <input type="hidden" id="unit_id_tab_${lat_table_id}" value="${unit_id}">
                    </td>
                    <td>
                        <input class="form-control" id="cal_val_1_${lat_table_id}" name="cal_val_${lat_table_id}" type="text" value="" required="" onchange="calTabValue(this, ${lat_table_id})">
                    </td>
                    <td>
                        <input class="form-control" id="emi_fact_val_1_${lat_table_id}" name="emi_fact_val_${lat_table_id}" type="text" value="${col_val}" required="" onchange="calTabValue(this, ${lat_table_id})" readonly>
                    </td>
                    <td>
                        <input class="form-control" id="co_val_1_${lat_table_id}" name="co_val_${lat_table_id}" type="text" value="" required="" onchange="calTabValue(this, ${lat_table_id})">
                    </td>
                </tr>
                `)
                break;
            
            case 'Q':
                $(`#strt_month_${lat_table_id}`).parent().show()
                $(`#userTable${lat_table_id} tbody`).empty()
                $(`#tot_emi_cal_${lat_table_id}`).text('')
                $.each(quaterMon, function(i, mdt){
                    $(`#userTable${lat_table_id} tbody`).append(`
                    <tr>
                        <td>
                            <span id="input-mode-span-${i+1}-${lat_table_id}">${mdt}</span>
                            <input type="hidden" name="mode_quest_id" id="mode_quest_id_${lat_table_id}" value="${id}">
                            <input type="hidden" name="mode_quest_val" id="mode_quest_val_${lat_table_id}" value="${flag}">
                            <input type="hidden" id="act_id_tab_${lat_table_id}" value="${act_id}">
                            <input type="hidden" id="emi_id_tab_${lat_table_id}" value="${emi_id}">
                            <input type="hidden" id="unit_id_tab_${lat_table_id}" value="${unit_id}">
                        </td>
                        <td>
                            <input class="form-control" id="cal_val_${i+1}_${lat_table_id}" name="cal_val_${lat_table_id}" type="text" value="" required="" onchange="calTabValue(this, ${lat_table_id})">
                        </td>
                        <td>
                            <input class="form-control" id="emi_fact_val_${i+1}_${lat_table_id}" name="emi_fact_val_${lat_table_id}" type="text" value="${col_val}" required="" onchange="calTabValue(this, ${lat_table_id})" readonly>
                        </td>
                        <td>
                            <input class="form-control" id="co_val_${i+1}_${lat_table_id}" name="co_val_${lat_table_id}" type="text" value="" required="" onchange="calTabValue(this, ${lat_table_id})">
                        </td>
                    </tr>
                    `)
                })
                break;
                
            case 'M':
            $(`#strt_month_${lat_table_id}`).parent().show()
            $(`#userTable${lat_table_id} tbody`).empty()
            $(`#tot_emi_cal_${lat_table_id}`).text('')
                $.each(months, function(i, mdt){
                    $(`#userTable${lat_table_id} tbody`).append(`
                    <tr>
                        <td>
                            <span id="input-mode-span-${i+1}-${lat_table_id}">${mdt}</span>
                            <input type="hidden" name="mode_quest_id" id="mode_quest_id_${lat_table_id}" value="${id}">
                            <input type="hidden" name="mode_quest_val" id="mode_quest_val_${lat_table_id}" value="${flag}">
                            <input type="hidden" id="act_id_tab_${lat_table_id}" value="${act_id}">
                            <input type="hidden" id="emi_id_tab_${lat_table_id}" value="${emi_id}">
                            <input type="hidden" id="unit_id_tab_${lat_table_id}" value="${unit_id}">
                        </td>
                        <td>
                            <input class="form-control" id="cal_val_${i+1}_${lat_table_id}" name="cal_val_${lat_table_id}" type="text" value="" required="" onchange="calTabValue(this, ${lat_table_id})">
                        </td>
                        <td>
                            <input class="form-control" id="emi_fact_val_${i+1}_${lat_table_id}" name="emi_fact_val_${lat_table_id}" type="text" value="${col_val}" required="" onchange="calTabValue(this, ${lat_table_id})" readonly>
                        </td>
                        <td>
                            <input class="form-control" id="co_val_${i+1}_${lat_table_id}" name="co_val_${lat_table_id}" type="text" value="" required="" onchange="calTabValue(this, ${lat_table_id})">
                        </td>
                    </tr>
                    `)
                })
                break;
        
            default:
                break;
        }
    }

    function changeRepoPer(e, id){
        if(!$(`#strt_month_${id}`).is('visible')){
            $(`#userTable${id}`).show()
            $(`#input-mode-span-${id}`).text($(e).val())
        }else{
            $(`#userTable${id}`).hide()
        }
    }

    function changeStMon(e, id){
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        var sel_mon = $(e).val()
        var sel_index = months.findIndex(dt => dt == sel_mon), quater_arr = [], sel_year = $(`#repo_period_${id}`).val();

        $(`#userTable${id}`).show()

        if($(`#userTable${id} tbody tr`).length == 4){
            var tot_month = 12, j = 1;
            for(let i = 0; i < 4; i++){
                var monLen = tot_month % sel_index
                if(monLen > 0 && (tot_month - sel_index) < 3){
                    quater_arr.push(`Q ${j}, ${sel_year.toString()}-${(parseInt(sel_year)+1).toString().substring(2)}`)
                    sel_index = sel_index - tot_month
                    sel_year = parseInt(sel_year)+1
                }else if((tot_month - sel_index) == 0 && monLen == 0){
                    sel_index = sel_index - tot_month
                    sel_year = parseInt(sel_year)+1
                    quater_arr.push(`Q ${j}, ${sel_year.toString()}`)
                }else{
                    quater_arr.push(`Q ${j}, ${sel_year.toString()}`)
                    sel_index = parseInt(sel_index) + 3
                }
                j++
            }

            j = 0
            $(`#userTable${id} tbody tr`).each(function(i, dt) {
                $(dt).children().find(`#input-mode-span-${j+1}-${id}`).text(quater_arr[i])
                j++
            })
        }
        if($(`#userTable${id} tbody tr`).length == 12){
            var monthCount = sel_index,
            currMonth = [];
            for(let dt of months){
                if(monthCount > (months.length-1)){
                    monthCount = 0
                }
                currMonth.push(months[monthCount])
                monthCount++;
            }

            var j = 0
            $(`#userTable${id} tbody tr`).each(function(i, dt) {
                $(dt).children().find(`#input-mode-span-${j+1}-${id}`).text(currMonth[i])
                j++
            })
        }
    }

    function changeProvTable(id, active){
        var j = 0
        $(`#userTable${id} tbody tr`).each(function(i, dt) {
            if(active){
                $(dt).children().find(`#emi_fact_val_${j+1}_${id}`).removeAttr('readonly')
            }else{
                $(dt).children().find(`#emi_fact_val_${j+1}_${id}`).attr('readonly', 'readonly')
            }
            j++
        })
    }

    function calTabValue(e, id){
        // console.log($(e).parent().parent().parent());
        var totCo2 = 0
        $(e).parent().parent().parent().children().each(function(i, dt){
            var emi_val = $($(dt).children()[1]).find('input').val() > 0 ? $($(dt).children()[1]).find('input').val() : 0
            var emi_fact = $($(dt).children()[2]).find('input').val() > 0 ? $($(dt).children()[2]).find('input').val() : 0
            
            var co2 = (emi_val * emi_fact) / 1000
            totCo2 = parseFloat(totCo2) + parseFloat(co2)
            $($(dt).children()[3]).find('input').val(co2.toFixed(4))
            $(`#tot_emi_cal_${id}`).text(totCo2.toFixed(4))
        })
    }

    function saveCalValue(e, id, subSeq){
        var repo_period = $(`#repo_period_${id}`).val(),
        strt_month = $(`#strt_month_${id}`).val(),
        mode_quest_id = $(`#mode_quest_id_${id}`).val(),
        mode_quest_val = $(`#mode_quest_val_${id}`).val(),
        act_id_tab = $(`#act_id_tab_${id}`).val(),
        emi_id_tab = $(`#emi_id_tab_${id}`).val(),
        unit_id_tab = $(`#unit_id_tab_${id}`).val(),
        quest_dt = $(`#mode_type_${mode_quest_id}`).attr('quest-dt'),
        cal_val = [],
        emi_fact_val = [],
        co_val = [],
        repo_mode_label = [];

        var act_id = $(`#act_id_${act_id_tab}`).val(),
        emi_id = $(`#emi_type_${emi_id_tab}`).val(),
        unit_id = $(`#unit_id_${unit_id_tab}`).val();

        $(`input[name="cal_val_${id}"]`).each(function (i, dt){
            cal_val.push($(dt).val())
            repo_mode_label.push($(dt).parent().prev().children('span').text())
        })
        $(`input[name="emi_fact_val_${id}"]`).each(function (i, dt){
            emi_fact_val.push($(dt).val())
        })
        $(`input[name="co_val_${id}"]`).each(function (i, dt){
            co_val.push($(dt).val())
        })

        // console.log(repo_period, strt_month, cal_val, emi_fact_val, co_val, mode_quest_id, mode_quest_val, '-----------');

        $.ajax({
            method:'POST',
            url: '/save_co_cal_ajax',
            data: {enc_dt: quest_dt, repo_period, strt_month, cal_val: JSON.stringify(cal_val), emi_fact_val: JSON.stringify(emi_fact_val), co_val: JSON.stringify(co_val), mode_quest_id, mode_quest_val, quest_id: id, act_id, emi_id, unit_id, repo_mode_label: JSON.stringify(repo_mode_label), subSeq},
            beforeSend: function(){
                // $('.loader-wrapper').show()
            },
            success: function(result){
                var res = result
                // console.log(res);
                if(res.suc > 0) window.location.href = window.location.href
                
            },
            complete: function(){
                // $('.loader-wrapper').hide()
            }
        })
        
    }

    async function delCalExt(encDt){
        var data = window.atob(encDt)
        data = JSON.parse(data)
        var text = 'Are you sure, you want to delete?',
        title = "You won't be able to revert this!";
        if(await inititate_sweet_conf_alert(text, title) > 0){
            // console.log('True');
            $.ajax({
                method:'POST',
                url: '/delete_ghg_ext_cal_mod_ajax',
                data: {enc_dt: encDt},
                beforeSend: function(){
                    // $('.loader-wrapper').show()
                },
                success: function(result){
                    var res = result
                    // console.log(res);
                    if(res.suc > 0) $(`#accordionForIndCal${data.sl_no}`).detach()
                    
                },
                complete: function(){
                    // $('.loader-wrapper').hide()
                }
            })
        }
        
    }

    async function editCalExt(encDt, flag = 0) {
        var data = window.atob(encDt)
        data = JSON.parse(data)
        var text = 'Are you sure, you want to edit?',
        title = "You won't be able to revert this!";
        if(await inititate_sweet_conf_alert(text, title) > 0){
            $.ajax({
                method:'POST',
                url: '/ghg_edit_cal_data_ajax',
                data: {enc_dt: encDt, flag},
                beforeSend: function(){
                    // $('.loader-wrapper').show()
                },
                success: function(result){
                    var res = result
                    // console.log(res);
                    // if(res.suc > 0) $(`#accordionForIndCal${data.sl_no}`).detach()
                    $(res).modal('show')
                    // console.log(window.location.href);
                    var url = window.location.href
                    url = url.split('?')
                    url = url[1]
                    // console.log(url);
                    setTimeout(() => {
                        $('#url').val(url)
                    }, 1000);
                },
                complete: function(){
                    // $('.loader-wrapper').hide()
                }
            })            
        }
    }

    function addModTabRw(id){
        var tot_row = $(`#${id} tbody tr`).length
        var emi_val = $(`#emi_fact_val_${tot_row}`).val(),
        prevMonth = $(`#repo_mode_label_${tot_row}`).val(),
        startMonth = $(`#repo_mode_label_1`).val();
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        var sel_index = months.findIndex(dt => dt == prevMonth);
        var next_mon = months[sel_index + 1 >= 12 ? 0 : sel_index + 1]
        // console.log(sel_index+1, next_mon, prevMonth, startMonth);
        
        if(next_mon != startMonth){
            $(`#${id} tbody`).append(`
                <tr>
                    <td>
                        ${next_mon}
                        <input type="hidden" id="repo_mode_label_${parseInt(tot_row) + 1}" name="repo_mode_label" value="${next_mon}">
                    </td>
                    <td>
                        <input class="form-control" id="cal_val_${parseInt(tot_row) + 1}" name="cal_val" type="text" value="" required="" onchange="calTabValue(this, 'Md')">
                    </td>
                    <td>
                        <input class="form-control" id="emi_fact_val_${parseInt(tot_row) + 1}" name="emi_fact_val" type="text" value="${emi_val}" required="" onchange="calTabValue(this, 'Md')" readonly>
                    </td>
                    <td>
                        <input class="form-control" id="co_val_${parseInt(tot_row) + 1}" name="co_val" type="text" value="" required="" onchange="calTabValue(this, 'Md')">
                    </td>
                    <td>
                        <button class="btn btn-custom" type="button" onclick="delModTabRw(this)"><i class="icofont icofont-trash"></i></button>
                    </td>
                </tr>
            `)
        }else{
            initiate_sweet_alert('', 'Dublicate month found!', 'danger')
        }
    }
    async function delModTabRw(e){
        // console.log($(e));
        var text = 'Are you sure, you want to delete?',
        title = "You won't be able to revert this!";
        if(await inititate_sweet_conf_alert(text, title) > 0){
            $(e).parent().parent().detach()
        }
    }
    
</script>