<%- include('../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6 row">
                <!-- <div class="col-md-4">
                    <h5 class="text-muted mt-2"><%= header %></h5>
                </div> -->
                <div class="col-md-8">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><%= header %></li>
                    </ol>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <% if(message){ %>
                <script>
                    setTimeout(() => {
                        initiate_sweet_alert('<%= header %>', '<%= message.message %>', "<%= message.type != 'danger' ? message.type : 'error' %>")
                    }, 1000);
                </script>
            <% } %>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="card-btn-item btn btn-primary wow lightSpeedIn">1st</button>
                            <button class="card-btn-item btn btn-danger wow rollIn center">2nd</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/animation/animate-custom.js"></script>

<%- include('../templates/footer.ejs') %>