<%- include('../../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Add/Edit Sector</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/dashboard">Sector Dashboard</a></li>
                    <li class="breadcrumb-item">Add/Edit Sector</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-body">
                <form method="POST" id="formPost" action="/sec_save">
                    <div class="row g-3 py-3">
                        <div class="col-md-12">
                            <label class="form-label" for="sec_name">Sector name</label>
                            <input class="form-control" id="sec_name" name="sec_name" type="text" value="<%= sec_id > 0 ? data.msg[0].sec_name : '' %>" required="required">
                        </div>
                    </div>
                    <input type="hidden" name="id" value="<%= sec_id > 0 ? sec_id : 0 %>">
                    <input type="hidden" name="flag" value="<%= flag ? flag : '' %>">
                    <button class="btn btn-primary" type="button" id="subBtn">Submit</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#subBtn").click(function (event) {
        var secVal = $('#sec_name').val()
        secVal = secVal.split(' ').join('')
        // console.log(secVal.length);
        if(secVal.length > 0){
            $("form").submit()
        }else{
            alert('No input found')
        }
    })
    function checkSave(){
        var secVal = $('#sec_name').val()
        // console.log(secVal.length);
        return false;
    }
</script>

<%- include('../../templates/footer.ejs') %>