<%- include('../../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
        <div class="col-sm-6">
            <h3><%= header %></h3>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item"><%= header %></li>
            </ol>
        </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <% if(message){ %>
          <script>
              setTimeout(() => {
                  initiate_sweet_alert('<%= header %>', '<%= message.message %>', "<%= message.type != 'danger' ? message.type : 'error' %>")
              }, 1000);
          </script>
        <div
          class="alert alert-<%= message.type %> dark alert-dismissible fade show"
          role="alert"
        >
          <i data-feather="clock"></i>
          <p><%= message.message %></p>
          <button
            class="btn-close"
            type="button"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <% } %>
      </div>
      <div class="card">
        <div class="card-body">
          <form action="/save_act_metric" method="post">
            <div class="row g-3 py-3">
              <div class="col-md-6">
                <label class="form-label" for="sec_id">Sector</label>
                <select class="form-select" id="sec_id" name="sec_id" required="">
                  <option selected="" value="">Select Sector</option>
                  <% if(sec_data.msg.length > 0){ 
                      sec_data.msg.forEach(dt => { 
                          var _selected = ''; 
                          if(dt.id == selected.sec_id) _selected = 'selected'; 
                  %>
                  <option value="<%= dt.id %>" <%= _selected %>><%= dt.sec_name %></option>
                  <% }) } %>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label" for="ind_id">Industries</label>
                <select class="form-select" id="ind_id" name="ind_id" required="">
                  <option selected="" value="">Select Industries</option>
                  <% if(ind_list.msg.length > 0){ 
                      ind_list.msg.forEach(dt => { 
                          var _selected = ''; 
                          if(dt.id == selected.ind_id) _selected = 'selected'; 
                  %>
                  <option value="<%= dt.id %>" <%= _selected %>><%= dt.ind_name %></option>
                  <% }) } %>
                </select>
              </div>
            </div>
            <div class="row py-3" id="data_set_view" style="display: none;">
              <div class="col-md-12">
                <table class="table" id="suc_disc_table">
                  <thead>
                    <tr>
                      <th>ACTIVITY METRIC</th>
                      <th>CATEGORY</th>
                      <th>UNIT OF MEASURE</th>
                      <th>CODE</th>
                      <th>
                        <button type="button" class="btn btn-pill btn-outline-success btn-air-success" onclick="add_row()"><i class="icofont icofont-plus-circle"></i></button>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    
                  </tbody>
                </table>
              <input type="hidden" id="flag" name="flag" value="<%= flag ? flag : '' %>">
              <button class="btn btn-pill btn-outline-success btn-air-success my-3 float-end" type="submit">
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<script>
    $(document).ready(function () {
      if ($("#ind_id").val() > 0) $("#ind_id").change();
    });
</script>

<script>
    $("#sec_id").on("change", function () {
      $.ajax({
        method: "GET",
        url: "/get_ind_list_ajax",
        data: { sec_id: $(this).val(), flag: $('#flag').val() },
        dataType: "html",
        beforeSend: function () {
          $(".loader-wrapper").show();
        },
        success: function (result) {
          var res = JSON.parse(result);
          // console.log(res);
          $("#ind_id").empty();
          $("#data_set_view").hide()
          $("#suc_disc_table tbody >").remove()
          $("#ind_id").append(
            $("<option>", { value: "", text: "Select Industries" })
          );
          if (res.suc > 0 && res.msg.length > 0)
            $.each(res.msg, function (i, item) {
              $("#ind_id").append(
                $("<option>", { value: item.id, text: item.ind_name })
              );
            });
        },
        complete: function () {
          $(".loader-wrapper").hide();
        },
      });
    });
</script>

<script>
    $("#ind_id").on("change", function () {
      $.ajax({
        method: "GET",
        url: "/get_act_metric_ajax",
        data: { ind_id: $(this).val(), sec_id: $("#sec_id").val(), flag: $('#flag').val() },
        dataType: "html",
        beforeSend: function () {
          $(".loader-wrapper").show();
        },
        success: function (result) {
            var res = JSON.parse(result);
            $("#suc_disc_table tbody >").remove()
            if(res.suc == 1){
              $("#data_set_view").show();
                let j = 1
                $.each(res.msg, function (i, dt) {
                  if(j==1)
                    $("#suc_disc_table tbody").append(`<tr id="row_${j}">
                        <td><input class="form-control" id="act_metric_${j}" name="act_metric" type="text" value="${dt.act_metric}" required=""></td>
                        <td><input class="form-control" id="catg_${j}" name="catg" type="text" value="${dt.catg}" required=""></td>
                        <td><input class="form-control" id="unit_${j}" name="unit" type="text" value="${dt.unit}" required=""></td>
                        <td><input class="form-control" id="code_${j}" name="code" type="text" value="${dt.code}" required=""></td>
                        <td><button type="button" class="btn btn-pill btn-outline-danger btn-air-danger" onclick="remove_row(${j})"><i class="icofont icofont-trash"></i></button></td>
                    </tr>`)
                    else add_row(dt.act_metric, dt.catg, dt.unit, dt.code)
                    j++
                });
            }else{
              $("#data_set_view").show();
              $("#suc_disc_table tbody").append(`<tr id="row_1">
                  <td><input class="form-control" id="act_metric_1" name="act_metric" type="text" value="" required=""></td>
                  <td><input class="form-control" id="catg_1" name="catg" type="text" value="" required=""></td>
                  <td><input class="form-control" id="unit_1" name="unit" type="text" value="" required=""></td>
                  <td><input class="form-control" id="code_1" name="code" type="text" value="" required=""></td>
                  <td><button type="button" class="btn btn-pill btn-outline-danger btn-air-danger" onclick="remove_row(1)"><i class="icofont icofont-trash"></i></button></td>
              </tr>`)
            }
        },
        complete: function () {
          $(".loader-wrapper").hide();
        },
      });
    });
  
    function add_row(act_metric = '', catg = '', unit = '', code = '') {
      var row = $('table tbody tr').length;
      let next_id = row + 1;
      // console.log(next_id);
      $("#suc_disc_table tbody").append(`<tr id="row_${next_id}">
            <td><input class="form-control" id="act_metric_${next_id}" name="act_metric" type="text" value="${act_metric}" required=""></td>
            <td><input class="form-control" id="catg_${next_id}" name="catg" type="text" value="${catg}" required=""></td>
            <td><input class="form-control" id="unit_${next_id}" name="unit" type="text" value="${unit}" required=""></td>
            <td><input class="form-control" id="code_${next_id}" name="code" type="text" value="${code}" required=""></td>
            <td><button type="button" class="btn btn-pill btn-outline-danger btn-air-danger" onclick="remove_row(${next_id})"><i class="icofont icofont-trash"></i></button></td>
        </tr>`);
    }
  
    function remove_row(id) {
      $(`#row_${id}`).remove();
    }
  </script>

<%- include('../../templates/footer.ejs') %>