<%- include('../../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3><%= sub_header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %></a></li>
                    <li class="breadcrumb-item"><%= sub_header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-body">
                <form method="POST" action="/cal_emi_type_edit" class="needs-validation">
                <div class="row g-3 py-3">
                    <div class="col-md-6">
                        <label class="form-label" for="type_id">Section</label>
                        <select class="form-select" id="type_id" name="type_id" required="">
                            <option selected="" value="">Select Section</option>
                            <% if(cal_type.length > 0){
                                cal_type.forEach(dt => { 
                                    var selected = '';
                                    if(id > 0) 
                                        if(dt.id == data[0].type_id) selected = 'selected'; %>
                                    <option value="<%= dt.id %>" <%= selected %>><%= dt.type_name %></option>
                                <% })
                            } %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="act_id">Activity</label>
                        <select class="form-select" id="act_id" name="act_id" required="">
                            <option selected="" value="">Select Activity</option>
                            <% if(act_type.length > 0){
                                act_type.forEach(dt => { 
                                    var selected = '';
                                    if(id > 0) 
                                        if(dt.id == data[0].act_id) selected = 'selected'; %>
                                    <option value="<%= dt.id %>" <%= selected %>><%= dt.act_name %></option>
                                <% })
                            } %>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" for="emi_name">Emission Name</label>
                        <input class="form-control" id="emi_name" name="emi_name" type="text" value="<%= id > 0 ? data[0].emi_name : '' %>" required="">
                        <div class="valid-feedback">No Error</div>
                    </div>
                </div>
                <input type="hidden" name="id" value="<%= id > 0 ? id : 0 %>">
                <input type="hidden" name="flag" value="<%= flag %>">
                <button class="btn btn-pill btn-outline-primary btn-air-primary m-t-10" type="submit">Submit</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#type_id').on('change', function (){
        $.ajax({
            method:'POST',
            url: '/get_cal_act_ajax',
            data: {type_id: $(this).val(), flag: '<%= flag %>'},
            dataType: 'html',
            beforeSend: function(){
                $('.loader-wrapper').show()
            },
            success: function(result){
                var res = JSON.parse(result);
                // console.log(res);
                $('#act_id').empty();
                $('#act_id').append($('<option>', {value: '', text: 'Select Activity'}));
                if(res.suc > 0 && res.msg.length > 0){
                    var act_id = '<%= id > 0 ? data[0].act_id : 0 %>';
                    if(act_id > 0){
                        $.each(res.msg, function (i, item) {
                            var selected = false
                            if(item.id == act_id)
                                selected = true
                            $('#act_id').append($('<option>', {value: item.id, text: item.act_name, selected: selected}));
                        });
                        $('#act_id').change()
                    }
                    else
                    $.each(res.msg, function (i, item) {
                        $('#act_id').append($('<option>', {value: item.id, text: item.act_name}));
                    });
                }
            },
            complete: function(){
                $('.loader-wrapper').hide()
            }
        })
    })
</script>

<%- include('../../templates/footer.ejs') %>