<%- include('../templates/header.ejs', {header: "Dashboard" , header_url: "/dashboard" , sub_header: `${header}
    (${flag_name})`, sub_header_url: header_url, sub_sub_header: sub_header, show_br: true}) %>
    <div class="container-fluid">
        <div class="page-header">
            <ul class="nav nav-tabs border-tab nav-primary cust_nav" id="info-tab" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="info-home-tab" data-bs-toggle="tab"
                        href="#info-home" role="tab" aria-controls="info-home" aria-selected="true"><i
                            class="icofont icofont-list"></i>Project Users</a></li>
                <li class="nav-item"><a class="nav-link" id="profile-info-tab" data-bs-toggle="tab" href="#info-profile"
                        role="tab" aria-controls="info-profile" aria-selected="false"><i
                            class="icofont icofont-info-square"></i>Project Information</a></li>
            </ul>
            <!-- <div class="row">
            <div class="col-sm-12">
                <h3><%= sub_header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %></a></li>
                    <li class="breadcrumb-item"><%= sub_header %></li>
                </ol>
            </div>
        </div> -->
        </div>
    </div>
    <% console.log(project_data, 'HEHE') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body card_body_Cus"
                        data-intro="Add a project name - We recommend including the reporting year in the project name. Assign users to projects - Users should first be added in the “Manage Users” tab.">
                        <div class="tab-content" id="info-tabContent">
                            <div class="tab-pane fade show active" id="info-home" role="tabpanel"
                                aria-labelledby="info-home-tab">
                                <form id="projForm" method="POST" action="/my_project_save" class="needs-validation">
                                    <div class="row mb-2">
                                        <div class="col-md-4">
                                            <label class="form-label" for="project_name">
                                                <%= lang.add.title %>
                                            </label>
                                            <input class="form-control" id="project_name" name="project_name"
                                                type="text" value="<%= id > 0 ? project_data.project_name : '' %>"
                                                required="">
                                            <div class="valid-feedback">No Error</div>
                                        </div>
                                    </div>
                                    <div class="row my-4">
                                        <div class="p-0">
                                            <table class="table custom-table-user" id="table" width="50%">
                                                <thead>
                                                    <tr>
                                                        <th> <label class="form-label user_add">
                                                                <%= lang.add.user %>
                                                                    <button type="button"
                                                                        class="btn btn_UR btn-outline-primary btn-air-primary"
                                                                        onclick="add_tb_row()">
                                                                        <i class="fa fa-user-plus"
                                                                            aria-hidden="true"></i>
                                                                    </button>
                                                            </label>
                                                        </th>
                                                        <!-- <th>
                                                    
                                                </th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if(id> 0){
                                                        if(project_data.user_list){
                                                        let i = 1
                                                        project_data.user_list.forEach(udt => { %>
                                                        <tr id="tr_<%= i %>">
                                                            <td class="tableTd_add_main">
                                                                <div class="tableTd_add <%= i > 1 ? '' : 'm-r-40' %>">
                                                                    <select class="form-select" id="user_id_<% i %>"
                                                                        name="user_id" required="">
                                                                        <option selected="" value="">Select User
                                                                        </option>
                                                                        <% if(user_list.msg.length> 0){
                                                                            user_list.msg.forEach(dt => {
                                                                            var selected = '';
                                                                            if(id > 0){
                                                                            if(dt.id == udt.user_id) selected =
                                                                            'selected';
                                                                            } %>
                                                                            <option value="<%= dt.id %>" <%=selected %>>
                                                                                <%= dt.user_name %>
                                                                            </option>
                                                                            <% }) }else{ %>
                                                                                <option value="<%= user.id %>" <%= id > 0 ? (user.id == udt.user_id ? 'selected' : '') : '' %>>Assign Yourself</option>
                                                                            <% } %>
                                                                    </select>
                                                                </div>
                                                                <% if(i> 1){ %>
                                                                    <div class="tableTd_add_btn">
                                                                        <button type="button"
                                                                            class="btn btn_UR btn-outline-primary btn-air-primary"
                                                                            onclick="del_row(<%= i %>)"><i
                                                                                class="icofont icofont-trash"></i></button>
                                                                    </div>
                                                                    <% } %>
                                                            </td>
                                                            <!-- <td>
                                                            
                                                        </td> -->
                                                        </tr>
                                                        <% i++; })}else{ %>
                                                            <tr id="tr_1">
                                                                <td class="tableTd_add_main">
                                                                    <div class="tableTd_add m-r-40">
                                                                        <select class="form-select" id="user_id_1"
                                                                            name="user_id" required="">
                                                                            <option selected="" value="">Select User
                                                                            </option>
                                                                            <% if(user_list.msg.length> 0){
                                                                                user_list.msg.forEach(dt => {
                                                                                var selected = '';
                                                                                if(id > 0){
                                                                                if(dt == project_data.user_id) selected
                                                                                = 'selected';
                                                                                } %>
                                                                                <option value="<%= dt.id %>" <%=selected
                                                                                    %>><%= dt.user_name %>
                                                                                </option>
                                                                                <% }) }else{ %>
                                                                                    <option value="<%= user.id %>" <%= id > 0 ? (user.id == project_data.user_id ? 'selected' : '') : '' %>>Assign Yourself</option>
                                                                                <% } %>
                                                                        </select>

                                                                </td>
                                        </div>
                                        <!-- <td></td> -->
                                        </tr>
                                        <% }}else{ %>
                                            <tr id="tr_1">
                                                <td class="tableTd_add_main">
                                                    <div class="tableTd_add m-r-40">
                                                        <select class="form-select" id="user_id_1" name="user_id"
                                                            required="">
                                                            <option selected="" value="">Select User</option>
                                                            <% if(user_list.msg.length> 0){
                                                                user_list.msg.forEach(dt => {
                                                                var selected = '';
                                                                if(id > 0){
                                                                if(dt == project_data.user_id) selected = 'selected';
                                                                } %>
                                                                <option value="<%= dt.id %>" <%=selected %>><%=
                                                                        dt.user_name %>
                                                                </option>
                                                                <% }) }else{ %>
                                                                    <option value="<%= user.id %>" <%= id > 0 ? (user.id == project_data.user_id ? 'selected' : '') : '' %>>Assign Yourself</option>
                                                                <% } %>
                                                        </select>
                                                    </div>
                                                </td>
                                                <!-- <td></td> -->
                                            </tr>
                                            <% } %>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td>
                                                            <input type="hidden" name="id"
                                                                value="<%= id > 0 ? id : 0 %>">
                                                            <input type="hidden" id="flag" name="flag"
                                                                value="<%= flag ? flag : '' %>">
                                                            <button class="btn btn-pill btn-custom float-end m-r-40"
                                                                id="projSub" type="button" disabled>
                                                                <%= project_data.sec_id> 0 && project_data.ind_id > 0 ?
                                                                    lang.add.submit_btn : lang.add.btn_next %>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                                </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="info-profile" role="tabpanel" aria-labelledby="profile-info-tab">
                            <% if(project_data.sec_id> 0 && project_data.ind_id > 0){ %>
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <p>
                                            <label class="form-label" for="sec_id">Sector: </label>
                                            <%= project_data.sec_name %>
                                        </p>
                                    </div>
                                    <div class="col-md-12">
                                        <p>
                                            <label class="form-label" for="ind_id">Industry: </label>
                                            <%= project_data.ind_name %>
                                        </p>
                                    </div>
                                    <div class="col-md-12">
                                        <p>
                                            <label class="form-label" for="bus_id">Business Activities: </label>
                                            <%= project_data.business_act %>
                                        </p>
                                    </div>
                                    <div class="col-md-12">
                                        <p>
                                            <label class="form-label" for="location_id">Locations of Business
                                                Activities: </label>
                                            <%= project_data.location_busi_act %>
                                        </p>
                                    </div>
                                </div>
                                <% }else{ %>
                                    <form method="POST" action="/save_proj_work" class="needs-validation">
                                        <div class="row g-3 py-3">
                                            <div class="col-md-6">
                                                <label for="sec_id">
                                                    <%= lang.manage.sector %>
                                                </label>
                                                <select class="form-select" id="sec_id" name="sec_id" required="">
                                                    <option selected="" value="">
                                                        <%= lang.manage.sec_select %>
                                                    </option>
                                                    <% if(sec_data.msg.length> 0){
                                                        sec_data.msg.forEach(dt => {
                                                        var selected = '';
                                                        if(project_data.sec_id)
                                                        if(project_data.sec_id == dt.id) selected = 'selected'; %>
                                                        <option value="<%= dt.id %>" <%=selected %>><%= dt.sec_name %>
                                                        </option>
                                                        <% }) } %>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="ind_id">
                                                    <%= lang.manage.indus %>
                                                </label>
                                                <select class="form-select" id="ind_id" name="ind_id" required="">
                                                    <option selected="" value="">
                                                        <%= lang.manage.ind_select %>
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-12 select2-drpdwn mb-2">
                                                <label for="bus_id">
                                                    <%= lang.manage.bus_act %>
                                                </label>
                                                <select id="bus_id" name="bus_id"
                                                    class="js-example-basic-multiple col-sm-12" multiple="multiple">
                                                    <option value="">Select Business Activity(ies)</option>
                                                </select>
                                            </div>
                                            <div class="col-md-12 select2-drpdwn mb-2">
                                                <label for="location_id">
                                                    <%= lang.manage.location %>
                                                </label>
                                                <select id="location_id" name="location_id"
                                                    class="js-example-basic-multiple col-sm-12" multiple="multiple">
                                                    <option value="">Select Location</option>
                                                    <% if(loc_list.msg.length> 0){
                                                        var location_list = project_data.length > 0 ?
                                                        (project_data.location_busi_act != '' ?
                                                        project_data.location_busi_act : '') : '';
                                                        location_list = location_list ? location_list.split(',') : [];
                                                        loc_list.msg.forEach(dt => {
                                                        var selected = '';
                                                        if(location_list.length > 0)
                                                        if(location_list.includes(dt.location_name)) selected =
                                                        'selected'; %>
                                                        <option value="<%= dt.id %>" <%=selected %>><%= dt.location_name
                                                                %>
                                                        </option>
                                                        <% }) } %>
                                                </select>
                                            </div>
                                        </div>
                                        <input type="hidden" name="id" id="projWorkId" value="<%= id > 0 ? id : 0 %>">
                                        <input type="hidden" name="proj_id" id="projWorkPId"
                                            value="<%= proj_id > 0 ? proj_id : 0 %>">
                                        <input type="hidden" id="flag" name="flag" value="<%= flag ? flag : '' %>">
                                        <input type="hidden" id="bus_id" name="bus_id" value="0">
                                        <%# if(id> 0){ %>
                                            <button class="btn btn-pill btn-custom float-end" type="submit"
                                                id="projWorkSubBtn"
                                                style="display: <%= id > 0 ? 'block' : 'none' %>;">Submit</button>
                                            <%# } %>
                                    </form>
                                    <% } %>
                        </div>
                    </div>

                    <!-- <div class="row">
                    <div class="col-md-7">
                        <button class="btn btn-pill btn-custom float-end" type="submit">Submit</button>
                    </div>
                </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const projectInput = document.getElementById('project_name');
            const userSelects = document.querySelectorAll('select[name="user_id"]');
            const nextButton = document.getElementById('projSub');

            function validateForm() {
                let isValid = projectInput.value.trim() !== '';
                userSelects.forEach(select => {
                    if (select.value === '') {
                        isValid = false;
                    }
                });
                nextButton.disabled = !isValid;
            }

            projectInput.addEventListener('input', validateForm);
            userSelects.forEach(select => {
                select.addEventListener('change', validateForm);
            });
        });
    </script>

    <script>
        $('#projSub').on('click', function () {
            var userId = []
            if ($('[name="user_id"]').length > 0) {
                $('[name="user_id"]').each((i, e) => {
                    if (e.value > 0)
                        userId.push(e.value)
                })
            }
            console.log(userId, 'sdasdas');
            $.ajax({
                method: 'POST',
                url: '/my_project_save_ajax',
                data: { id: $('[name="id"]').val(), flag: $('[name="flag"]').val(), project_name: $('[name="project_name"]').val(), user_id: userId },
                dataType: 'html',
                beforeSend: function () {
                    $('.loader-wrapper').show()
                },
                success: function (result) {
                    var res = JSON.parse(result);
                    if (res.suc > 0) {
                        $('[name="id"]').val(res.project_id)
                        $('#projWorkId').val(res.project_id)
                        $('#projWorkPId').val(res.project_id)
                        $('#profile-info-tab').tab('show')
                        $('#projWorkSubBtn').show()
                    }else{
                        initiate_sweet_alert('', 'Data Not Saved. Please try again later.', 'danger')
                    }
                    console.log(res);
                },
                complete: function () {
                    $('.loader-wrapper').hide()
                }
            })
            // console.table($('input[name="project_name"]').val(), $('select[name="user_id"]').val());
        })
    </script>

    <script>
        function add_tb_row() {
            var next_id = $(`#table tbody tr`).length + 1
            $(`#table tbody:last`).append(`
        <tr id="tr_${next_id}">
            <td class="tableTd_add_main">
                <div class="tableTd_add">
                <select class="form-select" id="user_id_${next_id}" name="user_id" required="">
                    <option selected="" value="">Select User</option>
                    <% if(user_list.msg.length > 0){
                        user_list.msg.forEach(dt => { 
                            var selected = '';
                            if(id > 0){
                                if(dt == project_data.user_id) selected = 'selected';
                            } %>
                            <option value="<%= dt.id %>" <%= selected %>><%= dt.user_name %></option>
                        <% })
                    } %>
                </select>
                </div>
                <div class="tableTd_add_btn">
                    <button type="button" class="btn btn_UR btn-outline-primary btn-air-primary" 
                onclick="del_row(${next_id})"><i class="icofont icofont-trash"></i></button>
                </div>
            </td>
            
        </tr>
        `);
        }
        function del_row(id) {
            if (confirm('Are you sure you want to delete?')) {
                if ($('#id').val() > 0) {
                    $.ajax({
                        method: "POST",
                        url: "/delete_my_project",
                        data: { id: id },
                        dataType: "html",
                        beforeSend: function () {
                            $(".loader-wrapper").show();
                        },
                        success: function (result) {
                            var res = JSON.parse(result);
                            // console.log(res);
                            if (res.suc > 0 && res.msg.length > 0) {
                                $(`#tr_${id}`).remove()
                            }
                        },
                        complete: function () {
                            $(".loader-wrapper").hide();
                        }
                    })
                } else {
                    $(`#tr_${id}`).remove()
                }
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            if ($('#sec_id').val() > 0) {
                $('#sec_id').change()
            }
        })
    </script>

    <script>
        $('#sec_id').on('change', function () {
            $.ajax({
                method: 'GET',
                url: '/get_ind_list_ajax',
                data: { sec_id: $(this).val(), flag: $('#flag').val() },
                dataType: 'html',
                beforeSend: function () {
                    $('.loader-wrapper').show()
                },
                success: function (result) {
                    var res = JSON.parse(result);
                    // console.log(res);
                    $('#ind_id').empty();
                    $('#ind_id').append($('<option>', { value: '', text: 'Select Industries' }));
                    if (res.suc > 0 && res.msg.length > 0) {
                        var ind_id = '<%= project_data ? project_data.ind_id : 0 %>';
                        if (ind_id > 0) {
                            $.each(res.msg, function (i, item) {
                                var selected = false
                                if (item.id == ind_id)
                                    selected = true
                                $('#ind_id').append($('<option>', { value: item.id, text: item.ind_name, selected: selected }));
                            });
                            $('#ind_id').change()
                        }
                        else
                            $.each(res.msg, function (i, item) {
                                $('#ind_id').append($('<option>', { value: item.id, text: item.ind_name }));
                            });
                    }
                },
                complete: function () {
                    $('.loader-wrapper').hide()
                }
            })
        })
    </script>
    <script>
        $("#ind_id").on("change", function () {
            $.ajax({
                method: "GET",
                url: "/get_busi_act_ajax",
                data: { ind_id: $(this).val(), sec_id: $("#sec_id").val(), flag: $('#flag').val() },
                dataType: "html",
                beforeSend: function () {
                    $(".loader-wrapper").show();
                },
                success: function (result) {
                    var res = JSON.parse(result);
                    // console.log(res);
                    $('#bus_id').empty();
                    $('#bus_id').append($('<option>', { value: '', text: 'Select Business' }));
                    if (res.suc > 0 && res.msg.length > 0) {
                        var bus_act = '<%= project_data ? (project_data.business_act != "" ? project_data.business_act : "") : "" %>'
                        bus_act = bus_act != "" ? bus_act.split(',') : []
                        if (bus_act.length > 0) {
                            $.each(res.msg, function (i, item) {
                                var selected = false
                                if (bus_act.includes(item.busi_act_name)) selected = true
                                $("#bus_id").append(
                                    $("<option>", { value: item.id, text: item.busi_act_name, selected: selected })
                                );
                            });
                        } else {
                            $.each(res.msg, function (i, item) {
                                $("#bus_id").append(
                                    $("<option>", { value: item.id, text: item.busi_act_name })
                                );
                            });
                        }
                    }
                },
                complete: function () {
                    $(".loader-wrapper").hide();
                },
            });
        });
    </script>

    <%- include('../templates/footer.ejs') %>