<%- include('../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3><%= sub_header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %></a></li>
                    <li class="breadcrumb-item"><%= sub_header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-body card_body_Cus" data-intro="Add a project name - We recommend including the reporting year in the project name. Assign users to projects - Users should first be added in the “Manage Users” tab.">
                <form method="POST" action="/my_project_save" class="needs-validation">
                <div class="row mb-2">
                    <div class="col-md-4">
                        <label class="form-label" for="project_name">Project Name</label>
                        <input class="form-control" id="project_name" name="project_name" type="text" value="<%= id > 0 ? project_data.msg[0].project_name : '' %>" required="">
                        <div class="valid-feedback">No Error</div>
                    </div>
                </div>
                <div class="row my-4">
                    <!-- <div class="col-md-12"> -->
                        <div class="p-0">
                        <table class="table custom-table-user" id="table" width="50%">
                            <thead>
                                <tr>
                                    <th> <label class="form-label user_add">User 
                                        <button type="button" class="btn btn_UR btn-outline-primary btn-air-primary" onclick="add_tb_row()">
                                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                                        </button></label> 
                                    </th>
                                    <!-- <th>
                                        
                                    </th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <% if(id > 0){
                                if(project_data.msg[0].user_list){
                                    let i = 1
                                    project_data.msg[0].user_list.forEach(udt => { %>
                                        <tr id="tr_<%= i %>">
                                            <td class="tableTd_add_main">
                                                <div class="tableTd_add <%= i > 1 ? '' : 'm-r-40' %>">
                                                <select class="form-select" id="user_id_<% i %>" name="user_id" required="">
                                                    <option selected="" value="">Select User</option>
                                                    <% if(user_list.msg.length > 0){
                                                        user_list.msg.forEach(dt => { 
                                                            var selected = '';
                                                            if(id > 0){
                                                                if(dt.id == udt.user_id) selected = 'selected';
                                                            } %>
                                                            <option value="<%= dt.id %>" <%= selected %>><%= dt.user_name %></option>
                                                        <% })
                                                    } %>
                                                </select>
                                                </div>
                                            <% if(i > 1){ %>
                                                <div class="tableTd_add_btn">
                                                    <button type="button" class="btn btn_UR btn-outline-primary btn-air-primary" 
                                                        onclick="del_row(<%= i %>)"><i class="icofont icofont-trash"></i></button>
                                                </div>
                                            <% } %>
                                            </td>
                                            <!-- <td>
                                                
                                            </td> -->
                                        </tr>
                                <% i++; })}else{ %>
                                <tr id="tr_1">
                                    <td class="tableTd_add_main">
                                        <div class="tableTd_add m-r-40">
                                        
                                        <select class="form-select" id="user_id_1" name="user_id" required="">
                                            <option selected="" value="">Select User</option>
                                            <% if(user_list.msg.length > 0){
                                                user_list.msg.forEach(dt => { 
                                                    var selected = '';
                                                    if(id > 0){
                                                        if(dt == project_data.msg[0].user_id) selected = 'selected';
                                                    } %>
                                                    <option value="<%= dt.id %>" <%= selected %>><%= dt.user_name %></option>
                                                <% })
                                            } %>
                                        </select>
                                    
                                    </td>
                                </div>
                                    <!-- <td></td> -->
                                </tr>
                                <% }}else{ %>
                                    <tr id="tr_1">
                                        <td class="tableTd_add_main">
                                            <div class="tableTd_add m-r-40">
                                            <select class="form-select" id="user_id_1" name="user_id" required="">
                                                <option selected="" value="">Select User</option>
                                                <% if(user_list.msg.length > 0){
                                                    user_list.msg.forEach(dt => { 
                                                        var selected = '';
                                                        if(id > 0){
                                                            if(dt == project_data.msg[0].user_id) selected = 'selected';
                                                        } %>
                                                        <option value="<%= dt.id %>" <%= selected %>><%= dt.user_name %></option>
                                                    <% })
                                                } %>
                                            </select>
                                        </div>
                                        </td>
                                        <!-- <td></td> -->
                                    </tr>
                                <% } %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        <input type="hidden" name="id" value="<%= id > 0 ? id : 0 %>">
                                        <input type="hidden" id="flag" name="flag" value="<%= flag ? flag : '' %>">
                                        <button class="btn btn-pill btn-custom float-end m-r-40" type="submit">Submit</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                
                <!-- <div class="row">
                    <div class="col-md-7">
                        <button class="btn btn-pill btn-custom float-end" type="submit">Submit</button>
                    </div>
                </div> -->
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<script>
    function add_tb_row() {
        var next_id = $(`#table tbody tr`).length + 1
        $(`#table tbody:last`).append(`
        <tr id="tr_${next_id}">
            <td class="tableTd_add_main">
                <div class="tableTd_add">
                <select class="form-select" id="user_id_${next_id}" name="user_id" required="">
                    <option selected="" value="">Select User</option>
                    <% if(user_list.msg.length > 0){
                        user_list.msg.forEach(dt => { 
                            var selected = '';
                            if(id > 0){
                                if(dt == project_data.msg[0].user_id) selected = 'selected';
                            } %>
                            <option value="<%= dt.id %>" <%= selected %>><%= dt.user_name %></option>
                        <% })
                    } %>
                </select>
                </div>
                <div class="tableTd_add_btn">
                    <button type="button" class="btn btn_UR btn-outline-primary btn-air-primary" 
                onclick="del_row(${next_id})"><i class="icofont icofont-trash"></i></button>
                </div>
            </td>
            
        </tr>
        `);
    }
    function del_row(id){
        if (confirm('Are you sure you want to delete?')) {
            if($('#id').val() > 0){
                $.ajax({
                    method: "POST",
                    url: "/delete_my_project",
                    data: { id: id },
                    dataType: "html",
                    beforeSend: function () {
                        $(".loader-wrapper").show();
                    },
                    success: function (result) {
                        var res = JSON.parse(result);
                        // console.log(res);
                        if (res.suc > 0 && res.msg.length > 0){
                            $(`#tr_${id}`).remove()
                        }
                    },
                    complete: function () {
                        $(".loader-wrapper").hide();
                    }
                })
            }else{
                $(`#tr_${id}`).remove()
            }
        }
    }
</script>

<%- include('../templates/footer.ejs') %>