<%- include('../templates/header.ejs', {header: "Dashboard" , header_url: "/dashboard" , sub_header: `${header}
    (${flag_name})`, sub_header_url: header_url, sub_sub_header: sub_header, show_br: true}) %>
    <div class="container-fluid">
        <div class="page-header">
            <ul class="nav nav-tabs border-tab nav-primary cust_nav" id="info-tab" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="info-home-tab" data-bs-toggle="tab"
                        href="#info-home" role="tab" aria-controls="info-home" aria-selected="true"><i
                            class="icofont icofont-list"></i>Project Users</a></li>
                <li class="nav-item"><a class="nav-link" id="profile-info-tab" data-bs-toggle="tab" href="#info-profile"
                        role="tab" aria-controls="info-profile" aria-selected="false"><i
                            class="icofont icofont-info-square"></i>Project Information</a></li>
            </ul>
            <!-- <div class="row">
            <div class="col-sm-12">
                <h3><%= sub_header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %></a></li>
                    <li class="breadcrumb-item"><%= sub_header %></li>
                </ol>
            </div>
        </div> -->
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body card_body_Cus"
                        data-intro="Add a project name - We recommend including the reporting year in the project name. Assign users to projects - Users should first be added in the “Manage Users” tab.">
                        <div class="tab-content" id="info-tabContent">
                            <div class="tab-pane fade show active" id="info-home" role="tabpanel"
                                aria-labelledby="info-home-tab">
                                <form id="projForm" method="POST" action="/my_project_save" class="needs-validation">
                                    <div class="row mb-2">
                                        <div class="col-md-4">
                                            <label class="form-label" for="project_name">
                                                <%= lang.add.title %>
                                            </label>
                                            <input class="form-control" id="project_name" name="project_name"
                                                type="text" value="<%= id > 0 ? project_data.project_name : '' %>"
                                                required="">
                                            <div class="valid-feedback">No Error</div>
                                        </div>
                                    </div>
                                    <div class="row my-4">
                                        <div class="p-0">
                                            <table class="table custom-table-user" id="table" width="50%">
                                                <thead>
                                                    <tr>
                                                        <th> <label class="form-label user_add">
                                                                <%= lang.add.user %>
                                                                    <button type="button"
                                                                        class="btn btn_UR btn-outline-primary btn-air-primary"
                                                                        onclick="add_tb_row()">
                                                                        <i class="fa fa-user-plus"
                                                                            aria-hidden="true"></i>
                                                                    </button>
                                                            </label>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if(id> 0){
                                                        if(project_data.user_list){
                                                        let i = 1
                                                        project_data.user_list.forEach(udt => { %>
                                                        <tr id="tr_<%= i %>">
                                                            <td class="tableTd_add_main">
                                                                <div class="tableTd_add <%= i > 1 ? '' : 'm-r-40' %>">
                                                                    <select class="form-select" id="user_id_<% i %>"
                                                                        name="user_id" required="">
                                                                        <option selected="" value="">Select User
                                                                        </option>
                                                                        <% if(user_list.msg.length> 0){
                                                                            user_list.msg.forEach(dt => {
                                                                            var selected = '';
                                                                            if(id > 0){
                                                                            if(dt.id == udt.user_id) selected =
                                                                            'selected';
                                                                            } %>
                                                                            <option value="<%= dt.id %>" <%=selected %>>
                                                                                <%= dt.user_name %>
                                                                            </option>
                                                                            <% }) }else{ %>
                                                                                <option value="<%= user.id %>" <%=id> 0
                                                                                    ? (user.id == udt.user_id ?
                                                                                    'selected' : '') : '' %>>Assign
                                                                                    Yourself</option>
                                                                                <% } %>
                                                                    </select>
                                                                </div>
                                                                <% if(i> 1){ %>
                                                                    <div class="tableTd_add_btn">
                                                                        <button type="button"
                                                                            class="btn btn_UR btn-outline-primary btn-air-primary"
                                                                            onclick="del_row(<%= i %>)"><i
                                                                                class="icofont icofont-trash"></i></button>
                                                                    </div>
                                                                    <% } %>
                                                            </td>
                                                            <!-- <td>
                                                            
                                                        </td> -->
                                                        </tr>
                                                        <% i++; })}else{ %>
                                                            <tr id="tr_1">
                                                                <td class="tableTd_add_main">
                                                                    <div class="tableTd_add m-r-40">
                                                                        <select class="form-select" id="user_id_1"
                                                                            name="user_id" required="">
                                                                            <option selected="" value="">Select User
                                                                            </option>
                                                                            <% if(user_list.msg.length> 0){
                                                                                user_list.msg.forEach(dt => {
                                                                                var selected = '';
                                                                                if(id > 0){
                                                                                if(dt == project_data.user_id) selected
                                                                                = 'selected';
                                                                                } %>
                                                                                <option value="<%= dt.id %>" <%=selected
                                                                                    %>><%= dt.user_name %>
                                                                                </option>
                                                                                <% }) }else{ %>
                                                                                    <option value="<%= user.id %>"
                                                                                        <%=id> 0 ? (user.id ==
                                                                                        project_data.user_id ?
                                                                                        'selected' : '') : '' %>>Assign
                                                                                        Yourself</option>
                                                                                    <% } %>
                                                                        </select>

                                                                </td>
                                        </div>
                                        <!-- <td></td> -->
                                        </tr>
                                        <% }}else{ %>
                                            <tr id="tr_1">
                                                <td class="tableTd_add_main">
                                                    <div class="tableTd_add m-r-40">
                                                        <select class="form-select" id="user_id_1" name="user_id"
                                                            required="">
                                                            <option selected="" value="">Select User</option>
                                                            <% if(user_list.msg.length> 0){
                                                                user_list.msg.forEach(dt => {
                                                                var selected = '';
                                                                if(id > 0){
                                                                if(dt == project_data.user_id) selected = 'selected';
                                                                } %>
                                                                <option value="<%= dt.id %>" <%=selected %>><%=
                                                                        dt.user_name %>
                                                                </option>
                                                                <% }) }else{ %>
                                                                    <option value="<%= user.id %>" <%=id> 0 ? (user.id
                                                                        == project_data.user_id ? 'selected' : '') : ''
                                                                        %>>Assign Yourself</option>
                                                                    <% } %>
                                                        </select>
                                                    </div>
                                                </td>
                                                <!-- <td></td> -->
                                            </tr>
                                            <% } %>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td>
                                                            <input type="hidden" name="id"
                                                                value="<%= id > 0 ? id : 0 %>">
                                                            <input type="hidden" id="flag" name="flag"
                                                                value="<%= flag ? flag : '' %>">
                                                            <% if(id> 0){ %>
                                                                <button class="btn btn-pill btn-custom float-end m-r-40"
                                                                    id="projSub" type="button">
                                                                    <%= project_data.sec_id> 0 && project_data.ind_id >
                                                                        0 ?
                                                                        lang.add.submit_btn : lang.add.btn_next %>
                                                                </button>
                                                                <% } else { %>
                                                                    <button
                                                                        class="btn btn-pill btn-custom float-end m-r-40"
                                                                        id="projSub" type="button" disabled>
                                                                        <%= project_data.sec_id> 0 &&
                                                                            project_data.ind_id > 0 ?
                                                                            lang.add.submit_btn : lang.add.btn_next %>
                                                                    </button>
                                                                    <% } %>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                                </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="info-profile" role="tabpanel" aria-labelledby="profile-info-tab">
                            <% var has_proj_info = project_data.proj_info ? (project_data.proj_info.length > 0 ? true : false) : false;
                            if(has_proj_info){ %>
                                <div class="row">
                                    <div class="col-sm-3 tabs-responsive-side">
                                        <div class="nav flex-column nav-pills border-tab nav-left bounceInLeft animated" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                            <% let i = 0
                                            project_data.proj_info.forEach(dt => {
                                                var ind_name = dt.ind_name.split(' ').join('').split(/[.\-_&,]/).join('') %>
                                                    <a class="nav-link <%= i == 0 ? 'active' : '' %>" id="<%= ind_name %>_tab" data-bs-toggle="pill" href="#<%= ind_name %>" role="tab" aria-controls="<%= ind_name %>" aria-selected="false"><%= dt.ind_name %></a>
                                            <% i++; }) %>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <% let j=0
                                            project_data.proj_info.forEach(dt=> {
                                                var ind_name = dt.ind_name.split(' ').join('').split(/[.\-_&,]/).join('') %>
                                                <div class="tab-pane fade bounceInRight animated <%= j == 0 ? 'active show' : '' %>" id="<%= ind_name %>" role="tabpanel" aria-labelledby="<%= ind_name %>_tab">
                                                    <div class="row g-3">
                                                        <div class="col-md-12">
                                                            <p>
                                                                <label class="form-label" for="sec_id">Sector: </label>
                                                                <%= dt.sec_name %>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <p>
                                                                <label class="form-label" for="ind_id">Industry: </label>
                                                                <%= dt.ind_name %>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <p>
                                                                <label class="form-label" for="bus_id">Business Activities: </label>
                                                                <%= dt.business_act %>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <p>
                                                                <label class="form-label" for="location_id">Locations of Business
                                                                    Activities: </label>
                                                                <%= dt.location_busi_act %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% j++; }) %>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="/my_project?flag=<%= enc_flag %>"
                                            class="btn btn-pill btn-custom float-end">
                                            <%= lang.add.btn_back_proj_list %>
                                        </a>
                                    </div>
                                </div>
                                <% }else{ %>
                                    <form method="POST" action="/save_proj_work" class="needs-validation">
                                        <div class="projInfo">
                                            <div class="row g-3 py-3">
                                                <div class="col-md-6">
                                                    <label for="sec_id_1">
                                                        <%= lang.manage.sector %>
                                                    </label>
                                                    <select class="form-select" id="sec_id_1" name="sec_id_1" onchange="changeSector(this)" required="">
                                                        <option selected="" value="">
                                                            <%= lang.manage.sec_select %>
                                                        </option>
                                                        <% if(sec_data.msg.length> 0){
                                                            sec_data.msg.forEach(dt => {
                                                            var selected = '';
                                                            if(project_data.sec_id)
                                                            if(project_data.sec_id == dt.id) selected = 'selected'; %>
                                                            <option value="<%= dt.id %>" <%=selected %>><%= dt.sec_name %>
                                                            </option>
                                                            <% }) } %>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="ind_id_1">
                                                        <%= lang.manage.indus %>
                                                    </label>
                                                    <select class="js-example-basic-multiple" id="ind_id_1" name="ind_id_1" onchange="chnageInd(this)" required="" multiple="multiple">
                                                        <option selected="" value="">
                                                            <%= lang.manage.ind_select %>
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-12 select2-drpdwn mb-2">
                                                    <label for="bus_id_1">
                                                        <%= lang.manage.bus_act %>
                                                    </label>
                                                    <select id="bus_id_1" name="bus_id_1"
                                                        class="js-example-basic-multiple col-sm-12" multiple="multiple">
                                                        <option value="">Select Business Activity(ies)</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-12 select2-drpdwn mb-2">
                                                    <label for="location_id_1">
                                                        <%= lang.manage.location %>
                                                    </label>
                                                    <select id="location_id_1" name="location_id_1"
                                                        class="js-example-basic-multiple col-sm-12" multiple="multiple">
                                                        <option value="">Select Location</option>
                                                        <% if(loc_list.msg.length> 0){
                                                            var location_list = project_data.length > 0 ?
                                                            (project_data.location_busi_act != '' ?
                                                            project_data.location_busi_act : '') : '';
                                                            location_list = location_list ? location_list.split(',') : [];
                                                            loc_list.msg.forEach(dt => {
                                                            var selected = '';
                                                            if(location_list.length > 0)
                                                            if(location_list.includes(dt.location_name)) selected =
                                                            'selected'; %>
                                                            <option value="<%= dt.id %>" <%=selected %>><%= dt.location_name
                                                                    %>
                                                            </option>
                                                            <% }) } %>
                                                    </select>
                                                </div>
                                            </div>
                                            <input type="hidden" name="input_seq" value="1">
                                        </div>
                                        <input type="hidden" name="id" id="projWorkId" value="<%= id > 0 ? id : 0 %>">
                                        <input type="hidden" name="proj_id" id="projWorkPId"
                                            value="<%= proj_id > 0 ? proj_id : 0 %>">
                                        <input type="hidden" id="flag" name="flag" value="<%= flag ? flag : '' %>">
                                        <input type="hidden" name="dec_flag" value="<%= dec_flag ? dec_flag : '' %>">
                                        <input type="hidden" id="bus_id" name="bus_id" value="0">
                                        <%# if(id> 0){ %>
                                            <button class="btn btn-pill cust-floating-submit-btn" type="submit"
                                                id="projWorkSubBtn"
                                                style="display: <%= id > 0 ? 'block' : 'none' %>;">Submit</button>
                                            <%# } %>
                                    </form>
                                    <% } %>
                                    <button type="button" class="btn btn-pill cust-floating-btn" style="display: <%= id > 0 && !has_proj_info ? 'block' : 'none' %>;">
                                        <i class="fa fa-user-plus"></i> Add a New Sector
                                    </button>
                        </div>
                    </div>

                    <!-- <div class="row">
                    <div class="col-md-7">
                        <button class="btn btn-pill btn-custom float-end" type="submit">Submit</button>
                    </div>
                </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const projectInput = document.getElementById('project_name');
            const userSelects = document.querySelectorAll('select[name="user_id"]');
            const nextButton = document.getElementById('projSub');

            function validateForm() {
                let isValid = projectInput.value.trim() !== '';
                userSelects.forEach(select => {
                    if (select.value === '') {
                        isValid = false;
                    }
                });
                nextButton.disabled = !isValid;
            }

            projectInput.addEventListener('input', validateForm);
            userSelects.forEach(select => {
                select.addEventListener('change', validateForm);
            });
        });
    </script>

    <script>
        $('#projSub').on('click', function () {
            var userId = []
            if ($('[name="user_id"]').length > 0) {
                $('[name="user_id"]').each((i, e) => {
                    if (e.value > 0)
                        userId.push(e.value)
                })
            }
            // console.log(userId, 'sdasdas');
            $.ajax({
                method: 'POST',
                url: '/my_project_save_ajax',
                data: { id: $('[name="id"]').val(), dec_flag: $('[name="dec_flag"]').val(), flag: $('[name="flag"]').val(), project_name: $('[name="project_name"]').val(), user_id: userId },
                dataType: 'html',
                beforeSend: function () {
                    $('.loader-wrapper').show()
                },
                success: function (result) {
                    var res = JSON.parse(result);
                    if (res.suc > 0) {
                        $('[name="id"]').val(res.project_id)
                        $('#projWorkId').val(res.project_id)
                        $('#projWorkPId').val(res.project_id)
                        $('#profile-info-tab').tab('show')
                        $('#projWorkSubBtn').show()
                        $('.cust-floating-btn').show()
                    } else {
                        initiate_sweet_alert('', 'Data Not Saved. Please try again later.', 'danger')
                    }
                    console.log(res);
                },
                complete: function () {
                    $('.loader-wrapper').hide()
                }
            })
            // console.table($('input[name="project_name"]').val(), $('select[name="user_id"]').val());
        })
    </script>

    <script>
        function add_tb_row() {
            var next_id = $(`#table tbody tr`).length + 1
            $(`#table tbody:last`).append(`
        <tr id="tr_${next_id}">
            <td class="tableTd_add_main">
                <div class="tableTd_add">
                <select class="form-select" id="user_id_${next_id}" name="user_id" required="">
                    <option selected="" value="">Select User</option>
                    <% if(user_list.msg.length > 0){
                        user_list.msg.forEach(dt => { 
                            var selected = '';
                            if(id > 0){
                                if(dt == project_data.user_id) selected = 'selected';
                            } %>
                            <option value="<%= dt.id %>" <%= selected %>><%= dt.user_name %></option>
                        <% })
                    } %>
                </select>
                </div>
                <div class="tableTd_add_btn">
                    <button type="button" class="btn btn_UR btn-outline-primary btn-air-primary" 
                onclick="del_row(${next_id})"><i class="icofont icofont-trash"></i></button>
                </div>
            </td>
            
        </tr>
        `);
        }
        function del_row(id) {
            if (confirm('Are you sure you want to delete?')) {
                if ($('#id').val() > 0) {
                    $.ajax({
                        method: "POST",
                        url: "/delete_my_project",
                        data: { id: id },
                        dataType: "html",
                        beforeSend: function () {
                            $(".loader-wrapper").show();
                        },
                        success: function (result) {
                            var res = JSON.parse(result);
                            // console.log(res);
                            if (res.suc > 0 && res.msg.length > 0) {
                                $(`#tr_${id}`).remove()
                            }
                        },
                        complete: function () {
                            $(".loader-wrapper").hide();
                        }
                    })
                } else {
                    $(`#tr_${id}`).remove()
                }
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            if ($('#sec_id').val() > 0) {
                $('#sec_id').change()
            }
        })
    </script>

    <script>
        function changeSector(e) {
            var selected_sec_id = []
            $('.projInfo .row').each(function () {
                if($(this).children().eq(0).children('select').attr('id') != $(e).attr('id')) {
                    var sel_sec_id = $(this).children().eq(0).children('select').val()
                    if(sel_sec_id != undefined && sel_sec_id != '')
                        selected_sec_id.push(sel_sec_id)
                }
            })
            if(selected_sec_id.includes($(e).val())) {
                $(e).val('')
                initiate_sweet_alert('', 'Sector already selected', 'danger')
                return false
            }
            $.ajax({
                method: 'GET',
                url: '/get_ind_list_ajax',
                data: { sec_id: $(e).val(), flag: $('#flag').val() },
                dataType: 'html',
                beforeSend: function () {
                    $('.loader-wrapper').show()
                },
                success: function (result) {
                    var res = JSON.parse(result);
                    // console.log(res);
                    $(e).parent().next().children('select').empty();
                    $(e).parent().next().children('select').append($('<option>', { value: '', text: 'Select Industries' }));
                    if (res.suc > 0 && res.msg.length > 0) {
                        var ind_id = '<%= project_data ? project_data.ind_id : 0 %>';
                        if (ind_id > 0) {
                            $.each(res.msg, function (i, item) {
                                var selected = false
                                if (item.id == ind_id)
                                    selected = true
                                $(e).parent().next().children('select').append($('<option>', { value: item.id, text: item.ind_name, selected: selected }));
                            });
                            $(e).parent().next().children('select').change()
                        }
                        else
                            $.each(res.msg, function (i, item) {
                                $(e).parent().next().children('select').append($('<option>', { value: item.id, text: item.ind_name }));
                            });
                    }
                },
                complete: function () {
                    $('.loader-wrapper').hide()
                }
            })
        }
    </script>

    <script>
        function chnageInd(e) {
            // console.log($(e).val(), 'INDUSTRY');
            
            $.ajax({
                method: "GET",
                url: "/get_busi_act_ajax",
                data: { ind_id: $(e).val().join(','), sec_id: $(e).parent().prev().children('select').val(), flag: $('#flag').val() },
                dataType: "html",
                beforeSend: function () {
                    $(".loader-wrapper").show();
                },
                success: function (result) {
                    var res = JSON.parse(result);
                    // console.log(res);
                    $(e).parent().next().children('select').empty();
                    $(e).parent().next().children('select').append($('<option>', { value: '', text: 'Select Business' }));
                    if (res.suc > 0 && res.msg.length > 0) {
                        var bus_act = '<%= project_data ? (project_data.business_act != "" ? project_data.business_act : "") : "" %>'
                        bus_act = bus_act != "" ? bus_act.split(',') : []
                        if (bus_act.length > 0) {
                            $.each(res.msg, function (i, item) {
                                var selected = false
                                if (bus_act.includes(item.busi_act_name)) selected = true
                                $(e).parent().next().children('select').append(
                                    $("<option>", { value: item.id, text: item.busi_act_name, selected: selected })
                                );
                            });
                        } else {
                            $.each(res.msg, function (i, item) {
                                $(e).parent().next().children('select').append(
                                    $("<option>", { value: item.id, text: item.busi_act_name })
                                );
                            });
                        }
                    }
                },
                complete: function () {
                    $(".loader-wrapper").hide();
                },
            });
        };
    </script>

    <script>
        $("#project_name").on("change", function (e) {
            // console.log(e.target.value);
            var prev_val = "<%= id > 0 ? project_data.project_name.replace(' ', '').toLowerCase() : '' %>", id = $('[name="id"]').val();
            // console.log(id, prev_val, 'HEHEHE')
            if ($(this).val() != '' && $(this).val()) {
                if (prev_val != $(this).val().replace(' ', '').toLowerCase()) {
                    $.ajax({
                        method: "GET",
                        url: "/exist_project",
                        data: { project_name: $(this).val(), flag: $('#flag').val() },
                        dataType: "html",
                        success: function (result) {
                            var res_dt = JSON.parse(result);
                            // console.log(res_dt,'res');
                            if (res_dt.suc > 0) {
                                if (res_dt.msg.length > 0) {
                                    swal("Project Name is already in use", {
                                        icon: "error",
                                    });
                                    $("#project_name").val('');
                                }
                            }
                        },
                        complete: function () {
                            $(".loader-wrapper").hide();
                        },
                    });
                }
            }
        });


    </script>
    
    <script>
        $('.cust-floating-btn').on('click', function () {
            var prev_sec_id = $('.projInfo .row:first-child').find('select').eq(0).val(),
            prev_ind_id = $('.projInfo .row:first-child').find('select').eq(1).val(),
            prev_bus_id = $('.projInfo .row:first-child').find('select').eq(2).val(),
            prev_loc_id = $('.projInfo .row:first-child').find('select').eq(3).val();
            if(prev_sec_id != '' && prev_ind_id.length > 0 && prev_bus_id.length > 0 && prev_loc_id.length > 0) {
                var i = parseInt($('.projInfo .row').length) + 1
                var element = `<div class="row g-3 py-3">
                    <div class="col-md-6">
                        <label for="sec_id_${i}">
                            <%= lang.manage.sector %>
                        </label>
                        <select class="form-select" id="sec_id_${i}" name="sec_id_${i}" onchange="changeSector(this)" required="">
                            <option selected="" value="">
                                <%= lang.manage.sec_select %>
                            </option>
                            <% if(sec_data.msg.length> 0){
                                sec_data.msg.forEach(dt => {
                                var selected = '';
                                if(project_data.sec_id)
                                if(project_data.sec_id == dt.id) selected = 'selected'; %>
                                <option value="<%= dt.id %>" <%=selected %>><%= dt.sec_name %>
                                </option>
                                <% }) } %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="ind_id_${i}">
                            <%= lang.manage.indus %>
                        </label>
                        <select class="form-select js-example-basic-multiple" id="ind_id_${i}" name="ind_id_${i}" onchange="chnageInd(this)" required="" multiple="multiple">
                            <option selected="" value="">
                                <%= lang.manage.ind_select %>
                            </option>
                        </select>
                    </div>
                    <div class="col-md-12 select2-drpdwn mb-2">
                        <label for="bus_id_${i}">
                            <%= lang.manage.bus_act %>
                        </label>
                        <select id="bus_id_${i}" name="bus_id_${i}"
                            class="js-example-basic-multiple col-sm-12" multiple="multiple">
                            <option value="">Select Business Activity(ies)</option>
                        </select>
                    </div>
                    <div class="col-md-12 select2-drpdwn mb-2">
                        <label for="location_id_${i}">
                            <%= lang.manage.location %>
                        </label>
                        <select id="location_id_${i}" name="location_id_${i}"
                            class="js-example-basic-multiple col-sm-12" multiple="multiple">
                            <option value="">Select Location</option>
                            <% if(loc_list.msg.length> 0){
                                var location_list = project_data.length > 0 ?
                                (project_data.location_busi_act != '' ?
                                project_data.location_busi_act : '') : '';
                                location_list = location_list ? location_list.split(',') : [];
                                loc_list.msg.forEach(dt => {
                                var selected = '';
                                if(location_list.length > 0)
                                if(location_list.includes(dt.location_name)) selected =
                                'selected'; %>
                                <option value="<%= dt.id %>" <%=selected %>><%= dt.location_name
                                        %>
                                </option>
                                <% }) } %>
                        </select>
                    </div>
                    <input type="hidden" name="input_seq" value="${i}">
                    <div class="col-md-12 mt-3">
                        <button type="button" class="btn btn-danger float-end" onclick="delNewIndInfo(this)">Delete</button>
                    </div>
                    <hr>
                </div>`
                $('.projInfo').prepend(element)
                setTimeout(() => {
                    $('#ind_id_' + i).select2({
                        allowClear: true,
                        width: '100%'
                    });
                    $('#bus_id_' + i).select2({
                        allowClear: true,
                        width: '100%'
                    });
                    $('#location_id_' + i).select2({
                        allowClear: true,
                        width: '100%'
                    });
                }, 500);
            }else{
                initiate_sweet_alert('', 'Please select sector, industry, business activity and location first', 'danger')
            }
        })

        async function delNewIndInfo(e){
            if (await inititate_sweet_conf_alert('Warning', 'Are you sure you want to delete?') > 0) {
                $(e).parent().parent().remove()
            }
        }
    </script>

    <%- include('../templates/footer.ejs') %>