<%- include('../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3><%= sub_header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %></a></li>
                    <li class="breadcrumb-item"><%= sub_header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-body">
                <form method="POST" action="/my_project_save" class="needs-validation">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <label class="form-label" for="project_name">Project Name</label>
                        <input class="form-control" id="project_name" name="project_name" type="text" value="<%= id > 0 ? project_data.msg[0].project_name : '' %>" required="">
                        <div class="valid-feedback">No Error</div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-md-12">
                        <table class="table" id="table">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>
                                        <button type="button" class="btn btn-pill btn-outline-success btn-air-success" onclick="add_tb_row()"><i class="icofont icofont-plus-circle"></i></button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(id > 0){
                                if(project_data.msg[0].user_list){
                                    let i = 1
                                    project_data.msg[0].user_list.forEach(udt => { %>
                                        <tr id="tr_<%= i %>">
                                            <td>
                                                <select class="form-select" id="user_id_<% i %>" name="user_id" required="">
                                                    <option selected="" value="">Select User</option>
                                                    <% if(user_list.msg.length > 0){
                                                        user_list.msg.forEach(dt => { 
                                                            var selected = '';
                                                            if(id > 0){
                                                                if(dt.id == udt.user_id) selected = 'selected';
                                                            } %>
                                                            <option value="<%= dt.id %>" <%= selected %>><%= dt.user_name %></option>
                                                        <% })
                                                    } %>
                                                </select>
                                            </td>
                                            <td>
                                                <% if(i > 1){ %>
                                                    <button type="button" class="btn btn-pill btn-outline-danger btn-air-danger" onclick="del_row(<%= i %>)"><i class="icofont icofont-trash"></i></button>
                                                <% } %>
                                            </td>
                                        </tr>
                                <% i++; })}else{ %>
                                <tr id="tr_1">
                                    <td>
                                        <select class="form-select" id="user_id_1" name="user_id" required="">
                                            <option selected="" value="">Select User</option>
                                            <% if(user_list.msg.length > 0){
                                                user_list.msg.forEach(dt => { 
                                                    var selected = '';
                                                    if(id > 0){
                                                        if(dt == project_data.msg[0].user_id) selected = 'selected';
                                                    } %>
                                                    <option value="<%= dt.id %>" <%= selected %>><%= dt.user_name %></option>
                                                <% })
                                            } %>
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                                <% }}else{ %>
                                    <tr id="tr_1">
                                        <td>
                                            <select class="form-select" id="user_id_1" name="user_id" required="">
                                                <option selected="" value="">Select User</option>
                                                <% if(user_list.msg.length > 0){
                                                    user_list.msg.forEach(dt => { 
                                                        var selected = '';
                                                        if(id > 0){
                                                            if(dt == project_data.msg[0].user_id) selected = 'selected';
                                                        } %>
                                                        <option value="<%= dt.id %>" <%= selected %>><%= dt.user_name %></option>
                                                    <% })
                                                } %>
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <input type="hidden" name="id" value="<%= id > 0 ? id : 0 %>">
                <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<script>
    function add_tb_row() {
        var next_id = $(`#table tbody tr`).length + 1
        $(`#table tbody:last`).append(`
        <tr id="tr_${next_id}">
            <td>
                <select class="form-select" id="user_id_${next_id}" name="user_id" required="">
                    <option selected="" value="">Select User</option>
                    <% if(user_list.msg.length > 0){
                        user_list.msg.forEach(dt => { 
                            var selected = '';
                            if(id > 0){
                                if(dt == project_data.msg[0].user_id) selected = 'selected';
                            } %>
                            <option value="<%= dt.id %>" <%= selected %>><%= dt.user_name %></option>
                        <% })
                    } %>
                </select>
            </td>
            <td>
                <button type="button" class="btn btn-pill btn-outline-danger btn-air-danger" 
                onclick="del_row(${next_id})"><i class="icofont icofont-trash"></i></button>    
            </td>
        </tr>
        `);
    }
    function del_row(id){
        if (confirm('Are you sure you want to delete?')) {
            $.ajax({
                method: "POST",
                url: "/delete_my_project",
                data: { id: id },
                dataType: "html",
                beforeSend: function () {
                    $(".loader-wrapper").show();
                },
                success: function (result) {
                    var res = JSON.parse(result);
                    console.log(res);
                    if (res.suc > 0 && res.msg.length > 0){
                        $(`#tr_${id}`).remove()
                    }
                },
                complete: function () {
                    $(".loader-wrapper").hide();
                }
            })
        }
    }
</script>

<%- include('../templates/footer.ejs') %>