<%- include('../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-2">
                <h3>You are in</h3>
            </div>
            <div class="col-md-8">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard"><%= lang.sub_header %></a></li>
                    <li class="breadcrumb-item"><%= `${header} (${flag_name})` %></li>
                </ol>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Zero Configuration  Starts-->
        <div class="col-sm-12">
            <% if(message){ %>
                <script>
                    setTimeout(() => {
                        initiate_sweet_alert('<%= header %>', '<%= message.message %>', "<%= message.type != 'danger' ? message.type : 'error' %>")
                    }, 1000);
                </script>
                <!-- <div class="alert alert-<%# message.type %> dark alert-dismissible fade show" role="alert">
                  <i data-feather="clock"></i>
                  <p><%# message.message %></p>
                  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> -->
            <% } %>
            <div class="card">
                <div class="card-body card_body_Cus">
                    <div class="row py-3">

                        <div class="top_radio_sec">
                        <% if(user_type == 'A' || user_type == 'C' || user_type == 'S'){ %>
                        <div class="col-md-12">
                            <a href="/my_project_add?flag=<%= enc_dt %>" class="btn btn-pill btn-custom float-end" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Edit" id="my_project_add" data-step="1"><%= lang.view.add_btn_name %></a>
                        </div>
                        <% } %>
                        </div>

                    </div>
                    <!-- <div class="table-responsive"> -->
                        <table class="display" id="basic-1">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><%= lang.view.table.head1 %></th>
                                    <th><%= lang.view.table.head2 %></th>
                                    <th><%= lang.view.table.head3 %></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(project_data.msg.length > 0){
                                    let i = 1;
                                    project_data.msg.forEach(dt => { %>
                                <tr>
                                    <td><%= i %></td>
                                    <td><%= dt.project_name %></td>
                                    <td><%= dt.last_access != '' ? dateFormat(dt.last_access, 'dd/mm/yyyy HH:MM:ss') : '' %></td>
                                    <td <% if(i == 1){ %> id="my_project_td" <% } %>>
                                        <% if(user_type == 'A' || user_type == 'C' || user_type == 'S'){ %>
                                            <a href="/my_project_add?id=<%= dt.id %>&flag=<%= enc_dt %>" class="btn btn_UR btn-outline-primary btn-air-primary m-r-15" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Edit">
                                                <i class="icofont icofont-ui-edit"></i> <%= lang.view.edit_btn %>
                                            </a>
                                        <% }%>
                                        <a class="btn btn_UR btn-outline-primary btn-air-primary m-r-15" onclick="redirectToPage('<%= dt.id %>', '<%= dt.sec_id > 0 ? dt.sec_id : 0 %>', '<%= dt.ind_id > 0 ? dt.ind_id : 0 %>', '<%= dt.project_name %>', 'project_report_view')">
                                            <% if(user_type != 'V'){ %> 
                                                <i class="icofont icofont-ui-settings"></i> <%= lang.view.manage_btn %> 
                                            <% }else{ %>
                                                <i class="icofont icofont-eye-alt"></i> <%= lang.view.manage_btn %> 
                                            <% } %>
                                        </a>
                                        <a class="btn btn_UR btn-outline-primary btn-air-primary" onclick="redirectToPage('<%= dt.id %>', '<%= dt.sec_id > 0 ? dt.sec_id : 0 %>', '<%= dt.ind_id > 0 ? dt.ind_id : 0 %>', '<%= dt.project_name %>', 'report_full_view')">
                                            <i class="icofont icofont-eye-alt"></i> <%= lang.view.view_btn %> 
                                        </a>
                                    <!-- <a href="" class="btn btn-pill btn-outline-danger btn-air-danger" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Delete">
                                        <i class="icofont icofont-ui-delete"></i> Delete
                                    </a> -->
                                    </td>
                                </tr>
                                <% i++; })}else{ %>
                                <tr>
                                    <td class="text-center text-danger" colspan="4">No Data Found</td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <!-- Zero Configuration  Ends-->
    </div>
</div>
<script>
    function redirectToPage(id, sec_id, ind_id, proj_name, route){
        if(sec_id > 0 && ind_id > 0){
            window.location.href = `/${route}?enc_data=${window.btoa(JSON.stringify({sec_id:sec_id, ind_id:ind_id, top_id:0, proj_id:id, proj_name: proj_name, repo_type: '<%= flag == "I" ? "ifrs" : (flag == "E" ? "esrs" : (flag == "G" ? "gri" : "gri-f")) %>', flag:'<%= flag %>'}))}`
            // window.location.href = `/proj_work_view?dt=${window.btoa(JSON.stringify({proj_id: id, sec_id: sec_id, ind_id: ind_id, flag: '<%= flag %>'}))}`
        }else{
            window.location.href = `/proj_work?id=${id}&flag=<%= enc_dt %>`
        }
    }
    $(document).ready(function(){
        var element = [document.querySelector('#my_project_add'), document.querySelector('#my_project_td')],
        text = [`Create a new project under any reporting framework.`, `“Edit” allows you to change project name, assign new users or delete existing users for this project. “Manage” allows you to manage this project. “View” allows you to preview and download the project report.`]
        // setTimeout(() => {
        //     triggerTour(element, text)
        // }, 200);
    })
</script>
<%- include('../templates/footer.ejs') %>