<%- include('../templates/login_header.ejs') %>
<style>
  .show-hide span {
    font-size: 20px !important;
  }
</style>
<div class="row login_back_color">
    <div class="col-12">
      <div class="login-card">
        <form class="theme-form login-form" action="/reset_pass" method="POST">
          <% if(message){ %>
          <div class="alert alert-<%= message.type %> outline alert-dismissible fade show" role="alert" style="border-width: 3px;width: 32vw;">
           
            <p style=" text-align: center;
            font-size: 17px;"><i data-feather="clock"></i>&nbsp;&nbsp;<%= message.message %></p>
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close" style="top: 5px;"></button>
          </div>
          <% } %>
          <img width="100%" height="100%" src="images/logo_white.png" alt="">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="form-group mt-3">
                <div class="input-group"><span class="input-group-text bg-white"><i class="icofont icofont-ui-lock"></i></span>
                  <input class="form-control loginInput" type="password" name="pass" id="pass" required="" placeholder="Password" onchange="chk_pass()">
                </div>
              </div>
              <div class="form-group mt-3">
                <div class="input-group"><span class="input-group-text bg-white"><i class="icofont icofont-ui-lock"></i></span>
                  <input class="form-control loginInput" type="password" name="re_pass" id="re_pass" required="" placeholder="Re-Enter Password" onchange="chk_pass()">
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="hidden" name="email" value="<%= email %>">
                    <button class="btn btn-primary btn-block lginBtn" id="subBtn" type="submit">Submit</button>
                  </div>
                </div>
              </div>
              <div class="form-group mt-0 pt-0">
                <a class="link text-white text-center LoginFpText" href="/login">Login</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    function chk_pass(){
        var pass = $('#pass').val(),
            re_pass = $('#re_pass').val();
        console.log(pass, re_pass);
        if(pass != '' && re_pass != ''){
            if(pass != re_pass){
                alert('Password and Re-Enter password does not match')
                $('#subBtn').attr('disabled', true)
            }else{
                $('#subBtn').removeAttr('disabled')
            }
        }
    }
  </script>
<%- include('../templates/login_footer.ejs') %>