<%- include('../templates/header.ejs', {header: "Dashboard", header_url: "/dashboard", sub_header: null, show_br: true}) %>
<% const monthNames = ["January", "February", "March", "April", "May", "June",
"July", "August", "September", "October", "November", "December"
]; %>
<script src="js/chart/google/google-chart-loader.js"></script>

<script>
  google.charts.load('current', {packages: ['corechart', 'bar', 'line']});
  var fun = {}, i = 1;
</script>

<script>
  $(document).ready(function(){
    // console.log($('#videoPopupModal').length);
    if($('#videoPopupModal').length){
      $('#videoPopupModal').modal({backdrop: 'static', keyboard: false})
      $('#videoPopupModal').modal('show');
    }
    var flag = <%= flag %>
    var noOfDays = '<%= daysLeft %>';
    if(flag){
      $('#exampleModalCenter').modal({backdrop: 'static', keyboard: false})
      $('#exampleModalCenter').modal('show');
      $('#subMsg').append(`<label class="text-danger text-center">${noOfDays >= 0 ? `Your Subscription will ended within ${noOfDays} days` : `You have no active plan`}.</label>`)
    }
  })
</script>
<% if(message){ %>
  <script>
      setTimeout(() => {
          initiate_sweet_alert('<%= message.header ? message.header : "Dashboard" %>', '<%= message.message %>', "<%= message.type != 'danger' ? message.type : 'error' %>")
      }, 1000);
  </script>
<% } %>

<% if(user_type != 'S'){ %>
  <div class="container-fluid">
    <div class="page-header">
        <ul class="nav nav-tabs border-tab nav-primary cust_nav mb-0 pb-0" id="info-tab" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true"><i class="icofont icofont-list"></i>Overview</a></li>
            <li class="nav-item"><a class="nav-link" id="knowledgebase-tab" data-bs-toggle="tab" href="#knowledgebase" role="tab" aria-controls="knowledgebase" aria-selected="false"><i class="icofont icofont-info-square"></i>Knowledgebase</a></li>
        </ul>
  
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-body card_body_Cus" data-intro="Add a project name - We recommend including the reporting year in the project name. Assign users to projects - Users should first be added in the “Manage Users” tab.">
                
            <div class="tab-content" id="info-tabContent">
            <div class="tab-pane fade show overview_sec_cus active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            
            <p class="lastLog"><b>Last Login:</b> <%= last_login %> </p>
            <div class="paiChartSec">
              <h3>You are currently assigned to <span id="projCount">0</span> projects</h3>
              <div class="row">
              <div class="col-sm-4 float-left paiChartSec_left">
                <div class="chart-overflow" id="pie-chart1"></div>
              </div>
              <div class="col-sm-8 float-left paiChartSec_right">
                <ul class="lpaiCh">
                  <li><span class="color_Icon" style="background: #24695c;">&nbsp;</span> Global Reporting Initiative (GRI): <span class="count"><%= Object.values(dash_proj_data).length > 0 ? dash_proj_data.tot_gri : 0 %></span>    <a href="#">View</a> </li>
                  <li><span class="color_Icon" style="background: #24695c;">&nbsp;</span> European Sustainability Reporting Standards (ESRS): <span class="count"><%= Object.values(dash_proj_data).length > 0 ? dash_proj_data.tot_esrs : 0 %></span>    <a href="#">View</a> </li>
                  <li><span class="color_Icon" style="background: #e2c636;">&nbsp;</span> International Sustainability Standards Board   (ISSB): <span class="count"><%= Object.values(dash_proj_data).length > 0 ? dash_proj_data.tot_ifrs : 0 %></span>    <a href="#">View</a> </li>
                  <li><span class="color_Icon" style="background: #222222;">&nbsp;</span> European Sustainability Reporting Standards (Voluntary SME) 
                    (ESRS-VSME):<span class="count"><%= Object.values(dash_proj_data).length > 0 ? dash_proj_data.tot_vsme : 0 %></span>    <a href="#">View</a> </li>
                  <li><span class="color_Icon" style="background: #717171;">&nbsp;</span> Global Reporting Initiative - French (GRI - French):<span class="count"><%= Object.values(dash_proj_data).length > 0 ? dash_proj_data.tot_gri_f : 0 %></span>    <a href="#">View</a> </li>
                    
                </ul>
  
              </div>
            </div>
  
            </div>
  
            <div class="tutorial_sec">
              <h3>Tutorials:</h3>
              <ul class="list_ul">
                <li>Adding Users   <a href="#">Watch Tutorial</a> </li>
                <li>Managing material topics          <a href="#">Watch Tutorial</a></li>
              </ul>
            </div>
  
            <div class="support_sec">
              <h3>Support tickets:</h3>
              <ul class="list_ul">
                <li class="pending">Pending <span><%= suppDt.tot_pending %></span>   </li>
                <li class="solved">Solved <span><%= suppDt.tot_solved %></span> </li>
                <li class="mySupport"> <a href="/support">My Support Tickets</a> </li>
              </ul>
            </div>
  
            </div>
  
            <div class="tab-pane knowledgebase_sec_cus fade" id="knowledgebase" role="tabpanel" aria-labelledby="knowledgebase-tab">
              <h3>Insights:</h3>
              <ul class="list_ul">
                <li>Document 1 - Creating and managing projects        <a href="#">Read</a> </li>
                <li>Document 2 - Creating and managing projects        <a href="#">Read</a></li>
              </ul>
            </div>
            </div>
                       
              </div>
  
                
            </div>
            </div>
        </div>
    </div>
<% }else{ %>
  <!-- Container-fluid starts-->
  <div class="container-fluid dashboard-default-sec">
    <div class="row">
      <div class="col-xl-12 xl-100 box-col-12">
        <p class="text-center dyn_col_head_Cus_UR_Dash">This platform provides you with the tools to effectively understand, manage and report 
          on the ESG risks and opportunities faced by your organisation.</p>
      </div>
      <!-- <div class="col-xl-6 xl-100 box-col-12">
        <div class="card">
         
          <div class="cal-date-widget card-body" data-intro="Here you can see the current date and calendar.">
            <div class="row">
              <div class="col-xl-6 col-xs-12 col-md-6 col-sm-6">
               
                  <div class="mobile-clock-widget" data-intro="This is a clock widget.">
                    <div class="bg-svg">
                      <svg class="climacon climacon_cloudLightningMoon" id="cloudLightningMoon" version="1.1" viewBox="15 15 70 70">
                        <clippath id="moonCloudFillClipfill11">
                          <path d="M0,0v100h100V0H0z M60.943,46.641c-4.418,0-7.999-3.582-7.999-7.999c0-3.803,2.655-6.979,6.211-7.792c0.903,4.854,4.726,8.676,9.579,9.58C67.922,43.986,64.745,46.641,60.943,46.641z"></path>
                        </clippath>
                        <clippath id="cloudFillClipfill19">
                          <path d="M15,15v70h70V15H15z M59.943,61.639c-3.02,0-12.381,0-15.999,0c-6.626,0-11.998-5.371-11.998-11.998c0-6.627,5.372-11.999,11.998-11.999c5.691,0,10.434,3.974,11.665,9.29c1.252-0.81,2.733-1.291,4.334-1.291c4.418,0,8,3.582,8,8C67.943,58.057,64.361,61.639,59.943,61.639z"></path>
                        </clippath>
                        <g class="climacon_iconWrap climacon_iconWrap-cloudLightningMoon">
                          <g clip-path="url(#cloudFillClip)">
                            <g class="climacon_wrapperComponent climacon_wrapperComponent-moon climacon_componentWrap-moon_cloud" clip-path="url(#moonCloudFillClip)">
                              <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunBody" d="M61.023,50.641c-6.627,0-11.999-5.372-11.999-11.998c0-6.627,5.372-11.999,11.999-11.999c0.755,0,1.491,0.078,2.207,0.212c-0.132,0.576-0.208,1.173-0.208,1.788c0,4.418,3.582,7.999,8,7.999c0.614,0,1.212-0.076,1.788-0.208c0.133,0.717,0.211,1.452,0.211,2.208C73.021,45.269,67.649,50.641,61.023,50.641z"></path>
                            </g>
                          </g>
                          <g class="climacon_wrapperComponent climacon_wrapperComponent-lightning">
                            <polygon class="climacon_component climacon_component-stroke climacon_component-stroke_lightning" points="48.001,51.641 57.999,51.641 52,61.641 58.999,61.641 46.001,77.639 49.601,65.641 43.001,65.641 "></polygon>
                          </g>
                          <g class="climacon_wrapperComponent climacon_wrapperComponent-cloud">
                            <path class="climacon_component climacon_component-stroke climacon_component-stroke_cloud" d="M59.999,65.641c-0.28,0-0.649,0-1.062,0l3.584-4.412c3.182-1.057,5.478-4.053,5.478-7.588c0-4.417-3.581-7.998-7.999-7.998c-1.602,0-3.083,0.48-4.333,1.29c-1.231-5.316-5.974-9.29-11.665-9.29c-6.626,0-11.998,5.372-11.998,12c0,5.446,3.632,10.039,8.604,11.503l-1.349,3.777c-6.52-2.021-11.255-8.098-11.255-15.282c0-8.835,7.163-15.999,15.998-15.999c6.004,0,11.229,3.312,13.965,8.204c0.664-0.114,1.338-0.205,2.033-0.205c6.627,0,11.999,5.371,11.999,11.999C71.999,60.268,66.626,65.641,59.999,65.641z"></path>
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div>
                      <ul class="clock" id="clock">
                        <li class="hour" id="hour"></li>
                        <li class="min" id="min"></li>
                        <li class="sec" id="sec"></li>
                      </ul>
                      <div class="date f-24 mb-2" id="date"><span id="monthDay"></span><span id="year">, </span></div>
                      
                    </div>
                  </div>
                
              </div>
              <div class="col-xl-6 col-xs-12 col-md-6 col-sm-6">
                <div class="cal-datepicker">
                  <div class="datepicker-here float-sm-end" data-language="en"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-xl-12 xl-100 box-col-12">
        <div class="card videoCard">
          <div class="card-body card_body_Cus">
          <div class="row">
            <div class="col-xl-6 col-xs-12 col-md-6 col-sm-6">
              <p class="videoConText_Cus_UR">Start with a short tutorial</p>
          <div class="videoContainer_Cus_UR">
            <video id="totVideo" controls width="100%">
              <source src="videos/ESG_Risk_Viewer_Video_Presentation_Final.mp4" type="video/mp4">
            </video>
          </div>
            </div>
            <div class="col-xl-6 col-xs-12 col-md-6 col-sm-6 dashboard_Txt">
              <h3>Take a guided tour</h3>
              <ul>
                <li>Exposure
                  <ul>
                  <li>Industry exposure</li>
                  <li>Stakeholders’ analysis</li>
                  <li>Materiality Assessment</li>
                </ul>
                </li>
                <li>Disclosures topics</li>
              </ul>
  
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
<% } %>

<script>
  $(document).ready(function(){
    // console.log(new Date().getFullYear());
  })
</script>
<script>
  google.charts.setOnLoadCallback(CreateBar);
  function CreateBar(){
    var projectData = <%- JSON.stringify(dash_proj_data) %>;
    var totProj = 0
    if(Object.values(projectData).length > 0){
      Object.entries(projectData).forEach(([key, value]) => key != 'client_id' ? totProj += value : '')
    }
    $('#projCount').text(totProj)
    // console.log(totProj, projectData);
    // console.log(projectData, 'User');
    if ($("#pie-chart1").length > 0) {
      var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['European Sustainability Reporting Standards (ESRS)', Object.values(projectData).length > 0 ? projectData.tot_esrs : 0],
        ['European Sustainability Reporting Standards - French (ESRS - French)', Object.values(projectData).length > 0 ? projectData.tot_esrs_f : 0],
        ['International Sustainability Standards Board (ISSB)', Object.values(projectData).length > 0 ? projectData.tot_ifrs : 0],
        ['International Sustainability Standards Board - French (ISSB - French)', Object.values(projectData).length > 0 ? projectData.tot_ifrs_f : 0],
        ['European Sustainability Reporting Standards (Voluntary SME) (ESRS-VSME)', Object.values(projectData).length > 0 ? projectData.tot_vsme : 0],
        ['European Sustainability Reporting Standards - French (Voluntary SME) (ESRS-VSME - French)', Object.values(projectData).length > 0 ? projectData.tot_vsme_f : 0],
        ['Global Reporting Initiative (GRI)', Object.values(projectData).length > 0 ? projectData.tot_gri : 0 ],
        ['Global Reporting Initiative - French (GRI - French)', Object.values(projectData).length > 0 ? projectData.tot_gri_f : 0]
      ]);
      var options = {
        // title: 'My Daily Activities',
        // is3D: true,
        legend: 'none',
        width:'100%',
        height: 300,
        colors: [vihoAdminConfig.primary, vihoAdminConfig.primary, "#e2c636", "#222222", "#717171"]
      };
      var chart = new google.visualization.PieChart(document.getElementById('pie-chart1'));
      chart.draw(data, options);
    }
  }
</script>
<!-- Container-fluid Ends-->
  <%- include('../templates/footer.ejs') %>