<%- include('../templates/header.ejs', {header: "Dashboard" , header_url: "/dashboard" , sub_header: null, show_br:
  true}) %>
  <% const monthNames=["January", "February" , "March" , "April" , "May" , "June" , "July" , "August" , "September"
    , "October" , "November" , "December" ]; %>
    <script src="js/chart/google/google-chart-loader.js"></script>

    <script>
      google.charts.load('current', { packages: ['corechart', 'bar', 'line'] });
      var fun = {}, i = 1;
    </script>

    <script>
      $(document).ready(function () {
        // console.log($('#videoPopupModal').length);
        if ($('#videoPopupModal').length) {
          $('#videoPopupModal').modal({ backdrop: 'static', keyboard: false })
          $('#videoPopupModal').modal('show');
        }
        var flag = <%= flag %>
    var noOfDays = '<%= daysLeft %>';
        if (flag) {
          $('#exampleModalCenter').modal({ backdrop: 'static', keyboard: false })
          $('#exampleModalCenter').modal('show');
          $('#subMsg').append(`<label class="text-danger text-center">${noOfDays >= 0 ? `Your Subscription will end in ${noOfDays} days` : `You have no active plan`}.</label>`)
        }
      })
    </script>
    <% if(message){ %>
      <script>
        setTimeout(() => {
          initiate_sweet_alert('<%= message.header ? message.header : "Dashboard" %>', '<%= message.message %>', "<%= message.type != 'danger' ? message.type : 'error' %>")
        }, 1000);
      </script>
      <% } %>

        <% if(user_type !='S' ){ %>
          <div class="container-fluid">
            <div class="page-header">
              <ul class="nav nav-tabs border-tab nav-primary cust_nav mb-0 pb-0" id="info-tab" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview"
                    role="tab" aria-controls="overview" aria-selected="true"><i
                      class="icofont icofont-list"></i>Overview</a></li>
                <li class="nav-item"><a class="nav-link" id="knowledgebase-tab" data-bs-toggle="tab"
                    href="#knowledgebase" role="tab" aria-controls="knowledgebase" aria-selected="false"><i
                      class="icofont icofont-info-square"></i>Knowledgebase</a></li>
              </ul>

            </div>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body card_body_Cus"
                    data-intro="Add a project name - We recommend including the reporting year in the project name. Assign users to projects - Users should first be added in the “Manage Users” tab.">

                    <div class="tab-content" id="info-tabContent">
                      <div class="tab-pane fade show overview_sec_cus active" id="overview" role="tabpanel"
                        aria-labelledby="overview-tab">

                        <p class="lastLog"><b>Last Login:</b>
                          <%= last_login %>
                        </p>
                        
                        <div class="col-xl-12 col-xs-12 col-md-12 col-sm-12">
                          <p class="videoConText_Cus_UR">Start with a short tutorial</p>
                          <div class="videoContainer_Cus_UR">
                            <video id="totVideo" controls width="100%">
                              <source src="videos/ESG_Risk_Viewer_Video_Presentation_Final.mp4" type="video/mp4">
                            </video>
                          </div>
                        </div>

                        <div class="tutorial_sec">
                          <h3>Tutorials:</h3>
                          <ul class="list_ul">
                            <li>Adding Users <a href="#">Watch Tutorial</a> </li>
                            <li>Managing material topics <a href="#">Watch Tutorial</a></li>
                          </ul>
                        </div>

                      </div>

                      <div class="tab-pane knowledgebase_sec_cus fade" id="knowledgebase" role="tabpanel"
                        aria-labelledby="knowledgebase-tab">
                        <h3>Insights:</h3>
                        <ul class="list_ul">
                          <li>Sustainability Reporting for SMEs: Is your Business at a Downstream or Upstream Control
                            Point? <a href="https://is.gd/UI07Hh" target="_blank">Read</a> </li>
                          <!-- <li>Materiality Assessment: Weighting the Relative Contributions of Different Stakeholder Groups.        <a href="https://is.gd/Kn3S2I" target="_blank">Read</a></li> -->
                          <li>Getting Started with GHG Emissions.<a href="https://is.gd/Kn3S2I" target="_blank">Read</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>


                </div>
              </div>
            </div>
          </div>
          <% }else{ %>
            <!-- Container-fluid starts-->
            <div class="container-fluid dashboard-default-sec">
              <div class="row">
                <div class="col-xl-12 xl-100 box-col-12">
                  <p class="text-center dyn_col_head_Cus_UR_Dash">This platform provides you with the tools to
                    effectively understand, manage and report
                    on the ESG risks and opportunities faced by your organisation.</p>
                </div>
                <div class="col-xl-12 xl-100 box-col-12">
                  <div class="card videoCard">
                    <div class="card-body card_body_Cus">
                      <div class="row">
                        <div class="col-xl-6 col-xs-12 col-md-6 col-sm-6">
                          <p class="videoConText_Cus_UR">Start with a short tutorial</p>
                          <div class="videoContainer_Cus_UR">
                            <video id="totVideo" controls width="100%">
                              <source src="videos/ESG_Risk_Viewer_Video_Presentation_Final.mp4" type="video/mp4">
                            </video>
                          </div>
                        </div>
                        <div class="col-xl-6 col-xs-12 col-md-6 col-sm-6 dashboard_Txt">
                          <h3>Take a guided tour</h3>
                          <ul>
                            <li>Exposure
                              <ul>
                                <li>Industry exposure</li>
                                <li>Stakeholders’ analysis</li>
                                <li>Materiality Assessment</li>
                              </ul>
                            </li>
                            <li>Disclosures topics</li>
                          </ul>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>

              <script>
                $(document).ready(function () {
                  // console.log(new Date().getFullYear());
                })
              </script>
              <script>
                google.charts.setOnLoadCallback(CreateBar);
                function CreateBar() {
                  var projectData = <%- JSON.stringify(dash_proj_data) %>;
                  var totProj = 0
                  if (Object.values(projectData).length > 0) {
                    console.log(Object.values(projectData));
                    
                    Object.entries(projectData).forEach(([key, value]) => key != 'client_id' && key != 'user_id' ? totProj += parseInt(value) : '')
                  }
                  $('#projCount').text(totProj)
                  // console.log(totProj, projectData);
                  // console.log(projectData, 'User');
                  if ($("#pie-chart1").length > 0) {
                    var data = google.visualization.arrayToDataTable([
                      ['Task', 'Hours per Day'],
                      ['European Sustainability Reporting Standards (ESRS)', Object.values(projectData).length > 0 ? projectData.tot_esrs : 0],
                      ['European Sustainability Reporting Standards - French (ESRS - French)', Object.values(projectData).length > 0 ? projectData.tot_esrs_f : 0],
                      ['International Sustainability Standards Board (ISSB)', Object.values(projectData).length > 0 ? projectData.tot_ifrs : 0],
                      ['International Sustainability Standards Board - French (ISSB - French)', Object.values(projectData).length > 0 ? projectData.tot_ifrs_f : 0],
                      ['European Sustainability Reporting Standards (Voluntary SME) (ESRS-VSME)', Object.values(projectData).length > 0 ? projectData.tot_vsme : 0],
                      ['European Sustainability Reporting Standards - French (Voluntary SME) (ESRS-VSME - French)', Object.values(projectData).length > 0 ? projectData.tot_vsme_f : 0],
                      ['Global Reporting Initiative (GRI)', Object.values(projectData).length > 0 ? projectData.tot_gri : 0],
                      ['Global Reporting Initiative - French (GRI - French)', Object.values(projectData).length > 0 ? projectData.tot_gri_f : 0]
                    ]);
                    var options = {
                      // title: 'My Daily Activities',
                      // is3D: true,
                      legend: 'none',
                      width: '100%',
                      height: 300,
                      colors: ["#e2c636", "#222222", "#0f8972", "#ffa344", "#df90ff", "#065960", "#24695c", "#717171"]
                    };
                    var chart = new google.visualization.PieChart(document.getElementById('pie-chart1'));
                    chart.draw(data, options);
                  }
                }
              </script>
              <!-- Container-fluid Ends-->
              <%- include('../templates/footer.ejs') %>