<%- include('../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6 row">
                <!-- <div class="col-md-4">
                    <h5 class="text-muted mt-2"><%= header %></h5>
                </div> -->
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item"><%= header %></li>
                    </ol>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="card card-form">
           <h5>If you would like change your subscription to receive (or to stop receiving) emails
            from ESG Risk Viewer about products updates, industry news and events, you can
            change your preferences below</h5> 

            <div class="col-md-6">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="<%= product_update %>" id="productUpdate" <%= policy == 'Y' && product_update == 'Y' ? 'checked' : '' %>> 
                    <label class="form-check-label" for="productUpdate">
                       Products updates
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="<%= industry_news %>" id="industryNews" <%= policy == 'Y' && industry_news == 'Y' ? 'checked' : '' %>>
                    <label class="form-check-label" for="industryNews">
                        Industry news and events
                    </label>
                </div>
            </div>
             <div class="button-row">
            <button type="submit" class="btn btn-primary blue-button">Save</button>
        </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('button[type="submit"]').on('click', function(e){
            e.preventDefault();
            var industryNews = $('#industryNews').is(':checked') ? 'Y' : 'N';
            var productUpdate = $('#productUpdate').is(':checked') ? 'Y' : 'N';
            $.ajax({
                url: '/message-settings',
                type: 'POST',
                data: {
                    industryNews: industryNews,
                    productUpdate: productUpdate
                },
                success: function(response){
                   if(response){
                    location.reload();
                   }
                },
                error: function(xhr, status, error){
                    console.log(error);
                }
            });
        });
    });
</script>

<%- include('../templates/footer.ejs') %>