<%- include('../../templates/header.ejs') %>
<script src="js/chart/google/google-chart-loader.js"></script>

<!-- morris-chart -->
    <script src="js/chart/morris-chart/raphael.js"></script>
    <script src="js/chart/morris-chart/morris.js"> </script>
    <script src="js/chart/morris-chart/prettify.min.js"></script>
    <script src="js/chart/morris-chart/morris.min.js"></script>
    <script src="js/chart/morris-chart/morris-script.js"></script>
<!-- END -->

<script>
    google.charts.load('current', {packages: ['corechart', 'bar', 'line']});
    var fun = {}, i = 1;
</script>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3><%= header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><%= header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <form action="/save_dynamic_entry" method="post">
                    <div class="card-body">
                        <input type="hidden" name="sec_id" value="<%= dataSet.msg.length > 0 ? dataSet.msg[0].sec_id : 0 %>" />
                        <input type="hidden" name="ind_id" value="<%= dataSet.msg.length > 0 ? dataSet.msg[0].ind_id : 0 %>" />
                        <input type="hidden" name="top_id" value="<%= dataSet.msg.length > 0 ? dataSet.msg[0].top_id : 0 %>" />
                        <% if(resDt.length > 0){
                            var j = 1;
                            var i = 1;
                            resDt.forEach(dt => { %>
                                <input type="hidden" name="section_id" value="<%= j %>" />
                                <div class="row my-3">
                                    <% if(dt.heading){ %> <div class="col-md-12"><h4 onclick="editLabel(this)"><%= dt.heading %></h4><input type="text" value="<%= dt.heading %>" name="header_<%= j %>" class="edit form-control" id="header_<%= j %>" style="display: none;"></div> <% } %>
                                    <% if(dt.sub_heading){ %> <div class="col-md-12"><h5 onclick="editLabel(this)"><%= dt.sub_heading %></h5><input type="text" value="<%= dt.sub_heading %>" name="sub_header_<%= j %>" class="edit form-control" id="sub_heading_<%= j %>" style="display: none;"></div> <% } %>
                                    <% if(dt.textarea){ %> 
                                        <div class="col-md-12">
                                            <p onclick="editLabel(this)"><%= dt.textarea %></p>
                                            <textarea class="edit form-control" name="textarea_<%= j %>" id="textarea_<%= j %>" style="display: none;" rows="8"><%= dt.textarea %></textarea>
                                        </div> 
                                    <% } %>
                                    <% if(dt.table){ %>
                                        <div class="col-md-12 mb-4">
                                            <table class="table" id="table_<%= j %>">
                                                <tr>
                                                    <% let th_count = 1;
                                                    dt.table.head.forEach(tdt => { %>
                                                        <th>
                                                            <span onclick="editLabel(this)"><%= tdt %></span>
                                                            <!-- <input type="text" value="<%= dt.heading %>" name="header_<%= i %>" class="edit form-control" id="header_<%= i %>" style="display: none;"> -->
                                                            <input class="edit form-control form-control-sm" type="text" id="table_<%= j %>_heading_<%= th_count %>"
                                                    name="table_<%= j %>_heading" placeholder="Add Header" aria-label="Add Header" value="<%= tdt %>" style="display: none; width: auto;">
                                                        </th>
                                                    <% th_count++; }) %>
                                                </tr>
                                                <tbody>
                                                    <% var table_data = [];
                                                        table_data.push(dt.table.head)
                                                        dt.table.body.forEach(trdt => {
                                                            table_data.push([...Object.values(trdt).map(dt => parseFloat(dt) ? Number(dt) : dt)])
                                                        %>
                                                        <tr>
                                                            <% let td_count = 1; Object.values(trdt).forEach(vdt => { %>
                                                                <td>
                                                                    <span onclick="editLabel(this)"><%= vdt %></span>
                                                                    <input class="edit form-control form-control-sm" type="text" id="table_<%= j %>_body_<%= td_count %>"
                                                    name="table_<%= j %>_body" placeholder="Add Header" aria-label="Add Header" value="<%= vdt %>" style="display: none; width: auto;">
                                                                </td>
                                                            <% td_count++; }) %>
                                                        </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="chart-block">
                                                <div class="chart-overflow" id="column_chart_<%= i %>"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="flot-chart-container">
                                                <div class="flot-chart-placeholder" id="stacked-bar-chart_<%= i %>"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="chart-block">
                                                <canvas id="myBarGraph_<%= i %>"></canvas>
                                            </div>
                                        </div>
                                        
                                        <script>
                                            i = <%= i %>;
                                            console.log('view', i);
                                            var table_data = <%- JSON.stringify(table_data) %>;
                                            // console.log(table_data);
                                            fun[`crate_bar_graph_${<%= i %>}`] = {
                                                    a: table_data,
                                                    b: {
                                                        chart: {
                                                            title: "<%- dt.sub_heading ? dt.sub_heading : '' %>",
                                                            subtitle: '',
                                                        },
                                                        // seriesType: 'line',
                                                        // vAxis: {
                                                        //   format: "decimal"
                                                        // },
                                                        vAxis: { title: 'Marks' },
                                                        hAxis: { title: 'Country' },
                                                        height: 400,
                                                        width: '100%',
                                                        colors: ["#e2c636", "#AED6F1", "#E8DAEF", "#EDBB99"]
                                                    },
                                                    c: "<%= dt.table.graph_type %>" 
                                                }
                                        </script>
                                    <% i++; } %>
                                </div>
                        <% j++; })
                        } %>
                    </div>
                    <div class="row m-3">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-pill btn-outline-success btn-air-success float-end">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        // console.log('FunLen', fun);
        google.charts.setOnLoadCallback(CreateBar);
        function CreateBar(){
            let j = 1
            for(let key in fun){
                console.log(fun[key]);
                switch (fun[key].c) {
                    case 'b1':
                        $(`#stacked-bar-chart_${j}`).parent().hide()
                        $(`#myBarGraph_${j}`).parent().hide()
                        var a = google.visualization.arrayToDataTable(fun[key].a),
                            b = fun[key].b;
                        var c = new google.charts.Bar(document.getElementById(`column_chart_${j}`));
                        c.draw(a, google.charts.Bar.convertOptions(b))
                        break;
                    case 'b2':
                        $(`#stacked-bar-chart_${j}`).parent().hide()
                        $(`#myBarGraph_${j}`).parent().hide()
                        var a = google.visualization.arrayToDataTable(fun[key].a),
                            b = fun[key].b;
                        b['bars'] = 'horizontal'
                        var c = new google.charts.Bar(document.getElementById(`column_chart_${j}`));
                        c.draw(a, google.charts.Bar.convertOptions(b))
                        break;
                    case 'l3':
                        $(`#stacked-bar-chart_${j}`).parent().hide()
                        $(`#myBarGraph_${j}`).parent().hide()
                        var a = google.visualization.arrayToDataTable(fun[key].a),
                            b = fun[key].b;
                        var c = new google.charts.Line(document.getElementById(`column_chart_${j}`));
                        c.draw(a, google.charts.Line.convertOptions(b))
                        break;
                    case 'bm1':
                        $(`#stacked-bar-chart_${j}`).parent().hide()
                        $(`#myBarGraph_${j}`).parent().hide()
                        var a = google.visualization.arrayToDataTable(fun[key].a),
                            b = fun[key].b;
                        b['seriesType'] = 'bars'
                        var series = {}
                        series[fun[key].a.length - 1] = {type: 'line'}
                        b['series'] = series
                        var chart = new google.visualization.ComboChart(document.getElementById(`column_chart_${j}`));
                        chart.draw(a, b);
                        break;
                    case 'a1':
                        $(`#stacked-bar-chart_${j}`).parent().hide()
                        $(`#myBarGraph_${j}`).parent().hide()
                        var a = google.visualization.arrayToDataTable(fun[key].a),
                            b = fun[key].b;
                        var chart = new google.visualization.AreaChart(document.getElementById(`column_chart_${j}`));
                        chart.draw(a, b);
                        break;
                    case 'b5':
                        $(`#column_chart_${j}`).parent().hide()
                        $(`#myBarGraph_${j}`).parent().hide()
                        var header = fun[key].a[0],
                            index = 0;
                        var dataSet = []
                        for(let tab of fun[key].a){
                            if(index > 0){
                                var bodyIndex = 0, tabDataSet = []
                                var currTbIndex = 0
                                var tabData = {}
                                for(let tabBody of tab){
                                    // for(let tabHead of header){
                                        if(header[currTbIndex] != ''){
                                            if(tabBody > 0){
                                                tabData[header[currTbIndex].toString()] = tabBody
                                                tabData['x'] = tab[0]
                                                // tabData.push(tabBody)
                                                tabDataSet.push(tabData)
                                            }
                                        }
                                        currTbIndex++;
                                    // }
                                }
                                dataSet.push(tabData)
                            }
                            index++;
                        }
                        var tbKeys = [...Object.keys(dataSet[0]).map(key => key != 'x' ? key : '')].filter(x => x).join(',')
                        tbKeys = tbKeys.split(',')
                        console.log(dataSet, tbKeys);
                        Morris.Bar({
                            element: `stacked-bar-chart_${j}`,
                            data: dataSet,
                            xkey: "x",
                            ykeys: tbKeys,
                            barColors: ["#e2c636", "#AED6F1", "#E8DAEF", "#EDBB99"],
                            labels: tbKeys,
                        })
                        break;
                    default:
                        $(`#stacked-bar-chart_${j}`).parent().hide()
                        $(`#myBarGraph_${j}`).parent().hide()
                        var a = google.visualization.arrayToDataTable(fun[key].a),
                            b = fun[key].b;
                        var c = new google.charts.Bar(document.getElementById(`column_chart_${j}`));
                        c.draw(a, google.charts.Bar.convertOptions(b))
                        break;
                }
                // console.log('funName', fun[key]);
                j++
            }
        }
    })
</script>
<script>
    function editLabel(elm) {
        console.log(elm);
        var jelm = $(elm);
        var htmlElm = jelm[0];
        $(htmlElm).hide();
        $(htmlElm).siblings('.edit').show();
        $(htmlElm).siblings('.edit').focus()
        var initial_text = $(htmlElm).text();
        $(htmlElm).siblings('.edit').focusout(function () {
            var editedInput = $(htmlElm).siblings('.edit').val();
            $(htmlElm).siblings('.edit').hide();
            if (editedInput != '') {
                $(htmlElm).show().text(editedInput);
            }
            else {
                $(htmlElm).show().text(initial_text);
            }
        });
    }
</script>
<%- include('../../templates/footer.ejs') %>