<%- include('../../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3><%= sub_header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %></a></li>
                    <li class="breadcrumb-item"><%= sub_header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-body">
                <form method="POST" action="/cal_emi_unit_edit" class="needs-validation">
                <div class="row g-3 py-3">
                    <div class="col-md-6">
                        <label class="form-label" for="type_id">Section</label>
                        <select class="form-select" id="type_id" name="type_id" required="">
                            <option selected="" value="">Select Section</option>
                            <% if(type_list.length > 0){
                                type_list.forEach(dt => { 
                                    var selected = '';
                                    if(id > 0) 
                                        if(dt.id == data[0].type_id) selected = 'selected'; %>
                                    <option value="<%= dt.id %>" <%= selected %>><%= dt.type_name %></option>
                                <% })
                            } %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="act_id">Activity</label>
                        <select class="form-select" id="act_id" name="act_id" required="">
                            <option selected="" value="">Select Section</option>
                            <% if(act_list.length > 0){
                                act_list.forEach(dt => { 
                                    var selected = '';
                                    if(id > 0) 
                                        if(dt.id == data[0].act_id) selected = 'selected'; %>
                                    <option value="<%= dt.id %>" <%= selected %>><%= dt.type_name %></option>
                                <% })
                            } %>
                        </select>
                    </div>
                </div>
                <div class="row g-3 py-3">
                    <div class="col-md-6">
                        <label class="form-label" for="emi_type_id">Fuel</label>
                        <select class="form-select" id="emi_type_id" name="emi_type_id" required="">
                            <option selected="" value="">Select Fuel</option>
                            <% if(emi_type.length > 0){
                                emi_type.forEach(dt => { 
                                    var selected = '';
                                    if(id > 0) 
                                        if(dt.id == data[0].emi_type_id) selected = 'selected'; %>
                                    <option value="<%= dt.id %>" <%= selected %>><%= dt.type_name %></option>
                                <% })
                            } %>
                        </select>
                    </div>
                </div>
                <div class="row g-3 py-3">
                    <div class="col-md-12">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>Unit</th>
                                    <th>kg CO2e</th>
                                    <th>
                                        <button type="button" class="btn btn-pill btn-outline-primary btn-air-primary" onclick="add_tb_row()"><i class="icofont icofont-plus-circle"></i></button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="tr_1">
                                    <td>
                                        <select class="form-select" id="unit_id_1" name="unit_id" required="">
                                            <option selected="" value="">Select Unit</option>
                                            <% if(unit_list.length > 0){
                                                unit_list.forEach(dt => { 
                                                    var selected = ''; %>
                                                    <option value="<%= dt.id %>"><%= dt.unit_name %></option>
                                                <% })
                                            } %>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control" id="co_val_1" name="co_val" type="text" value="" required="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <input type="hidden" name="id" value="<%= id > 0 ? id : 0 %>">
                <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#type_id').on('change', function (){
        $.ajax({
            method:'POST',
            url: '/get_cal_act_ajax',
            data: {type_id: $(this).val()},
            dataType: 'html',
            beforeSend: function(){
                $('.loader-wrapper').show()
            },
            success: function(result){
                var res = JSON.parse(result);
                // console.log(res);
                $('#act_id').empty();
                $('#act_id').append($('<option>', {value: '', text: 'Select Activity'}));
                if(res.suc > 0 && res.msg.length > 0){
                    var act_id = '<%= id > 0 ? data[0].act_id : 0 %>';
                    if(act_id > 0){
                        $.each(res.msg, function (i, item) {
                            var selected = false
                            if(item.id == act_id)
                                selected = true
                            $('#act_id').append($('<option>', {value: item.id, text: item.act_name, selected: selected}));
                        });
                        $('#act_id').change()
                    }
                    else
                    $.each(res.msg, function (i, item) {
                        $('#act_id').append($('<option>', {value: item.id, text: item.act_name}));
                    });
                }
            },
            complete: function(){
                $('.loader-wrapper').hide()
            }
        })
    })
</script>
<script>
    $('#act_id').on('change', function (){
        $.ajax({
            method:'POST',
            url: '/get_cal_emi_type_ajax',
            data: {type_id: $('#type_id').val(), act_id: $(this).val()},
            dataType: 'html',
            beforeSend: function(){
                $('.loader-wrapper').show()
            },
            success: function(result){
                var res = JSON.parse(result);
                // console.log(res);
                $('#emi_type_id').empty();
                $('#emi_type_id').append($('<option>', {value: '', text: 'Select One'}));
                if(res.suc > 0 && res.msg.length > 0){
                    var emi_type_id = '<%= id > 0 ? data[0].emi_type_id : 0 %>';
                    if(emi_type_id > 0){
                        $.each(res.msg, function (i, item) {
                            var selected = false
                            if(item.id == emi_type_id)
                                selected = true
                            $('#emi_type_id').append($('<option>', {value: item.id, text: item.emi_name, selected: selected}));
                        });
                    }
                    else
                    $.each(res.msg, function (i, item) {
                        $('#emi_type_id').append($('<option>', {value: item.id, text: item.emi_name}));
                    });
                }
            },
            complete: function(){
                $('.loader-wrapper').hide()
            }
        })
    })
</script>
<script>
    function add_tb_row() {
        var next_id = $(`#table tbody tr`).length + 1
        $(`#table tbody:last`).append(`
        <tr id="tr_${next_id}">
            <td>
                <select class="form-select" id="unit_id_${next_id}" name="unit_id" required="">
                    <option selected="" value="">Select Unit</option>
                    <% if(unit_list.length > 0){
                        unit_list.forEach(dt => { 
                            var selected = ''; %>
                            <option value="<%= dt.id %>"><%= dt.unit_name %></option>
                        <% })
                    } %>
                </select>
            </td>
            <td>
                <input class="form-control" id="co_val_${next_id}" name="co_val" type="text" value="" required="">
            </td>
            <td>
                <button type="button" class="btn btn-pill btn-outline-danger btn-air-danger" 
                onclick="del_row(${next_id})"><i class="icofont icofont-trash"></i></button>    
            </td>
        </tr>
        `);
    }
    function del_row(id){
        if (confirm('Are you sure you want to delete?')) {
            if($('#id').val() > 0){
                $.ajax({
                    method: "POST",
                    url: "/delete_my_project",
                    data: { id: id },
                    dataType: "html",
                    beforeSend: function () {
                        $(".loader-wrapper").show();
                    },
                    success: function (result) {
                        var res = JSON.parse(result);
                        console.log(res);
                        if (res.suc > 0 && res.msg.length > 0){
                            $(`#tr_${id}`).remove()
                        }
                    },
                    complete: function () {
                        $(".loader-wrapper").hide();
                    }
                })
            }else{
                $(`#tr_${id}`).remove()
            }
        }
    }
</script>
<%- include('../../templates/footer.ejs') %>