<%- include('../../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3><%= sub_header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="<%= header_url %>"><%= header %></a></li>
                    <li class="breadcrumb-item"><%= sub_header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-body">
                <form method="POST" action="/cal_emi_val_edit" class="needs-validation">
                <div class="row g-3 py-3">
                    <div class="col-md-6">
                        <label class="form-label" for="type_id">Section</label>
                        <select class="form-select" id="type_id" name="type_id" required="">
                            <option selected="" value="">Select Section</option>
                            <% if(type_list.length > 0){
                                type_list.forEach(dt => { 
                                    var selected = '';
                                    if(type_id > 0) 
                                        if(dt.id == type_id) selected = 'selected'; %>
                                    <option value="<%= dt.id %>" dt-set="<%= dt.type %>" <%= selected %>><%= dt.type_name %></option>
                                <% })
                            } %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="act_id">Activity</label>
                        <select class="form-select" id="act_id" name="act_id" required="">
                            <option selected="" value="">Select Section</option>
                            <% if(act_list.length > 0){
                                act_list.forEach(dt => { 
                                    var selected = '';
                                    if(act_id > 0) 
                                        if(dt.id == act_id) selected = 'selected'; %>
                                    <option value="<%= dt.id %>" <%= selected %>><%= dt.act_name %></option>
                                <% })
                            } %>
                        </select>
                    </div>
                </div>
                <div class="row g-3 py-3">
                    <div class="col-md-6">
                        <label class="form-label" for="emi_type_id">Fuel</label>
                        <select class="form-select" id="emi_type_id" name="emi_type_id" required="">
                            <option selected="" value="">Select Fuel</option>
                            <% if(emi_type.length > 0){
                                emi_type.forEach(dt => { 
                                    var selected = '';
                                    if(emi_type_id > 0) 
                                        if(dt.id == emi_type_id) selected = 'selected'; %>
                                    <option value="<%= dt.id %>" <%= selected %>><%= dt.emi_name %></option>
                                <% })
                            } %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="repo_period">Reporting period</label>
                        <select class="form-select" id="repo_period" name="repo_period" required="">
                            <option selected="" value="">Select One</option>
                            <% if(year_list.length > 0){
                                year_list.forEach(dt => { 
                                    var selected = ''; 
                                    if(period > 0)
                                        if(period == dt)
                                            selected = 'selected'
                                    %>
                                    <option value="<%= dt %>" <%= selected %>><%= dt %></option>
                                <% })
                            } %>
                        </select>
                    </div>
                </div>
                <div class="row g-3 py-3">
                    <div class="col-md-12">
                        <table class="table" width="100%" id="table">
                            <thead>
                                <tr>
                                    <th>Unit</th>
                                    <th>kg CO2e</th>
                                    <th>
                                        <button type="button" class="btn btn-pill btn-outline-primary btn-air-primary" onclick="add_tb_row()"><i class="icofont icofont-plus-circle"></i></button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="emiDataTable">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var period = '<%= period %>';
        if(period > 0){
            $('#repo_period').change()
        }
    })
</script>
<script>
    $('#type_id').on('change', function (){
        $('label[for="emi_type_id"]').text($(this).attr('dt-set'))
        $.ajax({
            method:'POST',
            url: '/get_cal_act_ajax',
            data: {type_id: $(this).val()},
            dataType: 'html',
            beforeSend: function(){
                $('.loader-wrapper').show()
            },
            success: function(result){
                var res = JSON.parse(result);
                // console.log(res);
                $('#act_id').empty();
                $('#act_id').append($('<option>', {value: '', text: 'Select Activity'}));
                if(res.suc > 0 && res.msg.length > 0){
                    $.each(res.msg, function (i, item) {
                        $('#act_id').append($('<option>', {value: item.id, text: item.act_name}));
                    });
                }
            },
            complete: function(){
                $('.loader-wrapper').hide()
            }
        })
    })
</script>
<script>
    $('#act_id').on('change', function (){
        $.ajax({
            method:'POST',
            url: '/get_cal_emi_type_ajax',
            data: {type_id: $('#type_id').val(), act_id: $(this).val()},
            dataType: 'html',
            beforeSend: function(){
                $('.loader-wrapper').show()
            },
            success: function(result){
                var res = JSON.parse(result);
                // console.log(res);
                $('#emi_type_id').empty();
                $('#emi_type_id').append($('<option>', {value: '', text: 'Select One'}));
                if(res.suc > 0 && res.msg.length > 0){
                    $.each(res.msg, function (i, item) {
                        $('#emi_type_id').append($('<option>', {value: item.id, text: item.emi_name}));
                    });
                }
            },
            complete: function(){
                $('.loader-wrapper').hide()
            }
        })
    })
    $('#emi_type_id').on('change', function(){
        console.log($('#repo_period').val());
        if($('#repo_period').val() > 0){
            $('#repo_period').change()
        }else{
            $('#repo_period').val('')
            $('table tbody').empty();
        }
    })
</script>
<script>
    $('#repo_period').on('change', function(){
        $.ajax({
            method:'POST',
            url: '/get_cal_unit_list_ajax',
            data: {type_id: $('#type_id').val(), act_id: $('#act_id').val(), emi_type_id: $(`#emi_type_id`).val(), year: $(this).val()},
            dataType: 'html',
            beforeSend: function(){
                $('.loader-wrapper').show()
            },
            success: function(result){
                var res = JSON.parse(result);
                if(res.suc > 0){
                    $('table tbody').empty();
                    if(res.msg.length > 0){
                        let i = 1;
                        $.each(res.msg, function (node, item) {
                            var sel_unit_id = ''
                            $('table tbody').append(`
                            <tr id="tr_${i}">
                                <td>
                                    <select class="form-select" id="unit_id_${i}" name="unit_id" required="" onchange="unitChange(event)">
                                        <option selected="" value="">Select Unit</option>
                                        <% if(unit_list.length > 0){
                                            unit_list.forEach(dt => { 
                                                var selected = ''; %>
                                                ${sel_unit_id = '<%= dt.id %>'}
                                                <option value="<%= dt.id %>" ${sel_unit_id == item.unit_id ? 'selected' : ''}><%= dt.unit_name %></option>
                                            <% })
                                        } %>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" id="co_val_${i}" name="co_val" type="text" value="${item.co_val}" required="">
                                </td>
                            </tr>
                            `)
                            i++;
                        });
                    }else{
                        $('table tbody').append(`
                        <tr id="tr_1">
                            <td>
                                <select class="form-select" id="unit_id_1" name="unit_id" required="" onchange="unitChange(event)">
                                    <option selected="" value="">Select Unit</option>
                                    <% if(unit_list.length > 0){
                                        unit_list.forEach(dt => { 
                                            var selected = ''; %>
                                            <option value="<%= dt.id %>"><%= dt.unit_name %></option>
                                        <% })
                                    } %>
                                </select>
                            </td>
                            <td>
                                <input class="form-control" id="co_val_1" name="co_val" type="text" value="" required="">
                            </td>
                        </tr>
                        `);
                    }
                }
            },
            complete: function(){
                $('.loader-wrapper').hide()
            }
        })
    })
</script>
<script>
    function add_tb_row() {
        var tr_len = $(`#table tbody tr`).length
        if($(`#unit_id_${tr_len}`).val() > 0 && $(`#co_val_${tr_len}`).val() > 0){
            var next_id = tr_len + 1
            $(`#table tbody:last`).append(`
            <tr id="tr_${next_id}">
                <td>
                    <select class="form-select" id="unit_id_${next_id}" name="unit_id" required="" onchange="unitChange(event)">
                        <option selected="" value="">Select Unit</option>
                        <% if(unit_list.length > 0){
                            unit_list.forEach(dt => { 
                                var selected = ''; %>
                                <option value="<%= dt.id %>"><%= dt.unit_name %></option>
                            <% })
                        } %>
                    </select>
                </td>
                <td>
                    <input class="form-control" id="co_val_${next_id}" name="co_val" type="text" value="" required="">
                </td>
                <td>
                    <button type="button" class="btn btn-pill btn-outline-danger btn-air-danger" 
                    onclick="del_row(${next_id})"><i class="icofont icofont-trash"></i></button>    
                </td>
            </tr>
            `);
        }else{
            alert('Please fill all empty fields')
        }
    }
    function del_row(id){
        if (confirm('Are you sure you want to delete?')) {
            if($('#id').val() > 0){
                $.ajax({
                    method: "POST",
                    url: "/delete_my_project",
                    data: { id: id },
                    dataType: "html",
                    beforeSend: function () {
                        $(".loader-wrapper").show();
                    },
                    success: function (result) {
                        var res = JSON.parse(result);
                        console.log(res);
                        if (res.suc > 0 && res.msg.length > 0){
                            $(`#tr_${id}`).remove()
                        }
                    },
                    complete: function () {
                        $(".loader-wrapper").hide();
                    }
                })
            }else{
                $(`#tr_${id}`).remove()
            }
        }
    }
</script>
<script>
    function unitChange(e){
        if($('select[name="unit_id"]').length > 1)
            $('select[name="unit_id"]').each(function(){
                console.log(e.target.id);
                if(e.target.id != $(this).attr('id'))
                    if($(this).val() == e.target.value){
                        if(!confirm('This unit is already in use, if you save the previous value of the unit will be overwritten. Do you want to continue?')){
                            e.target.value = ''
                        }
                    }
            })
        // console.log(e.target.value);
    }
</script>
<%- include('../../templates/footer.ejs') %>