<%- include('../templates/header.ejs') %>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3><%= header %></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><%= header %></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Zero Configuration  Starts-->
        <div class="col-sm-12">
            <% if(message){ %>
                <div class="alert alert-<%= message.type %> dark alert-dismissible fade show" role="alert">
                  <i data-feather="clock"></i>
                  <p><%= message.message %></p>
                  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>
            <div class="card">
                <div class="card-body card_body_Cus">
                    <div class="row py-3">
                        <div class="col-md-1">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="show_flag" id="show_flag_a" value="A" checked>
                                <label class="form-check-label" for="show_flag_a">
                                    All
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="show_flag" id="show_flag_y" value="Y">
                                <label class="form-check-label" for="show_flag_y">
                                    Active users
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="show_flag" id="show_flag_n" value="N">
                                <label class="form-check-label" for="show_flag_n">
                                    Deactivated users
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="/manage_user_edit" class="btn btn-pill btn-custom float-end" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Edit">Add New User</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="display" id="user_table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email Id</th>
                                    <th>User Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(user_data.msg.length > 0){
                                    let i = 1;
                                user_data.msg.forEach(dt => { %>
                                <tr>
                                    <td><%= i %></td>
                                    <td><%= dt.user_name %></td>
                                    <td><%= dt.user_id %></td>
                                    <td><%= user_type_list[dt.user_type] %></td>
                                    <td><a href="/manage_user_edit?id=<%= dt.id %>" class="btn btn_UR btn-outline-primary btn-air-primary" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Edit">
                                        <i class="icofont icofont-ui-edit"></i> Edit
                                    </a>
                                    <!-- <a href="" class="btn btn-pill btn-outline-danger btn-air-danger" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Delete">
                                        <i class="icofont icofont-ui-delete"></i> Delete
                                    </a> -->
                                    </td>
                                </tr>
                                <% i++; })}else{ %>
                                <tr>
                                    <td class="text-center text-danger" colspan="5">No Data Found</td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Zero Configuration  Ends-->
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#user_table').DataTable({
            "paging":   true,
            "ordering": true,
            "info":     false
        })
    })
    $('input[name="show_flag"]').on('change', function() {
        // alert()
        var flag = $('input[name="show_flag"]:checked').val();
        $.ajax({
            method: "POST",
            url: "/get_client_user_list_ajax",
            data: { flag: flag },
            dataType: "html",
            beforeSend: function () {
                $(".loader-wrapper").show();
            },
            success: function (result) {
                var res = JSON.parse(result);
                // console.log(res);
                $("#basic-1 tbody").empty();

                if (res.suc > 0 && res.msg.length > 0){
                    $.each(res.msg, function (i, dt) {
                        $("#basic-1 tbody").append(`
                        <tr>
                            <td>${++i}</td>
                            <td>${dt.user_name}</td>
                            <td>${dt.user_id}</td>
                            <td>${res.user_type_list[dt.user_type]}</td>
                            <td><a href="/manage_user_edit?id=${dt.id}" class="btn btn-pill btn-outline-primary btn-air-primary" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Edit">
                                <i class="icofont icofont-ui-edit"></i> Edit
                            </a>
                            </td>
                        </tr>`);
                    });
                }else{
                    $("#basic-1 tbody").append(`<tr>
                                    <td class="text-center text-danger" colspan="5">No Data Found</td>
                                </tr>`)
                }
            },
            complete: function () {
                $(".loader-wrapper").hide();
            }
        })
    })
</script>
<%- include('../templates/footer.ejs') %>