<%- include('../../templates/header.ejs') %>
<style>
  .topic_text {
    text-align: center;
    vertical-align: middle;
  }
</style>
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-6">
        <h3><%= header %></h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item"><%= header %></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <% if(message){ %>
      <div
        class="alert alert-<%= message.type %> dark alert-dismissible fade show"
        role="alert"
      >
        <i data-feather="clock"></i>
        <p><%= message.message %></p>
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
    </div>
    <div class="card">
      <div class="card-body">
        <form action="/save_sus_disc" method="post">
          <div class="row g-3 py-3">
            <div class="col-md-6">
              <label class="form-label" for="sec_id">Sector</label>
              <select class="form-select" id="sec_id" name="sec_id" required="">
                <option selected="" value="">Select Sector</option>
                <% if(sec_data.msg.length > 0){ 
                    sec_data.msg.forEach(dt => { 
                        var _selected = ''; 
                        if(dt.id == selected.sec_id) _selected = 'selected'; 
                %>
                <option value="<%= dt.id %>" <%= _selected %>><%= dt.sec_name %></option>
                <% }) } %>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="ind_id">Industries</label>
              <select class="form-select" id="ind_id" name="ind_id" required="">
                <option selected="" value="">Select Industries</option>
                <% if(ind_list.msg.length > 0){ 
                    ind_list.msg.forEach(dt => { 
                        var _selected = ''; 
                        if(dt.id == selected.ind_id) _selected = 'selected'; 
                %>
                <option value="<%= dt.id %>" <%= _selected %>><%= dt.ind_name %></option>
                <% }) } %>
              </select>
            </div>
          </div>
          <div class="row py-3" id="data_set_view" style="display: none">
            <div class="col-md-12">
              <table class="table" id="suc_disc_table">
                <thead>
                  <tr>
                    <th>TOPIC (Industry specific)</th>
                    <th>TOPIC (Industry agnostic)</th>
                    <th>METRIC</th>
                    <th>CATEGORY</th>
                    <th>UNIT OF MEASURE</th>
                    <th>CODE</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <button
                class="btn btn-pill btn-outline-success btn-air-success my-3 float-end"
                type="submit"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    if ($("#ind_id").val() > 0) $("#ind_id").change();
  });
</script>

<script>
  $("#sec_id").on("change", function () {
    $.ajax({
      method: "GET",
      url: "/get_ind_list_ajax",
      data: { sec_id: $(this).val() },
      dataType: "html",
      beforeSend: function () {
        $(".loader-wrapper").show();
      },
      success: function (result) {
        var res = JSON.parse(result);
        console.log(res);
        $("#ind_id").empty();
        $("#data_set_view").hide()
        $("#suc_disc_table tbody >").remove()
        $("#ind_id").append(
          $("<option>", { value: "", text: "Select Industries" })
        );
        if (res.suc > 0 && res.msg.length > 0)
          $.each(res.msg, function (i, item) {
            $("#ind_id").append(
              $("<option>", { value: item.id, text: item.ind_name })
            );
          });
      },
      complete: function () {
        $(".loader-wrapper").hide();
      },
    });
  });
</script>

<script>
  $("#ind_id").on("change", function () {
    $.ajax({
      method: "GET",
      url: "/get_ind_list_ajax",
      data: { ind_id: $(this).val(), sec_id: $("#sec_id").val() },
      dataType: "html",
      beforeSend: function () {
        $(".loader-wrapper").show();
      },
      success: function (result) {
        var res = JSON.parse(result);
        // console.log(res);
        // $('#ind_id').empty();
        // $('#ind_id').append($('<option>', {value: '', text: 'Select Industries'}));
        if (res.suc > 0 && res.msg.length > 0) {
            $("#data_set_view").show();
            if (res.msg[0].topic_dt) {
                $.get("/sus_disc_ajax").done((data) => {
                    if (data.suc == 1) {
                        $.each(res.msg[0].topic_dt, function (i, dt) {
                            var sus_data = data.msg.filter((sus_dt) => sus_dt.top_id == dt.id);
                            var k = 0
                            if(sus_data.length > 0){
                                $.each(sus_data, function (j, sus_dt) {
                                    if(k==0){
                                        // created_row(dt.id, 1, 0, sus_dt.metric, sus_dt.catg, sus_dt.unit, sus_dt.code, dt.topic_name)
                                        $("#suc_disc_table tbody").append(`<tr id="row_${dt.id}_1">
                                            <td rowspan="1" id="first_top_td_${dt.id}" class="topic_text">${dt.topic_name}<input type="hidden" name="top_id" value="${dt.id}"></td>
                                            <td><input class="form-control" id="ind_agn_${dt.id}_1" name="ind_agn_${dt.id}" type="text" value="${sus_dt.ind_agn}" required=""></td>
                                            <td><input class="form-control" id="metric_${dt.id}_1" name="metric_${dt.id}" type="text" value="${sus_dt.metric}" required=""></td>
                                            <td><input class="form-control" id="catg_${dt.id}_1" name="catg_${dt.id}" type="text" value="${sus_dt.catg}" required=""></td>
                                            <td><input class="form-control" id="unit_${dt.id}_1" name="unit_${dt.id}" type="text" value="${sus_dt.unit}" required=""></td>
                                            <td><input class="form-control" id="code_${dt.id}_1" name="code_${dt.id}" type="text" value="${sus_dt.code}" required=""></td>
                                            <td><button type="button" class="btn btn-pill btn-outline-success btn-air-success" onclick="add_row(${dt.id}, 1)"><i class="icofont icofont-plus-circle"></i></button></td>
                                        </tr>`);
                                    }else{
                                        add_row(dt.id, k, sus_dt.ind_agn, sus_dt.metric, sus_dt.catg, sus_dt.unit, sus_dt.code)
                                    }
                                    k++;
                                })
                            }else{
                                $("#suc_disc_table tbody").append(`<tr id="row_${dt.id}_1">
                                    <td rowspan="1" id="first_top_td_${dt.id}" class="topic_text">${dt.topic_name}<input type="hidden" name="top_id" value="${dt.id}"></td>
                                    <td><input class="form-control" id="ind_agn_${dt.id}_1" name="ind_agn_${dt.id}" type="text" value="" required=""></td>
                                    <td><input class="form-control" id="metric_${dt.id}_1" name="metric_${dt.id}" type="text" value="" required=""></td>
                                    <td><input class="form-control" id="catg_${dt.id}_1" name="catg_${dt.id}" type="text" value="" required=""></td>
                                    <td><input class="form-control" id="unit_${dt.id}_1" name="unit_${dt.id}" type="text" value="" required=""></td>
                                    <td><input class="form-control" id="code_${dt.id}_1" name="code_${dt.id}" type="text" value="" required=""></td>
                                    <td><button type="button" class="btn btn-pill btn-outline-success btn-air-success" onclick="add_row(${dt.id}, 1)"><i class="icofont icofont-plus-circle"></i></button></td>
                                </tr>`);
                            }
                        });
                    }else{
                        $.each(res.msg[0].topic_dt, function (i, dt) {
                            $("#suc_disc_table tbody").append(`<tr id="row_${dt.id}_1">
                                <td rowspan="1" id="first_top_td_${dt.id}" class="topic_text">${dt.topic_name}<input type="hidden" name="top_id" value="${dt.id}"></td>
                                <td><input class="form-control" id="ind_agn_${dt.id}_1" name="ind_agn_${dt.id}" type="text" value="" required=""></td>
                                <td><input class="form-control" id="metric_${dt.id}_1" name="metric_${dt.id}" type="text" value="" required=""></td>
                                <td><input class="form-control" id="catg_${dt.id}_1" name="catg_${dt.id}" type="text" value="" required=""></td>
                                <td><input class="form-control" id="unit_${dt.id}_1" name="unit_${dt.id}" type="text" value="" required=""></td>
                                <td><input class="form-control" id="code_${dt.id}_1" name="code_${dt.id}" type="text" value="" required=""></td>
                                <td><button type="button" class="btn btn-pill btn-outline-success btn-air-success" onclick="add_row(${dt.id}, 1)"><i class="icofont icofont-plus-circle"></i></button></td>
                            </tr>`);
                        })
                    }
                });
            }else{
                $("#suc_disc_table tbody >").remove()
                $("#suc_disc_table tbody").append('<tr><td colspan="6" class="text-center fw-bold text-danger">No Data Found</td></tr>')
            }
        }else{
            $("#suc_disc_table tbody >").remove()
        }
      },
      complete: function () {
        $(".loader-wrapper").hide();
      },
    });
  });

  function created_row(top_id, id, prev_id = 0, ind_agn='', metric='', catg='', unit='', code='', topic_name=''){
    console.log(`${prev_id > 0 ? `#row_${top_id}_${prev_id}` : '#suc_disc_table tbody'}`);
    $(`${prev_id > 0 ? `#row_${top_id}_${prev_id}` : '#suc_disc_table tbody'}`).after(`<tr id="row_${top_id}_${id}">
        ${prev_id > 0 ? '' : `<td rowspan="1" id="first_top_td_${top_id}" class="topic_text">${topic_name}<input type="hidden" name="top_id" value="${top_id}"></td>`}
        <td><input class="form-control" id="ind_agn_${top_id}_${id}" name="ind_agn_${top_id}" type="text" value="${ind_agn}" required=""></td>
        <td><input class="form-control" id="metric_${top_id}_${id}" name="metric_${top_id}" type="text" value="${metric}" required=""></td>
        <td><input class="form-control" id="catg_${top_id}_${id}" name="catg_${top_id}" type="text" value="${catg}" required=""></td>
        <td><input class="form-control" id="unit_${top_id}_${id}" name="unit_${top_id}" type="text" value="${unit}" required=""></td>
        <td><input class="form-control" id="code_${top_id}_${id}" name="code_${top_id}" type="text" value="${code}" required=""></td>
        <td>${prev_id > 0 ? `<button type="button" class="btn btn-pill btn-outline-danger btn-air-danger" onclick="remove_row(${top_id}, ${id})"><i class="icofont icofont-trash"></i></button>` : `<button type="button" class="btn btn-pill btn-outline-success btn-air-success" onclick="add_row(${top_id}, 1)"><i class="icofont icofont-plus-circle"></i></button>`}</td>
    </tr>`);
  }

  function add_row(top_id, id, ind_agn='', metric='', catg='', unit='', code='') {
    var row = parseInt($(`#first_top_td_${top_id}`).attr("rowspan"));
    let next_id = row + 1;
    $(`#first_top_td_${top_id}`).removeAttr("rowspan");
    $(`#first_top_td_${top_id}`).attr("rowspan", next_id);
    created_row(top_id, next_id, row, ind_agn, metric, catg, unit, code)
  }

  function remove_row(top_id, id) {
    var row = parseInt($(`#first_top_td_${top_id}`).attr("rowspan"));
    let prev_id = row - 1;
    $(`#first_top_td_${top_id}`).removeAttr("rowspan");
    $(`#first_top_td_${top_id}`).attr("rowspan", prev_id);
    $(`#row_${top_id}_${id}`).remove();
  }
</script>

<%- include('../../templates/footer.ejs') %>
