<%- include('../../templates/header.ejs') %>
<!-- Reach TextEditor -->
<link rel="stylesheet" href="/editor/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="/editor/richtexteditor/rte.js"></script>
<% if(flag == "F"){ %>
    <script>document.write("<script src='/editor/richtexteditor/lang/rte-lang-fr.js'></scr" + "ipt>");</script>
<% } %>
<!-- END -->
<style>
  .topic_text {
    text-align: center;
    vertical-align: middle;
  }
  .rte-modern.rte-desktop.rte-toolbar-default {
    min-width: 100% !important;
  }
</style>
<script>
  var editorList = {};
</script>
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3><%= header %></h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item"><%= header %></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <% if(message){ %>
      <div
        class="alert alert-<%= message.type %> dark alert-dismissible fade show"
        role="alert"
      >
        <i data-feather="clock"></i>
        <p><%= message.message %></p>
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
    </div>
    <div class="card">
      <div class="card-body">
        <form action="/save_sus_disc_info" method="post">
          <div class="row g-3 py-3">
            <div class="col-md-6">
              <label class="form-label" for="sec_id">Sector</label>
              <select class="form-select" id="sec_id" name="sec_id" required="">
                <option selected="" value="">Select Sector</option>
                <% if(sec_data.msg.length > 0){ 
                    sec_data.msg.forEach(dt => { 
                        var _selected = ''; 
                        if(dt.id == selected.sec_id) _selected = 'selected'; 
                %>
                <option value="<%= dt.id %>" <%= _selected %>><%= dt.sec_name %></option>
                <% }) } %>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="ind_id">Industries</label>
              <select class="form-select" id="ind_id" name="ind_id" required="">
                <option selected="" value="">Select Industries</option>
                <% if(ind_list.msg.length > 0){ 
                    ind_list.msg.forEach(dt => { 
                        var _selected = ''; 
                        if(dt.id == selected.ind_id) _selected = 'selected'; 
                %>
                <option value="<%= dt.id %>" <%= _selected %>><%= dt.ind_name %></option>
                <% }) } %>
              </select>
            </div>
          </div>
          <div class="row py-3" id="data_set_view" style="display: none">
            <div class="col-md-12 table-responsive">
              <table class="table table-bordered" id="suc_disc_table">
                <thead>
                  <tr>
                    <th style="width: 15%">General Issue <br>Category <br>(Industry agnostic)</th>
                    <th style="width: 15%">Disclosure <br>Topics <br>(Industry specific)</th>
                    <th>Title</th>
                    <th>Information</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <input type="hidden" id="flag" name="flag" value="<%= flag ? flag : '' %>">
              <button
                class="btn btn-pill btn-outline-success btn-air-success my-3 float-end"
                type="submit"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    if ($("#ind_id").val() > 0) $("#ind_id").change();
  });
</script>

<script>
  $("#sec_id").on("change", function () {
    $.ajax({
      method: "GET",
      url: "/get_ind_list_ajax",
      data: { sec_id: $(this).val(), flag: $('#flag').val() },
      dataType: "html",
      beforeSend: function () {
        $(".loader-wrapper").show();
      },
      success: function (result) {
        var res = JSON.parse(result);
        // console.log(res);
        $("#ind_id").empty();
        $("#data_set_view").hide()
        $("#suc_disc_table tbody >").remove()
        $("#ind_id").append(
          $("<option>", { value: "", text: "Select Industries" })
        );
        if (res.suc > 0 && res.msg.length > 0)
          $.each(res.msg, function (i, item) {
            $("#ind_id").append(
              $("<option>", { value: item.id, text: item.ind_name })
            );
          });
      },
      complete: function () {
        $(".loader-wrapper").hide();
      },
    });
  });
</script>

<script>
  $("#ind_id").on("change", function () {
    $.ajax({
      method: "GET",
      url: "/get_ind_list_ajax",
      data: { ind_id: $(this).val(), sec_id: $("#sec_id").val(), flag: $('#flag').val() },
      dataType: "html",
      beforeSend: function () {
        $(".loader-wrapper").show();
      },
      success: function (result) {
        var res = JSON.parse(result);
        // console.log(res);
        // $('#ind_id').empty();
        // $('#ind_id').append($('<option>', {value: '', text: 'Select Industries'}));
        if (res.suc > 0 && res.msg.length > 0) {
            $("#data_set_view").show();
            if (res.msg[0].topic_dt) {
                $.get("/sus_disc_ajax", {flag: $('#flag').val()}).done((data) => {
                    if (data.suc == 1) {
                        $.each(res.msg[0].topic_dt, function (i, dt) {
                            var sus_data = data.msg.filter((sus_dt) => sus_dt.top_id == dt.id);
                            var k = 0
                            if(sus_data.length > 0){
                              $.each(sus_data, function (j, sus_dt) {
                                if(sus_dt.code != '')
                                  if(k==0){
                                    // created_row(dt.id, 1, 0, sus_dt.metric, sus_dt.catg, sus_dt.unit, sus_dt.code, dt.topic_name)
                                    $("#suc_disc_table tbody").append(`<tr id="row_${dt.id}_1">
                                      <td rowspan="1" id="first_top_td_${dt.id}" class="topic_text">${dt.topic_name}<input type="hidden" name="top_id" value="${dt.id}"></td>
                                      <td>${sus_dt.code}<input name="code_${dt.id}" type="hidden" value="${sus_dt.code}"></td>
                                      <td><input class="form-control" id="info_title_${dt.id}_1" name="info_title_${dt.id}" type="text" value="${sus_dt.info_title != null ? sus_dt.info_title : ''}"></td>
                                      <td><div>
                                        <div id="info_desc_${dt.id}_1">${sus_dt.info_desc != null ? sus_dt.info_desc : ''}</div>
                                        <textarea class="form-control" id="info_desc_text_${dt.id}_1" name="info_desc_${dt.id}" cols="30" rows="10" style="display:none;">${sus_dt.info_desc != null ? sus_dt.info_desc : ''}</textarea>
                                        </div></td>
                                    </tr>`);
                                    createEditor(`info_desc_${dt.id}_1`, `info_desc_text_${dt.id}_1`)
                                  }else{
                                      add_row(dt.id, k, sus_dt.info_title, sus_dt.info_desc, sus_dt.code)
                                  }
                                  k++;
                              })
                            }else{
                                $("#suc_disc_table tbody").append(`<tr id="row_${dt.id}_1"><td colspan="4" class="text-daneger text-center">NO DATA FOUND</td></tr>`);
                            }
                        });
                    }else{
                        $.each(res.msg[0].topic_dt, function (i, dt) {
                            $("#suc_disc_table tbody").append(`<tr id="row_${dt.id}_1"><tr id="row_${dt.id}_1"><td colspan="4" class="text-daneger text-center">NO DATA FOUND</td></tr></tr>`);
                        })
                    }
                });
            }else{
                $("#suc_disc_table tbody >").remove()
                $("#suc_disc_table tbody").append('<tr><td colspan="4" class="text-center fw-bold text-danger">No Data Found</td></tr>')
            }
        }else{
            $("#suc_disc_table tbody >").remove()
        }
      },
      complete: function () {
        $(".loader-wrapper").hide();
      },
    });
  });

  function created_row(top_id, id, prev_id = 0, info_title='', info_desc='', code=''){
    $(`${prev_id > 0 ? `#row_${top_id}_${prev_id}` : '#suc_disc_table tbody'}`).after(`<tr id="row_${top_id}_${id}">
        ${prev_id > 0 ? '' : `<td rowspan="1" id="first_top_td_${top_id}" class="topic_text">${topic_name}<input type="hidden" name="top_id" value="${top_id}"></td>`}
        <td>${code}<input name="code_${top_id}" type="hidden" value="${code}"></td>
        <td><input class="form-control" id="info_title_${top_id}_${id}" name="info_title_${top_id}" type="text" value="${info_title != null ? info_title : ''}"></td>
        <td><div>
          <div id="info_desc_${top_id}_${id}">${info_desc != null ? info_desc : ''}</div>
          <textarea id="info_desc_text_${top_id}_${id}" name="info_desc_${top_id}" cols="30" rows="10" style="display:none;">${info_desc != null ? info_desc : ''}</textarea>
          </div></td>
    </tr>`);
    createEditor(`info_desc_${top_id}_${id}`, `info_desc_text_${top_id}_${id}`)
  }

  function add_row(top_id, id, info_title='', info_desc='', code='') {
    var row = parseInt($(`#first_top_td_${top_id}`).attr("rowspan"));
    let next_id = row + 1;
    $(`#first_top_td_${top_id}`).removeAttr("rowspan");
    $(`#first_top_td_${top_id}`).attr("rowspan", next_id);
    created_row(top_id, next_id, row, info_title, info_desc, code)
  }

  function createEditor(id, txt_id){
    editorList[id] = new RichTextEditor(id);
    editorList[id].attachEvent("change", function () {
      // console.log(editorList[id].getHTMLCode());
      $(`#${txt_id}`).val(editorList[id].getHTMLCode())
      $(`#${txt_id}`).text(editorList[id].getHTMLCode())
    })
    // CKEDITOR
    //   .replace(id, {
    //     on: {
    //       contentDom: function( evt ) {
    //         // Allow custom context menu only with table elemnts.
    //         evt.editor.editable().on( 'contextmenu', function( contextEvent ) {
    //           var path = evt.editor.elementPath();
    //             if ( !path.contains( 'table' ) ) {
    //               contextEvent.cancel();
    //             }
    //         }, null, null, 5 );
    //       }
    //     }
    //   });
  }
</script>

<%- include('../../templates/footer.ejs') %>
