<%- include('../../templates/header.ejs') %>
<link rel="stylesheet" href="/editor/richtexteditor/rte_theme_default.css"/>
<script type="text/javascript" src="/editor/richtexteditor/rte.js"></script>
<script type="text/javascript" src='/editor/richtexteditor/plugins/all_plugins.js'></script>
<style>
  .topic_text {
    text-align: center;
    vertical-align: middle;
  }
  .rte-modern.rte-desktop.rte-toolbar-default {
    min-width: 100% !important;
  }
  .rte-toolbar-desktop{
    display: inline !important;
  }
</style>
<script>
  var editorCfg = {},
  editorList = {};
    editorCfg.galleryImages = [
      "/images/icons/colored/1.png",
      "/images/icons/colored/2.png",
      "/images/icons/colored/3.png",
      "/images/icons/colored/4.png",
      "/images/icons/colored/5.png",
      "/images/icons/colored/6.png",
      "/images/icons/colored/7.png",
      "/images/icons/colored/8.png",
      "/images/icons/colored/9.png",
      "/images/icons/colored/10.png",
      "/images/icons/colored/11.png",
      "/images/icons/colored/12.png",
      "/images/icons/colored/13.png",
      "/images/icons/colored/14.png",
      "/images/icons/colored/15.png",
      "/images/icons/colored/16.png",
    ];
</script>
<% if(flag == "F"){ %>
    <script>document.write("<script src='/editor/richtexteditor/lang/rte-lang-fr.js'></scr" + "ipt>");</script>
<% } %>

<div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3><%= header %></h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><%= header %></li>
          </ol>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <% if(message){ %>
        <div
          class="alert alert-<%= message.type %> dark alert-dismissible fade show"
          role="alert"
        >
          <i data-feather="clock"></i>
          <p><%= message.message %></p>
          <button
            class="btn-close"
            type="button"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <% } %>
      </div>
      <div class="card">
        <div class="card-body">
          <form action="/save_word_info" method="post">
            <div class="row g-3 py-3">
              <div class="col-md-6">
                <label class="form-label" for="sec_id">Sector</label>
                <select class="form-select" id="sec_id" name="sec_id" required="">
                  <option selected="" value="">Select Sector</option>
                  <% if(sec_data.msg.length > 0){ 
                      sec_data.msg.forEach(dt => { 
                          var _selected = ''; 
                          if(dt.id == selected.sec_id) _selected = 'selected'; 
                  %>
                  <option value="<%= dt.id %>" <%= _selected %>><%= dt.sec_name %></option>
                  <% }) } %>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label" for="ind_id">Industries</label>
                <select class="form-select" id="ind_id" name="ind_id" required="">
                  <option selected="" value="">Select Industries</option>
                  <% if(ind_list.msg.length > 0){ 
                      ind_list.msg.forEach(dt => { 
                          var _selected = ''; 
                          if(dt.id == selected.ind_id) _selected = 'selected'; 
                  %>
                  <option value="<%= dt.id %>" <%= _selected %>><%= dt.ind_name %></option>
                  <% }) } %>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label" for="bus_id">Business Activities</label>
                <select class="form-select" id="bus_id" name="bus_id" required="">
                  <option selected="" value="">Select Business Activities</option>
                  <% if(ind_list.msg.length > 0){ 
                      ind_list.msg.forEach(dt => { 
                          var _selected = ''; 
                          if(dt.id == selected.bus_id) _selected = 'selected'; 
                  %>
                  <option value="<%= dt.id %>" <%= _selected %>><%= dt.ind_name %></option>
                  <% })} %>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label" for="code_id">Code List</label>
                <select class="form-select" id="code_id" name="code_id" required="">
                  <option selected="" value="">Select Code</option>
                  <%# if(ind_list.msg.length > 0){ 
                      ind_list.msg.forEach(dt => { 
                          var _selected = ''; 
                          if(dt.id == selected.ind_id) _selected = 'selected'; 
                  %>
                  <!-- <option value="<%# dt.id %>" <%# _selected %>><%# dt.ind_name %></option> -->
                  <%# }) } %>
                </select>
              </div>
            </div>
            <div class="row py-3" id="data_set_view">
                <div class="col-md-12">
                  <table class="table" id="suc_disc_table">
                    <thead>
                      <tr>
                        <th colspan="3"><button type="button" class="btn btn-custom float-end" id="copy_dt_btn">Copy all data from other Business Activities</button></th>
                      </tr>
                      <tr>
                        <th>Words</th>
                        <th>Info</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                  <input type="hidden" id="flag" name="flag" value="<%= flag ? flag : '' %>">
                  <button
                    class="btn btn-pill btn-outline-success btn-air-success my-3 float-end"
                    type="submit"
                  >
                    Save
                  </button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<script>
    var code_list = []
    $("#sec_id").on("change", function () {
      $.ajax({
        method: "GET",
        url: "/get_ind_list_ajax",
        data: { sec_id: $(this).val(), flag: $('#flag').val() },
        dataType: "html",
        beforeSend: function () {
          $(".loader-wrapper").show();
        },
        success: function (result) {
          var res = JSON.parse(result);
          // console.log(res);
          $("#ind_id").empty();
          $("#data_set_view").hide()
          $("#suc_disc_table tbody >").remove()
          $("#ind_id").append(
            $("<option>", { value: "", text: "Select Industries" })
          );
          if (res.suc > 0 && res.msg.length > 0)
            $.each(res.msg, function (i, item) {
              $("#ind_id").append(
                $("<option>", { value: item.id, text: item.ind_name })
              );
            });
        },
        complete: function () {
          $(".loader-wrapper").hide();
        },
      });
    });
</script>
<script>
    $("#ind_id").on("change", function () {
      $.ajax({
        method: "GET",
        url: "/get_sus_dis_top_code_ajax",
        data: { ind_id: $(this).val(), sec_id: $("#sec_id").val(), flag: $('#flag').val() },
        dataType: "html",
        beforeSend: function () {
          $(".loader-wrapper").show();
        },
        success: function (result) {
          var res = JSON.parse(result);
          $("#code_id").empty();
          $("#code_id").append(
            $("<option>", { value: "", text: "Select Code" })
          );
          code_list.length = 0
          if (res.suc > 0 && res.msg.length > 0){
            code_list = res.msg
              $.each(res.msg, function (i, item) {
                $("#code_id").append(
                  $("<option>", { value: item.id, text: item.code })
                );
              });
          }
        },
        complete: function () {
          $(".loader-wrapper").hide();
        },
      });
    });

    $('#code_id').on('change', function(){
      if($('#bus_id').val() > 0){
        if(code_list.length > 0){
            var sel_code = code_list.filter(dt => dt.id == $(this).val())
            var word_array = sel_code[0].words.split(',')
            console.log(word_array);
            if(word_array.length > 0){
                $.ajax({
                    method: "GET",
                    url: "/get_sus_disc_word_info_ajax",
                    data: { top_id: $(this).val(), bus_id: $('#bus_id').val() },
                    dataType: "html",
                    beforeSend: function () {
                        $(".loader-wrapper").show();
                    },
                    success: function(result){
                      $('#data_set_view').show()
                      $("#suc_disc_table tbody").empty()
                        var res = JSON.parse(result);
                        var i = 1
                        word_array.forEach(wdt => {
                            if(res.suc > 0 && res.msg.length > 0){
                                var word_info_list = res.msg.filter(dt => dt.word == wdt.toString().trim())
                                if(word_info_list.length > 0){
                                    var k = 1
                                    word_info_list.forEach(dt => {
                                        if(k == 1)
                                          createRow(i, k, dt.id, wdt.toString().trim(), dt.info, word_info_list.length, true)
                                        else
                                          add_new_row(i, k, false, dt.id, dt.info)
                                        k++  
                                    })
                                }else{
                                    createRow(i, 1, 0, wdt.toString().trim(), '', 1, true)
                                }
                            }else{
                              createRow(i, 1, 0, wdt.toString().trim(), '', 1, true)
                            }
                            i++
                        })
                    },
                    complete: function () {
                        $(".loader-wrapper").hide();
                    },
                })
            }
        }
      }else{
        alert('Please select Business Activities')
        $('#code_id').val('')
      }
    })

    function createRow(id = 0, seq = 0, info_id = 0, word = '', info = null, totRow = 1, isFirst = false){
        if(isFirst){
            $("#suc_disc_table tbody").append(`
              <tr id="row_${id}_${seq}">
                <td id="word_row_${id}" rowspan="${totRow}" class="topic_text">
                  <input type="hidden" value="${word}" name="word_name">
                  <input type="hidden" value="${id}" name="word_name_id">
                  ${word}
                </td>
                <td>
                  <div>
                    <input type="hidden" value="${info_id}" name="info_id_${id}">
                    <div id="info_${id}_${seq}">${info != null ? info : ''}</div>
                    <textarea class="form-control" id="info_text_${id}_${seq}" name="info_${id}" cols="30" rows="10" style="display:none;">${info != null ? info : ''}</textarea>
                  </div>
                </td>
                <td>
                  <div class="tableTd_add_btn">
                    <button type="button" class="btn btn_UR" 
                    onclick="add_new_row(${id}, ${seq})"><i class="icofont icofont-plus-circle" style="font-size: 20px;"></i></button>
                  </div>
                  <!-- <button type="button" class="btn btn-pill btn-outline-success btn-air-success" onclick="add_new_row(${id}, ${seq})"><i class="icofont icofont-plus-circle"></i></button> -->
                </td>
              </tr>
            `)
        }else{
            $(`#row_${id}_${seq-1}`).after(`
            <tr id="row_${id}_${seq}">
              <td>
                <div>
                  <input type="hidden" value="${info_id}" name="info_id_${id}">
                  <div id="info_${id}_${seq}">${info != null ? info : ''}</div>
                  <textarea class="form-control" id="info_text_${id}_${seq}" name="info_${id}" cols="30" rows="10" style="display:none;">${info != null ? info : ''}</textarea>
                </div>
              </td>
              <td>
                <div class="tableTd_add_btn">
                  <button type="button" class="btn btn_UR" 
                  onclick="remove_one_row(${id}, ${seq})"><i class="icofont icofont-trash" style="font-size: 20px;"></i></button>
                </div>
                <!-- <button type="button" class="btn btn-pill btn-outline-danger btn-air-danger" onclick="remove_one_row(${id}, ${seq})"><i class="icofont icofont-trash"></i></button> -->
              </td>
            `)
        }
        createEditor(`info_${id}_${seq}`, `info_text_${id}_${seq}`)
    }

    function createEditor(id, txt_id){
      editorList[id] = new RichTextEditor(id, editorCfg);
      editorList[id].attachEvent("change", function () {
        // console.log(editorList[id].getHTMLCode());
        $(`#${txt_id}`).val(editorList[id].getHTMLCode())
        $(`#${txt_id}`).text(editorList[id].getHTMLCode())
      })
    }
</script>

<script>
  function add_new_row(id, seq, isAdd = true, info_id = 0, info = null){
    var next_row = 0
    if(isAdd){
      var row = $(`#word_row_${id}`).attr('rowspan')
      next_row = parseInt(row) + 1
      $(`#word_row_${id}`).removeAttr('rowspan')
      $(`#word_row_${id}`).attr('rowspan', next_row)
    }else{
      next_row = seq
    }

    createRow(id, next_row, info_id, '', info)
  }

  function remove_one_row(id, row_id){
    if(confirm('Do you want to delete permanently?')){
      var row = parseInt($(`#word_row_${id}`).attr("rowspan"));
      let prev_id = row - 1;
      $(`#word_row_${id}`).removeAttr("rowspan");
      $(`#word_row_${id}`).attr("rowspan", prev_id);
      $(`#row_${id}_${row_id}`).remove();
    }
  }
</script>
<script>
  $("#ind_id").on("change", function () {
    $.ajax({
      method: "GET",
      url: "/get_busi_act_ajax",
      data: { ind_id: $(this).val(), sec_id: $("#sec_id").val(), flag: $('#flag').val() },
      dataType: "html",
      beforeSend: function () {
        $(".loader-wrapper").show();
      },
      success: function (result) {
        var res = JSON.parse(result);
        var res = JSON.parse(result);
        $("#bus_id").empty();
        $("#bus_id").append(
          $("<option>", { value: "", text: "Select Code" })
        );
        if (res.suc > 0 && res.msg.length > 0){
          $.each(res.msg, function (i, item) {
            $("#bus_id").append(
              $("<option>", { value: item.id, text: item.busi_act_name })
            );
          });
        }
      },
      complete: function () {
        $(".loader-wrapper").hide();
      },
    });
  });
</script>

<script>
  $('#copy_dt_btn').on('click', function(){
    if(confirm('Do you want to copy?')){
      var sel_code = code_list.filter(dt => dt.id == $(`#code_id`).val())
      var word_array = sel_code[0].words.split(',')
      console.log(word_array);
      if(word_array.length > 0){
        $.ajax({
          method: "GET",
          url: "/copy_word_info_ajax",
          data: { top_id: $(`#code_id`).val() },
          dataType: "html",
          beforeSend: function () {
            $(".loader-wrapper").show();
          },
          success: function(result){
            // $('#data_set_view').show()
            $("#suc_disc_table tbody").empty()
            var res = JSON.parse(result);
            var i = 1
            word_array.forEach(wdt => {
              if(res.suc > 0 && res.msg.length > 0){
                var word_info_list = res.msg.filter(dt => dt.word == wdt.toString().trim())
                if(word_info_list.length > 0){
                  var k = 1
                  word_info_list.forEach(dt => {
                    if(k == 1)
                      createRow(i, k, 0, wdt.toString().trim(), dt.info, word_info_list.length, true)
                    else
                      add_new_row(i, k, false, 0, dt.info)
                    k++  
                  })
                }else{
                  createRow(i, 1, 0, wdt.toString().trim(), '', 1, true)
                }
              }else{
                createRow(i, 1, 0, wdt.toString().trim(), '', 1, true)
              }
              i++
            })
            res.suc == 0 ? alert(res.msg) : ''
          },
          complete: function () {
              $(".loader-wrapper").hide();
          },
        })
      }
    }
  })
</script>
<%- include('../../templates/footer.ejs') %>